<div fxLayout="column" fxLayoutAlign="start stretch">
  <div fxFlex="auto" fxLayout="row" fxLayoutAlign="center center"
       class="advanced-search advanced-search-bar ui-inputgroup">
    <div fxFlex="60" fxLayoutAlign="center center">
      <input [(ngModel)]="search" type="text" pInputText [disabled]="showAdvancedPanel"
             placeholder="Search" class="advanced-search-bar-input" (keydown)="onKeydown($event)"
             fxFlex="auto" />
      <button (click)="cancelClicked()" pButton
              class="advanced-search-bar-button-cancel advanced-search-bar-button"
              title="Cancel" fxFlex="29px">
        <i class="fa fa-fw fa-ban"></i>
      </button>
      <button (click)="searchClicked()" pButton
              class="advanced-search-bar-button-search advanced-search-bar-button" title="Search"
              fxFlex="29px">
        <i class="fa fa-fw fa-search"></i>
      </button>
      <button pButton (click)="togglePanel()"
              matTooltip="{{showAdvancedPanel? 'Close advanced search panel' : 'Advanced Search'}}"
              class="advanced-search-bar-button-toggle advanced-search-bar-button" fxFlex="29px">
        <i class="fa fa-fw"
           [ngClass]="{'fa-chevron-down':!showAdvancedPanel,'fa-chevron-up':showAdvancedPanel}"></i>
      </button>
    </div>
  </div>
  <div fxFlex="auto" fxLayout="row" fxLayoutAlign="center center">
    <div [@fastSlideInOut] *ngIf="showAdvancedPanel" fxFlex="80">
      <mat-card class="advanced-search-expansion" fxLayout="column" fxFlex
                fxLayoutAlign="start stretch">
        <span class="advanced-search-expansion-span-label"
              fxLayoutAlign="start center">Keyword:</span>
        <input [(ngModel)]="generalSearch" type="text" pInputText placeholder="General Search"
               class="advanced-search-general-search" (keydown)="onKeydown($event)">
        <span class="advanced-search-expansion-span-label"
              fxLayoutAlign="start center">Column:</span>
        <app-repeater #fieldRepeater
                      [data]="fieldData"
                      [formArray]="formArray"
                      [keyDropdownFilter]="true"
                      [buildValuePlaceholder]="buildFieldValuePlaceholder"
                      [keyFormName]="keyFormName"
                      [operatorFormName]="operatorFormName"
                      [valueFormName]="valueFormName"
                      [keytextFormName]="keytextFormName"
                      [customValueOnBlur]="customValueOnBlur"
                      [customValueOnKeydown]="customValueOnKeydown"
                      [valueLabelToValueMap]="valueLabelToValueMap"
                      (repeaterValues)="handleRepeaterValues($event)">
        </app-repeater>
      </mat-card>
    </div>
  </div>
</div>
