<app-pagebody [icon]="bodyicon" header="Networks Overview">
  <div fxFlex class="networks-table-container">
    <app-pentable #networkTable
                  [data]="dataObjects"
                  [columns]="cols"
                  [captionTemplate]="captionTemplate"
                  [bodyTemplate]="bodyTemplate"
                  [actionTemplate]="actionTemplate"
                  [expandTemplate]="expandTemplate"
                  [createTemplate]="createTemplate"
                  [enableCheckbox]="false"
                  [loading]="tableLoading"
                  [numRows]="10"
                  [rowHeight]="46"
                  [exportFilename]="exportFilename"
                  [exportMap]="exportMap">
    </app-pentable>
  </div>
</app-pagebody>

<!-- TABLE HEADER -->
<ng-template #captionTemplate let-count="count">
  <div class="network-table-caption">
    <div>
      <app-tableheader fxFlex="auto" fxLayout="row" [tableMenuItems]="networkTable.tableMenuItems"
                       title="Networks"
                       [total]="dataObjects.length" [icon]="headerIcon"
                       [enableColumnSelect]="true"
                       [cols]="cols" (columnSelectChange)="onColumnSelectChange($event)">
      </app-tableheader>
    </div>
  </div>
</ng-template>

<ng-template #createTemplate>
  <app-newnetwork (formClose)="creationFormClose()" fxFlex="none" [vcenters]="vcenters"
                  [existingObjects]='dataObjects' [vcenterOptions]='vcenterOptions'>
  </app-newnetwork>
</ng-template>

<!-- TABLE BODY -->
<ng-template #bodyTemplate let-rowData let-col="col" let-hovered="hovered">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.creation-time'">
      {{rowData.meta['creation-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'associatedWorkloads'">
      <ng-container *ngIf="getNetworkWorkloads(rowData) as workloads">
        <div *ngIf="!hovered" class="ellipsisText">
          {{ getNetworkWorkloadFullnames(workloads).join(', ') }}
        </div>
        <div *ngIf="hovered && workloads.length < 5">
          <div *ngFor="let workload of workloads; index as index;">
            <div [title]="workload.fullname" class="ellipsisText">{{ workload.fullname }}</div>
          </div>
        </div>
        <div *ngIf="hovered && workloads.length > 4">
          <div *ngFor="let workload of workloads; index as index;">
            <div *ngIf="index < 3" [title]="workload.fullname" class="ellipsisText">
              {{ workload.fullname }}</div>
          </div>
          <a [matTooltip]="'Show all workloads on this network in the Workload page'"
             [queryParams]="{ filter: rowData.meta.name }"
             routerLink="/workload">
            <div class="more-link-div"> {{ workloads.length - 3 }} More</div>
          </a>
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div [innerHTML]="displayColumn(rowData, col)">
      </div>
    </ng-container>
  </ng-container>
</ng-template>

<!-- TABLE ACTION -->
<ng-template #actionTemplate let-rowData>
  <div class="global-column-action-icon-container" fxLayout="row"
       fxLayoutGap="5px">
    <mat-icon matTooltip="Update Network"
              *roleGuard="'networknetwork_update'"
              class="global-table-action-icon"
              (click)="expandRowRequest($event, rowData)">edit
    </mat-icon>
    <mat-icon matTooltip="Delete Network"
              *roleGuard="'networknetwork_delete'"
              class="global-table-action-icon"
              (click)="onDeleteRecord($event, rowData)">delete
    </mat-icon>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData let-columns="columns">
  <app-newnetwork [style.width]="'100%'" [objectData]="rowData" [isInline]="true"
                  (editFormClose)="editFormClose(rowData)" fxFlex="none"
                  [existingObjects]='dataObjects'
                  [vcenters]="vcenters" [vcenterOptions]='vcenterOptions'>
  </app-newnetwork>
</ng-template>
