<app-pagebody [icon]="bodyicon" header="Networks Overview">
  <div fxFlex class="networks-table-container">
    <ng-container *ngTemplateOutlet="DataTable"></ng-container>
  </div>
</app-pagebody>

<ng-template #DataTable>
  <app-tableviewedit fxLayout="column" style="height: 100%;"
                     [creatingMode]="creatingMode"
                     [showRowExpand]="showRowExpand"
                     [data]="dataObjects"
                     [cols]="cols"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [actionTemplate]="actionTemplate"
                     [expandTemplate]="expandTemplate"
                     [createTemplate]="createTemplate"
                     [enableCheckbox]="false"
                     [tableLoading]="tableLoading"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
  </app-tableviewedit>
</ng-template>

<!-- TABLE HEADER -->
<ng-template #captionTemplate let-count="count">
  <div fxFlex fxLayout="column">
    <div fxLayout="row">
      <app-tableheader fxFlex="auto" fxLayout="row" [tableMenuItems]="tableMenuItems"
                       title="Networks"
                       [total]="dataObjects.length" [icon]="headerIcon"
                       [enableColumnSelect]="true"
                       [cols]="cols" (columnSelectChange)="onColumnSelectChange($event)">
      </app-tableheader>
    </div>
  </div>

</ng-template>

<ng-template #createTemplate>
  <app-newnetwork (formClose)="creationFormClose()" fxFlex="none" [vcenters]="vcenters"
                  [existingObjects]='dataObjects' [vcenterOptions]='vcenterOptions'>
  </app-newnetwork>
</ng-template>

<!-- TABLE BODY -->
<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.creation-time'">
      {{rowData.meta['creation-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'associatedWorkloads'">
      <ng-container *ngIf="displayColumn_workloads(rowData) as workloads">
        <div class="ellipsisText" title="{{workloads.title}}">
          {{ workloads.list }}
        </div>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div [innerHTML]="displayColumn(rowData, col)">
      </div>
    </ng-container>
  </ng-container>
</ng-template>

<!-- TABLE ACTION -->
<ng-template #actionTemplate let-rowData>
  <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">
    <mat-icon matTooltip="Update Network"
              *roleGuard="'networknetwork_update'"
              class="global-table-action-icon"
              (click)="expandRowRequest($event, rowData)">edit
    </mat-icon>
    <mat-icon matTooltip="Delete Network"
              *roleGuard="'networknetwork_delete'"
              class="global-table-action-icon"
              (click)="onDeleteRecord($event, rowData)">delete
    </mat-icon>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData let-columns="columns">
  <app-newnetwork [style.width]="'100%'" [objectData]="rowData" [isInline]="true"
                  (formClose)="closeRowExpand()" fxFlex="none"
                  [vcenters]="vcenters" [vcenterOptions]='vcenterOptions'>
  </app-newnetwork>
</ng-template>
