@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.newrole {
  @include primary-font(16px);
  border-bottom: 1px solid #eee;
  padding: 10px 5px;
  width: 100%;
  margin-bottom: 5px;
  font-size: 14px;
  overflow: auto;
}

.newrole .newrole-panel-rolegroup-header-add-property-label {
  width: 120px;
  margin: 5px;
}

.newrole .newrole-input-item {
  padding: 3px !important;
  margin: 5px;
  text-indent: 8px;
}

.newrole-addnewuser {
  font-size: 16px;
  width: 80px
}

.newrole-addnewuser-clear {
  margin-right: 10px;
}

.newrole-addnewuser-save {
  margin-right: 0px;
}

.newrole-addnewuser-save:disabled {
  cursor: not-allowed !important;
  box-shadow: none !important;
  opacity: .25 !important;
}

.newrole-rolebinding-select {
  height: 28px !important;
  padding-bottom: 0px !important;
  margin-left: 5px;
  margin-top: 5px;
}

.newrole .newrole-rolebinding-select.ui-multiselect .ui-multiselect-label {
  padding: 3px 0px 0px 0px;
}

.newrole .newrole-permissions {
  padding-bottom: 5px;
  padding-left: 5px;
}

.newrole .newrole-permission {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #f0f0f0;
  height: 225px;
  width: 405px;
  max-width: 405px;
}

.newrole .newrole-fieldtitle {
  margin-top: 3px;
}

.newrole-value {
  margin-bottom: 2px;
}

.newrole .newrole-permission-button {
  cursor: pointer;
}

.newrole .newrole-permission-button-add {
  cursor: pointer;
}
