@import 'src/global-mixins';

.dsbdnaples-stat-arrow {
  font-size: 16px;
  height: 16px;
  width: 16px;
}

.dsbdnaples-stat-value {
  font-size: 30px;
}

.dsbdnaples-stat-description {
  white-space: nowrap;
  @include primary-font(14px);
  color: #676763;
}

.dsbdnaples-stat-left {
  margin-left: 20px;
}

.dsbdnaples-stat-right {
  margin-right: 10px;
}

.dsbdnaples-card-right {
  position: relative;
}

.dsbdnaples-label-canvas {
  width: 224px;
  height: 173px;
  @include primary-font(14px);
}

.dsbdnaples-percent {
  @include primary-font(32px);
}

.dsbdnaples-label-canvas,
.dsbdnaples-doughnut {
  position: absolute;
  top: -6px;
}

.dsbdnaples-card {
  position: relative;
  margin: 10px;
  width: 450px;
  height: 240px;
}

.dsbdnaples-card-back {
  margin-bottom: 5px;
}