<app-pagebody class="auditevents" header="Audit Events" [icon]="bodyicon">
  <!-- Since we are manually calculating table dimensions, whenever this panel changes
        state we need to recalculate the table -->
  <app-advanced-search #advancedSearchComponent
                       (repeaterValues)="handleFieldRepeaterData($event)"
                       [formArray]="fieldFormArray" [cols]="cols"
                       (cancelEmitter)="onCancelAuditSearch($event)"
                       (searchEmitter)="getAuditevents()"
                       kind="AuditEvent">
  </app-advanced-search>

  <app-tableviewedit fxLayout="column" class="auditevents-widget"
                     [showRowExpand]="showRowExpand"
                     [data]="dataObjects"
                     [cols]="cols"
                     [sortField]="startingSortField"
                     [sortOrder]="startingSortOrder"
                     [tableLoading]="loading"
                     [disableTableWhenRowExpanded]="disableTableWhenRowExpanded"

                     [runDoCheck]="false"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [expandTemplate]="expandTemplate"
                     [isToFetchDataOnSort]="true"
                     (lazyLoadEvent)="onTableSort($event)"
                     (rowClick)="onAuditeventsTableRowClick($event)"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
  </app-tableviewedit>

</app-pagebody>

<!-- TABLE HEADER -->
<ng-template #captionTemplate let-count="count">
  <app-tableheader title="Audit Events" [max]="maxRecords" [total]="totalRecords" fxFlex="auto"
                   fxLayout="row" [tableMenuItems]="tableMenuItems"
                   [enableColumnSelect]="true" [icon]="headerIcon" [cols]="cols"
                   (columnSelectChange)="onColumnSelectChange($event)"
                   [lastUpdateTime]="lastUpdateTime" [showRefreshIcon]="true" [showTotalHits]="true"
                   (refreshIconClick)="getAuditevents()">
  </app-tableheader>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.mod-time'">
      <div>
        {{rowData.meta['mod-time'] | PrettyDate }}
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      {{displayColumn(rowData, col)}}
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #expandTemplate let-rowData let-columns="columns">
  <div class="auditevents-detail-div auditevents-rowexpand">
    <pre>{{displayAuditEvent()}}</pre>
  </div>
</ng-template>
