@import 'src/global-mixins';

.auditevents {
  @include primary-font();
}

.audit-table-header>.tableheader-container>.tableheader-title-container {
  flex: 0 0 auto !important;
}

.auditevents-lastupdate {
  margin-right: 5px;
}

.auditevents-widget {
  height: 100%;
}

.audit-table-header-title {
  @include primary-font(20px, #484848);
  margin-left: 10px;
}

.auditevents-detail-div {
  padding: 10px;
  width: 100%;
  max-height: 250px;
  overflow: auto;
}

.auditevents-column-common.auditevents-column-who {
  color: #007bff;
}

.auditevents-rowexpand-tr {
  height: 0px !important;
  // text-top interferes with the animation
  vertical-align: top !important;

  >td {
    padding: 0px !important; // Padding interferes with animation on the rowexpands exit
  }
}

.auditevents-rowhighlight {
  >td {
    z-index: 20; // Needs to be higher than .evenalertpolicies-overlay z-index
    position: relative; // needed for z-index to take effect
    background-color: rgb(234, 241, 249) !important;
  }
}

.auditevents-searchbutton-clear {
  font-size: 16px;
  margin-right: 10px;
}

.auditevents .mat-expansion-panel-body {
  padding: 5px 10px 8px;
}

.auditevents-toolbar-button {
  @include primary-font(16px, #ffffff);
  height: 30px;
  font-weight: 500;
  text-align: center;
  display: block;
  padding: 0px 10px;
  min-width: 80px;
}
