# RDMA Completion Queue Descriptor Format
meta:
    id      : DESC_RDMA_CQ
    size    : 32
    package : factory.objects.rdma
    module  : descriptor
    objname : RdmaCqDescriptorObject

wrid            : None
msn             : None
op_type         : None
status          : None
rkey_inv_vld    : False
imm_data_vld    : False
color           : False
qp              : None
imm_data        : None
r_key           : None
