# RDMA Send Queue Descriptor Format
meta:
    id      : DESC_RDMA_SQ_RING
    package : factory.objects.rdma
    module  : descriptor
    objname : RdmaRqDescriptorObject

wrid    : random/1/65535
op_type : None # Filled by Testspec
num_sges: None # Filled by Testspec

send:
    imm_data: None # Filled by Testspec
    inv_key : None
    
write:
    imm_data: None
    va      : None
    len     : None
    rkey    : None

sges:
    - sge:
        va  : None
        len : None
        rkey: None
