bazel-bin*
bazel-genfiles*
bazel-out*
bazel-src*
bazel-testlogs*
bazel-*
obj/lib/*.so
obj/lib/external/*.so
cscope.*
gen
include/sdk/asic/capri/csrlite/cap_top_csr_defines.h
build
third-party/avago/fw
third-party/locale
third-party/dpdk
third-party/asic
third-party/libev
third-party/libnuma
third-party/vpp-pkg
third-party/boost
third-party/sknobs
third-party/zmq
third-party/gmp
third-party/ncurses
third-party/edit
platform/capri/capri_tm_rw.cc
third-party/liblmdb/aarch64
third-party/liblmdb/x86_64
third-party/libz/
