@import 'src/global-mixins';

.networknetworkinterface-detail-container {
  border-bottom: 1px solid #e7e7e3;
  padding-bottom: 5px;
  @include primary-font(14px, #676763);
}

.networknetworkinterface-detail-key {
  @include primary-font(14px, #676763, bold);
}

.networknetworkinterface-detail-value {
  @include primary-font();
}

.networknetworkinterface-detail-close {
  cursor: pointer;
}

.networknetworkinterface-detail-header {
  @include primary-font(18px, #676763, bold);
}

.networknetworkinterface-table-caption .tableheader-title-container {
  flex: 0 0 auto !important;
}

.networknetworkinterface-table-caption .tableheader-title {
  min-width: 150px;
  text-align: left;
}

.networknetworkinterface-action-template {
  width: 100%;
}

.networknetworkinterface-table-header-title-append {
  @include primary-font(20px, #484848);
  margin-right: 5px;
  text-align: left;
  white-space: nowrap;
}
