<app-pagebody class="networkinterfaces" header="Network Interfaces" [icon]="bodyicon">
  <app-tableviewedit fxLayout="column" class="networkinterfaces-widget" style="height: 100%;"
                     [creatingMode]="creatingMode"
                     [showRowExpand]="showRowExpand"
                     [data]="dataObjects"
                     [cols]="cols"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [actionTemplate]="actionTemplate"
                     [enableCheckbox]="true"
                     [tableLoading]="tableLoading"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
  </app-tableviewedit>

</app-pagebody>



<ng-template #captionTemplate let-count="count">
  <app-tableheader title="Network Interfaces" [total]="count" fxFlex="auto" fxLayout="row"
                   [tableMenuItems]="tableMenuItems" [enableColumnSelect]="true" [cols]="cols"
                   (columnSelectChange)="onColumnSelectChange($event)" [icon]="headerIcon">

    <ng-container *ngTemplateOutlet="actionButtonsTemplate"></ng-container>
  </app-tableheader>
</ng-template>

<ng-template #actionButtonsTemplate>
  <div fxFlex="none" fxLayoutAlign="start center"
       *roleGuard="'networknetworkinterface_update'">
    <!-- TABLE FUNCTION ICONS HERE -->
    <mat-icon class="global-multi-records-delete-icon"
              *ngIf="hasSelectedRows()"
              [matTooltip]="'Update labels to selected records'"
              (click)="editLabels()">label</mat-icon>
    <app-labeleditor
                     [metadata]="labelEditorMetaData"
                     [inLabelEditMode]="inLabelEditMode"
                     (saveEmitter)="handleEditSave($event)"
                     (cancelEmitter)="handleEditCancel($event)"
                     [objects]="this.tableContainer.selectedDataObjects"
                     [nameKey]="'spec.id'">
    </app-labeleditor>
  </div>

</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.creation-time'">
      {{rowData.meta['creation-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'meta.labels'">
      {{formatLabels(rowData.meta.labels)}}
    </ng-container>
    <ng-container *ngSwitchCase="'status.dsc'">
      <ng-container *roleGuard="'clusterDistributedservicecard_read'">
        <a routerLink="/cluster/dscs/{{rowData.status.dsc}}">{{rowData._ui['associatedDSC']}}</a>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div [innerHTML]="displayColumn(rowData, col)">
      </div>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <!--  Comment out action button 2020-02-27 
   <div class="global-column-action-icon-container  global-column-action-icon-container-techsupport_{{rowData.meta.name}}"
       fxLayout="row" fxLayoutGap="5px" *ngIf="showDeleteIcon(rowData)">
    <mat-icon *roleGuard="'monitoringtechsupportrequest_delete'" matTooltip="Delete tech-support"
              class="global-table-action-icon"
              (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
  </div> 
-->
</ng-template>
