# Ignore everything in this directory. They are installed by build scripts
*
# Except this file
!.gitignore
!Makefile
!README.txt
!entrypoint.sh
!venice-livecd-2.json
!venice-livecd.json
!venice_livecd_packer_post.py
!wait_for_venice_install.sh
