.searchbox-select-panel-template-item {
    border-bottom: 1px solid #eee;
    font-size:larger;
}

.searchbox-select-panel-template-item-options-item-init-count {
    float:right;
    margin-right:5px;
}

.searchwidget.app-header-search-autocomplete-widget {
    width:100%;
}