@import 'src/global-mixins';

$cpu-color: #b592e3;
$memory-color: #e57553;
$storage-color: #70bab4;

.cpumemorystorage-stats-container {
  min-width: 590px;
  height: 345px;

  .lastupdateTime {
    @include primary-font(12px, $mediumGray, 300);
  }

  .cpu-color {
    color: $cpu-color;
  }

  .memory-color {
    color: $memory-color
  }

  .storage-color {
    color: $storage-color;
  }

  svg {
    height: 300px;
    width: 300px;
    position: relative;
    left: -24px;
    top: -30px;
  }

  path.cpuvaluepath,
  path.memoryvaluepath,
  path.storagevaluepath,
  path.basepath {
    transform: rotate(180deg);
    transform-origin: 50% 50%;
    fill: none;
    stroke-width: 12px;
  }

  path.basepath {
    stroke: #ddd;
  }

  path.cpuvaluepath {
    stroke: $cpu-color;
  }

  path.memoryvaluepath {
    stroke: $memory-color;
  }

  path.storagevaluepath {
    stroke: $storage-color;
  }

  text.labels {
    font-size: 14px;
    fill: rgb(103, 103, 99);
  }

  text.value,
  text.percent {
    fill: #e57553;
  }

  text.cpuvalue,
  text.cpupercent {
    fill: $cpu-color;
  }

  text.memoryvalue,
  text.memorypercent {
    fill: $memory-color;
  }

  text.storagevalue,
  text.storagepercent {
    fill: $storage-color;
  }

  text.value {
    font-size: 68px;
  }

  text.percent {
    font-size: 20px;
  }

  .cpumemorystorage-stats-svg-table-container {
    width: 100%;
  }

  .cpumemorystorage-stats-svg-container {
    width: 100%;
  }

  .cpumemorystorage-stats-table {
    width: 320px;
    height: 240px;
    margin-right: 10px;
    background-image: url("/assets/images/misc/gray-gradient-bg.svg");

    .cpumemorystorage-stats-row {
      width: 320px;
      height: 78px;
      padding: 5px 0 0 5px;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      cursor: pointer;

      .cpumemorystorage-stats-col1 {
        width: 88px;

        .cpumemorystorage-stats-col1-up {
          font-size: 20px;
          font-weight: normal;
          color: rgb(103, 103, 99);
        }

        .cpumemorystorage-stats-col1-down {
          margin-top: 25px;
          font-size: 14px;
          font-weight: 300;
          color: rgb(103, 103, 99);
        }
      }

      .cpumemorystorage-stats-col2 {
        text-align: center;
        width: 106px;
        padding-top: 10px;
        font-size: 48px;
        font-weight: normal;
      }

      .cpumemorystorage-stats-col3 {
        width: 80px;
        padding-top: 30px;
        font-size: 13px;
        font-weight: 300;
      }

      .cpumemorystorage-stats-col4 {
        padding-right: 10px;
        padding-top: 30px;
        font-size: 13px;
        font-weight: 300;

        .cpumemorystorage-stats-usage {
          text-align: right;
        }
      }
    }

    .cpumemorystorage-stats-row.selectedrow {
      opacity: 1;
      cursor: default;
      background-image: linear-gradient(to left, rgba(160, 160, 156, 0) 40%, rgba(103, 103, 99, 0.3));
    }
  }

  .cpumemorystorage-stats-chart-container {
    width: 100%;
    position: relative;
    top: -50px;

    .cpumemorystorage-stats-chart-content {
      height: 56px;
    }

    .cpumemorystorage-stats-chart-content.storage {
      z-index: 3000;
    }
  }
}
