<div>
  <div class="telemetrychartview-card">
    <app-basecard [title]="title"
                  [themeColor]="themeColor"
                  cardState="READY"
                  [menuItems]="menuItems"
                  class="">
      <div header-options>
        <mat-icon *ngIf="!hideEditButtons" matTooltip="Edit chart"
                  class="telemetrychartview-action-icon "
                  (click)="editClick()">edit</mat-icon>

        <mat-icon *ngIf="hideEditButtons !== true" matTooltip="Delete chart"
                  class="telemetrychartview-action-icon "
                  (click)="deleteClick()">delete</mat-icon>
      </div>
      <div [@fade] fxFlex="100%" fxLayout="row" [style.margin-right]="'5px'">
        <app-telemetrychart fxFlex #chart
                            [chartConfig]="chartConfig"
                            [inEditMode]="inEditMode"
                            [selectedTimeRange]="selectedTimeRange"></app-telemetrychart>
      </div>
    </app-basecard>
  </div>
</div>
