<app-pagebody class="alertpolicies">
  <app-penuitabs [startingIndex]="selectedIndex" (selectedIndexChange)=tabSwitched($event)
                 [style.height]="'100%'">
    <app-penuitab title="EVENT ALERT POLICIES" [count]="eventPolicies?.length">
      <ng-template>
        <app-eventalertpolicies #tabContent [dataObjects]="eventPolicies"
                                [destinations]="destinations"></app-eventalertpolicies>
      </ng-template>
    </app-penuitab>
    <app-penuitab title="DESTINATIONS" [count]="destinations?.length">
      <ng-template>
        <app-destinations #tabContent [dataObjects]="destinations" [eventPolices]="eventPolicies">
        </app-destinations>
      </ng-template>
    </app-penuitab>
  </app-penuitabs>
</app-pagebody>
