<div fxFlex="noshrink" fxLayout="row" class="authpolicy-group"
     [ngClass]="!radiusEditMode ? 'authpolicy-group-hover' : '' ">
  <ng-container *ngIf="radiusData; else RadiusCreate">
    <ng-container *ngTemplateOutlet="Radius"></ng-container>
  </ng-container>
</div>

<ng-template #RadiusCreate>
  <div class="radius-overlay"></div>
  <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
    <div fxFlex="nogrow" fxLayout="row">
      <div class="radius-title  authpolicy-config-title">
        Radius
      </div>
      <div fxFlex></div>
      <div *roleGuard="'authauthenticationpolicy_update'" fxFlex="nogrow"
           class="global-button-primary authpolicy-button radius-create"
           (click)="createRadius()">
        CREATE RADIUS AUTHENTICATOR
      </div>
    </div>
  </div>

  <div *roleGuard="'authauthenticationpolicy_update'" fxFlex="nogrow" fxLayout="column">
    <div fxFlex="24px" fxLayout="row" fxLayoutAlign="end stretch" class="authpolicy-arrow-up">
    </div>
    <div fxFlex="60px"></div>
    <div fxFlex="24px" fxLayout="row" fxLayoutAlign="end stretch" class="authpolicy-arrow-down">
    </div>
  </div>
</ng-template>

<ng-template #Radius>
  <div fxFlex fxLayout="column">
    <div fxFlex="nogrow" fxLayout="row" [formGroup]="radiusObject.$formGroup">
      <div class="radius-title  authpolicy-config-title">
        Radius
      </div>

    </div>
    <ng-container *ngTemplateOutlet="RadiusConfig"></ng-container>
    <div fxFlex="40px"></div>

    <!-- Server setup -->
    <div fxFlex="noshrink" fxLayout="row" [style.position]="'relative'">
      <div fxFlex fxLayout="column">
        <ng-container *ngIf="radiusEditMode">
          <ng-container *roleGuard="'authauthenticationpolicy_update'">
            <ng-container *ngTemplateOutlet="RadiusServers"></ng-container>
          </ng-container>
        </ng-container>
        <div fxFlex="40px"></div>
      </div>
    </div>
  </div>
  <div *ngIf="!radiusEditMode" fxFlex="nogrow" fxLayout="column">
    <div fxFlex="24px" fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="10px"
         [ngClass]="{'authpolicy-arrow-up': !toggleDisabled}">
      <!-- NOT EDIT MODE, SHOW EDIT BUTTON AND ARROW -->
      <ng-container *ngIf="isHover && !radiusEditMode">
        <mat-icon *roleGuard="'authauthenticationpolicy_update'" [matTooltip]="'Edit RADIUS Config'"
                  class="radius-edit-icon"
                  fxFlex="nogrow" (click)="toggleEdit()">
          edit
        </mat-icon>
      </ng-container>
      <ng-container *ngIf="isHover && !radiusEditMode">
        <mat-icon *roleGuard="'authauthenticationpolicy_delete'"
                  [matTooltip]="'Delete RADIUS Config'" class="radius-edit-icon"
                  fxFlex="nogrow" (click)="onDeleteRadius()">
          delete
        </mat-icon>
      </ng-container>
      <ng-container *ngIf="!radiusEditMode && canRaiseAuthRank()">
        <mat-icon *roleGuard="'authauthenticationpolicy_update'"
                  [matTooltip]="'Move RADIUS Order Up'"
                  (click)="raiseAuthRank()">
          arrow_upward
        </mat-icon>
      </ng-container>
    </div>
    <div fxFlex="noshrink" fxLayout="row" fxLayoutAlign="end center">
      <div *ngIf="currentRank != null" fxFlex="nogrow" class="authpolicy-rank"> {{currentRank + 1}}
      </div>
    </div>
    <div *roleGuard="'authauthenticationpolicy_update'" fxFlex="24px" fxLayout="row"
         fxLayoutAlign="end stretch" class="authpolicy-arrow-down">
      <mat-icon [matTooltip]="'Move RADIUS Order Down'" fxFlex="nogrow"
                *ngIf="!radiusEditMode && canLowerAuthRank()" (click)="lowerAuthRank()">
        arrow_downward
      </mat-icon>
    </div>
  </div>
  <!-- EDIT MODE, SHOW SAVE/CANCEL BUTTON -->
  <ng-container *ngIf="radiusEditMode">
    <div *roleGuard="'authauthenticationpolicy_update'" fxFlex="nogrow" fxLayout="row">
      <div *ngIf="radiusEditMode" fxFlex="nogrow">
        <button (click)="saveRadius()"
                class="global-button-primary authpolicy-save authpolicy-save-radius"
                [disabled]="!enableSaveButton()">SAVE</button>
      </div>
      <div *ngIf="radiusEditMode" fxFlex="nogrow">
        <div (click)="cancelEdit()" class="global-button-neutral authpolicy-cancel">CANCEL</div>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #RadiusConfig>
  <div fxFlex="noshrink" fxLayout="row">
    <div fxFlex="50px"></div>
    <div fxFlex fxLayout="row wrap" fxLayoutGap="10px"
         [formGroup]="radiusObject.$formGroup.get(['domains', '0'])">
      <!-- INPUT GROUP 1 -->
      <div fxFlex="nogrow" fxLayout="column" class="radius-input-group">
        <div fxFlex="30px" class="radius-fieldtitle">CONFIG</div>
        <div fxFlex="noshrink" fxLayout="row">
          <!-- Field Title -->
          <div fxFlex="nogrow" fxLayout="column">
            <div class="radius-fieldtitle" fxFlex="30px" fxLayout="row"
                 fxLayoutAlign="start center">
              <span>* NAS ID</span>
            </div>
          </div>
          <!-- Field Values - edit mode -->
          <ng-container *roleGuard="'authauthenticationpolicy_update'">
            <div fxFlex fxLayout="column" *ngIf="radiusEditMode">
              <div fxFlex="30px" fxLayout="row" class="radius-value">
                <input fxFlex="nogrow" formControlName="nas-id" class="radius-input"
                       spellcheck="false" type="text" pInputText placeholder="">
              </div>
            </div>
          </ng-container>
          <!-- Field Values - view mode -->
          <div fxFlex fxLayout="column" *ngIf="!radiusEditMode">
            <div fxFlex="30px" fxLayout="row" class="radius-fieldtitle radius-input"
                 fxLayoutAlign="start center">
              {{ radiusObject.domains[0]["nas-id"] }}
            </div>
          </div>

        </div>
      </div>

      <!-- INPUT GROUP 2 -->
      <div *ngIf="!radiusEditMode" fxFlex="nogrow" fxLayout="column wrap"
           class="radius-input-group">
        <div fxFlex="30px" class="radius-fieldtitle">SERVERS</div>
        <div fxFlex="noshrink" fxLayout="row">
          <div fxFlex fxLayout="column" *ngFor="let server of radiusObject.domains[0].servers">
            <div fxFlex="30px" fxLayout="row" class="radius-fieldtitle radius-input"
                 fxLayoutAlign="start center" fxLayoutGap="5px">
              <mat-icon fxFlex="nogrow" class="authpolicy-lock">lock</mat-icon>
              <div fxFlex="nogrow">
                {{ server.url }} {{ server['auth-method']}}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</ng-template>

<ng-template #RadiusServers>
  <div fxFlex="noshrink" fxLayout="column" class="radius-servergroup" [@slideInOut]
       *ngFor="let server of controlAsFormArray(radiusObject.$formGroup.get(['domains', '0', 'servers'])).controls; let index = index; let first = first"
       [formGroup]="server">
    <div fxFlex="20px"></div>
    <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="space-between start">
      <div fxFlex="noshrink" class="radius-fieldtitle">
        SERVER CONFIGURATION
      </div>
      <div fxFlex="noshrink" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center"
           class="radius-and">
        <span *ngIf="first" fxFlex="nogrow" (click)="addServer()">+ ADD</span>
        <mat-icon *ngIf="controlAsFormArray(radiusObject.$formGroup.get(['domains', '0', 'servers'])).length > 1"
                  fxFlex="nogrow" (click)="removeServer(index)" [style.color]="'#767676'">delete
        </mat-icon>
      </div>
    </div>
    <div fxFlex="10px"></div>
    <!-- <div fxFlex fxLayout="row"> -->

    <div fxFlex="noshrink" fxLayout="row wrap">
      <!-- GROUP 1 -->
      <div fxFlex="nogrow" fxLayout="column" class="radius-input-group">
        <div fxFlex="noshrink" fxLayout="row">
          <!-- Field Title -->
          <div fxFlex="nogrow" fxLayout="column">
            <div class="radius-fieldtitle" fxFlex="30px" fxLayout="row"
                 fxLayoutAlign="start center">
              <span>* Server:Port</span>
            </div>
          </div>
          <!-- Field Values -->
          <div fxFlex fxLayout="column">
            <div fxFlex="30px" fxLayout="row" class="radius-value">
              <input fxFlex="nogrow" class="radius-input" formControlName="url" appErrorTooltip
                     spellcheck="false" type="text" pInputText placeholder="">
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="nogrow" fxLayout="column" class="radius-input-group">
        <div fxFlex="noshrink" fxLayout="row">
          <!-- Field Title -->
          <div fxFlex="nogrow" fxLayout="column">
            <div class="radius-fieldtitle" fxFlex="30px" fxLayout="row"
                 fxLayoutAlign="start center">
              <span>* Server Secret</span>
            </div>
          </div>
          <!-- Field Values - edit mode -->
          <div fxFlex fxLayout="column" *ngIf="radiusEditMode">
            <div fxFlex="30px" fxLayout="row" class="radius-value">
              <input fxFlex="nogrow" formControlName="secret" appErrorTooltip type="password"
                     class="radius-input radius-server-secret" spellcheck="false"
                     pInputText placeholder="">
            </div>
          </div>

        </div>
      </div>
      <div fxFlex="nogrow" fxLayout="column" class="radius-input-group">
        <div fxFlex="noshrink" fxLayout="row">
          <!-- Field Title -->
          <div fxFlex="nogrow" fxLayout="column">
            <div class="radius-fieldtitle" fxFlex="30px" fxLayout="row"
                 fxLayoutAlign="start center">
              <span>* Auth Method</span>
            </div>
          </div>
          <!-- Field Values - edit mode -->
          <div fxFlex fxLayout="column" *ngIf="radiusEditMode">
            <div fxFlex="30px" fxLayout="row" class="radius-value">
              <p-dropdown class="radius-input radius-server-authmothod" fxFlex="150px"
                          formControlName="auth-method"
                          styleClass="radius-server-authmothod-dropdown"
                          [options]="serverAuthMethodOptions"></p-dropdown>
            </div>
          </div>

        </div>
      </div>
      <!-- comment out test-RADIUS-connection for now.  Wait for server notice -->
      <!-- <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="end center">
          <div fxFlex="nogrow" class="global-button-primary ldap-test-connection-button">TEST CONNECTION</div>
      </div> -->
    </div>
    <div fxFlex="20px"></div>
  </div>

</ng-template>
