<div class="herocard-container">
  <app-basecard [title]="title"
                [backgroundIcon]="backgroundIcon"
                [themeColor]="themeColor"
                [icon]="icon"
                [timeRange]="timeRange"
                [lastUpdateTime]="lastUpdateTime"
                [cardState]="cardState">
    <div fxFlex="grow" fxLayout="column">
      <div class="herocard-foreground-content" fxFlex="grow" fxLayout="row"
           fxLayoutAlign="start start">
        <!-- First stat -->
        <div [@fade] *ngIf="cardState === cardStates.READY" fxFlex="40%" fxLayout="row"
             fxLayoutAlign="start start">
          <div fxFlex="28px"></div>
          <ng-container *ngIf="firstStat != null && firstStat.value != null">
            <mat-icon *ngIf="arrowDirection==='UP'" [style.color]="updateStatColor(firstStat)"
                      fxFlex="none"
                      class="herocard-stat-arrow">arrow_upward</mat-icon>
            <mat-icon *ngIf="arrowDirection==='DOWN'" [style.color]="updateStatColor(firstStat)"
                      fxFlex="none"
                      class="herocard-stat-arrow">arrow_downward</mat-icon>
            <div fxFlex="auto" fxLayout="column" class="herocard-first-stat"
                 [matTooltip]="firstStat.tooltip"
                 [style.cursor]="firstStat.url != null ? 'pointer' : 'auto'"
                 (click)="firstStatClick()">
              <div fxFlex="nogrow" [style.color]="updateStatColor(firstStat)"
                   class="herocard-first-stat-value">
                {{ firstStat.value }}</div>
              <div fxFlex="nogrow" class="herocard-first-stat-description">
                {{ firstStat.description }}</div>
            </div>
          </ng-container>
        </div>
        <!-- Second stat -->
        <div [@fade] *ngIf="cardState === cardStates.READY" fxFlex="20%" fxLayout="row"
             fxLayoutAlign="start start">
          <div fxFlex="auto" fxLayout="column" class="herocard-second-stat">
            <div fxFlex="auto" fxLayout="column"
                 *ngIf="secondStat != null && secondStat.value != null"
                 [matTooltip]="secondStat.tooltip"
                 [style.cursor]="secondStat.url != null ? 'pointer' : 'auto'"
                 (click)="secondStatClick()">
              <div fxFlex="nogrow" [style.color]="updateStatColor(secondStat)"
                   class="herocard-second-stat-value">
                {{ secondStat.value}}</div>
              <div fxFlex="nogrow" class="herocard-second-stat-description">
                {{ secondStat.description }}</div>
            </div>
          </div>
        </div>
        <!-- Third stat -->
        <div [@fade] *ngIf="cardState === cardStates.READY" fxFlex="auto" fxLayout="row"
             fxLayoutAlign="start start">
          <div fxFlex="auto" fxLayout="column" class="herocard-third-stat">
            <div fxFlex="auto" fxLayout="column"
                 *ngIf="thirdStat != null && thirdStat.value != null"
                 [matTooltip]="thirdStat.tooltip"
                 [style.cursor]="thirdStat.url != null ? 'pointer' : 'auto'"
                 (click)="thirdStatClick()">
              <div fxFlex="auto" [style.color]="updateStatColor(thirdStat)"
                   class="herocard-third-stat-value" [ngClass]="isValueLong(thirdStat)">
                {{ thirdStat.value }}</div>
              <div fxFlex="auto" class="herocard-third-stat-description"
                   [ngClass]="isValueLong(thirdStat)">{{ thirdStat.description }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex="56px" fxLayout="row" class="herocard-south">
        <div [@fade] fxFlex="auto" fxLayout="row" fxLayoutAlign="center stretch"
             *ngIf="cardState === cardStates.READY && showGraph" class="herocard-chart">
          <app-linegraph #lineGraph
                         fxFlex="100%" [hideStats]="true"
                         fxLayout="row" [graphPadding]="graphPadding"
                         [highlightLastPointColor]="themeColor"
                         [showValueInTooltip]="true"
                         class="" [stats]="linegraphStats"></app-linegraph>
        </div>
      </div>
    </div>
  </app-basecard>
</div>
