tools/packer-templates/*.box
tools/packer-templates/.bundle/
tools/packer-templates/.vagrant/
tools/packer-templates/output-*/
tools/packer-templates/packer_cache/
tools/testdev
tools/dev
Vagrantfile
.vagrant
bin/*
*~
*#
.#*
cscope.*
*.pyc
*.test
*.out
.idea
*.swp
*.DS_Store
*.orig
*.rej
*.so
*.a
bazel-bin*
bazel-genfiles*
bazel-out*
bazel-src*
bazel-testlogs*
bazel-*
*.tar.gz
.project
.cproject

# HAL packaging
fake_root_target
hal.tar
hal.tgz
plugins.tar

# Remove binaries in vendor
vendor/**/*.png
vendor/**/*.bin
vendor/**/*.db
vendor/**/*.tff
vendor/**/*.woff
.gitmessage

# Remove UI unnecessary 
venice/ui/**/package-lock.json
venice/ui/web-app-framework/package-lock.json
venice/ui/linux_signing_key.pub
