tools/packer-templates/*.box
tools/packer-templates/.bundle/
tools/packer-templates/.vagrant/
tools/packer-templates/output-*/
tools/packer-templates/packer_cache/
tools/packer-templates/scripts/centos/pens.sh
tools/testdev
tools/dev
Vagrantfile
.vagrant
bin/*
*~
*#
.#*
cscope.*
GPATH
GTAGS
GRTAGS
__pycache__/
*.pyc
*.test
*.out
.idea
*.swp
*.DS_Store
*.orig
*.rej
*.so*
*.a
*.lo
*.vscode
bazel-bin*
bazel-genfiles*
bazel-out*
bazel-src*
bazel-testlogs*
bazel-*
*.tar.gz
.project
.cproject
.cached_modules
tags

# HAL packaging
fake_root_target
hal.tar
hal.tgz
plugins.tar
asicrw.log.*
nic/hash_coll.csv

# Remove binaries in vendor
vendor/**/*.png
vendor/**/*.bin
vendor/**/*.db
vendor/**/*.tff
vendor/**/*.woff
.gitmessage

# Remove UI unnecessary
venice/ui/linux_signing_key.pub

# Remove go 1.10 cache dir
.cache

# Remove penctl autocompletion file
penctl.sh

# Ignore .syntastic_cpp_config
**/.syntastic_cpp_config
