[submodule "nic/asic"]
	path = nic/asic
	url = git@github.com:pensando/asic.git
	branch = rtl_dol
[submodule "nic/p4-hlir"]
	path = nic/p4-hlir
	url = git@github.com:pensando/p4-hlir.git
[submodule "nic/debug_cli/click_repl"]
	path = nic/debug_cli/click_repl
	url = git@github.com:pensando/click-repl
[submodule "nic/third-party/avago/aapl"]
	path = nic/third-party/avago/aapl
	url = git@github.com:pensando/aapl.git
[submodule "nic/sdk/third-party/avago/aapl"]
	path = nic/sdk/third-party/avago/aapl
	url = git@github.com:pensando/aapl.git
[submodule "nic/third-party/libconfig"]
	path = nic/third-party/libconfig
	url = git@github.com:pensando/libconfig
[submodule "nic/third-party/odp"]
	path = nic/third-party/odp
	url = git@github.com:pensando/odp
[submodule "nic/third-party/ofp"]
	path = nic/third-party/ofp
	url = git@github.com:pensando/ofp
