tools/packer-templates/*.box
tools/packer-templates/.bundle/
tools/packer-templates/.vagrant/
tools/packer-templates/output-*/
tools/packer-templates/packer_cache/
tools/testdev
tools/dev
Vagrantfile
.vagrant
bin/*
*~
*#
.#*
cscope.*
*.pyc
*.test
*.out
.idea
*.swp
*.DS_Store
*.orig
*.rej
*.so
*.a
bazel-bin/
bazel-genfiles/
bazel-out/
bazel-src/
bazel-testlogs/
bazel-*/
*.tar.gz
nic/model_sim/libs/*
nic/tools/ncc/csr_json/*
nic/third-party/googletest-release-1.8.0/googletest/make/*.a
