[submodule "nic/asic"]
	path = nic/asic
	url = git@github.com:pensando/asic.git
[submodule "nic/p4-hlir"]
	path = nic/p4-hlir
	url = git@github.com:pensando/p4-hlir.git
[submodule "nic/debug_cli/click_repl"]
	path = nic/debug_cli/click_repl
	url = git@github.com:pensando/click-repl
[submodule "nic/sdk"]
	path = nic/sdk
	url = https://github.com/pensando/sdk
