@import 'src/global-mixins';

.flowexportpolicy-widget {
  @include primary-font();
  height: 100%;
}

.flowexportpolicy-button {
  padding-left: 10px;
  padding-right: 10px;
}

.flowexportpolicy-icon {
  position: absolute;
  top: 8px;
  font-size: 18px;
}
