<app-pagebody class="techsupportrequests" header="Tech Support Requests" [icon]="bodyicon">
  <app-tableviewedit fxLayout="column" class="techsupportrequests-widget"
                     [creatingMode]="creatingMode"
                     [showRowExpand]="showRowExpand"
                     [data]="dataObjects"
                     [cols]="cols"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [expandTemplate]="expandTemplate"
                     [actionTemplate]="actionTemplate"
                     [createTemplate]="createTemplate"
                     [enableCheckbox]="true"
                     [tableLoading]="tableLoading"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
  </app-tableviewedit>

</app-pagebody>

<ng-template #createTemplate>
  <app-newtechsupport (formClose)="creationFormClose()" fxFlex="none"
                      [existingTechSupportRequest]='dataObjects'>
  </app-newtechsupport>
</ng-template>

<ng-template #captionTemplate let-count="count">
  <app-tableheader title="Tech Supports" [total]="count" fxFlex="auto" fxLayout="row"
                   [tableMenuItems]="tableMenuItems" [enableColumnSelect]="true" [cols]="cols"
                   (columnSelectChange)="onColumnSelectChange($event)" [icon]="headerIcon">

    <ng-container *ngTemplateOutlet="actionButtonsTemplate"></ng-container>
  </app-tableheader>
</ng-template>

<ng-template #actionButtonsTemplate>
  <div fxFlex="none" fxLayoutAlign="start center">
    <!-- TABLE FUNCTION ICONS HERE -->
    <mat-icon class="global-multi-records-delete-icon"
              *ngIf="hasSelectedRows()"
              [matTooltip]="'Delete selected tech support requests'"
              (click)="onDeleteSelectedRows($event)">delete</mat-icon>
  </div>

</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.creation-time'">
      {{rowData.meta['creation-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'status.status'">

      <div *ngIf="!isTechsupportCompleted(rowData, col)">
        {{displayColumn(rowData, col)}}
        <span *ngIf="timeoutOrFailure(rowData)"
              class="techsupport-status-reason">{{rowData.status.reason}}</span>
        <mat-icon *ngIf="timeoutOrFailure(rowData)"
                  fxFlex="nogrow" [inline]="true" [matTooltip]="rowData.status.reason"
                  class="global-alert-critical-icon techsupport-bad-icon">error</mat-icon>
        <!-- vs-779 partial failure, let user download all available ts files -->
        <a *ngIf="timeoutOrFailure(rowData) && triggerBuildDownloaZip(rowData) "
           class="techsupportrequests-download-file-link" (click)="$event.stopPropagation()"
           href="{{rowData['techsupportdownload']['bundleAll']}}"
           [matTooltip]="'Download all available files'">Download</a>
      </div>
      <div *ngIf="timeoutOrFailure(rowData)" [matTooltip]="displayMessage(rowData)">
        {{displayMessage(rowData)}}</div>

      <div *ngIf="isTechsupportCompleted(rowData, col)" fxLayout="column">
        <div fxLayout="row"> Success </div>
        <!--  download all ts output files in one bundle  -->
        <a class="techsupportrequests-download-file-link" (click)="$event.stopPropagation()"
           href="{{rowData['techsupportdownload']['bundleAll']}}"
           [matTooltip]="'Download all files'">Download all files</a>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'spec.node-selector'">
      <div class="techsupportrequests-selected-nodes">{{displayColumn(rowData, col)}}
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div [innerHTML]="displayColumn(rowData, col)">
      </div>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <div class="global-column-action-icon-container  global-column-action-icon-container-techsupport_{{rowData.meta.name}}"
       fxLayout="row" fxLayoutGap="5px" *ngIf="showDeleteIcon(rowData)">
    <mat-icon *roleGuard="'monitoringtechsupportrequest_delete'" matTooltip="Delete tech-support"
              class="global-table-action-icon"
              (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData let-col="col">
  <ng-container *ngIf="rowData['techsupportdownload'] != null">
    <div fxLayout="row">
      <div *ngFor="let v of rowData['techsupportdownload']['nicNodes']">
        <a class="techsupportrequests-download-file-link" href="{{v.url}}"
           [matTooltip]="'Download DSC tech-support files ' + v.name ">{{v.name}}</a>
      </div>
    </div>

    <div fxLayout="row">
      <div *ngFor="let v of rowData['techsupportdownload']['controlnodes']">
        <a class="techsupportrequests-download-file-link" href="{{v.url}}"
           [matTooltip]="'Download Controller tech-support file ' + v.name ">{{v.name}}</a>
      </div>
    </div>
  </ng-container>
</ng-template>
