@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.new-dsc-profile-content {
  align-items: center;
  justify-content: center;
  padding: 10px;

  .new-dsc-profile-row {
    justify-content: flex-end;
  }
}

.new-dsc-profile-row-plist-B {
  width: 100%;
  justify-content: space-evenly;


}

.new-dsc-profile-container .new-dsc-profile-row-plist-B .ui-listbox {
  width: 25em;
}
