@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;
$dary-grey: #a9a9a9;

.new-dsc-profile-content {
  align-items: center;
  justify-content: center;
  padding: 10px;

  .new-dsc-profile-row {
    justify-content: flex-end;
  }
}

.new-dsc-profile-row-plist-B {
  width: 100%;
  justify-content: space-evenly;

}

.new-dsc-profile-container .new-dsc-profile-row-plist-B .ui-listbox {
  width: 25em;
}

.new-dsc-profile-select-label {
  @include primary-font();
}

.new-dsc-profile-inline-buttoncontainer {
  margin: 5px 0px;

  .new-dsc-profile-inline-save,
  .new-dsc-profile-inline-cancel {
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    line-height: 25px;
    margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;
  }
}

.fwdModeText,
.polModeText {
  font-weight: normal;
  font-size: 12px;
  pointer-events: none;
  margin-bottom: .25em;
  margin-left: .25em;
  margin-top: .25em;
  color: #898989;
  line-height: 1;
}

fieldset {
  border: 1px solid $dary-grey;
  padding: 5px;
  margin-bottom: 10px;

  legend {
    padding: 0 2px;
    @include primary-font(15px);
    color: #676763;
    margin-bottom: 0px;
    width: 127px;
  }
}
