<div [style.width]="'100%'" fxLayout="column">
  <ng-container *ngTemplateOutlet="inlineButtons"></ng-container>
  <div fxFlex="auto" fxLayout="row" class="new-dsc-profile-container">

    <div fxFlex="auto" fxLayout="row" class="new-dsc-profile-content">
      <div fxFlex="nogrow" fxLayout="column">

        <ng-container *ngTemplateOutlet="metaName"></ng-container>
        <div fxFlex="10px"></div>
        <ng-container>
          <ng-container *ngTemplateOutlet="FWPolicyMode"></ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #metaName>
  <div fxFlex="nogrow" fxLayout="row" class="new-dsc-profile-row"
       [formGroup]="newObject.$formGroup">
    <div formGroupName="meta">
      <span [ngClass]="{
        'requiredField': isFieldEmpty(newObject.$formGroup.get(['meta', 'name']))
      }">
        <input fxFlex="342px" formControlName="name" class="new-dsc-profile-name" appErrorTooltip
               spellcheck="false"
               type="text" pInputText appFloatLabel="Unique DSP Profile Name...">
      </span>
    </div>
  </div>
</ng-template>

<ng-template #FWPolicyMode>
  <fieldset>
    <legend>
      Configure DSC Mode
    </legend>
    <div fxFlex="100" fxLayout="row">
      <div fxFlex="50" fxLayout="column" class="new-dsc-profile-row">
        <div fxFlex="nogrow" class="fwdModeText">Forwarding Mode</div>
        <div class="newdscprofile-plist-div">
          <p-listbox #nodesListbox [options]="fwdModeOptions"
                     *ngIf="fwdModeOptions && fwdModeOptions.length>0"
                     [(ngModel)]="selectedFwdMode" checkbox="true" optionLabel="label"
                     [listStyle]="{'height':'100px'}"
                     (onChange)="setPolicyModeOptions($event)">
          </p-listbox>
        </div>
      </div>

      <div fxFlex="50" fxLayout="column" class="new-dsc-profile-row"
           *ngIf="policyModeOptions && policyModeOptions.length > 0">
        <div fxFlex="nogrow" class="polModeText">Policy Mode</div>
        <div class="newdscprofile-plist-div">
          <p-listbox #nodesListbox [options]="policyModeOptions"
                     *ngIf="policyModeOptions && policyModeOptions.length>0"
                     [(ngModel)]="selectedPolicyMode" checkbox="true" optionLabel="label"
                     [listStyle]="{'height':'100px'}">
          </p-listbox>
        </div>
      </div>

    </div>
  </fieldset>
</ng-template>

<ng-template #divider>
  <div fxFlex="20px" fxLayout="row">
    <div fxFlex="30px"></div>
    <div fxFlex="auto" class="new-dsc-profile-divider"></div>
    <div fxFlex="30px"></div>
  </div>
</ng-template>

<ng-template #inlineButtons>
  <div *ngIf="isInline" class="new-dsc-profile-inline-buttoncontainer" fxFlex="nogrow"
       fxLayout="row"
       fxLayoutAlign="start end">
    <div fxFlex="auto" fxLayoutAlign="end center">
      <div fxFlex="nogrow">
        <span (click)="saveObject()"
              class="global-button-primary global-button-padding new-dsc-profile-inline-save"
              [ngClass]="computeInlineButtonClass()">SAVE</span>
      </div>
      <div fxFlex="nogrow">
        <span (click)="cancelObject()"
              class="global-button-neutral global-button-padding new-dsc-profile-inline-save">CANCEL</span>
      </div>
    </div>
  </div>
</ng-template>
