gen/*
obj/*
coverage/*
core*
!core.cc
!core.hpp
model_sim/build
model_sim/build/cap_model
model_sim/build/model_cli
model_sim/build/sample_client
model_sim/build/libmodelclient.so
model_sim/build/model_server.o
sknobs_gen/output.sknobs
capri_tbl_rw.log
capri_loader.conf
proto/agents_proto
proto/hal_proto
proto/proto
proto/types_proto
asic_gen
.run.pid
.run.status
hal.log*
model.log*
dol.log*
*.log
*.cacov
sample_client.log
tags
hal/third-party/snort3/export/bin/*
hal/third-party/isc/*
hal/third-party/zmq/*
hal/third-party/google/*
hal/third-party/grpc/*
hal/third-party/crchack/bin/*
third-party/googletest-release-1.8.0/googletest/make/*.a
third-party/boost/*
model_sim/libs/*
tools/ncc/csr_json/*
conf/init_bins
conf/hal.ini

debug_cli/swig/ccfiles/p4pd_wrap.cc
debug_cli/swig/pyfiles/p4pd.py
