gen/*
obj/*
coverage/*
core*
model_sim/build
model_sim/build/cap_model
model_sim/build/model_cli
model_sim/build/sample_client
model_sim/build/libmodelclient.so
model_sim/build/model_server.o
sknobs_gen/output.sknobs
capri_tbl_rw.log
capri_loader.conf
proto/agents_proto
proto/hal_proto
proto/proto
proto/types_proto
asic_gen
.run.pid
hal.log*
model.log*
dol.log*
*.log
*.cacov
sample_client.log
tags
conf/hal.ini
