gen/
obj/
coverage/
core*
!core
!conf/plugins/*/*.so
!core.cc
!core.hpp
model_sim/build
model_sim/build/cap_model
model_sim/build/model_cli
model_sim/build/sample_client
model_sim/build/libmodelclient.so
model_sim/build/model_server.o
sknobs_gen/output.sknobs
capri_tbl_rw.log
capri_loader.conf
mpu_prog_info.json
proto/agents_proto
proto/hal_proto
proto/proto
proto/types_proto
asic_gen
.run.pid
.run.status
hal.log*
model.log*
dol.log*
asicrw.log*
*.log
*.cacov
sample_client.log
tags
GTAGS
GPATH
GRTAGS
hal/third-party/snort3/export/x86_64/
hal/third-party/snort3/export/aarch64/
hal/third-party/isc/
hal/third-party/lkl/export/aarch64/
hal/third-party/lkl/export/bin/
hal/third-party/lkl/export/x86_64/
sdk/third-party/zmq/
hal/third-party/google/aarch64/
hal/third-party/google/include/
hal/third-party/google/protobuf/
hal/third-party/google/x86_64/
hal/third-party/grpc/aarch64/
hal/third-party/grpc/x86_64/
hal/third-party/grpc/include/
hal/third-party/crchack/bin/
hal/third-party/ldd/aarch64
hal/obj/*.so
third-party/googletest-release-1.8.0/googletest/make/*.a
sdk/third-party/boost/
sdk/third-party/sknobs/
sdk/third-party/libev/
sdk/third-party/libnuma/
sdk/third-party/strongswan-pkg/
third-party/nist-cavp/*testvectors
third-party/avago/x86_64/
third-party/libxml2/
third-party/liblzma/
third-party/libicuuc/
third-party/liblmdb/
third-party/rocksdb/
sdk/third-party/avago/include/
sdk/third-party/openssl/aarch64
sdk/third-party/openssl/include
sdk/third-party/openssl/x86_64
model_sim/libs/
tools/ncc/csr_json/
tools/sorrento/
conf/init_bins
conf/hal.ini
conf/device.conf
conf/dol.conf
conf/hntap.conf
debug_cli/swig/ccfiles/p4pd_wrap.cc
debug_cli/swig/pyfiles/p4pd.py
debug_cli/cli/cli.py
debug_cli/cli/cli_wrap.cc
debug_cli/cli/.dir
debug_cli/cli/.swig
nic.tar
nic.tgz
debug.tar
debug.tgz
host.tar
host.tgz
naples.tgz
nic_venice.tgz
test-utils.tgz
pegasus.tgz
debug_cli/cli/cli.py
debug_cli/cli/cli_wrap.cc
debug_cli/cli/.dir
debug_cli/cli/.swig
mmap.bin
build
third-party/gflags/include
third-party/gflags/x86_64
third-party/libdelphi
model.json
mpu_prog_info.json
*.tar
compile_commands.json
bullseye_hal.cov
agent/cmd/halctl/halctl_ext/bash_completion
agent/cmd/halctl/halctl_ext/man_pages
agent/cmd/halctl/halctl_ext/markdown
captrace.syms
*.swo
*.dat
*_log.txt
sdk/third-party/dhcp-server-pkg/aarch64/
sdk/third-party/dhcp-server-pkg/x86_64/
*.delphi.go
# The below three are yet to be removed from git repo checkin.
!delphi/gosdk/client_test.delphi.go
!delphi/gosdk/compiler_test/testproto/compiler_test.delphi.go
!delphi/gosdk/example/upgrade.delphi.go
metaswitch/protos/docs/*

