@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;
$form-width: 450px;

.newsecurityapp-container {
  background: white;
  padding: 0px 10px 10px 10px;

  &:hover {
    background: white;
  }

  .newsecurityapp-content {
    background: white;
    min-height: 180px;
    margin-top: 4* $vertical-gutter;
    @include primary-font();

    .newsecurityapp-input-box {
      height: 30px;

      :first-child {
        height: 30px;
        font-size: 14px;
        width: 100%;
      }
    }

    .newsecurityapp-radios,
    .newsecurityapp-name {
      width: $form-width;
    }

    fieldset {
      border: 1px solid #a9a9a9;
      margin-bottom: 10px;
      padding: 5px;

      legend {
        padding: 0 2px;
        font-size: 14px;
        color: #676763;
      }
    }

    .newsecurityapp-protocolsandports {
      width: $form-width;

      legend {
        width: 120px;
      }

      .newsecurityapp-prot-box {
        width: 170px;
      }
    }

    .newsecurityapp-alg {
      width: $form-width;

      legend {
        width: 25px;
      }

      .newsecurityapp-alg-type,
      .newsecurityapp-alg-icmp-box,
      .newsecurityapp-alg-dns-box,
      .newsecurityapp-alg-ftp-box {
        width: 170px;
      }

      .newsecurityapp-alg-content {
        margin-top: 15px;
        margin-left: 10px;
      }

      .newsecurityapp-toggle-text {
        white-space: normal;
      }

      .newsecurityapp-toggle-color {
        @include global-mat-toggle(rgb(209, 209, 208), rgb(103, 103, 99), rgb(211, 226, 246), rgb(101, 169, 227));
      }
    }

    .newsecurityapp-fieldtitle {
      margin: $vertical-gutter $horizontal-gutter;
    }

    .newsecurityapp-and {
      white-space: nowrap;
      margin-top: 2*$vertical-gutter;
      color: #6ba0e5;
      display: inline-block;
      cursor: pointer;
    }

    .newsecurityapp-del {
      color: #767676;
      cursor: pointer;
    }
  }
}


.newsecurityapp-save,
.newsecurityapp-cancel {
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  line-height: 25px;
  margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;
}


.newsecurityapp-buttoncontainer {
  margin-top: $vertical-gutter;

  .button-container {
    margin-top: 5px;
  }
}

.newsecurityapp-button {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

@media only screen and (min-width: 1024px) {
  .newsecurityapp-buttoncontainer .button-container {
    position: relative;
    max-height: 0px;
  }

  .newsecurityapp-save-tooltip {
    position: relative;
    top: 30px;
  }
}
