@import 'src/global-mixins';

.eventalertpolicies-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index:10;
}

.eventalertpolicies-tablecontainer {
  position: relative;
}

.eventalertpolicies-widget {
  @include primary-font();
}

.eventalertpolicies-button {
    padding-left: 10px;
    padding-right: 10px;
}

.eventalertpolicies-search {
  @include primary-font(16px, #484848);
  margin-left: 15px;

  mat-form-field {
    @include global-mat-form-field;
  }
}

.eventalertpolicies-icon {
  position: absolute;
  top: 8px;
  font-size: 18px;
}

.eventalertpolicies-column-action-div {
  display: inline-flex;
}

.eventalertpolicies-column-action {
  width: 100px !important;
}

.eventalertpolicies-column-name {
  width: 20%;
}

.eventalertpolicies-column-severity {
  width: 150px !important;
}

.eventalertpolicies-column-totalhits,
.eventalertpolicies-column-openalerts {
  width: 10%
}

.eventalertpolicies-column-acknowledgedalerts {
  width: 100px;
}

// This column also includes the action items so we add an extra 100 px
th.eventalertpolicies-column-acknowledgedalerts {
  width: 200px !important;
}

.eventalertpolicies-rowexpand {
  overflow: hidden;
  z-index: 20; // Needs to be higher than .evenalertpolicies-overlay z-index
  position: relative; // needed for z-index to take effect
}

.eventalertpolicies-rowexpand-tr {
  height: 0px !important;
  // text-top interferes with the animation
  vertical-align: top !important;
  > td {
    padding: 0px !important; // Padding interferes with animation on the rowexpands exit
  }
}

.eventalertpolicies-rowhighlight {
  > td {
    z-index: 20; // Needs to be higher than .evenalertpolicies-overlay z-index
    position: relative; // needed for z-index to take effect
    background-color: rgb(234, 241, 249) !important;
  }
}
