@import 'src/global-mixins';

.eventalertpolicies-widget {
  @include primary-font();
  height: 100%;
}

.eventalertpolicies-button {
  padding-left: 10px;
  padding-right: 10px;
}

.eventalertpolicies-search {
  @include primary-font(16px, #484848);
  margin-left: 15px;

  mat-form-field {
    @include global-mat-form-field;
  }
}

.eventalertpolicies-icon {
  position: absolute;
  top: 8px;
  font-size: 18px;
}
