@import 'src/global-mixins';

.helpoverlay {
  @include primary-font(14px);
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.helpoverlay-header {
  background-color: #19191a;
  @include primary-font(24px, #ffffff);
  padding: 0px 10px;
}

.helpoverlay-content {
  background-color: white;
  padding: 15px;
  overflow: scroll;

  img {
    max-width: 100% !important;
  }
}

.helpoverlay-history-buttons {
  cursor: pointer;
}

.helpoverlay-close {
  cursor: pointer;
}

.helpoverlay-missing-icon {
  font-size: 75px;
  color: white;
  height: 75px;
  width: 75px;
  background: #6ba0e5;
  border-radius: 50%;
}

.helpoverlay-missing-text {
  @include primary-font(30px, #676763, 600);
  text-align: center
}
