<button mat-icon-button (click)="toggleHelp($event)">
  <mat-icon>help_outline</mat-icon>
</button>

<ng-template cdkPortal #HelpShell="cdkPortal">
  <div class="helpoverlay" cdkDrag cdkDragRootElement=".cdk-overlay-pane">
    <div fxLayout="row" fxLayoutAlign="start center" class="helpoverlay-header"
         cdkDragHandle>
      <mat-icon fxFlex="nogrow" class="helpoverlay-history-buttons" (click)="backClick()"
                [ngClass]="isBackButtonDisabled() ? 'global-button-disabled' : ''">chevron_left
      </mat-icon>
      <mat-icon fxFlex="nogrow" class="helpoverlay-history-buttons" (click)="forwardClick()"
                [ngClass]="isForwardButtonDisabled() ? 'global-button-disabled' : ''">chevron_right
      </mat-icon>
      <div fxFlex="nogrow">Venice Help</div>
      <div fxFlex></div>
      <mat-icon fxFlex="nogrow" (click)="closeHelp()" class="helpoverlay-close">close</mat-icon>
    </div>
    <div class="helpoverlay-content-wrapper">
      <div class="helpoverlay-content">
        <ng-template [cdkPortalOutlet]="helpPortal"></ng-template>
      </div>
    </div>
  </div>
</ng-template>

<ng-template cdkPortal #DefaultHelp="cdkPortal">
  <div fxFlex fxLayout="column" fxLayoutAlign="center center">
    <mat-icon class="helpoverlay-missing-icon">help</mat-icon>
    <div class="helpoverlay-missing-text">
      No help content is available for this page.
    </div>
  </div>
</ng-template>

<ng-template cdkPortal #DefaultURLHelp="cdkPortal">
  <div (click)="hrefClicked($event)">
    <div [innerHTML]="loadedHTML"></div>
  </div>
</ng-template>
