@import 'src/global-mixins';

.helpoverlay {
  @include primary-font(14px);
  background-color: white;
  height: 400px;
  width: 400px;
  max-height: calc(100vh - 200px);
  max-width: calc(100vw - 60px);
  min-height: 200px;
  min-width: 220px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  resize: both;
  overflow: auto;
}

.helpoverlay-header {
  background-color: #19191a;
  @include primary-font(24px, #ffffff);
  height: 40px;
  padding: 0px 10px;
  pointer-events: auto;
}

.helpoverlay-header.cdk-drag-handle {
  cursor: move;
}

.helpoverlay-content-wrapper {
  height: calc(100% - 40px);
  overflow: visible;
}

.helpoverlay-content {
  height: 100%;
  width: calc(100% - 10px);
  overflow: auto;
  padding: 15px 5px 15px 15px;

  img {
    max-width: 100% !important;
  }
}

.helpoverlay-close,
.helpoverlay-history-buttons,
.helpoverlay-toggle-mode {
  cursor: pointer;
}

.helpoverlay-toggle-mode {
  font-size: 18px;
  line-height: 24px;
}

.helpoverlay-missing-icon {
  font-size: 75px;
  color: white;
  height: 75px;
  width: 75px;
  background: #6ba0e5;
  border-radius: 50%;
}

.helpoverlay-missing-text {
  @include primary-font(30px, #676763, 600);
  text-align: center
}

.helpsidenav.helpoverlay {
  height: calc(100vh - 124px);
  width: 356px;
  max-height: calc(100vh - 124px);
  max-width: 356px;
  min-height: calc(100vh - 124px);
  min-width: 356px;
  resize: none;
}

.helpsidenav .helpoverlay-content {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.helpsidenav .default-url-help {
  width: 100%;
}
