@import 'global-mixins';

.labelselector-expanded {
    height: 35px;
    width: 175px;
    margin: 5px 5px 10px 5px;
    background: url("/assets/images/labelselector/labelselector-expanded-blue.svg") center center no-repeat;
}

.labelselector-collapsed {
    height: 35px;
    width: 50px;
    margin: 5px 5px 10px 5px;
    background: url("/assets/images/labelselector/labelselector-collapsed-blue.svg") center center no-repeat;
}

.labelselector-inputcontainer {
    width: 120px;
}


.labelselector-modal-option {
    @include primary-font(16px);
    height: 25px !important;
}

.labelselector-label-and {
    @include secondary-font(13px, #484848);
	text-align: left;
	color: #484848;

    margin-right: 3px;
    margin-left: 5px;
}

%label-icon {
    width: 24px;
    height: 30px;
    background-color: transparent;
    border-left: solid 1px #97b8df;
    margin-right: 5px;
    font-size: 18px;
    color: #97b8df;
    cursor: pointer;
    &:hover {
        color: #484848;
    }
}

.labelselector-add {
    @extend %label-icon;
    border-left: none;
}

.labelselector-cancel {
    @extend %label-icon;
}