<app-pagebody [icon]="usericon" header="Manage {{whichPanel}}" class="users"
              *ngIf="authusers && authusers.length>0">
  <div pagebody-options>
    <button class="global-button-primary users-toolbar-button users-add-button users-adduser-button"
            [disabled]="isToShowAddUserPanel"
            (click)="onAddUser($event)" *ngIf="whichPanel=='user' && canManageRBAC()"
            matTooltip="Add User">Add User
    </button>
    <button class="global-button-primary users-toolbar-button users-add-button users-addrole-button"
            [disabled]="isToShowAddRolePanel"
            (click)="onAddRole($event)" *ngIf="whichPanel=='role' && canManageRBAC()"
            matTooltip="Add Role">Add Role
    </button>
    <button class="global-button-primary users-toolbar-button users-add-button users-addrolebinding-button"
            [disabled]="isToShowAddRolebindingPanel"
            (click)="onAddRoleBinding($event)" *ngIf="whichPanel=='rolebinding' && canManageRBAC()"
            matTooltip="Add Role-binding">Add
      Rolebinding
    </button>
  </div>
  <div [ngSwitch]="whichPanel">
    <div *ngSwitchCase="'user'">
      <ng-container *ngTemplateOutlet="users;"></ng-container>
    </div>
    <div *ngSwitchCase="'role'">
      <ng-container *ngTemplateOutlet="roles;"></ng-container>
    </div>
    <div *ngSwitchCase="'rolebinding'">
      <ng-container *ngTemplateOutlet="rolebindings;"></ng-container>
    </div>
    <ng-container *ngSwitchDefault>
      {{displayLabels(authusers)}}
      <br />
      {{displayLabels(authRoles)}}
      <br />
      {{displayLabels(authRoleBindings)}}
      <br />
      {{whichPanel}}
    </ng-container>
  </div>
</app-pagebody>

<!-- roles -->
<ng-template #roles>
  <div class="users-adduser-div" *ngIf="isToShowAddRolePanel" [@slideInOut]>
    <app-newrole (formClose)="creationRoleFormClose($event)" [veniceRoles]="authRoles"
                 [selectedAuthRole]="selectedAuthRole"></app-newrole>
  </div>
  <div class="users-panel-content users-panel-content-roles" fxLayout="row wrap"
       *ngIf="authRoles && !isToShowAddRolePanel">
    <div *ngFor="let role of authRoles" class="user-panel-div">
      <ng-container *ngTemplateOutlet="roletemplate; context:{item:role}"></ng-container>
    </div>
  </div>
</ng-template>

<!-- rolebindings -->
<ng-template #rolebindings>
  <div class="users-adduser-div" *ngIf="isToShowAddRolebindingPanel" [@slideInOut]>
    <app-newrolebinding [veniceUsers]="authusers" [veniceRoles]="authRoles"
                        [veniceRolebindings]="authRoleBindings"
                        (formClose)="creationRoleBindingFormClose($event)"
                        [selectedAuthRolebinding]="selectedAuthRolebinding"></app-newrolebinding>
  </div>
  <div class="users-panel-content users-panel-content-rolebindings" fxLayout="row wrap"
       *ngIf="authRoleBindings && !isToShowAddRolebindingPanel">
    <div *ngFor="let rolebinding of authRoleBindings" class="user-panel-div" fxFlex="30%">
      <ng-container *ngTemplateOutlet="rolebindingtemplate; context:{item:rolebinding}">
      </ng-container>
    </div>
  </div>
</ng-template>

<!-- users -->
<ng-template #users>
  <div class="users-adduser-div" *ngIf="isToShowAddUserPanel" [@slideInOut]>
    <app-newuser [authRoleBindings]="authRoleBindings" [authUsers]="authusers"
                 [rolebindingOptions]="rolebindingOptions"
                 (formClose)="creationUserFormClose($event)"></app-newuser>
  </div>
  <div class="users-panel-content  users-panel-content-users" *ngIf="authusers">
    <div *ngFor="let role of getRoles()" class="user-panel-rolegroup">
      <div class="user-panel-rolegroup-header">
        <div fxLayout="row wrap" fxLayoutAlign="start" class="user-panel-rolegroup-header-info-row">
          <div class="user-panel-rolegroup-header-row-item" matTooltip="Role Name">{{role}}</div>
          <div class="user-panel-rolegroup-header-row-item"
               matTooltip="Total number of users for this role">({{getRoleUsers(role).length}})
          </div>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="start" class="user-panel-rolegroup-content">
        <!-- Arrange users in each row group-->
        <div class="user-panel-div" fxFlex="30%" *ngFor="let user of getRoleUsers(role)">
          <ng-container *ngTemplateOutlet="usertemplate; context:{item:user}"></ng-container>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #roletemplate let-role="item">
  <div class="usertemplate-div usertemplate-div_role_{{role?.meta.name}}">
    <div class="usertemplate-div-card" fxLayout="row">
      <div class="usertemplate-div-card-account-circle" fxFlex="none" fxLayout="column">
        <button mat-icon-button class="usertemplate-div-card-icon">
          <mat-icon>account_box</mat-icon>
        </button>
      </div>
      <div class="usertemplate-div-card-content-div" fxFlex fxLayout="column">
        <div class="usertemplate-div-card-username">{{role?.meta.name}}</div>
        <div class="usertemplate-div-card-item">
          {{role?.meta["creation-time"] | date:'MM/dd/yyyy HH:mm a'}}</div>
        <div class="user-panel-role-permissions-div" fxFlex="nogrow" fxLayout="row wrap">
          <div *ngFor="let permission of role.spec.permissions" class="user-panel-role-permission">
            <div class="usertemplate-div-card-item"> tenant: {{permission['resource-tenant']}}
            </div>
            <div class="usertemplate-div-card-item"> group: {{permission['resource-group']}} </div>
            <div class="usertemplate-div-card-item"> kind: {{permission['resource-kind']}} </div>
            <div class="usertemplate-div-card-item"> namespace: {{permission['resource-namespace']}}
            </div>
            <div class="usertemplate-div-card-item"> resource names:</div>
            <div *ngFor="let resourcename of permission['resource-names']">
              <div class="usertemplate-div-card-item usertemplate-div-card-item-action">
                {{resourcename}}
              </div>
            </div>
            <div class="usertemplate-div-card-item"> actions: </div>
            <div *ngFor="let action of permission.actions">
              <div class="usertemplate-div-card-item usertemplate-div-card-item-action"> {{action}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="usertemplate-div-editdelete-buttons-div" fxLayout="column" fxFlex="none">
        <div class="usertemplate-div-card-icon-buttons-div" *ngIf="!isRoleEditMode(role)">
          <div class="usertemplate-div-card-icon-div-edit" *ngIf="showEditRoleButton(role)">
            <button mat-icon-button
                    class="usertemplate-div-card-icon-operation-button usertemplate-div-card-icon-eidt-button">
              <mat-icon [matTooltip]="'Update Role'" class="usertemplate-div-card-icon-button"
                        (click)="onEditRole($event, role)">edit</mat-icon>
            </button>
          </div>
          <div class="usertemplate-div-card-icon-div-delete" *ngIf="showDeleteRoleButton(role)">
            <button mat-icon-button
                    class="usertemplate-div-card-icon-operation-button  usertemplate-div-card-icon-delete-button">
              <mat-icon [matTooltip]="'Delete Role'" class="usertemplate-div-card-icon-button"
                        (click)="onDeleteRole($event, role)">delete</mat-icon>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-template>

<ng-template #usertemplate let-user="item">
  <div class="usertemplate-div usertemplate-div_user_{{user?.meta.name}}">
    <div class="usertemplate-div-card" fxLayout="row">
      <div class="usertemplate-div-card-account-circle" fxFlex="none" fxLayout="column">
        <button mat-icon-button class="usertemplate-div-card-icon">
          <mat-icon>person</mat-icon>
        </button>
      </div>
      <div class="usertemplate-div-card-content-div" fxFlex fxLayout="column">
        <div>
          <span class="usertemplate-div-card-username"
                matTooltip="Login Name">{{user?.meta.name}}</span>
          <span class="usertemplate-div-card-usertype"
                [matTooltip]="user?.spec.type + ' User'">{{user?.spec.type[0]}}</span>
        </div>
        <!--<div class="usertemplate-div-card-username" matTooltip="Login Name">{{user?.meta.name}}</div>-->
        <div class="usertemplate-div-card-username" matTooltip="Full Name">{{user?.spec.fullname}}
        </div>
        <div class="usertemplate-div-card-roles" matTooltip="Role">
          {{ user.status.roles? user.status.roles : 'Administrator'}}</div>
        <div class="usertemplate-div-card-email" matTooltip="Email">
          {{user?.spec.email}}</div>
      </div>
      <div class="usertemplate-div-editdelete-buttons-div"
           *ngIf="canCurrentUserUpdate(user)" fxLayout="column"
           fxFlex="none">
        <div class="usertemplate-div-card-icon-buttons-div" *ngIf="!isUserEditMode(user)">
          <div class="usertemplate-div-card-icon-div-edit" *ngIf="showEditUserButton(user)">
            <button mat-icon-button
                    class="usertemplate-div-card-icon-operation-button usertemplate-div-card-icon-eidt-button">
              <mat-icon [matTooltip]="'Update user'" class="usertemplate-div-card-icon-button"
                        (click)="onEditUser($event, user)">edit</mat-icon>
            </button>
          </div>
          <div class="usertemplate-div-card-icon-div-edit" *ngIf="showEditButton(user)">
            <button mat-icon-button
                    class="usertemplate-div-card-icon-operation-button usertemplate-div-card-icon-changepassword-button">
              <mat-icon [matTooltip]="'Change password'" class="usertemplate-div-card-icon-button"
                        (click)="onChangePassword($event, user)">vpn_key</mat-icon>
            </button>
          </div>
          <div class="usertemplate-div-card-icon-div-delete" *ngIf="showDeleteUserButton(user)">
            <button mat-icon-button
                    class="usertemplate-div-card-icon-operation-button  usertemplate-div-card-icon-delete-button">
              <mat-icon [matTooltip]="'Delete user'" class="usertemplate-div-card-icon-button"
                        (click)="onDeleteUser($event, user)">delete</mat-icon>
            </button>
          </div>
        </div>
        <div class="usertemplate-div-card-icon-buttons-div" *ngIf="isUserEditMode(user)">
          <div class="usertemplate-div-card-icon-div-save">
            <button mat-icon-button
                    class="usertemplate-div-card-icon-operation-button usertemplate-div-card-icon-save-button"
                    [disabled]="!isSelectedAuthUserInputValid()"
                    (click)="onSaveEditUser($event, user)">
              <mat-icon [matTooltip]="'Save user change'"
                        class="usertemplate-div-card-icon-button usertemplate-UserEditMode">save
              </mat-icon>
            </button>
          </div>
          <div class="usertemplate-div-card-icon-div-cancel">
            <button mat-icon-button
                    class="usertemplate-div-card-icon-operation-button usertemplate-div-card-icon-cancel-button">
              <mat-icon [matTooltip]="'Cancel user update'"
                        class="usertemplate-div-card-icon-button usertemplate-UserEditMode"
                        (click)="onCancelEditUser($event, user)">cancel</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>


    <div class="usertemplate-div-card-edituser-div"
         *ngIf="isUserEditMode(user) && userEditAction==='changepassword'"
         [formGroup]="authPasswordChangeRequest.$formGroup">
      <div fxLayout="row wrap" fxLayoutAlign="start" class="usertemplate-rolegroup-header-edit-row">
        <div
             class="usertemplate-rolegroup-header-edit-label usertemplate-rolegroup-header-edit-label-oldpassword">
          Old Password:</div>
        <div class="usertemplate-rolegroup-header-add-property-value">
          <input fxFlex="200px" formControlName="old-password"
                 class="user-edit-input-item user-edit-Password"
                 spellcheck="false" type="password" pInputText placeholder="Password..."
                 appErrorTooltip>
        </div>
      </div>
      <div fxLayout="row" class="usertemplate-rolegroup-header-edit-row">
        <div
             class="usertemplate-rolegroup-header-edit-label usertemplate-rolegroup-header-edit-label-newpassword">
          New Password:</div>
        <div class="usertemplate-rolegroup-header-add-property-value">
          <input fxFlex="200px" formControlName="new-password"
                 class="user-edit-input-item user-edit-Password"
                 spellcheck="false" type="password" pInputText placeholder="New Password..."
                 appErrorTooltip>
        </div>
      </div>
      <div fxLayout="row" class="usertemplate-rolegroup-header-edit-row">
        <div
             class="usertemplate-rolegroup-header-edit-label usertemplate-rolegroup-header-edit-label-confirmnewpassword">
          Confirm New Password:</div>
        <div class="usertemplate-rolegroup-header-add-property-value">
          <input fxFlex="200px" formControlName="confirm-new-password"
                 class="user-edit-input-item user-edit-Password"
                 spellcheck="false" type="password" pInputText placeholder="Confirm New Password..."
                 appErrorTooltip>
        </div>
      </div>
    </div>

    <div class="usertemplate-div-card-edituser-div"
         *ngIf="isUserEditMode(user) && userEditAction==='update'">
      <div fxLayout="row wrap" fxLayoutAlign="start" class="usertemplate-rolegroup-header-edit-row"
           *ngIf="canManageRBAC()">
        <div class="usertemplate-rolegroup-header-edit-label">New Roles:</div>
        <p-multiSelect class="user-rolebinding" fxFlex="200px" styleClass="user-rolebinding-select"
                       [options]="rolebindingOptions" [filter]="false" [showToggleAll]="false"
                       [showHeader]="false"
                       [(ngModel)]="selectedRolebindingsForUsers" dataKey="meta.name">
        </p-multiSelect>
      </div>
      <div [formGroup]="selectedAuthUser.$formGroup">
        <div fxLayout="row" formGroupName="meta" class="usertemplate-rolegroup-header-edit-row">
          <div class="usertemplate-rolegroup-header-edit-label">Login Name:</div>
          <div class="usertemplate-rolegroup-header-add-property-value">
            <input fxFlex="200px" formControlName="name"
                   class="user-edit-input-item user-edit-Password"
                   spellcheck="false" type="text" pInputText placeholder="Login Name...">
          </div>
        </div>
        <div fxLayout="row" formGroupName="spec" class="usertemplate-rolegroup-header-edit-row">
          <div class="usertemplate-rolegroup-header-edit-label">Full Name:</div>
          <div class="usertemplate-rolegroup-header-add-property-value">
            <input fxFlex="200px" formControlName="fullname"
                   class="user-edit-input-item user-edit-Password"
                   spellcheck="false" type="text" pInputText placeholder="Full Name...">
          </div>
        </div>
        <div fxLayout="row" formGroupName="spec" class="usertemplate-rolegroup-header-edit-row">
          <div class="usertemplate-rolegroup-header-edit-label">Email:</div>
          <div class="usertemplate-rolegroup-header-add-property-value">
            <input fxFlex="200px" formControlName="email"
                   class="user-edit-input-item user-edit-Password"
                   spellcheck="false" type="text" pInputText placeholder="Email">
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #rolebindingtemplate let-rolebinding="item">
  <div class="usertemplate-div  usertemplate-div_rolebinding_{{rolebinding?.meta.name}}">
    <div class="usertemplate-div-card" fxLayout="row">
      <div class="usertemplate-div-card-account-circle" fxFlex="none" fxLayout="column">
        <button mat-icon-button class="usertemplate-div-card-icon">
          <mat-icon>account_box</mat-icon>
        </button>
      </div>
      <div class="usertemplate-div-card-content-div" fxFlex fxLayout="column">
        <div class="usertemplate-div-card-username">{{rolebinding?.meta.name}}</div>
        <div class="usertemplate-div-card-item">Created: {{rolebinding?.meta["creation-time"] |
                    date:'MM/dd/yyyy HH:mm a'}}</div>
        <div class="usertemplate-div-card-item">Role: {{rolebinding?.spec.role}}</div>
        <div class="user-panel-role-permissions" fxFlex="nogrow" fxLayout="row wrap">
          <div *ngFor="let rbuser of rolebinding.spec.users" class="user-panel-role-permission">
            <div class="usertemplate-div-card-item"> {{rbuser}} </div>
          </div>
        </div>
      </div>
      <div class="usertemplate-div-editdelete-buttons-div"
           fxLayout="column" fxFlex="none">
        <div class="usertemplate-div-card-icon-buttons-div"
             *ngIf="!isRoleBindingEditMode(rolebinding)">
          <div class="usertemplate-div-card-icon-div-edit"
               *ngIf="showEditBindingRoleButton(rolebinding)">
            <button mat-icon-button
                    class="usertemplate-div-card-icon-operation-button usertemplate-div-card-icon-eidt-button">
              <mat-icon [matTooltip]="'Update RoleBinding'"
                        class="usertemplate-div-card-icon-button"
                        (click)="onEditRoleBinding($event, rolebinding)">edit</mat-icon>
            </button>
          </div>
          <div class="usertemplate-div-card-icon-div-delete"
               *ngIf="showDeleteRoleBindingButton(rolebinding)">
            <button mat-icon-button
                    class="usertemplate-div-card-icon-operation-button  usertemplate-div-card-icon-delete-button">
              <mat-icon [matTooltip]="'Delete RoleBinding'"
                        class="usertemplate-div-card-icon-button"
                        (click)="onDeleteRoleBinding($event, rolebinding)">delete</mat-icon>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</ng-template>
