<div *ngIf="alert" class="alertlistitem-widget"
     [ngClass]="{'alertlistitem-widget-check':alert.check}" (click)="onAlertItemClick($event)">
  <div class="alertlistitem-front-group-div">
    <mat-icon *ngIf="getAlertItemSeverity() === 'info'" fxFlex="none"
              [ngClass]="getAlertItemIconClass()" [matTooltip]="getAlertItemIconTooltip()">
      info
    </mat-icon>
    <mat-icon *ngIf="getAlertItemSeverity() === 'warn'" fxFlex="none"
              [ngClass]="getAlertItemIconClass()" [matTooltip]="getAlertItemIconTooltip()">
      warning
    </mat-icon>
    <mat-icon *ngIf="getAlertItemSeverity() === 'critical'" fxFlex="none"
              [ngClass]="getAlertItemIconClass()" [matTooltip]="getAlertItemIconTooltip()">
      error
    </mat-icon>
  </div>
  <div class="alertlistitem-back-group-div">
    <div class="alertlistitem-back-group-div-toprow">
      <span class="alertlistitem-display-text-bold alertlistitem-label">
        {{alert.status['alert-policy-id']}}</span>
      <span class="alertlistitem-display-text alertlistitem-check" *ngIf="alert.check"><i
           class="fa fa-check"></i></span>
    </div>
    <div class="alertlistitem-display-text-bold alertlistitem-desc">{{alert.status.message}}</div>
    <div>
      <span
            class="alertlistitem-display-text-small alertlistitem-user">{{alert.status.source.component}}
        <a href="{{alert['alertSourceNameLink']}}" [matTooltip]="getAlertItemSourceNameTooltip()"
           (click)="onAlertItemSourceNameClick()">{{alert.status.source['node-name']}}</a>
        {{alert.status['object-ref'].kind}}</span>
      <span
            class="alertlistitem-display-text-small alertlistitem-time">{{alert.meta['creation-time']| PrettyDate }}</span>
    </div>
  </div>

</div>
