@import 'styles';

.alertlist-widget {
  @include primary-font();
}

.alertlist-header-div {
  width: 100%;
  height: 43px;
  background-color: #595959;
  color: #ffffff;
}

.alertlist-main-menu {
  display: inherit;
  vertical-align: middle;
  padding: 10px 5px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
}

.alertlist-main-menu-label {
  font-size: 16px;
  font-weight: 500;
  height: 22px;
  margin-right: 5px;
}

.alertlist-main-menu-number-front-group-div {
  float: left;
}

.alertlist-main-menu-number-back-group-div {
  float: right;
  margin-top: 4px;
}

.alertlist-main-menu-number {
  height: 18px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  border-radius: 10px;
  padding: 3px 8px;
  margin: auto 10px;
  cursor: pointer;
}

.alertlist-main-menu-number-total {
  background-color: #898989;
}

.alertlist-main-menu-number-critical {
  background-color: #dd3b09;
}

.alertlist-main-menu-number-warning {
  background-color: #fcb710;
}

.alertlist-main-menu-number-info {
  background-color: #6ba0e5;
}

.alertlist-menu-indicator {
  position: absolute;
  top: 39px;
  left: 0px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 6px 6px 6px;
  border-color: transparent transparent #fff transparent;
  -webkit-transition: all 500ms cubic-bezier(0.385, 0.625, 0.140, 1.0);
  -moz-transition: all 500ms cubic-bezier(0.385, 0.625, 0.140, 1.0);
  -ms-transition: all 500ms cubic-bezier(0.385, 0.625, 0.140, 1.0);
  -o-transition: all 500ms cubic-bezier(0.385, 0.625, 0.140, 1.0);
  transition: all 500ms cubic-bezier(0.385, 0.625, 0.140, 1.0);
}

/** set 704px to prevent html-body scroll bar showing up */
.alertlist-items-div {
  max-height: 704px;
  overflow-y: auto;
}

.alertlist-empty-items-div {
  width: 100%;
  height: 200px;
  background: #fff;
  margin-top: 20px;
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.alertlist-empty-items-img {
  height: 160px;
  background: url("/assets/images/alerts/no-alerts-bell.svg") center center no-repeat;
}

.alertlist-empty-items-label {
  width: 100px;
  height: 22px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: condensed;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #dddddd;
  margin: auto;
  display: block;
}

.alertlist-footer-div {
  background-color: #373737;
  height: 40px;
  padding: 10px 5px;
  text-align: center;
}

.alertlist-footer-label {
  color: #ffffff;
}

.alertlist-foote-expand {
  float: right;
  color: #fff;
  margin-right: 10px;
  cursor: pointer;
}