<div [style.width]="'100%'" fxLayout="column">
  <div fxFlex="auto" fxLayout="row" fxLayoutAlign="center start" class="newtechsupport-container">
    <div fxFlex="auto" fxLayout="row" fxLayoutAlign="start stretch"
         class="newtechsupport-content" [formGroup]="newTechsupport.$formGroup">

      <div fxFlex="nogrow" fxLayout="column">
        <div fxFlex="nogrow" fxLayout="row" formGroupName="meta" class="newtechsupport-row">
          <!-- First row-->
          <input fxFlex="300px" formControlName="name" class="newtechsupport-name" appErrorTooltip
                 spellcheck="false"
                 type="text" pInputText placeholder="Unique Techsupport Name...">
        </div>
        <div fxFlex="25px"></div>
        <!-- Buffer, creating as a div so there are no hiccups in the animation-->

        <div fxFlex="noshrink" fxLayout="row" class="newtechsupport-row" formGroupName="spec">
          <div fxFlex="nogrow" class="newtechsupport-text">Node Names:</div>
          <div formGroupName="node-selector">
            <input fxFlex="300px" formControlName="names" class="newtechsupport-nodes"
                   appErrorTooltip
                   spellcheck="false" type="text" pInputText placeholder="Nodes: node1, nic-1...">
          </div>
        </div>

        <!-- Per agreement, backend does not support label selector yet. Comment it out. Will use p-pickList in next PR
        <ng-container *ngTemplateOutlet="divider"></ng-container>
        <div fxFlex="noshrink" fxLayout="row"
             class="newtechsupport-row newtechsupport-row-nodeselector">
          <div fxFlex="nogrow" class="newtechsupport-text">Node Selector:</div>
          <app-repeater #nmlabelRepeater [data]="cslabelData" [formArray]="nmlabelFormArray">
          </app-repeater>
        </div>

        <ng-container *ngTemplateOutlet="divider"></ng-container>

        <div fxFlex="noshrink" fxLayout="row"
             class="newtechsupport-row  newtechsupport-row-collectionselector">
          <div fxFlex="nogrow" class="newtechsupport-text">Collection Selector:</div>
          <app-repeater #cslabelRepeater [data]="cslabelData" [formArray]="cslabelFormArray">
          </app-repeater>
        </div>

        <ng-container *ngTemplateOutlet="divider"></ng-container>
        -->
        <div fxFlex="10px"></div>
        <!-- Buffer, creating as a div so there are no hiccups in the animation-->


      </div>
    </div>
  </div>

  <div fxFlex="0px" class="newtechsupport-border"></div>

</div>

<ng-template #divider>
  <div fxFlex="20px" fxLayout="row">
    <div fxFlex="30px"></div>
    <div fxFlex="auto" class="newtechsupport-divider"></div>
    <div fxFlex="30px"></div>
  </div>
</ng-template>
