@import 'src/global-mixins';
$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.newrollout-order {
  .newrollout-order-hoverbuttons {
    display: none;
  }

  &:hover {
    .newrollout-order-hoverbuttons {
      display: inherit;
    }
  }
}

.newrollout-addneworder {
  font-size: 16px;
  width: 100px
}

.newrollout-addneworder-clear {
  margin-right: 10px;
}

.newrollout-container {
  background: white;

  &:hover {
    background: white;
  }
}

.newrollout-order-matchcount {
  min-width: 24px;
  height: 24px;
  border-radius: 4.5px;
  background-color: #d1cec7;
  font-weight: 500;
  padding-left: 5px;
  padding-right: 5px;
  @include primary-font(18px, #FFFFFF);
}

.newrollout-order-header {
  @include primary-font(16px);
  min-height: 25px;
  white-space: nowrap;
  overflow: hidden;
}

.newrollout-order-buttons {
  cursor: pointer;
}

.newrollout-content {
  background: white;
  min-height: 180px;
  margin-top: 4* $vertical-gutter;
  @include primary-font();
}

.newrollout-font {
  @include primary-font();
}

.newrollout-row {
  margin: 0px $horizontal-gutter;
}

.newrollout-toggle {
  margin: 10px;
  @include global-mat-toggle(rgb(209, 209, 208), rgb(103, 103, 99), rgb(211, 226, 246), rgb(101, 169, 227));
}

.newrollout-input-common {
  margin: $vertical-gutter $horizontal-gutter;
  height: 30px !important;
}

.newrollout-name {
  margin-left: 0px;
}

.newrollout-save,
.newrollout-cancel {
  display: inline-block;
  padding: 4px 10px;
  line-height: 25px;
  margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;
}

.newrollout-buttoncontainer {
  margin-top: 1.5 * $vertical-gutter;
}

.newrollout-version-desc,
.newrollout-text {
  margin-top: 2 * $vertical-gutter;
  height: 30px;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 150px; // set minimum label width. 
}

.newrollout-version-desc {
  margin-left: 20px;
}

.newrollout-text.newrollout-text-upgradetype {
  margin-left: 30px;
}

.newrollout-and {
  color: #6ba0e5;
  display: inline-block;

  >span:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  >mat-icon:hover {
    cursor: pointer;
  }
}

.newrollout-toolbar-button {
  @include primary-font(16px, #ffffff);
  height: 30px;
  text-align: center;
  width: 120px;
  display: block;
  padding: 0px 10px;
}

/** customize calendar's internal input */
.newrollout-calendar>input.ui-inputtext {
  padding: 5px !important;
}

.newrollout-divider {
  border-bottom: 1px solid #dddddd;
}

.newrollout-toggle {
  margin: 10px;
  @include global-mat-toggle(rgb(209, 209, 208), rgb(103, 103, 99), rgb(211, 226, 246), rgb(101, 169, 227));
}

.newrollout-title {
  margin: 20px;
  @include primary-font(18px, #676763, 500);
}

.newrollout-edit-button {
  width: 100px;
}

.newrollout-calendar {
  margin-left: 10px;
}

.newrollout-calendar>input.ui-inputtext {
  width: 170px; // line up the calendar widget
}

.newrollout-dropdown-label {
  font-size: 14px;
  margin-top: 4px;
}

.newrollout-dropdown-div {
  position: relative;
  height: 25px;
}

.newrollout-select-button-div {
  margin: 0px 0px 10px 20px;
}

.newrollout-select-button-div .ui-selectbutton .ui-button.ui-state-active {
  background: #97b8df;
}

.newrollout-select-button-div .ui-selectbutton .ui-button {
  margin-right: 5px;
}

.newrollout-schedulenow-checkbox {
  margin: 10px 10px 10px 20px;
}

.newrollout-schedulenow-text {
  margin: 10px 0px;
}

//VS-492  firefox issue with input.type=number. Ensure not breaking other browsers
.newrollout .newrollout-row input.ui-inputtext:not(.ui-dropdown-filter) {
  padding: 0px 10px;
}

.newrollout-order-template.newrollout-hide-primeng-panel .newrollout-select-panel {
  display: none;
}

.newrollout .label.newrollout-schedulenow-text.ui-chkbox-label.ui-label-disabled {
  opacity: 0.5;
}

.newrollout .newrollout-schedulenow-text.ui-label-disabled {
  opacity: 0.5;
}
