@import '~@angular/material/theming';

/*********  Font Mixins  *********/
@mixin primary-font($size: 14px, $color: #676763, $weight: normal) {
  font-family: "Fira Sans Condensed";
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

@mixin secondary-font($size: 14px, $color: #676763, $weight: normal) {
  font-family: "Roboto Condensed";
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

/*********  Material design related overrides  *********/
@mixin global-mat-toggle($toggleBar, $toggleThumb, $toggleBarChecked, $toggleThumbChecked) {
  &.mat-disabled {
    opacity: 0.4 !important;
  }

  .mat-slide-toggle-content {
    @include primary-font();
  }

  &.mat-slide-toggle.mat-accent .mat-slide-toggle-bar {
    background-color: $toggleBar;
  }

  &.mat-slide-toggle.mat-accent .mat-slide-toggle-thumb {
    background-color: $toggleThumb;
  }

  &.mat-slide-toggle.mat-accent.mat-checked .mat-slide-toggle-bar {
    background-color: $toggleBarChecked;
  }

  &.mat-slide-toggle.mat-accent.mat-checked .mat-slide-toggle-thumb {
    background-color: $toggleThumbChecked;
  }
}

@mixin global-mat-radio($mat-radio-size) {

  // Container for radio circles and ripple.
  .mat-radio-container {
    width: $mat-radio-size !important;
    height: $mat-radio-size !important;
  }

  .mat-radio-button .mat-radio-ripple {
    visibility: hidden;
  }

  // The outer circle for the radio, always present.
  .mat-radio-outer-circle {
    height: $mat-radio-size !important;
    width: $mat-radio-size !important;
  }

  // The inner circle for the radio, shown when checked.
  .mat-radio-inner-circle {
    height: $mat-radio-size;
    width: $mat-radio-size;

    .mat-radio-checked & {
      @include cdk-high-contrast {
        // Since we use a background color to render the circle, it won't be
        // displayed in high contrast mode. Use a border as a fallback.
        border: solid $mat-radio-size / 2;
      }
    }
  }
}

/**
  * This is a mixin so that it will override Material's css rules
  * when it is included in a css rule on that page 
  */
@mixin global-mat-form-field() {
  @include primary-font(14px);
  margin-left: 8px;
  margin-top: 7px;

  .mat-form-field-underline {
    background-color: rgb(221, 221, 221);
  }
}

/**
 * Overrides material's theming of tabs. Adapted from material's tab theming file.
 */
@mixin tabs-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $header-border: #dddddd;

  .mat-tab-nav-bar,
  .mat-tab-header {
    border-top: $header-border;
    border-bottom: none;
    box-shadow: inset 0px 0px 0px 1px #dddddd;
  }

  .mat-tab-label,
  .mat-tab-link {
    opacity: 1;
    @include primary-font(16px);
    border: 1px solid $header-border;
    border-left: none;

    &:not(.mat-tab-label-active):not(.mat-tab-disabled):hover {
      box-shadow: inset 0px -3px 0px 0px #dddddd;
    }

    &.mat-tab-disabled {
      color: rgb(215, 216, 223);
      opacity: 0.6;
    }
  }

  .mat-tab-header-pagination-chevron {
    border-color: #676763;
  }

  .mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
    border-color: rgb(215, 216, 223);
  }

  // Remove header border when there is a background color
  .mat-tab-group[class*='mat-background-'] .mat-tab-header,
  .mat-tab-nav-bar[class*='mat-background-'] {
    border-left: $header-border;
    border-right: $header-border;
    border-top: none;
  }

  .mat-tab-group,
  .mat-tab-nav-bar {
    $highlightColor: #6ba0e5;

    // Set the foreground color of the tabs
    &.mat-primary {
      @include _tab-label-focus();
      @include _ink-bar($highlightColor);
    }

    &.mat-background-primary {
      .mat-ripple-element {
        background-color: red;
      }
    }
  }
}

@mixin _ink-bar($color, $hue: default) {
  .mat-ink-bar {
    display: none;
  }
}

@mixin _tab-label-focus() {

  .mat-tab-label:not(.mat-tab-disabled):focus,
  .mat-tab-link:not(.mat-tab-disabled):focus {
    background-color: white;
  }

  .mat-tab-label-active {
    opacity: 1;
    color: #6ba0e5;
    box-shadow: inset 0px 3px 0px 0px #6ba0e5;
    border-top: 1px solid #6ba0e5;
    border-bottom: 1px solid white;
  }
}

/* The following rules customzie primeng widgets UI.  theme.scss includes this mixin.  Once it is stablized, we should move it to web-app-framework */
@mixin penui-primeng-misc($theme) {
  $matchColor: #6ba0e5;
  $fontColor: currentColor;

  .ui-chkbox-box.ui-state-active,
  .ui-radiobutton-box.ui-state-active {
    border: 1px solid #86a8d7;
    background: #86a8d7;
    color: #ffffff;
  }

  .ui-widget.ui-button,
  .ui-button {
    border: 1px solid #97b8df;
    background: #97b8df;
    margin-top: 1px;

    &:hover {
      background: #86a8d7;
    }
  }

  .ui-state-highlight {
    background: none;
    color: currentColor;
  }

  .ui-picklist {
    @include primary-font(16px);
  }

  .ui-listbox .ui-listbox-list .ui-listbox-item.ui-state-highlight {
    color: #ffffff;
    background-color: #86a8d7;
  }

  .ui-picklist .ui-picklist-item.ui-state-highlight {
    border-color: #86a8d7;
    background-color: #86a8d7 !important;
    color: #ffffff !important;
  }

  .ui-picklist .ui-picklist-filter-container .ui-picklist-filter-icon {
    position: absolute;
    top: 50%;
    left: auto;
    margin-top: -.6em;
    right: 0.5em;
    color: #1b1d1f;
  }

  .ui-chips {
    @include primary-font(16px);
  }

  .ui-chips ul.ui-inputtext .ui-chips-token {
    background: #86a8d7 !important;
    color: #ffffff !important;
    ;
  }

  .ui-chips .ui-chips-token .ui-chips-token-icon {
    right: 10px;
  }

  .ui-chips .ui-inputtext {
    padding-left: 0px;
  }

  .ui-chips :focus {
    outline-width: 1px !important;
  }

  .ui-datepicker {
    @include primary-font(16px);
  }

  div.ui-float-label,
  span.ui-float-label {
    margin-top: 10px;
  }

  .ui-datepicker .ui-datepicker-current-day>a,
  .ui-datepicker .ui-datepicker-current-day.ui-datepicker-today>a {
    color: #ffffff;
    background-color: #86a8d7 !important;
  }

  .ui-datepicker .ui-datepicker-today>a {
    background-color: #d6d6d6 !important;
  }

  //remove bottom padding on the options of the multiselection box
  .ui-multiselect-items {
    li {
      label {
        margin-bottom: 0px;
      }
    }
  }

  // adding style for multi select box when the value is invalid
  p-multiselect.ng-invalid {
    .ui-multiselect {
      border-color: #e57553 !important;
    }

    .ui-multiselect-open {
      border: solid 1px #e57553 !important;
      box-shadow: inset 5px 0 0 0 #e57553 !important;

      .ui-multiselect-label {
        box-shadow: inset 5px 0 0 0 #e57553 !important;
      }
    }
  }

  .ui-float-label {

    .cdk-focused~label,
    .ui-inputwrapper-focus~label {
      color: $matchColor
    }
  }

  // create required label class
  div.requiredLabel,
  span.requiredLabel {
    color: red;

    &:before {
      content: '*';
      position: relative;
      top: 2px;
      margin-right: 2px;
    }
  }

  .app-formchips-requiredField,
  .requiredField {
    color: #dd3b09;

    &:before {
      content: '*';
      position: relative;
      font-size: 16px;
      top: 2px;
      margin-right: 2px;
    }

    >label {
      left: 1.25em;
    }
  }

  .selectboxWithValue.ui-float-label>label {
    top: -.75em;
    font-size: 12px;
  }

  .requiredField {
    :first-child {
      width: calc(100% - 10px) !important;
    }
  }

  .app-formchips-requiredField {
    &:before {
      top: 14px;
    }

    label {
      left: 0.5em;
    }
  }
}

$sidenavWidthNum: 220;
$sidenavWidth: #{$sidenavWidthNum}px;
$sidenavPartialWidthNum: 80;
$sidenavPartialWidth: #{$sidenavPartialWidthNum}px;

@mixin adjust-inlinebuttons-boundry-screensize ($maxWidth, $mainContentClass, $formClass) {
  @media only screen and (max-width: $maxWidth) {
    .#{$mainContentClass} .#{$formClass} {
      margin-top: 35px;
    }
  }
}

@mixin adjust-inlinebuttons-boundry($maxWidth, $formClass) {
  @include adjust-inlinebuttons-boundry-screensize(#{$maxWidth}px, menufullopened, $formClass);
  @include adjust-inlinebuttons-boundry-screensize(#{$maxWidth - $sidenavWidthNum + $sidenavPartialWidthNum}px, menupartialopened, $formClass);
  @include adjust-inlinebuttons-boundry-screensize(#{$maxWidth - $sidenavWidthNum}px, menuclosed, $formClass);
}

$backgroundGradient: linear-gradient(to bottom, rgba(245, 242, 235, 1), rgba(245, 242, 235, 0.5));
$topbarGradient: linear-gradient(to right, rgba(213, 213, 213, 1), rgba(213, 213, 213, 0));
