/* You can add global styles to this file, and also import other style files 
 * This file does not need to be imported by any file except for theme.scss.
 */
@import '~@angular/material/theming';
@import 'global-mixins';

@mixin global-styles($theme) {
  $colorPalette: map-get($theme, colors);

  %button_base {
    border-radius: 2px;
    cursor: pointer;
    &:active {
        box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.5);
    }
    font-family: 'Fira Sans Condensed';
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
  }
  /* Button styling */
  .global-button-disabled {
      opacity: 0.3;
      cursor: default;
  }
  
  .global-button-primary {
      @extend %button_base;
      background-color: map-get($colorPalette, primary);
      &:hover {
        background-color: map-get($colorPalette, primary_hover);
      }
  }
  
  .global-button-secondary {
      @extend %button_base;
      background-color: map-get($colorPalette, secondary);
      &:hover {
        background-color: map-get($colorPalette, secondary_hover);
      }
  }
  
  .global-button-warning {
      @extend %button_base;
      background-color: map-get($colorPalette, warning);
      &:hover {
        background-color: map-get($colorPalette, warning_hover);
      }
  }
  
  .global-button-neutral {
      @extend %button_base;
      background-color: map-get($colorPalette, neutral);
      &:hover {
        background-color: map-get($colorPalette, neutral_hover);
      }
  } 

  .penui-table-header-icon{
      margin-right:5px;
  }

  .global-mat-expansion-panel {
    background: rgba(251, 251, 251, 1) !important;
    box-shadow: none !important;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;
    .mat-expansion-panel-content {
      border-top: solid 1px #dddddd;
    }
    .mat-expansion-panel-header {
      background: white;
      &:focus {
        background: white !important;
      }
      &:hover {
        background: rgba(244, 249, 255, 1) !important;
      }

      mat-panel-title {
        @include primary-font(20px, #484848);
      }
    }

    div {
      @include primary-font(16px);
    }
  }

  /*********  Prime NG overrides  *********/
  .global-primeng-table {
    .ui-table {
      .ui-table-caption {
          background: #ffffff;
      }
      //Column headers
      .ui-table-thead > tr > th {
        @include primary-font();
        background-color: #e7e7e3 !important;;
        text-align: left;
        // font-size: 14px !important; 

        &:hover, 
        &.ui-state-highlight {
          color: #353532 !important;
          background-color: #cfcfcb !important;
        }
      }
      // Body
      .ui-table-tbody > tr {
        background-color: white;
        color: #767676;
        height: 36px;
        vertical-align: text-top;

        //We skip the first so that the checkboxes are the same size
        //as the one in the header
        > td:not(:first-child) {
          text-align: left;
          font-size: 12px !important;
          font-family: "Roboto Condensed";
          
        }

        &:hover {
          background-color: rgb(246, 246, 246);
          color: #767676;
        }

        &.ui-state-highlight {
          background-color: #eaf1f9 !important;
          color: black !important;
        }

        .ui-chkbox-box.ui-state-active {
          background-color: #6ba0e5 !important;
          border-color: #6ba0e5 !important;
        }
      }
      
      .ui-chkbox-box.ui-state-default {
          border: 2px solid #676763;
          &:hover {
              border-color: #343434;
          }
      }
    }
  } 
}


