/* You can add global styles to this file, and also import other style files 
 * This file does not need to be imported by any file except for theme.scss.
 */
@import '~@angular/material/theming';
@import 'src/global-mixins';

@mixin global-styles($theme) {
  $colorPalette: map-get($theme, colors);
  $horizontal-gutter: 10px;
  $vertical-gutter: 5px;

  %button_base {
    outline: none;
    border-radius: 2px;
    cursor: pointer;

    &:active {
      box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.5);
    }

    font-family: 'Fira Sans Condensed';
    font-weight: 500;
    text-align: center;
    color: #ffffff;
  }

  /* Alert color stylings */
  .global-alert-critical {
    background-color: #dd3b09;
  }

  .global-alert-warning {
    background-color: #fcb710;
  }

  .global-alert-info {
    background-color: #6ba0e5;
  }

  .global-alert-neutral {
    background-color: #898989;
  }

  /* Alert color stylings */
  .global-alert-critical-icon {
    color: #dd3b09;
  }

  .global-alert-warning-icon {
    color: #fcb710;
  }

  .global-alert-info-icon {
    color: #6ba0e5;
  }

  .global-multi-records-delete-icon {
    cursor: pointer;
    color: #676763;
  }

  /* Button styling */
  .global-button-disabled {
    &:active {
      pointer-events: none;
    }

    opacity: 0.3;
    cursor: default;
  }

  .global-button {
    @extend %button_base;
  }

  .global-button-primary {
    @extend %button_base;
    background-color: map-get($colorPalette, primary);

    &:hover {
      background-color: map-get($colorPalette, primary_hover);
    }
  }

  .global-button-secondary {
    @extend %button_base;
    background-color: map-get($colorPalette, secondary);

    &:hover {
      background-color: map-get($colorPalette, secondary_hover);
    }
  }

  .global-button-warning {
    @extend %button_base;
    background-color: map-get($colorPalette, warning);

    &:hover {
      background-color: map-get($colorPalette, warning_hover);
    }
  }

  .global-button-neutral {
    @extend %button_base;
    background-color: map-get($colorPalette, neutral);

    &:hover {
      background-color: map-get($colorPalette, neutral_hover);
    }
  }

  .global-button-hide {
    display: none;
  }

  .global-button-padding {
    padding-left: 10px;
    padding-right: 10px;
  }

  .global-add-button {
    white-space: nowrap;
    margin-top: 2*$vertical-gutter;
    color: #6ba0e5;
    display: inline-block;
    cursor: pointer;
  }

  .global-trash-button {
    color: #767676;
    cursor: pointer;

    &:hover {
      color: black;
    }
  }

  .penui-table-header-icon {
    margin-right: 5px;
  }

  .global-mat-expansion-panel {
    background: rgba(251, 251, 251, 1) !important;
    box-shadow: none !important;
    border-top: solid 1px #dddddd;
    border-bottom: solid 1px #dddddd;

    .mat-expansion-panel-content {
      border-top: solid 1px #dddddd;
    }

    .mat-expansion-panel-header {
      background: white;

      &:focus {
        background: white !important;
      }

      &:hover {
        background: rgba(244, 249, 255, 1) !important;
      }

      mat-panel-title {
        @include primary-font(20px, #484848);
      }
    }

    div {
      @include primary-font(16px);
    }
  }

  // Following are used for having action items 
  // that appear on row hover
  .global-column-action {
    width: 5%;
  }

  .global-column-action-icon-container {
    position: absolute;
    top: 0px;
    right: 20px;
  }

  .global-table-action-icon {
    font-size: 25px;
    height: 36px;
    width: 36px;
    padding-left: 6px;
    padding-top: 5px;
    cursor: pointer;

    &:hover {
      color: black;
      background-color: rgba(black, 0.12);
      border-radius: 50%;
    }
  }

  .global-table-action-svg-icon {
    font-size: 25px;
    height: 36px;
    width: 36px;
    padding: 8px 7px 7px 9px;
    cursor: pointer;

    &:hover {
      color: black;
      background-color: rgba(black, 0.12);
      border-radius: 50%;
    }
  }

  /*********  Prime NG overrides  *********/
  %primeng-table {
    .ui-table {
      .ui-table-caption {
        background: #ffffff;
      }

      //Column headers
      .ui-table-thead>tr>th {
        @include primary-font();
        background-color: #e7e7e3 !important;
        ;
        text-align: left;
        // font-size: 14px !important; 

        &:hover,
        &.ui-state-highlight {
          color: #353532 !important;
          background-color: #cfcfcb !important;
        }
      }

      // Body
      .ui-table-tbody>tr {
        background-color: white;
        color: #767676;
        vertical-align: middle;

        // Making the action icons only appear on hover
        .global-table-action-icon {
          opacity: 0;
        }

        &:hover .global-table-action-icon {
          opacity: 1;
        }

        .global-table-action-svg-icon {
          opacity: 0;
        }

        &:hover .global-table-action-svg-icon {
          opacity: 1;
        }

        >td {
          border-left: none;
          border-right: none;
          text-align: left;
          font-size: 14px !important;
          font-family: "Roboto Condensed";
          // Needed so row height doesn't change
          // Row height needs to be fixed for virtual scroll
          white-space: nowrap;
          position: relative;
        }

        &:hover {
          .global-column-action {
            overflow: visible;
            z-index: 15 // Needs to be higher than overlay in tableviewedit;
          }
        }


        &:hover {
          background-color: rgb(246, 246, 246);
          color: #767676;
        }

        &.ui-state-highlight {
          background-color: #eaf1f9 !important;
          color: black !important;
        }

        .ui-chkbox-box.ui-state-active {
          background-color: #6ba0e5 !important;
          border-color: #6ba0e5 !important;
        }
      }

      .ui-table-tbody>tr {
        display: flex;
        width: 100%;

        &:hover {
          display: table;
        }

        >td {
          // Table header has hidden div for column resize. We add little padding space here
          padding: 4px 7px;
          height: inherit;
        }
      }

      .ui-table-tbody>tr:not(.global-rowexpand) {
        >td {
          text-overflow: ellipsis;
          vertical-align: top;
        }

        &:hover>td {
          white-space: normal;
          word-break: break-all;
        }
      }

      .ui-chkbox-box.ui-state-default {
        border: 2px solid #676763;

        &:hover {
          border-color: #343434;
        }
      }
    }
  }

  .global-primeng-table {
    @extend %primeng-table;
  }

  .global-primeng-table-lazyload {
    @extend %primeng-table;
    height: 100%;
    // .ui-table {
    //   .ui-table-tbody > tr {
    //     display: flex;
    //     width: 100%;
    //     &:hover {
    //       display: table;
    //     }

    //     > td {
    //       height: 100%;
    //     }
    //   }
    //   .ui-table-tbody > tr:not(.global-rowexpand) {
    //     > td  {
    //       display: inline-block;
    //       text-overflow: ellipsis
    //     }
    //     &:hover > td {
    //       white-space: normal;
    //       word-break: break-all;
    //     }
    //   }
    // }
  }

  .global-rowexpand {
    display: table !important;
  }

  .global-column-date {
    width: 10%;
  }

  button.mat-menu-item {
    height: 25px;
    @include primary-font(14px);
    line-height: 14px;
    outline: none !important;
  }

  .global-chartjs-tooltip {
    @include primary-font(14px);
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 100;
    white-space: nowrap;
  }

  .global-error-tooltip {
    background: white;
    outline: #e57553 solid 1px;
    font-size: 12px;
    color: #676767;
    white-space: pre-line;
  }

  .global-info-tooltip {
    background: white;
    outline: #6ba0e5 solid 1px;
    font-size: 12px;
    color: #676767;
    white-space: pre-line;
  }

  .ui-paginator .ui-paginator-page.ui-state-active {
    background: #86a8d7;
    border-color: #86a8d7;
  }

  .ellipsisText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  // this is remove the blue box aroud the edit button
  // after it is clicked.
  .tableviewedit-actiontd button:focus {
    outline-style: none;
  }
}
