@import '~@angular/material/theming';
@import 'src/app/widgets/toolbar/toolbar.component.scss-theme';
@import 'src/app/appcontent.component.sidenav.scss-theme';
@import 'src/app/components/shared/pagebody/pagebody.component.scss-theme';
@import 'styles';
@import 'src/global-mixins';
@include mat-core();

@import 'src/themes/default-theme';
@import 'src/themes/light-theme';
@import 'src/themes/black-theme';

@import '~web-app-framework/theme';


@mixin component-themes($theme) {
  @include global-styles($theme);
  @include toolbar-theme($theme);
  @include sidenav-theme($theme);
  @include pagebody-theme($theme);
  @include tabs-theme($theme);
  @include penui-primeng-inputtext($theme);
  @include penui-primeng-dropdown($theme);
  @include penui-primeng-multiselect($theme);

  @include penui-primeng-misc($theme)
}

// Allows for styling of components that are outside attached to 
// the body, but breaks angular styling capabilites
// TODO: fix theming capability
.pensando-ui {
  @include angular-material-theme($custom-theme);
  @include component-themes($custom-theme);
}

// .default-theme {
//   @include angular-material-theme($custom-theme);
//   // @include component-themes($custom-theme);
// }

.light-theme {
  @include angular-material-theme($veniceui-light-theme);
}

.black-theme {
  @include angular-material-theme($veniceui-black-theme);
}



