@import 'global-mixins';

.modalbody-container {
    padding: 10px 25px 0px 37px;
    position: relative;
}

.modalbody-progressline {
    margin-top: 10px;
    border-right: 1px solid #dddddd;
}

.modalbody-content {
  @include primary-font(18px, #484848);
  transform: translateX(-10px);
  z-index: 10;
  font-weight: bold;
}