<app-tableviewedit fxLayout="column" class="destinations-widget"
                   [creatingMode]="creatingMode"
                   [showRowExpand]="showRowExpand"
                   [data]="dataObjects"
                   [cols]="cols"
                   [expandedRowData]="expandedRowData"
                   [captionTemplate]="captionTemplate"
                   [bodyTemplate]="bodyTemplate"
                   [actionTemplate]="actionTemplate"
                   [expandTemplate]="expandTemplate"
                   [createTemplate]="createTemplate"
                   (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
</app-tableviewedit>

<ng-template #createTemplate>
  <app-newdestination (formClose)="creationFormClose()" fxFlex="none"></app-newdestination>
</ng-template>

<!-- TABLE HEADER -->
<ng-template #captionTemplate let-count="count">
  <app-tableheader title="Destinations" [total]="count" [icon]="headerIcon" fxFlex="auto"
                   fxLayout="row" [tableMenuItems]="tableMenuItems"
                   [enableColumnSelect]="true" [cols]="cols"
                   (columnSelectChange)="onColumnSelectChange($event)">
    <div class="destinations-search" fxFlex="fxFlex" fxLayoutAlign="start center">
      <!-- Find destination by: 
      <mat-form-field fxFlex="nogrow" floatLabel="never">
        <input matInput placeholder="Name" (input)="destinationsTurboTable?.filterGlobal($event.target.value, 'contains')">
      </mat-form-field> -->
    </div>
  </app-tableheader>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container>
    {{displayColumn(rowData, col)}}
  </ng-container>
</ng-template>


<ng-template #expandTemplate let-rowData let-columns="columns">
  <app-newdestination [destinationData]="rowData" [isInline]="true" (formClose)="closeRowExpand()">
  </app-newdestination>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">
    <mat-icon *roleGuard="'monitoringalertdestination_update'" matTooltip="Edit destination"
              class="global-table-action-icon"
              (click)="expandRowRequest($event, rowData)">edit</mat-icon>
  </div>
  <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px"
       *ngIf="showDeleteButton(rowData)">
    <mat-icon *roleGuard="'monitoringalertdestination_delete'" matTooltip="Delete destination"
              class="global-table-action-icon"
              (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
  </div>
</ng-template>
