@import 'src/global-mixins';

.destinations-widget {
  @include primary-font();
  height: 100%;
}

.destinations-button {
  padding-left: 10px;
  padding-right: 10px;
}

.destinations-search {
  @include primary-font(16px, #484848);
  margin-left: 15px;

  mat-form-field {
    @include global-mat-form-field;
  }
}
