<app-pagebody [icon]="bodyicon" header="Cluster Overview">
  <div fxFlex="none" fxLayout="column">
    <div fxFlex="none" fxLayout="row wrap" class="cluster-card-container">
      <ng-container *roleGuard="{req: ['clusterNode_read']}">
        <ng-container *ngFor="let cardData of heroCards">
          <app-herocard fxFlex="nogrow"
                        [title]="cardData.title"
                        [firstStat]="cardData.firstStat"
                        [secondStat]="cardData.secondStat"
                        [thirdStat]="cardData.thirdStat"
                        [backgroundIcon]="cardData.backgroundIcon"
                        [themeColor]="cardData.themeColor"
                        [icon]="cardData.icon"
                        [lineData]="cardData.lineData"
                        [arrowDirection]="cardData.arrowDirection"
                        [lastUpdateTime]="lastUpdateTime"
                        [cardState]="cardData.cardState">
          </app-herocard>
        </ng-container>
      </ng-container>
    </div>
    <div fxLayout="row wrap" class="cluster-card-container" fxLayoutAlign="stretch stretch">
      <ng-container *ngTemplateOutlet="nodeTable"></ng-container>
      <app-telemetrychartview class="cluster-chart-item"
                              fxFlex="nogrow"
                              [hideEditButtons]="true"
                              [selectedTimeRange]="selectedTimeRange"
                              [chartConfig]="graphConfig">
      </app-telemetrychartview>
    </div>
  </div>
  <div *roleGuard="{opt: ['monitoringAlert_read', 'eventsevent_read']}" fxFlex
       class="cluster-alertsevents-container">
    <app-shared-alertsevents></app-shared-alertsevents>
  </div>
</app-pagebody>

<ng-template #nodeTable>
  <div fxFlex="none" fxLayout="column" class="cluster-node-table-container">
    <ng-container *roleGuard="'clusterNode_read'">
      <div fxFlex="none" fxLayout="row" class="cluster-node-table-title">
        Nodes ({{nodes.length }})
      </div>
      <ng-container *ngFor="let node of nodes">
        <div routerLink="./{{node.meta.name}}" fxFlex="none" fxLayout="column"
             class="cluster-node-container">
          <div fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="5px"
               class="cluster-node-name">
            <div fxFlex="none" class="cluster-node-status" [ngClass]="getNodeStatusClass(node)">
            </div>
            <span class="cluster-node-name" fxFlex="none">{{ node.meta.name }}</span>
            <mat-icon fxFlex="none" *ngIf="cluster.status.leader === node.meta.name"
                      class="cluster-node-star" title="Leader">star_rate</mat-icon>
          </div>
          <div fxLayout="row">
            <div fxFlex="none" fxLayout="column">
              <div class="cluster-node-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <div>Quorum Node:</div>
              </div>
            </div>
            <div fxFlex fxLayout="column">
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="cluster-node-value">
                <div class="cluster-node-quorum">{{ node?.status?.quorum  }}</div>
              </div>
            </div>
            <div fxFlex="none" fxLayout="column">
              <div class="cluster-node-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <div>Phase:</div>
              </div>
            </div>
            <div fxFlex fxLayout="column">
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="cluster-node-value">
                <div class="cluster-node-phase">{{ phaseEnum[node.status.phase] }}</div>
              </div>
            </div>
            <div fxFlex="none" fxLayout="column">
              <div class="cluster-node-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <div>Condition:</div>
              </div>
            </div>
            <div fxFlex fxLayout="column">
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="cluster-node-value">
                <div class="cluster-node-phase">{{ displayCondition(node)}}</div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <div fxFlex="none" fxLayout="column" class="cluster-details">
      <div fxFlex="none" class="cluster-details-title"> Cluster Detail </div>
      <div fxFlex="none" fxLayout="row">
        <!-- Field titles -->
        <div fxFlex="50" fxLayout="column">
          <!-- Removing VIP as its not supported currently -->
          <!-- <div class="cluster-node-fieldtitle" fxFlex="30px" fxLayout="row"
               fxLayoutAlign="start center">
            <div>Virtual IP:</div>
          </div> -->
          <div class="cluster-node-fieldtitle" fxFlex="30px" fxLayout="row"
               fxLayoutAlign="start center">
            <div>Name:</div>
          </div>
          <div class="cluster-node-fieldtitle" fxFlex="45px" fxLayout="row"
               fxLayoutAlign="start start">
            <div>NTP Servers:</div>
          </div>
          <div class="cluster-node-fieldtitle" fxFlex="30px" fxLayout="row"
               fxLayoutAlign="start center">
            <div>Last Leader Transition Time:</div>
          </div>
          <div class="cluster-node-fieldtitle" fxFlex="30px" fxLayout="row"
               fxLayoutAlign="start center">
            <div>Auto Admit DSCs:</div>
          </div>
        </div>
        <!-- Values -->
        <div fxFlex="none" fxLayout="column">
          <!-- Removing VIP as its not supported currently -->
          <!-- <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center" class="cluster-node-value">
            <div class="cluster-details-panel-virtual-ip">{{ cluster?.spec['virtual-ip'] }}</div>
          </div> -->
          <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center" class="cluster-node-value">
            <div class="cluster-details-panel-cluster-name">
              {{ cluster?.meta.name }}</div>
          </div>
          <div fxFlex="45px" fxLayout="row" fxLayoutAlign="start start" class="cluster-node-value">
            <div class="cluster-details-panel-ntp-servers"
                 [innerHTML]="cluster?.spec['ntp-servers'].join('<br>')"></div>
          </div>
          <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center" class="cluster-node-value">
            <div class="cluster-details-panel-last-leader-transition-time">
              {{ cluster?.status['last-leader-transition-time'] | PrettyDate }}</div>
          </div>
          <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center" class="cluster-node-value">
            <div class="cluster-details-panel-auto-admit-nics">
              {{ (cluster?.spec['auto-admit-dscs'] === true) ? 'yes' : 'no' }}</div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div fxFlex fxLayout="row">
      <button class="global-button-primary cluster-update-button"
              (click)="showUpdateCluster()">UPDATE DETAILS</button>
    </div> -->
  </div>
</ng-template>
