@import 'src/global-mixins';

.cluster-card-container {
  margin-right: 10px;
}

.pagebody-icon {
  opacity: 0.5 !important
}

.cluster-toolbar-button {
  @include primary-font(16px, #ffffff);
  height: 30px;
  text-align: center;
  width: 120px;
  display: block;
  padding: 0px 10px;
}

/** TABLE RELATED CSS **/
$table-headerheight: 55px;

.cluster-alertsevents-container {
  min-height: 600px;
}

.cluster-node-table-container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;
  width: 450px;
  border: solid 2px #dddddd;
  margin-left: 20px;
  margin-right: 0px;
}

.cluster-node-table-title {
  @include primary-font(20px);
  margin-bottom: 10px;
}

.cluster-node-fieldtitle {
  @include primary-font(16px, #676763, 500);
}

.cluster-node-value {
  @include primary-font(16px);
  margin-left: 5px;
}

.cluster-node-name {
  font-size: 20px;
  color: black;
  cursor: pointer;
}

.cluster-node-status {
  border-radius: 50%;
  height: 7px;
  width: 7px;
}

.cluster-node-status-healthy {
  background-color: #77a746;
}

.cluster-node-status-unhealthy {
  background-color: #dd3b09;
}

.cluster-node-container {
  padding: 0px 5px 5px 5px;
  outline: none;

  &:hover {
    background-color: #e7e7e3;
    cursor: pointer;
  }
}

.cluster-node-star {
  font-size: 16px;
  height: 16px;
  width: 16px;
  color: #fcb710;
}

.cluster-details {
  border-top: solid 1px #f0f0f0;
  margin-top: 10px;
  padding-top: 10px;
}

.cluster-details-title {
  @include primary-font(20px);
}

.cluster-toolbar-button {
  @include primary-font(16px, #ffffff);
  height: 30px;
  font-weight: 500;
  text-align: center;
  display: block;
  padding: 0px 10px;
  min-width: 80px;
}

.cluster-update-button {
  @include primary-font(16px, #ffffff);
  height: 30px;
  font-weight: 500;
  text-align: center;
  display: block;
  padding: 0px 10px;
  width: 130px;
}

.cluster-chart-item {
  max-width: calc(66% - 20px);
  width: calc(66% - 20px);
  min-width: 450px;
  height: 440px;
  margin-right: 20px;

  div {
    height: calc(100% - 10px);

    .telemetrychartview-card {
      width: 100%;
    }
  }
}
