@import 'styles';
@import 'global-mixins';

.cluster-details-panel-content-label {
    @include primary-font(14px, #676763, 500 !important);
    display: inline-block;
    width: 200px;
    margin-top: 10px;
}

.cluster-details-panel-content-value {
    @include secondary-font();
    display: inline-block;
    margin-left: 13px;
}

.pagebody-icon {
    opacity: 0.5 !important
}

.cluster-toolbar-button {
    @include primary-font(16px, #ffffff);
    height: 30px;
    text-align: center;
    width: 80px;
    display: block;
    padding: 0px 10px;
}

/** TABLE RELATED CSS **/
$table-headerheight: 55px;

.cluster-details-nodes-table-header {
    @include primary-font(18px, black);
    width: 100%;
    height: $table-headerheight;
    font-weight: normal;
}

.cluster-details-nodes-table-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-left: 8px;
    margin-top: 15px;
    margin-right: 5px;
    opacity: 0.3;
}

.cluster-details-nodes-table-headercontent {
    margin: 20px 15px 13px 0px;
}
