<div [style.width]="'100%'" fxLayout="column">
  <div fxFlex="auto" fxLayout="row" fxLayoutAlign="center start" class="newdestination-container">
    <!-- Limiting the size of the creation form - If it is inline, we have more room to fit in the save/cancel buttons -->
    <div fxFlex="auto" fxLayout="row"
         fxLayoutAlign="start stretch" class="newdestination-content"
         [formGroup]="newDestination.$formGroup">

      <div fxFlex="nogrow" fxLayout="column" fxLayoutAlign="center start">
        <div fxFlex="nogrow" fxLayout="row" formGroupName="meta" [ngClass]="{
          'requiredField': isFieldEmpty(newDestination.$formGroup.get(['meta', 'name']))
        }">
          <!-- First row-->
          <input fxFlex="300px" formControlName="name" class="newdestination-name" appErrorTooltip
                 spellcheck="false" type="text" pInputText
                 appFloatLabel="Unique Destination Name...">
          <!-- Commented out as it still isn't decided whether there will be a description -->
          <!-- <input fxFlex class="newdestination-description" spellcheck="false" type="text"  pInputText  placeholder="Brief Description (optional)..."> -->

        </div>
        <!-- Buffer, creating as a div so there are no hiccups in the animation-->

        <div fxFlex="noshrink" fxLayout="row" class="newdestination-row">
          <!-- Commenting out as it is not currently supported -->
          <!-- <div fxFlex="nogrow" class="newdestination-text">EXPORT ALERT IF:</div>
          <app-fieldselector fxFlex="nogrow" #fieldSelector 
                    kind="Alert"
                    [formArray]="newDestination.$formGroup.get(['spec', 'selector', 'requirements'])"
                    keyFormName="key" 
                    operatorFormName="operator" 
                    valueFormName="values"
                  >
          </app-fieldselector> -->
        </div>

        <!--
        <div fxFlex="20px" fxLayout="row">
          <div fxFlex="30px"></div>
          <div fxFlex="auto" class="newdestination-divider"></div>
          <div fxFlex="30px"></div>
        </div>
      -->

        <div fxFlex="10px"></div>
        <!-- Buffer, creating as a div so there are no hiccups in the animation-->

        <div fxFlex="noshrink" fxLayout="column">
          <ng-container *ngTemplateOutlet="syslog"></ng-container>
          <div fxFlex="10px"></div>
          <ng-container *ngIf="enableSnmpTrap">
            <ng-container *ngTemplateOutlet="snmp"></ng-container>
          </ng-container>
        </div>
      </div>
      <div *ngIf="isInline" class="newdestination-buttoncontainer" fxFlex="nogrow" fxLayout="row"
           fxLayoutAlign="start start">
        <div fxFlex="nogrow">
          <span (click)="saveDestination()"
                class="global-button-primary newdestination-save">SAVE</span>
        </div>
        <div fxFlex="nogrow">
          <span (click)="cancelDestination()"
                class="global-button-neutral newdestination-cancel">CANCEL</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #syslog>
  <app-syslog #syslogComponent
              [syslogFieldsetWidth]="true"
              [syslogRequiredOption]="true"
              [syslogExport]="newDestination.$formGroup.get(['spec', 'syslog-export']).value"
              targetTransport="<TCP/UDP>/<port>"
              fxFlex="nogrow" fxLayout="column"></app-syslog>
</ng-template>

<ng-template #snmp>
  <!-- SNMP TRAP LISTINGS -->
  <ng-container [formGroup]="newDestination.$formGroup">
    <ng-container formArrayName="spec">
      <ng-container formArrayName="snmp-trap-servers">
        <div fxFlex="nogrow" fxLayout="row">
          <div fxFlex="nogrow" fxLayout="column">
            <div fxFlex="nogrow" class="newdestination-snmp" fxLayout="column" [@slideInOut]
                 *ngFor="let snmp of controlAsFormArray(newDestination.$formGroup.get(['spec','snmp-trap-servers'])).controls; let index = index; let first = first"
                 [formGroupName]="index">
              <div fxFlex="20px"></div>
              <!-- Buffer, creating as a div so there are no hiccups in the animation-->
              <div fxFlex fxLayout="row">
                <div fxFlex="nogrow" fxLayout="row wrap" fxLayoutGap="10px">
                  <div fxFlex="nogrow" fxLayout="column" class="newdestination-group">

                    <div fxFlex="30px" class="newdestination-fieldtitle">SNMP TRAP CONFIGURATION
                    </div>
                    <div fxFlex fxLayout="row">
                      <!-- Field Title -->
                      <div fxFlex="nogrow" fxLayout="column">
                        <div class="newdestination-fieldtitle" fxFlex="30px" fxLayout="row"
                             fxLayoutAlign="start center">
                          <span>Host:</span>
                        </div>
                        <div class="newdestination-fieldtitle" fxFlex="30px" fxLayout="row"
                             fxLayoutAlign="start center">
                          <span>Port:</span>
                        </div>
                      </div>
                      <!-- Field Values -->
                      <div fxFlex fxLayout="column">
                        <div fxFlex="30px" fxLayout="row" class="newdestination-value">
                          <input fxFlex="nogrow" formControlName="host" appErrorTooltip
                                 class="newdestination-host" spellcheck="false" type="text"
                                 pInputText placeholder="">
                        </div>
                        <div fxFlex="30px" fxLayout="row" class="newdestination-value">
                          <input fxFlex="nogrow" appErrorTooltip formControlName="port"
                                 class="newdestination-port" spellcheck="false" type="text"
                                 pInputText placeholder="">
                        </div>
                      </div>

                      <!-- Field Title -->
                      <div fxFlex="nogrow" fxLayout="column">
                        <div class="newdestination-fieldtitle" fxFlex="30px" fxLayout="row"
                             fxLayoutAlign="start center">
                          <span>Version:</span>
                        </div>

                        <div class="newdestination-fieldtitle" fxFlex="30px" fxLayout="row"
                             fxLayoutAlign="start center">
                          <span>User Type:</span>
                        </div>
                      </div>
                      <!-- Field Values -->
                      <div fxFlex="nogrow" fxLayout="column">
                        <div fxFlex="30px" fxLayout="row" class="newdestination-value">
                          <p-dropdown fxFlex="nogrow" class="newdestination-version"
                                      formControlName="version" styleClass="newdestination-font"
                                      [options]="versionOptions"></p-dropdown>
                        </div>
                        <div fxFlex="30px" fxLayout="row" class="newdestination-value">
                          <input fxFlex="nogrow" appErrorTooltip formControlName="community-or-user"
                                 class="newdestination-usertype" spellcheck="false" type="text"
                                 pInputText placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div fxFlex="nogrow" fxLayout="column" class="newdestination-group"
                       formGroupName="auth-config">
                    <!-- Authentification -->
                    <div fxFlex="30px" class="newdestination-fieldtitle">AUTHENTIFICATION</div>
                    <div fxFlex fxLayout="row">
                      <!-- Field Title -->
                      <div fxFlex="nogrow" fxLayout="column">

                        <div class="newdestination-fieldtitle" fxFlex="30px" fxLayout="row"
                             fxLayoutAlign="start center">
                          <span>Algorithm:</span>
                        </div>

                        <div class="newdestination-fieldtitle" fxFlex="30px" fxLayout="row"
                             fxLayoutAlign="start center">
                          <span>Password:</span>
                        </div>
                      </div>
                      <!-- Field Values -->
                      <div fxFlex="nogrow" fxLayout="column">
                        <div fxFlex="30px" fxLayout="row" class="newdestination-value">
                          <p-dropdown fxFlex="nogrow" class="newdestination-authalgo"
                                      formControlName="algo" styleClass="newdestination-font"
                                      [options]="authAlgoOptions"></p-dropdown>
                        </div>
                        <div fxFlex="30px" fxLayout="row" class="newdestination-value">
                          <input fxFlex="nogrow" appErrorTooltip formControlName="password"
                                 class="newdestination-authpassword" spellcheck="false" type="text"
                                 pInputText
                                 placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>

                  <div fxFlex="nogrow" fxLayout="column" class="newdestination-group"
                       formGroupName="privacy-config">
                    <!-- Encryption -->
                    <div fxFlex="30px" class="newdestination-fieldtitle">ENCRYPTION</div>
                    <div fxFlex fxLayout="row">
                      <!-- Field Title -->
                      <div fxFlex="nogrow" fxLayout="column">
                        <div class="newdestination-fieldtitle" fxFlex="30px" fxLayout="row"
                             fxLayoutAlign="start center">
                          <span>Algorithm:</span>
                        </div>

                        <div class="newdestination-fieldtitle" fxFlex="30px" fxLayout="row"
                             fxLayoutAlign="start center">
                          <span>Password:</span>
                        </div>
                      </div>
                      <!-- Field Values -->
                      <div fxFlex="nogrow" fxLayout="column">
                        <div fxFlex="30px" fxLayout="row" class="newdestination-value">
                          <p-dropdown fxFlex="nogrow" class="newdestination-encryptalgo"
                                      formControlName="algo" styleClass="newdestination-font"
                                      [options]="encryptAlgoOptions"></p-dropdown>
                        </div>
                        <div fxFlex="30px" fxLayout="row" class="newdestination-value">
                          <input fxFlex="nogrow" formControlName="password"
                                 class="newdestination-encryptpassword" spellcheck="false"
                                 type="password" pInputText
                                 placeholder="">
                        </div>
                        <div fxFlex="30px">
                          <span
                                class="global-button-primary newdestination-testconnectionbutton">TEST
                            CONNECTION</span>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
                <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start start">
                  <div fxFlex="20"></div>
                  <div fxFlex="nogrow" fxLayout="column" fxLayoutAlign="start end"
                       class="newdestination-fieldtitle newdestination-and">
                    <span fxFlex="nogrow" *ngIf="first" (click)="addSnmpTrapConfig()">+ ADD</span>
                    <mat-icon fxFlex="nogrow" [style.color]="'#767676'"
                              *ngIf="controlAsFormArray(newDestination.$formGroup.get(['spec','snmp-trap-servers'])).length > 1"
                              (click)="removeSnmpTrapConfig(index)">delete</mat-icon>
                  </div>
                </div>
              </div>
              <div fxFlex="40px"></div>
              <!-- Buffer, creating as a div so there are no hiccups in the animation-->
            </div>
          </div>
          <div fxFlex></div> <!-- For making the border line stop-->
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
