@import 'src/global-mixins';

.psm-fieldset {
  border: 1px solid #a9a9a9;
  padding: 5px;

  legend {
    padding: 0 2px;
    width: auto;
    margin-bottom: 0px;
  }

  .psm-fieldset-title {
    text-align: center;
    font-size: 14px;
    color: #676763;
  }

  .psm-fieldset-subtitle {
    margin-top: 2px;
    @include primary-font(12px, #b2b3b4, 300);
  }

  .requiredLabel {
    color: red;
  }
}
