@import 'src/global-mixins';

.psm-listcontainer {
  .listcontainer-row {
    margin-left: 10px;
  }

  .listcontainer-add-icon {
    margin: 0px 0px 5px 10px !important;
    font-size: 14px;
    font-weight: 400;
    color: #676763 !important;
    background-color: #f4f4f4 !important;
    border: 1px solid #f4f4f4 !important;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15) !important;
    cursor: pointer;
    height: 25px;
    padding: 0px 15px 0px 10px;

    span {
      margin-left: 5px;
      position: relative;
      top: -6px;
    }
  }
}
