@import 'src/global-mixins';

.eventstable-filterby {
  @include primary-font();
}

.eventdetail-key {
  @include primary-font(14px, #676763, bold);
}

.eventdetail-value {
  @include primary-font();
  word-break: break-all;
}

.eventdetail-close {
  cursor: pointer;
}

.eventdetail-header {
  @include primary-font(18px, #676763, bold);
}

.eventdetail-container {
  border-bottom: 1px solid #e7e7e3;
  padding-bottom: 5px;
  @include primary-font(14px, #676763);
}
