$matchColor : #6ba0e5;
$errorColor : #e57553;

// This must be outside ui-chips if using appendTo="body"
.ui-autocomplete-panel {
  .ui-autocomplete-list {
    padding: 0px;
  }

  .ui-autocomplete-list-item {
    padding-left: 10px;
    border-radius: 0;
    margin: 0;
  }

  .ui-state-highlight {
    box-shadow: inset 5px 0 0 0 $matchColor !important;
  }
}

.ui-autocomplete .ui-inputtext:not(.ui-dropdown-filter) {
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 0px !important;
  border: none !important;
}


.ui-chips {
  >ul.ui-inputtext {
    overflow: visible;
  }

  .ui-autocomplete-panel {
    .ui-autocomplete-list {
      padding: 0px;
    }

    .ui-autocomplete-list-item {
      padding-left: 10px;
      border-radius: 0;
      margin: 0;
    }

    .ui-state-highlight {
      box-shadow: inset 5px 0 0 0 $matchColor !important;
    }
  }

  .ui-autocomplete .ui-inputtext:not(.ui-dropdown-filter) {
    background-color: transparent !important;
    box-shadow: none !important;
    padding: 0px !important;
    border: none !important;
  }


  .ui-inputtext:not(.ui-dropdown-filter) {
    font-size: 16px;
    font-family: "Fira Sans Condensed" !important;
    line-height: normal !important;
    box-shadow: none !important;
    background: rgb(247, 247, 247);
    padding: 0px 10px !important;
    border-radius: 2px !important;
    resize: none;
  }

  .ui-inputtext {
    padding-left: 10px;
    border-radius: 2px;

    &:hover,
    &.ui-state-focus {
      border-radius: 2px;
      background-color: #ffffff !important;
      border: solid 1px $matchColor !important;
    }

    &.ui-state-focus {
      box-shadow: inset 5px 0 0 0 $matchColor !important;
    }

    &.error:hover,
    &.error.ui-state-focus,
    &.ng-touched.ng-dirty.ng-invalid:hover,
    &.ng-touched.ng-dirty.ng-invalid:focus {
      border-radius: 2px;
      background-color: #ffffff !important;
      border: solid 1px $errorColor !important;
    }

    &.error:focus,
    &.ng-touched.ng-dirty.ng-invalid:focus {
      box-shadow: inset 5px 0 0 0 $errorColor !important;
    }

    &.error,
    &.ng-touched.ng-dirty.ng-invalid {
      border-radius: 2px;
      background-color: #ffffff !important;
      border: solid 1px $errorColor !important;
    }
  }

  .ui-inputtext.ui-state-default .ui-chips-token {
    padding: 0px;

    .ui-chips-token-item {
      padding: 1px 5px;
      background-color: rgba(151, 184, 223, 0.8);

      &:hover {
        background-color: #7db1ea;
      }

      &.error {
        background-color: $errorColor !important;
      }

      .ui-chips-token-icon-cancel {
        cursor: pointer;
        visibility: hidden;
        margin-left: 10px;

        $size: 14px;
        font-size: $size;
        height: $size;
        width: $size;
      }

      &:hover .ui-chips-token-icon-cancel {
        visibility: visible;
      }
    }
  }

  .ui-chips-token-item-text {
    font-size: 14px;
  }
}

.ng-invalid {
  >.ui-chips {

    >.ui-state-default,
    >.ui-state-default:hover,
    >.ui-state-focus {
      border: 1px solid $errorColor !important;
    }

    >.ui-state-focus {
      box-shadow: inset 5px 0 0 0 $errorColor !important;
    }
  }
}

.ui-float-label {

  app-chips.app-chips-noneEmpty~label,
  app-chips.app-chips-focused~label {
    top: -.75em;
    font-size: 12px;
  }

  app-chips.app-chips-focused~label {
    color: #6ba0e5;
  }

  app-chips.ng-invalid~label {
    color: $errorColor;
  }
}

mat-tooltip-component .mat-tooltip.chips_tooltip,
mat-tooltip-component .mat-tooltip.chips_error_tooltip {
  background: white;
  font-size: 12px;
  color: #676767;
  margin: 14px;
  max-width: 250px;
  padding-left: 8px;
  padding-right: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-tooltip-component .mat-tooltip.chips_tooltip {
  outline: #6ba0e5 solid 1px;
}

mat-tooltip-component .mat-tooltip.chips_error_tooltip {
  outline: $errorColor solid 1px;
}
