# Framework UT Descriptor Template
meta:
    id      : DOLUT_BUFFER
    package : factory.objects.dolut
    module  : buffer
    objname : DolUtBufferObject

address : None
size    : None
data    : None
