@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.telemetry-graph-option {
  margin: 0px 10px 10px 10px;
  cursor: pointer;

  .telemetry-graph-option-chart {
    opacity: 0.6;
  }

  &:hover .telemetry-graph-option-chart {
    opacity: 1;
  }
}

.telemetry-graph-option-text {
  text-align: center;
}

.telemetry-graph-option-chart {
  margin: 10px 50px;
}

.telemetry-radio-buttons {
  @include global-mat-radio(12px);
}

.telemetry-input {
  margin-left: 5px;
  margin-top: 10px;
}

.telemetry-explore-bottom {
  border-top: 1px solid #dddddd
}

.telemetry-container {
  height: 100%;
  margin: 0px 10px 10px 10px;
}

.telemetry-checkbox-container {
  margin-bottom: 10px;
}

.telemetry-checkbox {
  font-weight: 400;
  margin-bottom: 0px;

  &:hover {
    cursor: pointer;
  }

  outline: none;

  .ui-chkbox-box {
    outline: none;
    box-shadow: none;

    &.ui-state-active {
      border: 1px solid #86a8d7 !important;
      background: #86a8d7 !important;
      color: #FFFFFF;
    }
  }
}

.telemetry-page {
  @include primary-font(16px);
}

.telemetry-header {
  @include primary-font(18px);
}

.telemetry-data-sources {
  margin: 10px;

}

.telemetry-data-border-top {
  border-top: 1px solid #dddddd;
}

.telemetry-data-border-bottom {
  border-bottom: 1px solid #dddddd;
}

.telemetry-data-source {
  border-radius: 10px;
  border: solid 1px #97b8df;
  padding: 0px 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
}

.telemetry-data-source-view {
  .telemetry-source-action-buttons {
    display: none !important;

    mat-icon {
      color: #676763;
    }
  }

  &:hover {
    // background: #f0f0f0;
    background: rgba(244, 249, 255, 1);
    cursor: pointer;
    z-index: 10;

    .telemetry-source-action-buttons {
      display: inherit !important;
    }
  }
}

.telemetry-button {
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  line-height: 25px;
  margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;
}

.telemetry-source-colors {
  margin: 0px 15px 0px 20px;
  min-width: 10px;
}

.telemetry-color-icon {
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
