@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.telemetry-container {
  height: 100%;
}

.telemetry-button {
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  line-height: 25px;
  margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;
}
