<app-pagebody>
  <app-penuitabs>
    <app-penuitab title="FIREWALL LOG POLICY" [count]="fwlogPolicies?.length">
      <ng-template>
        <app-fwlogpolicies #tabContent [policies]="fwlogPolicies"></app-fwlogpolicies>
      </ng-template>
    </app-penuitab>
    <app-penuitab title="FLOW EXPORT POLICY" [count]="flowExportPolicies?.length">
      <ng-template>
        <app-flowexport #tabContent [policies]="flowExportPolicies"></app-flowexport>
      </ng-template>
    </app-penuitab>
  </app-penuitabs>
</app-pagebody>
  