<app-pagebody [icon]="bodyIcon" header="Metrics">
  <div fxFlex fxLayout="row" fxLayoutAlign="center center" pagebody-options>
    <div fxFlex></div>
    <app-timerange fxFlex="nogrow" [selectedTimeRange]="selectedTimeRange"
                   [timeRangeOptions]="timeRangeOptions"
                   [maxTimePeriod]="maxTimePeriod"
                   (timeRange)="setTimeRange($event)"></app-timerange>
  </div>


  <div *ngIf="!inEditMode; else editView" class="telemetry-container">
    <div [@loaded] *ngIf="preferenceLoaded" fxFlex fxLayout="row wrap" fxLayoutGap="20px">
      <ng-container *ngFor="let item of telemetryPref.items">
        <app-telemetrychartview *ngIf="item.type === 'chart'" class="telemetry-chart-item"
                                fxFlex="nogrow"
                                [selectedTimeRange]="selectedTimeRange"
                                [chartConfig]="telemetryPref.configuredGraphs[item.graphID]"
                                (editReq)="editChart(item.graphID)"
                                (deleteReq)="deleteChart(item.graphID)">
        </app-telemetrychartview>
      </ng-container>
    </div>
  </div>
</app-pagebody>



<ng-template #editView>
  <app-telemetrychartedit fxFlex="100" fxLayout="column"
                          [chartConfig]="telemetryPref.configuredGraphs[editGraphID]"
                          [selectedTimeRange]="selectedTimeRange"
                          (saveChartReq)="onChartSave($event)"
                          (cancelEdit)="onEditCancel()">
  </app-telemetrychartedit>
</ng-template>

<ng-template #missingGraphs>
  <div fxLayout="row"
       fxLayoutAlign="center stretch">
    <div fxFlex="50%" fxLayout="column" class="sgpolicy-overlay-content">
      <div fxFlex='20%'></div>
      <div fxFlex="none" class="sgpolicy-overlay-text">
        You don't have any charts yet.
      </div>
      <div fxFlex="5%"></div>
      <div fxFlex="none" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="40px">
        <button fxFlex="none" class="global-button-primary sgpolicy-overlay-button"
                *roleGuard="'authuserpreference_update'" (click)="editChart()">CREATE CHART</button>
      </div>
    </div>
  </div>
</ng-template>
