:host {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.dbsd-refresh-button {
  background-color: #97b8df;
  height: 30px;
  font-family: 'Fira Sans Condensed';
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  width: 80px;
  display: block;
  padding: 0px 10px;
}

.dsbd-toolbar {
  position: relative;
  width: 100%;
  padding: 0 20px;
  height: 100px;
}

.dsbd-gridster {
  background-color: rgb(242,238,234);
}

.dsbd-gridster-item {
  border: solid 1px #cec5bd;
}

.dsbd-main-gridster-content {
  // as each grid-item is 275x275 ,  there are 6x2 cells and  gridster.option.margin=10,so we set the height as 565px, width=1705px.
  position: relative; 
  padding: 0 10px;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 565px;
  width: 1705px;
  overflow-y: auto;
  
}

.dsbd-pinned-gridster-content {
  position: relative;
  margin: 10px 10px;
  height: 580px;
  width: 100%;
  overflow-y: auto;
}

.dsbd-item-div {
  margin: 0px;
  height:100%;
}

.dsbd-main-content .gridster-item-inner {
  border: 1px solid #ccc;
}

.dsbd-panel-div {
  // width: 250;
  height: 100%;
}
















