<div fxLayout="column" fxLayoutGap="10px">
  <div fxFlex="none" fxLayout="row" fxLayoutGap="10px">
    <app-dsbdworkloads *roleGuard="{ req: ['workloadworkload_read', 'clusterhost_read']}"
                       fxFlex="none"></app-dsbdworkloads>
    <app-dsbdpolicyhealth *roleGuard="'metrics_read'" fxFlex="none"></app-dsbdpolicyhealth>
  </div>
  <div fxFlex="none" fxLayout="row" fxLayoutGap="10px">
    <app-dsbdsystemcapacitywidget *roleGuard="{ req: ['clustercluster_read', 'clusternode_read']}"
                                  fxFlex="none"
                                  [cardState]="systemCapacity.cardState" [currentData]="currentData"
                                  [prevData]="prevData" [timeSeriesData]="timeSeriesData"
                                  [avgDayData]="avgDayData" [lastUpdateTime]="lastUpdateTime">
    </app-dsbdsystemcapacitywidget>
    <app-dsbdnapleswidget *roleGuard="'clusterdistributedservicecard_read'" fxFlex="none">
    </app-dsbdnapleswidget>
  </div>
</div>

<!-- Previous dashboard -->
<!-- <div class="dsbd-main-gridster-content">
  <gridster class="dsbd-gridster" [options]="gridsterOptions" #gridster>
    <gridster-item class="dsbd-gridster-item" *ngFor="let widget of widgets" [item]="widget" [ngSwitch]="widget.id">
      <div class="dsbd-item-div" *ngSwitchCase="'system_capacity'">
        <ng-container style="height:100%;" *ngTemplateOutlet="dashboardSystemCompacity; context:{item:widget}"></ng-container>
      </div>
      <div class="dsbd-item-div" *ngSwitchCase="'software_version'">
        <ng-container *ngTemplateOutlet="dashboardSoftwareVersion; context:{item:widget}"></ng-container>
      </div>
      <div class="dsbd-item-div" *ngSwitchCase="'naples'">
        <ng-container *ngTemplateOutlet="dashboardNaples; context:{item:widget}"></ng-container>
      </div>
      <div class="dsbd-item-div" *ngSwitchCase="'workloads'">
        <ng-container *ngTemplateOutlet="dashboardWorkloads; context:{item:widget}"></ng-container>
      </div>
      <div class="dsbd-item-div" *ngSwitchCase="'policy_health'">
        <ng-container *ngTemplateOutlet="dashboardPolicyHealth; context:{item:widget}"></ng-container>
      </div>
      <div class="dsbd-item-div" *ngSwitchDefault>
        <ng-container *ngTemplateOutlet="dashboarddefault; context:{item:widget}"></ng-container>
      </div>
    </gridster-item>
  </gridster>
</div>
<div *ngIf="pinnedWidgets?.length != 0" class="dsbd-pinned-gridster-content">
  <gridster class="dsbd-gridster" #pinnedGridster [options]="pinnedGridsterOptions" #gridster>
    <gridster-item class="dsbd-gridster-item" *ngFor="let widget of pinnedWidgets" [id]='widget.id' [item]="widget">
    </gridster-item>
  </gridster>
</div>

<ng-template #dashboardSystemCompacity let-item="item">
    <app-dsbdsystemcapacitywidget *ngIf="item.dsbdGridsterItemIsReady">
    </app-dsbdsystemcapacitywidget>
</ng-template>


<ng-template #dashboardSoftwareVersion let-item="item">
    <app-softwareversion *ngIf="item.dsbdGridsterItemIsReady">
    </app-softwareversion>
</ng-template>

<ng-template #dashboardWorkloads let-item="item">
    <app-dsbdworkloadwidget *ngIf="item.dsbdGridsterItemIsReady" fxFlex fxLayout="row">
    </app-dsbdworkloadwidget>
</ng-template>

<ng-template #dashboardPolicyHealth let-item="item">
    <app-dsbdpolicyhealthwidget *ngIf="item.dsbdGridsterItemIsReady" fxFlex fxLayout="row">
    </app-dsbdpolicyhealthwidget>
</ng-template>

<ng-template #dashboardNaples let-item="item">
    <app-dsbdnapleswidget *ngIf="item.dsbdGridsterItemIsReady" fxFlex fxLayout="row">
    </app-dsbdnapleswidget>
</ng-template>



<ng-template #dashboarddefault let-item="item">
  <div class="dsbd-panel-div">
    <div class="dsbd-panel-heading">
      <h5 class="dsbd-panel-title">{{ item.title }}</h5>
      <button (click)="setWidth(item, item.w+1, $event)">w +</button>
      <button (click)="setWidth(item, item.w-1, $event)">w -</button>
      <button (click)="setHeight(item, item.h+1, $event)">h +</button>
      <button (click)="setHeight(item, item.h-1, $event)">h-</button>
    </div>

    <div class="dsbd-panel-body">
      <p>{{ item.content }}</p>
    </div>
  </div>
</ng-template> -->
