@import '~@angular/material/theming';

@mixin sidenav-theme($theme) {

  $sidenav: map-get($theme, sidenav);
  $colorPalette: map-get($theme, colors);
  
  .app-sidenav-item {
    color: map-get($sidenav, text);
  }

  .app-shell-header-logo-div {
    background-color: map-get($sidenav, navheader);
  }

  #app-sidebar {
    background-color: map-get($sidenav, background);

    .sidebar-header {
      background: #353532;
    }

    .app-sidenav-selected {
      color: map-get($sidenav, selected_text);
      background: map-get($sidenav, selected);
    }

    a {
      color: map-get($sidenav, text);
    }

    a.article,
    a.article:hover {
      background: #353532 !important;
      color: map-get($colorPalette, primary);
    }

    ul li.app-sidenav-selected a {
      /* workload and dashboard change color */
      color: map-get($colorPalette, primary);
    }

    ul li {
      &:focus {
        /* cluster (group header) change color */
        color: map-get($colorPalette, primary);
      }

      a:hover {
        background: map-get($sidenav, hover);
      }
      ul li a {
        background: map-get($sidenav, nested);

        &.app-sidenav-selected, &:hover, {
          background: map-get($sidenav, nested_hover);
          color: map-get($colorPalette, primary);
        }
      }
    }
  }
}





