<p-blockUI [blocked]="isScreenBlocked">
</p-blockUI>

<img [style.display]="'none'" src="../../../assets/images/pensando-logo.svg"
     alt="Pensando Venice" />
<img [style.display]="'none'" src="../../../assets/images/venice/venice-pictures-wallpapers-7.jpg"
     alt="Pensando Venice" />

<div
     class="pensUI-app {{os}} {{browsertype}} {{browserversion}} {{_currentComponent? _currentComponent['component']: ''}} "
     id="pensando-ui-screen">
  <p-confirmDialog #confirmDialog [closable]="false" icon="pi pi-exclamation-triangle">
  </p-confirmDialog>
  <div class="pensUI-app-center">
    <ng-container>
      <mat-toolbar color="primary">
        <mat-toolbar-row class="app-shell-tool-bar-row">
          <div class="app-shell-header-logo-div">
            <img id="app-header-logo" class="navbar-btn app-header-logo" (click)="redirectHome()"
                 src="../../../assets/images/headers/pensando-header-logo.svg" />
            <!-- Commenting out collapsed sidenav for August release
                            The pin/unpin isn't completely smooth
                            Menu expanded doesn't always cause the main content
                            to flow correctly -->
            <!-- <button mat-icon-button (click)="sidenav.toggle()" title="Show Or Hide Side Menu">
                            <mat-icon svgIcon="menu-pin"></mat-icon>
                        </button>
                        <button mat-icon-button (click)="onSidebarCollapseClick($event);" title="Expand Or Collapse Side Menu" [style.visibility]="sidenav.opened ? 'visible' : 'hidden'">
                            <mat-icon svgIcon="menu-expand" *ngIf="!isSideNavExpanded"></mat-icon>
                            <mat-icon svgIcon="menu-collapse" *ngIf="isSideNavExpanded"></mat-icon>
                        </button> -->
          </div>
          <ng-container *ngIf="!isUINavigationBlocked">
            <div class="app-shell-header-search-div">
              <app-searchbox></app-searchbox>
            </div>
          </ng-container>
          <span class="app-shell-cluster-name"> {{ cluster?.meta.name}}</span>
          <span class="app-shell-spacer"></span>
          <div class="app-shell-toolbar-icon-div">
            <a class="app-shell-doclink" [href]="docLink" target="_blank">
              <button [disableRipple]="true" mat-button>DOCS</button>
            </a>
            <ng-container *ngIf="!isUINavigationBlocked">
              <app-helpoverlay *featureGuard="'help'" fxFlex="none"></app-helpoverlay>
              <!-- Commenting out for August release -->
              <!-- <button mat-button>Save</button> -->
              <button *roleGuard="'monitoringAlert_read'" mat-icon-button
                      (click)="onToolbarIconClick($event, 'notifications')">
                <mat-icon>notifications </mat-icon>
                <span class="app-notification-number" [ngClass]=getAlertNotificationClass()
                      *ngIf="alertNumbers>0">{{alertNumbers}}</span>
              </button>
            </ng-container>
            <button mat-icon-button class="app-user-button" [matMenuTriggerFor]="toolbarUserMenu">
              <mat-icon>person</mat-icon>
            </button>
            <mat-menu class="app-shell-toolbar-user-menu" #toolbarUserMenu="matMenu">
              <div class="app-shell-toolbar-user-menu-name">User: {{ userName}} </div>
              <button mat-menu-item class="app-logout-button" (click)="onLogoutClick()">
                <mat-icon style="color: black">power_settings_new</mat-icon>
                <span>Sign out</span>
              </button>
            </mat-menu>
            <button mat-icon-button class="app-user-button" [matMenuTriggerFor]="toolbarAboutMenu">
              <mat-icon>info</mat-icon>
            </button>
            <mat-menu class="app-shell-toolbar-user-menu" #toolbarAboutMenu="matMenu">
              <!-- VS-1059 CEO wants to disable this link 2020-01-02
              <a class="app-shell-externallink" href="https://pensando.io" target="_blank">
                <button mat-menu-item class="app-externallink-button">
                  <mat-icon style="color: black">home</mat-icon>
                  <span>Pensando Systems</span>
                </button>
              </a> 
               -->
              <a class="app-shell-externallink" href="https://support.pensando.io" target="_blank">
                <button mat-menu-item class="app-externallink-button">
                  <mat-icon style="color: black">face</mat-icon>
                  <span>Support</span>
                </button>
              </a>
            </mat-menu>
            <!-- Currently hidden because no functionality to display in it -->
            <ng-container *ngIf="!isUINavigationBlocked">
              <button mat-icon-button (click)="onToolbarIconClick($event, 'settings')"
                      class="hidden-sm-down settings-hidden-for-now">
                <mat-icon>settings</mat-icon>
              </button>
            </ng-container>
          </div>
        </mat-toolbar-row>

      </mat-toolbar>

      <mat-sidenav-container #container class="app-shell-container" autosize>
        <mat-sidenav #rightSideNav opened="false" mode="over" position="end"
                     [ngSwitch]="whichRightSideNav()"
                     class="app-shell-right-sidenav">
          <div *ngSwitchCase="'notifications'" style="width:100%">
            <!-- VS-240. when there is no alert -->
            <ng-container *ngTemplateOutlet="sideNavNotification; "></ng-container>
          </div>
          <ng-container *ngSwitchCase="'settings'">
            <ng-container *ngTemplateOutlet="sideNavSettings; "></ng-container>
          </ng-container>
        </mat-sidenav>
        <mat-sidenav #sidenav class="app-shell-left-sidenav" mode="side" opened="true"
                     id="app-sidebar">
          <!-- Side Nav Items -->
          <ul class="list-unstyled components">
            <ng-container *ngTemplateOutlet="SideNavMenu; context:{items:sideNavMenu}">
            </ng-container>
          </ul>
        </mat-sidenav>

        <mat-sidenav-content>
          <app-toolbar #breadcrumbToolbar></app-toolbar>
          <div class="app-shell-router-outter-div">
            <app-toaster>
              <ng-template let-message let-onClose="onClose" pTemplate="message">
                <div fxLayout="row"
                     [class]="'app-ptoast-' + message.severity + ' app-ptoast-template'">
                  <mat-icon *ngIf="message.severity === 'success'" fxFlex="none"
                            class="app-ptoast-icon">
                    check_circle
                  </mat-icon>
                  <mat-icon *ngIf="message.severity === 'info'" fxFlex="none"
                            class="app-ptoast-icon">
                    info
                  </mat-icon>
                  <mat-icon *ngIf="message.severity === 'warn'" fxFlex="none"
                            class="app-ptoast-icon">
                    warning
                  </mat-icon>
                  <mat-icon *ngIf="message.severity === 'error'" fxFlex="none"
                            class="app-ptoast-icon">
                    error
                  </mat-icon>
                  <div fxFlex fxLayout="column">
                    <div fxFlex="nogrow" class="ui-toast-summary">{{message.summary}}</div>
                    <div fxFlex="nogrow" class="ui-toast-detail">{{message.detail}}</div>
                    <div fxFlex="nogrow" class="app-toast-container"
                         *ngIf="message.buttons != null && message.buttons.length > 0">
                      <span *ngFor="let button of message.buttons" class="app-toast-button"
                            [ngClass]="[button.cssClass != null ? button.cssClass : '', button.computeClass != null ? button.computeClass() : '' ]"
                            (click)="button.callback($event)">
                        {{button.text}}
                      </span>
                    </div>
                  </div>
                  <div fxFlex="none" fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon fxFlex="none" class="app-ptoast-close" (click)="onClose($event)">close
                    </mat-icon>
                  </div>
                </div>
              </ng-template>
            </app-toaster>
            <router-outlet></router-outlet>
          </div>

        </mat-sidenav-content>
      </mat-sidenav-container>

      <mat-toolbar class="app-shell-footer">
        <div fxFlex fxLayout="column">
          <div fxFlex fxLayout="row">
            <div fxLayout="column" fxLayoutAlign="center start">Pensando Systems</div>
            <div fxLayout="column" fxFlex="10px"></div>
            <div fxLayout="column" fxLayoutAlign="center start">
              <app-bgfileupload [showValue]="false"
                                [styleClass]="'app-shell-footer-widget-thinborder'">
              </app-bgfileupload>
            </div>
            <div fxFlex fxLayout="column"></div>
            <div class="app-shell-cluster-version" fxLayout="column" fxLayoutAlign="center end"
                 (click)="versionOp.toggle($event)">{{version?.status["build-version"]}}</div>
            <div fxFlex="20px" fxLayout="column"></div>
            <div fxLayout="column" fxLayoutAlign="center end">
              {{ clock | PrettyDate }} ({{hourDifference}}h)
            </div>
          </div>
        </div>
      </mat-toolbar>
    </ng-container>
  </div>
</div>

<p-overlayPanel #versionOp>
  <div class="app-shell-version-text" fxLayout="column">
    <div fxLayout="row">
      <div fxLayout="column">
        <div><b>Build Version:</b></div>
        <div>{{version?.status["build-version"]}}</div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxLayout="column">
        <div><b>VCS Commit ID:</b>
        </div>
        <div>{{ version?.status["vcs-commit"] }}</div>
      </div>
    </div>
    <div fxLayout="row">
      <div fxLayout="column">
        <div><b>Build Date:</b></div>
        <div>{{ version?.status["build-date"] }}</div>
      </div>
    </div>
  </div>
</p-overlayPanel>

<ng-template #SideNavMenu let-items="items">
  <ng-container *ngIf="!isUINavigationBlocked">
    <ng-container *ngFor="let item of items">
      <li *roleGuard="item.roleGuard">
        <ng-container *featureGuard="item.featureGuard">
          <a *ngIf="item.children == null" [routerLink]="item.link"
             routerLinkActive="app-sidenav-selected"
             class="app-sidenav-item" [id]="item.label">
            <i
               [class]="'glyphicon app-l-side-nav-li ' + item.icon.cssClass">{{item.icon.matIconName}}</i>
            <span class="app-l-side-nav-item-label">{{item.label}}</span>
          </a>

          <a *ngIf="item.children != null" class="app-sidenav-group-header" data-toggle="collapse"
             [attr.aria-expanded]="isSubMenuShown(item.link)" [href]="'#' + item.label + 'Submenu'">
            <i
               [class]="'glyphicon app-l-side-nav-li ' + item.icon.cssClass">{{item.icon.matIconName}}</i>
            <span class="app-l-side-nav-item-label">{{item.label}}</span>
          </a>

          <ul *ngIf="item.children != null && item.children.length > 0"
              class="list-unstyled app-l-side-nav-ul-submenu {{isSubMenuShown(item.link) ? 'show' : 'collapse'}} "
              [id]="item.label + 'Submenu'">
            <ng-container *ngTemplateOutlet="SideNavMenu; context:{items:item.children}">
            </ng-container>
          </ul>
        </ng-container>
      </li>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #sideNavNotification let-item="item">
  <div class="app-shell-sideNav-right-panel-div app-shell-sideNav-right-Notification">
    <app-alertlist *ngIf="alerts" [data]="alerts" (alertsClose)="onAlertsClose()"
                   (expandAllAlertsClick)="onExpandAllAlertsClick($event)"></app-alertlist>
  </div>
</ng-template>

<ng-template #sideNavSettings let-item="item">
  <ng-container *ngIf="!isUINavigationBlocked">
    <div fxFlex fxLayout="column">
      <div fxFlex="auto" class="app-shell-sideNav-right-panel-div app-shell-sideNav-right-Settings">
        <!-- comment out for GS0.3 -->
        <!--  
      <!--  
        <!--  
      <!--  
        <!--  
            <button mat-icon-button routerLink="settings" class="app-shell-button-sideNav-settings">
                <mat-icon>settings</mat-icon>
                Themes and endpoints
            </button>
            -->
        <!-- Material-Design sideNav will auto highlight the first button when open. Check scss to see style rules -->
      </div>
    </div>
  </ng-container>
</ng-template>


<!-- TODO: Remove once real help text is set -->
<ng-template cdkPortal #AppHelp="cdkPortal">
  <h1>
    Pensando help text
  </h1>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Est pellentesque elit ullamcorper dignissim cras tincidunt
    lobortis feugiat vivamus. Nulla facilisi morbi tempus iaculis urna id. Quisque egestas diam in
    arcu cursus euismod. Sit amet nisl purus in mollis nunc sed.
  </div>
</ng-template>
