<p-blockUI [blocked]="isScreenBlocked">
</p-blockUI>

<img [style.display]="'none'" src="../../../assets/images/pensando-logo.svg"
     alt="Pensando PSM" />
<img [style.display]="'none'" src="../../../assets/images/venice/venice-pictures-wallpapers-7.jpg"
     alt="Pensando PSM" />

<div
     class="pensUI-app {{os}} {{browsertype}} {{browserversion}} {{_currentComponent? _currentComponent['component']: ''}} "
     id="pensando-ui-screen">
  <p-confirmDialog #confirmDialog [closable]="false" icon="pi pi-exclamation-triangle">
  </p-confirmDialog>
  <div class="pensUI-app-center">
    <ng-container>
      <mat-toolbar color="primary">
        <mat-toolbar-row class="app-shell-tool-bar-row">
          <div fxLayout="row" class="app-shell-header-logo-div">

            <!-- Commenting out collapsed sidenav for August release
            The pin/unpin isn't completely smooth
            Menu expanded doesn't always cause the main content
            to flow correctly -->
            <div fxLayoutAlign="start center" class="app-header-logo-parent">
              <img id="app-header-logo" class="navbar-btn app-header-logo" (click)="redirectHome()"
                   src="../../../assets/images/headers/pensando-header-logo.svg" />
            </div>
            <div fxLayoutAlign="start center" class="app-menu-pin-parent">
              <button mat-icon-button (click)="onSideNavToggle()"
                      title="{{isSideNavShown ? 'Hide Side Menu' : 'Show Side Menu'}}">
                <mat-icon svgIcon="menu-pin"></mat-icon>
              </button>
            </div>
            <div fxLayoutAlign="start center" class="app-expanded-collapsed-btn-parent">
              <button mat-icon-button (click)="onSidebarCollapseClick($event);"
                      title="{{isSideNavExpanded ? 'Collapse Side Menu' : 'Expand Side Menu' }}"
                      [style.visibility]="isSideNavShown ? 'visible' : 'hidden'">
                <mat-icon svgIcon="{{!isSideNavExpanded ?  'menu-expand' : 'menu-collapse' }}">
                </mat-icon>
              </button>
            </div>
          </div>
          <ng-container *ngIf="!isUINavigationBlocked">
            <div class="app-shell-header-search-div">
              <app-searchbox></app-searchbox>
            </div>
          </ng-container>
          <span class="app-shell-cluster-name"> {{ cluster?.meta.name}}</span>
          <span class="app-shell-spacer"></span>
          <div class="app-shell-toolbar-icon-div">
            <ng-container *ngIf="!isUINavigationBlocked">
              <app-alert-indication-bar *ngIf="alerts"
                                        (alertType)="onToolbarIconClick($event,'notifications')"
                                        [data]="alerts"></app-alert-indication-bar>
            </ng-container>
            <a class="app-shell-doclink" [href]="docLink" target="_blank">
              <button [disableRipple]="true" mat-icon-button>
                <mat-icon class="app-library-books">
                  library_books
                </mat-icon>
              </button>
            </a>

            <ng-container>
              <button *featureGuard="'help'" mat-icon-button matTooltip="Online help"
                      (click)="onToolbarIconClick($event, 'help')">
                <mat-icon>help_outline</mat-icon>
              </button>
            </ng-container>

            <button mat-icon-button class="app-user-button" [matMenuTriggerFor]="toolbarUserMenu">
              <mat-icon>person</mat-icon>
            </button>
            <mat-menu class="app-shell-toolbar-user-menu" #toolbarUserMenu="matMenu">
              <div class="app-shell-toolbar-user-menu-name">User: {{ userName}} </div>
              <button mat-menu-item class="app-logout-button" (click)="onLogoutClick()">
                <mat-icon style="color: black">power_settings_new</mat-icon>
                <span>Sign out</span>
              </button>
            </mat-menu>
            <button mat-icon-button class="app-user-button" [matMenuTriggerFor]="toolbarAboutMenu"
                    matTooltip="About and support">
              <mat-icon>info</mat-icon>
            </button>
            <mat-menu class="app-shell-toolbar-user-menu" #toolbarAboutMenu="matMenu">
              <!-- VS-1059 CEO wants to disable this link 2020-01-02
              <a class="app-shell-externallink" href="https://pensando.io" target="_blank">
                <button mat-menu-item class="app-externallink-button">
                  <mat-icon style="color: black">home</mat-icon>
                  <span>Pensando Systems</span>
                </button>
              </a> 
               -->
              <a mat-menu-item class="app-shell-externallink"
                 href="https://support.pensando.io" target="_blank">
                <mat-icon style="color: black">face</mat-icon>
                <span>Support</span>
              </a>
              <div mat-menu-item class="app-shell-cluster-version"
                   [matTooltip]="'Click to see details'" (click)="showVersionDialog=true">
                <mat-icon style="color: black">settings_system_daydream</mat-icon>
                <span>About</span>
              </div>
            </mat-menu>
            <!-- Currently hidden because no functionality to display in it -->
            <ng-container *ngIf="!isUINavigationBlocked">
              <button mat-icon-button (click)="onToolbarIconClick($event, 'settings')"
                      class="hidden-sm-down settings-hidden-for-now">
                <mat-icon>settings</mat-icon>
              </button>
            </ng-container>
          </div>
        </mat-toolbar-row>

      </mat-toolbar>

      <mat-sidenav-container #container class="app-shell-container" autosize
                             [hasBackdrop]="whichRightSideNav() === 'help' ? false : undefined">
        <mat-sidenav #rightSideNav opened="false" mode="over" position="end"
                     [ngSwitch]="whichRightSideNav()"
                     class="app-shell-right-sidenav">
          <div *ngSwitchCase="'notifications'" style="width:100%">
            <!-- VS-240. when there is no alert -->
            <ng-container *ngTemplateOutlet="sideNavNotification; "></ng-container>
          </div>
          <div *ngSwitchCase="'help'">
            <ng-container *ngTemplateOutlet="sideNavHelp; "></ng-container>
          </div>
          <ng-container *ngSwitchCase="'settings'">
            <ng-container *ngTemplateOutlet="sideNavSettings; "></ng-container>
          </ng-container>
        </mat-sidenav>
        <mat-sidenav #sidenav class="app-shell-left-sidenav" mode="side" opened="true"
                     [disableClose]="true" id="app-sidebar"
                     [ngClass]="[isSideNavExpanded ? '' : 'active', isSideNavShown ? 'shell-animate-in' : 'shell-animate-out']"
                     *ngIf="isSideNavShown">
          <!-- Side Nav Items -->
          <div id="app-sidebar-container" class="panel-scroll" [scrollTop]="scrollTop"
               (scroll)="onScroll($event)">
            <ul class="list-unstyled components">
              <ng-container *ngTemplateOutlet="SideNavMenu; context:{items:sideNavMenu}">
              </ng-container>
            </ul>
          </div>
        </mat-sidenav>

        <mat-sidenav-content>
          <app-toolbar #breadcrumbToolbar></app-toolbar>
          <div class="app-shell-router-outter-div">
            <app-toaster>
              <ng-template let-message let-onClose="onClose" pTemplate="message">
                <div fxLayout="row"
                     [class]="'app-ptoast-' + message.severity + ' app-ptoast-template'">
                  <mat-icon *ngIf="message.severity === 'success'" fxFlex="none"
                            class="app-ptoast-icon">
                    check_circle
                  </mat-icon>
                  <mat-icon *ngIf="message.severity === 'info'" fxFlex="none"
                            class="app-ptoast-icon">
                    info
                  </mat-icon>
                  <mat-icon *ngIf="message.severity === 'warn'" fxFlex="none"
                            class="app-ptoast-icon">
                    warning
                  </mat-icon>
                  <mat-icon *ngIf="message.severity === 'error'" fxFlex="none"
                            class="app-ptoast-icon">
                    error
                  </mat-icon>
                  <div fxFlex fxLayout="column">
                    <div fxFlex="nogrow" class="ui-toast-summary">{{message.summary}}</div>
                    <div fxFlex="nogrow" class="ui-toast-detail">{{message.detail}}</div>
                    <div fxFlex="nogrow" class="app-toast-container"
                         *ngIf="message.buttons != null && message.buttons.length > 0">
                      <span *ngFor="let button of message.buttons" class="app-toast-button"
                            [ngClass]="[button.cssClass != null ? button.cssClass : '', button.computeClass != null ? button.computeClass() : '' ]"
                            (click)="button.callback($event)">
                        {{button.text}}
                      </span>
                    </div>
                  </div>
                  <div fxFlex="none" fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon fxFlex="none" class="app-ptoast-close" (click)="onClose($event)">close
                    </mat-icon>
                  </div>
                </div>
              </ng-template>
            </app-toaster>
            <router-outlet></router-outlet>
          </div>

        </mat-sidenav-content>
      </mat-sidenav-container>

      <mat-toolbar class="app-shell-footer">
        <div fxFlex fxLayout="column">
          <div fxFlex fxLayout="row">
            <div fxLayout="column" fxLayoutAlign="center start">Pensando Systems</div>
            <div fxLayout="column" fxFlex="10px"></div>
            <div fxLayout="column" fxLayoutAlign="center start">
              <app-bgfileupload [showValue]="false"
                                [styleClass]="'app-shell-footer-widget-thinborder'">
              </app-bgfileupload>
            </div>
            <div fxFlex fxLayout="column"></div>
            <div fxFlex="20px" fxLayout="column"></div>
            <div fxLayout="column" fxLayoutAlign="center end"
                 [matTooltip]="'The PSM system tracks time in UTC, please note the offset for your local time zone.'">
              {{ clock | PrettyDate }} ({{hourDifference}}h)
            </div>
          </div>
        </div>
      </mat-toolbar>
    </ng-container>
  </div>
</div>

<p-dialog #versionOp
          class="app-shell-version-dialog"
          [closeOnEscape]="true"
          [modal]="true"
          [(visible)]="showVersionDialog"
          header="Pensando Policy and Services Manager">
  <div class="app-shell-version-text" fxLayout="column" fxLayoutGap="10px">
    <div>
      <div><b>Build Version:</b></div>
      <div>{{version?.status["build-version"]}}</div>
    </div>
    <div>
      <div><b>VCS Commit ID:</b></div>
      <div>{{ version?.status["vcs-commit"] }}</div>
    </div>
    <div>
      <div><b>Build Date:</b></div>
      <div>{{ version?.status["build-date"] }}</div>
    </div>
  </div>
</p-dialog>

<ng-template #SideNavMenu let-items="items">
  <ng-container *ngIf="!isUINavigationBlocked">
    <ng-container *ngFor="let item of items">
      <li *roleGuard="item.roleGuard">
        <ng-container *featureGuard="item.featureGuard">
          <a *ngIf="item.children == null" [routerLink]="item.link"
             routerLinkActive="app-sidenav-selected"
             class="app-sidenav-item" [id]="item.label">
            <div class="app-sidenav-icon-parent">
              <span class="app-l-side-nav-bubble"></span>
              <i [class]="'glyphicon app-l-side-nav-li ' + item.icon.cssClass"
                 [matTooltip]='item.label'>{{item.icon.matIconName}}</i>
            </div>
            <div *ngIf="isSideNavExpanded" class="app-sidenav-span-parent">
              <span class="app-l-side-nav-item-label">{{item.label}}</span>
            </div>
          </a>

          <a *ngIf="item.children != null" class="app-sidenav-group-header"
             (click)="onMenuItemClick($event, item.link[0]);"
             [attr.aria-expanded]="isSubMenuShown(item.link[0])">
            <div class="app-sidenav-icon-parent-submenu">
              <i [class]="'glyphicon app-l-side-nav-li ' + item.icon.cssClass"
                 [matTooltip]='item.label'>{{item.icon.matIconName}}</i>
            </div>
            <div *ngIf="isSideNavExpanded" class="app-sidenav-span-parent">
              <span class="app-l-side-nav-item-label">{{item.label}}</span>
            </div>
          </a>

          <ul *ngIf="item.children != null && item.children.length > 0"
              class="list-unstyled app-l-side-nav-ul-submenu {{isSubMenuShown(item.link[0]) ? 'show' : 'collapse'}} "
              [id]="item.label + 'Submenu'">
            <ng-container *ngTemplateOutlet="SideNavMenu; context:{items:item.children}">
            </ng-container>
          </ul>
        </ng-container>
      </li>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #sideNavNotification let-item="item">
  <div class="app-shell-sideNav-right-panel-div app-shell-sideNav-right-Notification">
    <app-alertlist *ngIf="alerts" alertEvent="alertEvent" alertType="alertType" [data]="alerts"
                   (alertsClose)="onRightSideNavClose()"
                   (expandAllAlertsClick)="onExpandAllAlertsClick($event)"></app-alertlist>
  </div>
</ng-template>

<ng-template #sideNavHelp let-item="item">
  <div class="app-shell-sideNav-right-panel-div app-shell-sideNav-right-Help">
    <app-helpoverlay #helpOverlay *featureGuard="'help'" fxFlex="none"
                     (toggleHelpSideNav)="handleRightSideNavToggle($event, 'help')">
    </app-helpoverlay>
  </div>
</ng-template>

<ng-template #sideNavSettings let-item="item">
  <ng-container *ngIf="!isUINavigationBlocked">
    <div fxFlex fxLayout="column">
      <div fxFlex="auto" class="app-shell-sideNav-right-panel-div app-shell-sideNav-right-Settings">
        <!-- comment out for GS0.3 -->
        <!--  
      <!--  
        <!--  
      <!--  
        <!--  
            <button mat-icon-button routerLink="settings" class="app-shell-button-sideNav-settings">
                <mat-icon>settings</mat-icon>
                Themes and endpoints
            </button>
            -->
        <!-- Material-Design sideNav will auto highlight the first button when open. Check scss to see style rules -->
      </div>
    </div>
  </ng-container>
</ng-template>


<!-- TODO: Remove once real help text is set -->
<ng-template cdkPortal #AppHelp="cdkPortal">
  <h1>
    Pensando help text
  </h1>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua. Est pellentesque elit ullamcorper dignissim cras tincidunt
    lobortis feugiat vivamus. Nulla facilisi morbi tempus iaculis urna id. Quisque egestas diam in
    arcu cursus euismod. Sit amet nisl purus in mollis nunc sed.
  </div>
</ng-template>
