@import 'src/global-mixins';


.pensUI-app {
  width: 100vw;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  font-family: "Fira Sans Condensed" !important;
}

.app-shell-tool-bar-row.mat-toolbar-row {
  padding: 0px;
  height: 60px;
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.app-shell-tool-bar-row.mat-toolbar-row .mat-icon {
  height: 36px;
  width: 36px;
  line-height: 36px;
  font-size: 36px;
}

.app-shell-header-logo-div .mat-icon-button {
  height: 30px;
  width: 30px;
  padding: 1px 3px;
  margin: auto 4px auto 1px;
}

.app-shell-cluster-name {
  margin-left: 20px;
  font-family: "Fira Sans Condensed";
  font-size: 20px;
  font-weight: normal;
  color: #676763 !important;

}

.app-shell-doclink {
  font-family: "Fira Sans Condensed";
}

.app-shell-doclink,
.app-shell-doclink:hover {
  outline: none !important;
  margin-left: 10px !important;
  @include primary-font(14px, black);

  .mat-button {
    outline: none !important;

    .mat-button-focus-overlay {
      background: #676763;
    }
  }

  .mat-button:hover {
    .mat-button-focus-overlay {
      opacity: 0.2;
    }
  }
}

.app-shell-header-logo-div .mat-icon-button .mat-icon {
  height: 24px;
  width: 24px;
  line-height: 24px;
  font-size: 24px;
}

.app-shell-toolbar-icon-div .mat-icon {
  border-radius: 50%;
  color: #97b8df;
  background-color: #3e3e3e;
}

.app-shell-toolbar-icon-div {
  margin-right: 10px;
}

.app-shell-icon {
  padding: 0 14px;
}

.app-shell-spacer {
  flex: 1 1 auto;
}

.app-shell-container {
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
}

.app-shell-toolbar-user-menu {
  padding: 10px;
}

.app-shell-toolbar-user-menu-name {
  text-align: center;
}

.app-logout-button {
  outline: none !important;
}

.app-shell-router-outter-div {
  // Subtracting the top toolbar from the div height
  height: calc(100% - 65px);
}

/*====== alert notification icon =====*/
.app-notification-number {
  z-index: 2;
  color: #fff;
  border-radius: 50%;
  min-width: 20px;
  height: 20px;
  display: initial;
  position: absolute;
  top: 1px;
  left: 10px;
  vertical-align: top !important;
  text-align: center;
  border: 1px solid;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  padding: 1px 5px;
  margin: auto 10px;
}

.app-notification-critical {
  background-color: #dd3b09;
  box-shadow: 0 0 0 rgba(221, 59, 9, 0.4);
  animation: notification-animation-critical 2s infinite;
}

.app-notification-warn {
  background-color: #fcb710;
  box-shadow: 0 0 0 rgba(252, 183, 16, 0.4);
  animation: notification-animation-warn 2s infinite;
}

.app-notification-info {
  background-color: #6ba0e5;
  box-shadow: 0 0 0 rgba(107, 160, 229, 0.4);
  animation: notification-animation-info 2s infinite;
}

.app-notification-number:hover {
  animation: none;
}

@-webkit-keyframes notification-animation-critical {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(221, 59, 9, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(221, 59, 9, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(221, 59, 9, 0);
  }
}

@keyframes notification-animation-critical {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(221, 59, 9, 0.4);
    box-shadow: 0 0 0 0 rgba(221, 59, 9, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 20px rgba(221, 59, 9, 0);
    box-shadow: 0 0 0 10px rgba(221, 59, 9, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(221, 59, 9, 0);
    box-shadow: 0 0 0 0 rgba(221, 59, 9, 0);
  }
}

@-webkit-keyframes notification-animation-warn {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(252, 183, 16, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(252, 183, 16, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(252, 183, 16, 0);
  }
}

@keyframes notification-animation-warn {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(252, 183, 16, 0.4);
    box-shadow: 0 0 0 0 rgba(252, 183, 16, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 20px rgba(252, 183, 16, 0);
    box-shadow: 0 0 0 10px rgba(252, 183, 16, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(252, 183, 16, 0);
    box-shadow: 0 0 0 0 rgba(252, 183, 16, 0);
  }
}

@-webkit-keyframes notification-animation-info {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(107, 160, 229, 0.4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(107, 160, 229, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(107, 160, 229, 0);
  }
}

@keyframes notification-animation-info {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(107, 160, 229, 0.4);
    box-shadow: 0 0 0 0 rgba(107, 160, 229, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 20px rgba(107, 160, 229, 0);
    box-shadow: 0 0 0 10px rgba(107, 160, 229, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(107, 160, 229, 0);
    box-shadow: 0 0 0 0 rgba(107, 160, 229, 0);
  }
}

/*----- alert notification icon -----*/

/*====== header left =====*/
.app-shell-header-logo-div {
  min-width: $sidenavWidth;
}

.app-header-logo.navbar-btn {
  margin-right: 45px;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5pxl;
  cursor: pointer;
}

/*----- header left -----*/

.app-shell-container.mat-drawer-container {
  position: absolute;
}

.app-shell-left-sidenav,
.app-shell-right-sidenav {
  display: flex;
  align-items: top;
  justify-content: center;
  background: #c5cae9;
  padding: 0px;
}

.app-shell-left-sidenav {
  .mat-drawer-inner-container {
    overflow: hidden;

    .panel-scroll {
      width: 100%;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      scrollbar-color: #F5F5F5 rgb(92, 92, 88);
      scrollbar-width: thin;

      &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-track {
        background-color: #F5F5F5;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgb(92, 92, 88);
      }
    }
  }
}

.app-shell-right-sidenav {
  width: 360px;
  padding: 2px;
}

.app-shell-sidenav-content {
  display: flex;
  height: 100%;
  align-items: top;
  justify-content: center;
}

.app-shell-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.app-shell-footer {
  font-weight: 400;
  background: #5c6bc0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Fira Sans Condensed" !important;
}

.app-shell-footer-widget-thinborder {
  border: 1px;
  border-style: solid;
  border-color: #dddddd;
}

.app-shell-sideNav-right-Settings {
  display: flex;
  flex-direction: column;
}

.app-shell-sideNav-right-Settings .mat-icon.material-icons {
  margin-left: 8px;
  margin-right: 4px;
}

.app-shell-build-info {
  @include primary-font(14px);
  margin-bottom: 15px;
  margin-left: 10px;
}

/*======= Seach =========*/

.app-shell-header-search-div {
  margin-left: 10px;
  background: #bfd2eb;
  border-radius: 2px;
  width: 920px;
}

.app-search-button {
  color: #383383;
  font-size: 20px;
  padding: 5px;
  margin: 0px -40px 3px 5px;
}

.settings-hidden-for-now {
  display: none !important;
}


/*-------- Seach --------*/

/** VS-219 --*/
.hidden-sm-down.mat-icon-button {
  width: min-content !important;
}

.app-shell-button-sideNav-settings.mat-icon-button {
  text-align: left;
  width: inherit;
}

/** VS-240 --*/
.app-shell-sideNav-right-Notification {
  width: 100%;
}

.app-shell-version-dialog .ui-dialog-titlebar-close {
  margin-left: 24px;
}

.app-shell-version-text {
  @include primary-font();
}

.app-shell-menu-item-divider {
  margin-bottom: 10px;
}

.app-shell-menu-item-header {
  color: #676763;
  padding-left: 16px;
  padding-top: 8px;
}
