<div class="pensUI-app {{os}} {{browsertype}} {{browserversion}} {{_currentComponent? _currentComponent['component']: ''}} "
     id="pensando-ui-screen">
  <p-confirmDialog header="Confirmation" [closable]="false" icon="pi pi-exclamation-triangle">
  </p-confirmDialog>
  <div class="pensUI-app-center">
    <ng-container>
      <mat-toolbar color="primary">
        <mat-toolbar-row class="app-shell-tool-bar-row">
          <div class="app-shell-header-logo-div">
            <img id="app-header-logo" class="navbar-btn app-header-logo"
                 src="../../../assets/images/headers/pensando-header-logo.svg" />
            <!-- Commenting out collapsed sidenav for August release
                            The pin/unpin isn't completely smooth
                            Menu expanded doesn't always cause the main content
                            to flow correctly -->
            <!-- <button mat-icon-button (click)="sidenav.toggle()" title="Show Or Hide Side Menu">
                            <mat-icon svgIcon="menu-pin"></mat-icon>
                        </button>
                        <button mat-icon-button (click)="onSidebarCollapseClick($event);" title="Expand Or Collapse Side Menu" [style.visibility]="sidenav.opened ? 'visible' : 'hidden'">
                            <mat-icon svgIcon="menu-expand" *ngIf="!isSideNavExpanded"></mat-icon>
                            <mat-icon svgIcon="menu-collapse" *ngIf="isSideNavExpanded"></mat-icon>
                        </button> -->
          </div>

          <div class="app-shell-header-search-div">
            <app-searchbox *roleGuard="'search_read'"></app-searchbox>
          </div>

          <span class="app-shell-spacer"></span>
          <div class="app-shell-toolbar-icon-div">
            <a class="app-shell-doclink" [href]="docLink" target="_blank">
              <button [disableRipple]="true" mat-button>DOCS</button>
            </a>
            <!-- Commenting out for August release -->
            <!-- <button mat-button>Save</button> -->
            <button *roleGuard="'monitoringAlert_read'" mat-icon-button
                    (click)="onToolbarIconClick($event, 'notifications')">
              <mat-icon>notifications </mat-icon>
              <span class="app-notification-number" *ngIf="alertNumbers>0">{{alertNumbers}}</span>
            </button>
            <button mat-icon-button class="app-user-button" [matMenuTriggerFor]="toolbarUserMenu">
              <mat-icon>person</mat-icon>
            </button>
            <mat-menu class="app-shell-toolbar-user-menu" #toolbarUserMenu="matMenu">
              <div class="app-shell-toolbar-user-menu-name">User: {{ userName}} </div>
              <button mat-menu-item class="app-logout-button" (click)="onLogoutClick()">
                <mat-icon style="color: black">power_settings_new</mat-icon>
                <span>Sign out</span>
              </button>
            </mat-menu>
            <button mat-icon-button (click)="onToolbarIconClick($event, 'settings')"
                    class="hidden-sm-down">
              <mat-icon>settings</mat-icon>
            </button>
          </div>
        </mat-toolbar-row>

      </mat-toolbar>

      <mat-sidenav-container #container class="app-shell-container" autosize>
        <mat-sidenav #rightSideNav opened="false" mode="over" position="end"
                     [ngSwitch]="whichRightSideNav()"
                     class="app-shell-right-sidenav">
          <div *ngSwitchCase="'notifications'">
            <ng-container *ngTemplateOutlet="sideNavNotification; "></ng-container>
          </div>
          <ng-container *ngSwitchCase="'settings'">
            <ng-container *ngTemplateOutlet="sideNavSettings; "></ng-container>
          </ng-container>
        </mat-sidenav>
        <mat-sidenav #sidenav class="app-shell-left-sidenav" mode="side" opened="true"
                     id="app-sidebar">
          <!-- Side Nav Items -->
          <ul class="list-unstyled components">
            <ng-container *ngTemplateOutlet="SideNavMenu; context:{items:sideNavMenu}">
            </ng-container>
          </ul>
        </mat-sidenav>
        <mat-sidenav-content>
          <app-toolbar #breadcrumbToolbar></app-toolbar>
          <div class="app-shell-router-outter-div">
            <app-toaster>
              <ng-template let-message let-onClose="onClose" pTemplate="message">
                <div fxLayout="row"
                     [class]="'app-ptoast-' + message.severity + ' app-ptoast-template'">
                  <mat-icon *ngIf="message.severity === 'success'" fxFlex="none"
                            class="app-ptoast-icon">
                    check_circle
                  </mat-icon>
                  <mat-icon *ngIf="message.severity === 'info'" fxFlex="none"
                            class="app-ptoast-icon">
                    info
                  </mat-icon>
                  <mat-icon *ngIf="message.severity === 'warn'" fxFlex="none"
                            class="app-ptoast-icon">
                    warning
                  </mat-icon>
                  <mat-icon *ngIf="message.severity === 'error'" fxFlex="none"
                            class="app-ptoast-icon">
                    error
                  </mat-icon>
                  <div fxFlex fxLayout="column">
                    <div fxFlex="nogrow" class="ui-toast-summary">{{message.summary}}</div>
                    <div fxFlex="nogrow" class="ui-toast-detail">{{message.detail}}</div>
                    <div fxFlex="nogrow" class="app-toast-container"
                         *ngIf="message.buttons != null && message.buttons.length > 0">
                      <span *ngFor="let button of message.buttons" class="app-toast-button"
                            [ngClass]="[button.cssClass != null ? button.cssClass : '', button.computeClass != null ? button.computeClass() : '' ]"
                            (click)="button.callback($event)">
                        {{button.text}}
                      </span>
                    </div>
                  </div>
                  <div fxFlex="none" fxLayout="column" fxLayoutAlign="center center">
                    <mat-icon fxFlex="none" class="app-ptoast-close" (click)="onClose($event)">close
                    </mat-icon>
                  </div>
                </div>
              </ng-template>
            </app-toaster>
            <router-outlet></router-outlet>
          </div>

        </mat-sidenav-content>
      </mat-sidenav-container>

      <mat-toolbar class="app-shell-footer">Pensando Systems</mat-toolbar>
    </ng-container>
  </div>
</div>

<ng-template #SideNavMenu let-items="items">
  <ng-container *ngFor="let item of items">
    <li *roleGuard="item.roleGuard">
      <a *ngIf="item.children == null" [routerLink]="item.link"
         routerLinkActive="app-sidenav-selected" class="app-sidenav-item" [id]="item.label">
        <i
           [class]="'glyphicon app-l-side-nav-li ' + item.icon.cssClass">{{item.icon.matIconName}}</i>
        <span class="app-l-side-nav-item-label">{{item.label}}</span>
      </a>

      <a *ngIf="item.children != null" class="app-sidenav-group-header" data-toggle="collapse"
         aria-expanded="false" [href]="'#' + item.label + 'Submenu'">
        <i
           [class]="'glyphicon app-l-side-nav-li ' + item.icon.cssClass">{{item.icon.matIconName}}</i>
        <span class="app-l-side-nav-item-label">{{item.label}}</span>
      </a>

      <ul *ngIf="item.children != null && item.children.length > 0"
          class="collapse list-unstyled app-l-side-nav-ul-submenu" [id]="item.label + 'Submenu'">
        <ng-container *ngTemplateOutlet="SideNavMenu; context:{items:item.children}"></ng-container>
      </ul>
    </li>
  </ng-container>
</ng-template>

<ng-template #sideNavNotification let-item="item">
  <div class="app-shell-sideNav-right-panel-div app-shell-sideNav-right-Notification">
    <app-alertlist *ngIf="alerts" [data]="alerts"
                   (expandAllAlertsClick)="onExpandAllAlertsClick($event)"></app-alertlist>
  </div>
</ng-template>

<ng-template #sideNavSettings let-item="item">
  <div fxFlex fxLayout="column">
    <div fxFlex="auto" class="app-shell-sideNav-right-panel-div app-shell-sideNav-right-Settings">
      <!-- comment out for GS0.3 -->
      <!--  
            <button mat-icon-button routerLink="settings" class="hidden-sm-down">
                <mat-icon>settings</mat-icon>
                Themes and endpoints
            </button>
            -->
      <!-- Material-Design sideNav will auto highlight the first button when open. Check scss to see style rules -->
      <button mat-icon-button (click)="settingsNavigate(['/settings', 'authpolicy'])"
              class="hidden-sm-down">
        <mat-icon>settings</mat-icon>
        Authentication Policy
      </button>
      <button mat-icon-button (click)="settingsNavigate(['/settings', 'users'])"
              class="hidden-sm-down">
        <mat-icon>person</mat-icon>
        User Management
      </button>
      <button mat-icon-button (click)="settingsNavigate(['/settings', 'upgrade'])"
              class="hidden-sm-down">
        <mat-icon>cloud_upload</mat-icon>
        System Upgrade
      </button>
    </div>

    <div fxFlex></div>
    <div fxFlex="nogrow" class="app-shell-build-info">
      <div>
        Build Version: {{version?.status["build-version"]}}
      </div>
      <div>
        VCS Commit ID: {{ version?.status["vcs-commit"] }}
      </div>
      <div>
        Build Date: {{ version?.status["build-date"] }}
      </div>
    </div>
  </div>
</ng-template>
