/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.app-wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
}

#app-sidebar {
  min-width: 200px;
  max-width: 200px;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  margin-top: 0px;
  margin-left: 0px;
}

#app-sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#app-sidebar.active .sidebar-header h3,
#app-sidebar.active .CTAs {
  display: none;
}

#app-sidebar.active .sidebar-header strong {
  display: block;
}

#app-sidebar ul li a {
  text-align: left;
}

#app-sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#app-sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#app-sidebar.active ul ul a {
  padding: 10px !important;
}

#app-sidebar.active a[aria-expanded="false"]::before,
#app-sidebar.active a[aria-expanded="true"]::before {
  top: auto;
  bottom: 5px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#app-sidebar .sidebar-header {
  padding: 20px;
}

#app-sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#app-sidebar ul.components {
  padding: 5px 0;
  // border-bottom: 1px solid #47748b;
}

#app-sidebar ul li a {
  padding: 10px;
  font-size: 18px;
  display: block;
}

#app-sidebar ul li a i {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

/* When pindown button dismiss SideNav panel. We set SideNav to hide */
#app-sidebar  nav.pindown {
  display: none !important;
}

#app-sidebar a[data-toggle="collapse"] {
  position: relative;
}

#app-sidebar a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}

#app-sidebar a[aria-expanded="true"]::before {
  content: '\e260';
}

#app-sidebar ul ul a {
  font-size: 16px !important;
  padding-left: 30px !important;
}

#app-sidebar.active ul ul a {
  font-size: 0.85em !important;
}

#app-sidebar ul.CTAs {
  padding: 20px;
}

#app-sidebar ul.CTAs a {
  text-align: center;
  font-size: 16px !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

.app-l-side-nav-li{
  width:24px;
  height:24px;
}

#app-sidebar.active ul li a .app-l-side-nav-li{ 
  width:60px;
}

.app-l-side-nav-cluster{
  background: url("/assets/images/icons/icon-app-sidenav-cluster.svg") center center no-repeat;
}

.app-l-side-nav-cluster-detail {
  background: url("/assets/images/icons/cluster/ico-cluster.svg") center center no-repeat;
}

.app-l-side-nav-cluster-nodes {
  background: url("/assets/images/icons/cluster/ico-nodes.svg") center center no-repeat;
}

.app-l-side-nav-cluster-naples {
  background: url("/assets/images/icons/cluster/ico-naples.svg") center center no-repeat;
}

.app-l-side-nav-workload{
  background: url("/assets/images/icons/icon-app-sidenav-workload.svg") center center no-repeat;
}

.app-l-side-nav-security{
  background: url("/assets/images/icons/icon-app-sidenav-security.svg") center center no-repeat;
}

.app-l-side-nav-network {
  background: url("/assets/images/icons/icon-app-sidenav-network.svg") center center no-repeat;
}

.app-l-side-nav-network-service {
  background: url("/assets/images/icons/network/ico-service.svg") center center no-repeat;
}

.app-l-side-nav-network-loadbalance {
  background: url("/assets/images/icons/network/ico-loadbalance-policy.svg") center center no-repeat;
}

.app-l-side-nav-network-qospolicy {
  background: url("/assets/images/icons/network/ico-qo-s-policy.svg") center center no-repeat;
}

.app-l-side-nav-network-mirrorpolicy {
  background: url("/assets/images/icons/network/ico-mirror-policy.svg") center center no-repeat;
}

.app-l-side-nav-monitoring{
  background: url("/assets/images/icons/icon-app-sidenav-monitoring.svg") center center no-repeat;
}

.app-l-side-nav-monitoring-troubleshooting {
  background: url("/assets/images/icons/monitoring/ico-monitoring.svg") center center no-repeat;
}

.app-l-side-nav-monitoring-alertevent {
  background: url("/assets/images/icons/monitoring/ico-troubleshooting.svg") center center no-repeat;
}

.app-l-side-nav-security-securitygroup {
  background: url("/assets/images/icons/security/ico-security-group.svg") center center no-repeat;
}

.app-l-side-nav-security-securitypolicy {
  background: url("/assets/images/icons/security/icon-security-policy.svg") center center no-repeat;
}

.app-l-side-nav-security-firewallpolicy {
  background: url("/assets/images/icons/security/icon-firewall-policy.svg") center center no-repeat;
}

.app-l-side-nav-security-alg {
  background: url("/assets/images/icons/security/ico-alg.svg") center center no-repeat;
}

