@import 'src/global-mixins';

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.app-wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
}

#app-sidebar {
  width: $sidenavWidth;
  margin-top: 0px;
  margin-left: 0px;
}

#app-sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#app-sidebar.active .sidebar-header h3,
#app-sidebar.active .CTAs {
  display: none;
}

#app-sidebar.active .sidebar-header strong {
  display: block;
}

#app-sidebar ul li a {
  text-align: left;
}

#app-sidebar.active ul li a {
  padding: 10px 10px;
  text-align: center;
  font-size: 0.85em;
}

#app-sidebar.active ul li a i {
  font-size: 1.8em;
  margin-bottom: 5px;
}

#app-sidebar.active ul ul a {
  padding: 10px !important;
}

#app-sidebar.active a[aria-expanded="false"]::before,
#app-sidebar.active a[aria-expanded="true"]::before {
  top: auto;
  bottom: 5px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#app-sidebar .sidebar-header {
  padding: 20px;
}

#app-sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#app-sidebar ul.components {
  padding: 5px 0;
}

#app-sidebar ul li a {
  padding: 10px;
  padding-left: 6px;
  font-size: 18px;
}

#app-sidebar ul li a i {
  display: inline-block;
  vertical-align: middle;
}

/* When pindown button dismiss SideNav panel. We set SideNav to hide */
#app-sidebar nav.pindown {
  display: none !important;
}

#app-sidebar a[data-toggle="collapse"] {
  position: relative;
}

#app-sidebar a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: '\f107';
  display: block;
  position: relative;
  left: 180px;
  height: 0px;
  font-family: 'FontAwesome';
  font-size: 16px;
}

#app-sidebar a[aria-expanded="true"]::before {
  content: '\f106';
}

#app-sidebar ul ul a {
  font-size: 16px !important;
  // padding-left: 25px !important;
}

#app-sidebar.active ul ul a {
  font-size: 0.85em !important;
}

#app-sidebar ul.CTAs {
  padding: 20px;
}

#app-sidebar ul.CTAs a {
  text-align: center;
  font-size: 16px !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

.app-l-side-nav-li {
  width: 24px;
  height: 24px;
}

#app-sidebar .app-sidenav-group-header,
.app-sidenav-item {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-start;
}

#app-sidebar .app-sidenav-icon-parent {
  flex: 0 0 45px;
}

#app-sidebar .app-sidenav-group-header {
  .app-sidenav-icon-parent-submenu {
    flex: 0 0 37px;
  }
}

#app-sidebar .app-sidenav-span-parent {
  flex: 0 0 1;
}

#app-sidebar .app-sidenav-selected {
  .app-l-side-nav-bubble {
    background-color: #8cafda;
  }
}

#app-sidebar .app-l-side-nav-bubble {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 1px;
  padding-left: 5px;
  height: 6px;
  width: 6px;
  margin-right: 5px;
  display: inline-block;
  color: inherit;
  border-radius: 70px;
}

.app-sidenav-selected .app-sidenav-icon-parent>i,
.app-sidenav-selected .app-sidenav-icon-parent-submenu>i {
  filter: invert(21%) sepia(22%) saturate(549%) hue-rotate(173deg) contrast(91%) brightness(93%);
}

.pensando-ui #app-sidebar .app-sidenav-selected {
  background: inherit;
}


.app-l-side-nav-cluster {
  background: url("/assets/images/icons/ico-system-w.svg") center center no-repeat;
}

.app-l-side-nav-cluster-detail {
  background: url("/assets/images/icons/cluster/ico-cluster.svg") center center no-repeat;
}

.app-l-side-nav-cluster-host {
  background: url("/assets/images/icons/cluster/ico-host-w.svg") center center no-repeat;
  background-size: contain;
}

.app-l-side-nav-cluster-nodes {
  background: url("/assets/images/icons/cluster/node/ico-nodes.svg") center center no-repeat;
}

.app-l-side-nav-cluster-naples {
  background: url("/assets/images/icons/cluster/naples/ico-dsc-white.svg") center center no-repeat;
}

.app-l-side-nav-cluster-networkinterfaces {
  background: url("/assets/images/icons/cluster/networkinterfaces/dsc-interface.svg") center center no-repeat;
}

.app-l-side-nav-cluster-dscprofiles {
  background: url("/assets/images/icons/cluster/profiles/dsc-profile.svg") center center no-repeat;
}

.app-l-side-nav-workload {
  background: url("/assets/images/icons/icon-app-sidenav-workload.svg") center center no-repeat;
}

.app-l-side-nav-security {
  background: url("/assets/images/icons/icon-app-sidenav-security.svg") center center no-repeat;
}

.app-l-side-nav-network {
  background: url("/assets/images/icons/icon-app-sidenav-network.svg") center center no-repeat;
}

.app-l-side-nav-network-service {
  background: url("/assets/images/icons/network/ico-service.svg") center center no-repeat;
}

.app-l-side-nav-network-loadbalance {
  background: url("/assets/images/icons/network/ico-loadbalance-policy.svg") center center no-repeat;
}

.app-l-side-nav-network-qospolicy {
  background: url("/assets/images/icons/network/ico-qo-s-policy.svg") center center no-repeat;
}

.app-l-side-nav-network-mirrorpolicy {
  background: url("/assets/images/icons/network/ico-mirror-policy.svg") center center no-repeat;
}

.app-l-side-nav-monitoring {
  background: url("/assets/images/icons/icon-app-sidenav-monitoring.svg") center center no-repeat;
}

.app-l-side-nav-monitoring-troubleshooting {
  background: url("/assets/images/icons/monitoring/ico-monitoring.svg") center center no-repeat;
}

.app-l-side-nav-monitoring-alertevent {
  background: url("/assets/images/icons/monitoring/ico-troubleshooting.svg") center center no-repeat;
}

.app-l-side-nav-security-securitygroups {
  background: url("/assets/images/icons/security/ico-security-group.svg") center center no-repeat;
}

.app-l-side-nav-security-securitypolicy {
  background: url("/assets/images/icons/security/icon-security-policy-white.svg") center center no-repeat;
}

.app-l-side-nav-security-firewallpolicy {
  background: url("/assets/images/icons/security/icon-firewall-policy.svg") center center no-repeat;
}

.app-l-side-nav-security-alg {
  background: url("/assets/images/icons/security/ico-alg.svg") center center no-repeat;
}

.app-l-side-nav-monitoring-flowexport {
  background: url("/assets/images/icons/monitoring/ico-export-policy.svg") center center no-repeat;
}

.app-l-side-nav-network {
  background: url("/assets/images/icons/network/network.svg") center center no-repeat;
  background-size: contain;
}

.app-l-side-nav-controller {
  background: url("/assets/images/icons/controller/controller-white.svg") center center no-repeat;
  background-size: contain;
}

.app-l-side-nav-controller-vcenter {
  background: url("/assets/images/icons/controller/vcenter-white.svg") center center no-repeat;
  background-size: contain;
}

.app-l-side-nav-monitoring-fwlogs {
  background: url("/assets/images/icons/monitoring/icon-firewall-policy.svg") center center no-repeat;
}

.app-l-side-nav-monitoring-mirrorsession {
  background: url("/assets/images/icons/monitoring/ico-mirror-session.svg") center center no-repeat;
}

.app-l-side-nav-security-apps {
  background: url("/assets/images/icons/security/ico-app.svg") center center no-repeat;
}

.app-l-side-nav-firewall-profiles {
  background: url("/assets/images/icons/security/ico-fw-prof-w.svg") center center no-repeat;
}

.app-l-side-nav-monitoring-auditevents {
  background: url("/assets/images/icons/monitoring/ic_audit_w.svg") center center no-repeat;
  background-size: contain;
}

.app-l-side-nav-monitoring-techsupport {
  background: url("/assets/images/icons/monitoring/ic_tech_support_w.svg") center center no-repeat;
  background-size: contain;
}

.app-l-side-nav-arch-log {
  background: url("/assets/images/icons/monitoring/ico-arch-log-w.svg") center center no-repeat;
}

.app-l-side-nav-admin {
  background: url("/assets/images/icons/admin/ico-admin-w.svg") center center no-repeat;
  background-size: contain;
}

.app-l-side-nav-admin-auth-pol {
  background: url("/assets/images/icons/admin/ico-auth-pol-w.svg") center center no-repeat;
  background-size: contain;
}
