<div fxFlex="auto" fxLayout="column" class="partial-edit-sgpolicy-container">

  <div fxFlex="auto" fxLayout="row">
    <ng-container *ngTemplateOutlet="meta"></ng-container>
    <div fxFlex></div>
    <div *ngIf="isInline" class="neweventpolicy-buttoncontainer" fxFlex="nogrow" fxLayout="row wrap"
         fxLayoutAlign="start start">
      <span (click)="saveObject()"
            [title]="getTooltip()"
            [matTooltip]="'test'"
            [ngClass]="{
              'global-button-primary': true,
              'global-button-padding': true,
              'partial-edit-sgpolicy-save': true,
              'global-button-disabled': !isFormValid()
            }">SAVE</span>
      <span (click)="cancelObject()"
            class="global-button-neutral global-button-padding partial-edit-sgpolicy-save">CANCEL</span>
    </div>
  </div>
  <!--
  <div *ngIf="!isInline" fxFlex="30px"></div>
  <ng-container *ngTemplateOutlet="attachForm"></ng-container>
  -->
  <div fxFlex="30px"></div>
  <ng-container *ngTemplateOutlet="rulesSection"></ng-container>
</div>

<ng-template #meta>
  <div fxFlex="none" [formGroup]="newObject.$formGroup">
    <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start center" formGroupName="meta">
      <span [ngClass]="{
          'requiredField': isFieldEmpty(newObject.$formGroup.get(['meta', 'name']))
        }">
        <input formControlName="name" class="partial-edit-sgpolicy-name-box"
               appFloatLabel="Unique Name"
               appErrorTooltip spellcheck="false" type="text" pInputText>
      </span>
    </div>
  </div>
</ng-template>

<ng-template #attachForm>
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <div fxFlex="nogrow">ATTACH TO:</div>
    <mat-radio-group fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px"
                     class="partial-edit-sgpolicy-attach-radio" [(ngModel)]="selectedAttachOption">
      <mat-radio-button fxFlex="nogrow" fxLayoutAlign="start center" color="primary"
                        [disableRipple]="true" class=""
                        *ngFor="let option of attachOptions" [value]="option.value">
        {{option.label}}
      </mat-radio-button>
    </mat-radio-group>
    <div [@fastSlideInOut] *ngIf="selectedAttachOption === 'securityGroups'" fxFlex="noshrink"
         fxLayout="row"
         fxLayoutAlign="start center" fxLayoutGap="10px">
      <div fxFlex="90px"></div>
      <div fxFlex="nogrow" class="partial-edit-sgpolicy-text">GROUPS:</div>
      <p-multiSelect class="partial-edit-sgpolicy-multiselect" fxFlex="300px" appendTo="body"
                     styleClass="partial-edit-sgpolicy-font"
                     [filter]="false" [showToggleAll]="false" [showHeader]="false"
                     defaultLabel="Select Groups..."
                     [options]="securityGroupOptions"
                     [formControl]="newObject.$formGroup.get(['spec', 'attach-groups'])">
      </p-multiSelect>
    </div>
  </div>
</ng-template>

<ng-template #rulesSection>
  <div fxFlex="none" fxLayout="column">
    <div fxFlex="none" fxLayout="row">
      <div fxFlex="none">RULES:</div>
      <div fxFlex="5px"></div>
      <div fxFlex="none" class="partial-edit-sgpolicy-subtext">(specify one or more)</div>
    </div>
    <app-orderedlist [dataArray]="rules" [template]="ruleTemplate"
                     (itemClick)="orderedListClick($event)"
                     [enableDragDrop]="false"
                     [enableOrdering]="false"></app-orderedlist>
    <!--<div fxFlex="none" (click)="addRule()" class="partial-edit-sgpolicy-add-rule">+ RULE</div>-->
  </div>
</ng-template>

<ng-template #ruleTemplate let-data="data" let-index="index" let-inEdit="inEdit">
  <div [@.disabled]="!repeaterAnimationEnabled || indexToSkipAnimation === index" fxFlex="auto"
       fxLayout="column">
    <div *ngIf="!inEdit" [@slideInOut] fxFlex="auto" fxLayout="column">
      <ng-container
                    *ngTemplateOutlet="ruleTemplateView; context:{data: data, index: index, inEdit: inEdit}">
      </ng-container>
    </div>

    <div *ngIf="inEdit" [@slideInOut] fxFlex="auto" fxLayout="column">
      <ng-container
                    *ngTemplateOutlet="ruleTemplateEdit; context:{data: data, index: index, inEdit: inEdit}">
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #ruleTemplateEdit let-data="data" let-index="index" let-inEdit="inEdit">
  <div fxFlex="auto" fxLayout="column" fxLayoutAlign="center none"
       class="partial-edit-sgpolicy-rule-template"
       [ngClass]="{'partial-edit-sgpolicy-hide-primeng-panel': !rules[index].inEdit}">
    <!-- RuleNumber commented for now, component doesnt have rule reorder logic at this time. -->
    <!-- <div class="partial-edit-sgpolicy-order-header" fxFlex="none" fxLayout="row" fxLayoutAlign="start center">
      <div fxLayout="row" fxLayoutAlign="start end">
        <input fxFlex="50px" [formControl]="ruleNumberEditControl" class="partial-edit-sgpolicy-number-edit"
               appErrorTooltip
               spellcheck="false" type="text" pInputText>
      </div>
      <div fxFlex="30px"></div>
      <div fxFlex="none" fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="25px">
        <div fxFlex="auto" class="partial-edit-sgpolicy-bold">RULE</div>
      </div>
      <div fxFlex="auto" fxLayoutAlign="end center">
      </div>
    </div> -->

    <ng-container [formGroup]="data.rule.$formGroup">

      <!--<div fxFlex="5px"></div>
      <div fxFlex="15px" class="partial-edit-sgpolicy-divider"></div>-->

      <div fxFlex="none" fxLayout="column" fxLayoutAlign="start start">
        <div fxFlex="none">ACTION</div>
        <div fxFlex="none" fxLayout="row">
          <div fxFlex="15px"></div>
          <div fxFlex="none" fxLayout="column">
            <div fxFlex="10px"></div>
            <p-dropdown class="partial-edit-sgpolicy-input"
                        formControlName="action"
                        [options]="actionOptions">
            </p-dropdown>
          </div>
        </div>
      </div>

      <div fxFlex="20px"></div>

      <div fxFlex="none" fxLayout="column" fxLayoutAlign="start start">
        <div fxFlex="none">FROM</div>
        <div fxFlex="none" fxLayout="row">
          <div fxFlex="15px"></div>
          <div fxFlex="none" fxLayout="column" fxLayoutGap="10px">
            <div fxFlex="5px"></div>
            <span
                  [ngClass]="{'app-formchips-requiredField': isFieldEmpty(data.rule.$formGroup.get(['from-ip-addresses']))}">
              <app-formchips fxFlex="none" [chipsLabel]="IPS_LABEL"
                             [formControl]="data.rule.$formGroup.get(['from-ip-addresses'])"
                             boxStyleClass="partial-edit-sgpolicy-chip" [itemValidator]="isValidIP"
                             [itemErrorMsg]="IPS_ERRORMSG" [toolTip]="IPS_TOOLTIP">
              </app-formchips>
            </span>
          </div>
          <!-- Release-A Constraints -->
          <!-- <div fxFlex="none" fxLayout="column" fxLayoutGap="10px">            
            <div fxFlex="none" fxLayout="row">
              <div fxFlex="none">Security Groups:</div>
              <div fxFlex="5px"></div>
              <div fxFlex="none" class="partial-edit-sgpolicy-subtext">(specify one or more)</div>
            </div>
            <div fxFlex="30px">
              <p-multiSelect class="partial-edit-sgpolicy-from-sg" fxFlex="300px"
                              formControlName="from-security-groups"
                              appErrorTooltip appendTo="body"
                              [filter]="false" [showToggleAll]="false"
                              [showHeader]="false" [options]="securityGroupOptions"></p-multiSelect>
            </div>
          </div> -->
        </div>
      </div>

      <div fxFlex="20px"></div>

      <div fxFlex="none" fxLayout="column" fxLayoutAlign="start start">
        <div fxFlex="none">TO</div>
        <div fxFlex="none" fxLayout="row">
          <div fxFlex="15px"></div>
          <div fxFlex="none" fxLayout="column" fxLayoutGap="10px">
            <div fxFlex="5px"></div>
            <span
                  [ngClass]="{'app-formchips-requiredField': isFieldEmpty(data.rule.$formGroup.get(['to-ip-addresses']))}">
              <app-formchips fxFlex="none" [chipsLabel]="IPS_LABEL"
                             [formControl]="data.rule.$formGroup.get(['to-ip-addresses'])"
                             boxStyleClass="partial-edit-sgpolicy-chip" [itemValidator]="isValidIP"
                             [itemErrorMsg]="IPS_ERRORMSG" [toolTip]="IPS_TOOLTIP">
              </app-formchips>
            </span>
          </div>
          <!-- Release-A Constraints -->
          <!-- <div fxFlex="none" fxLayout="column" fxLayoutGap="10px">
            <div fxFlex="none" fxLayout="row">
              <div fxFlex="none">Security Groups:</div>
              <div fxFlex="5px"></div>
              <div fxFlex="none" class="partial-edit-sgpolicy-subtext">(specify one or more)</div>
            </div>
            <div fxFlex="30px">
              <p-multiSelect class="partial-edit-sgpolicy-from-sg" fxFlex="300px"
                              formControlName="to-security-groups"
                              appErrorTooltip appendTo="body"
                              [filter]="false" [showToggleAll]="false"
                              [showHeader]="false" [options]="securityGroupOptions"></p-multiSelect>
            </div>
          </div> -->
        </div>
      </div>

      <div fxFlex="20px"></div>

    </ng-container>

    <mat-radio-group fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px"
                     [(ngModel)]="data.selectedProtoAppOption">
      <mat-radio-button fxFlex="nogrow" fxLayoutAlign="start center" color="primary"
                        [disableRipple]="true"
                        *ngFor="let option of protoAppOptions" [value]="option.value">
        {{option.label}}
      </mat-radio-button>
    </mat-radio-group>

    <div *ngIf="data.selectedProtoAppOption === PROTO_PORTS_OPTION"
         fxFlex="grow" fxLayout="column" fxLayoutAlign="start start">
      <ng-container *ngTemplateOutlet="protoandportsTemplate; context:{data: data, index: index}">
      </ng-container>
    </div>
    <div *ngIf="data.selectedProtoAppOption === APPS_OPTION"
         fxFlex="grow" fxLayout="column" fxLayoutAlign="start start">
      <ng-container *ngTemplateOutlet="appsTemplate; context:{data: data, index: index}">
      </ng-container>
    </div>

  </div>
</ng-template>

<ng-template #ruleTemplateView let-data="data" let-index="index" let-inEdit="inEdit">
  <div fxFlex="auto" fxLayout="column" fxLayoutAlign="start none"
       class="partial-edit-sgpolicy-rule-template"
       [ngClass]="{'partial-edit-sgpolicy-hide-primeng-panel': !rules[index].inEdit}">
    <div fxFlex="none" fxLayout="row" fxLayoutAlign="start end">
      <div fxFlex="15px"></div>
      <div fxFlex="none" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="14px">
        <div fxFlex="auto" class="partial-edit-sgpolicy-bold">ACTION</div>
        <div fxFlex="auto">{{ displayArrayField(data, 'action') }}</div>
      </div>
    </div>

    <div fxFlex="none" fxLayout="row wrap" fxLayoutAlign="start start">
      <div class="partial-edit-sgpolicy-fieldgroup" fxLayout="row" fxLayoutAlign="start start">
        <div class="partial-edit-sgpolicy-fieldgroup-label-from partial-edit-sgpolicy-bold">
          FROM
        </div>
        <div *ngIf="data.rule.$formGroup.get('from-security-groups').value.length !== 0"
             fxFlex="auto" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
          <div fxFlex="auto" class="partial-edit-sgpolicy-bold-subtext">Security Groups</div>
          <div fxFlex="auto">{{ displayArrayField(data, 'from-security-groups') }}</div>
        </div>
        <div *ngIf="data.rule.$formGroup.get('from-ip-addresses').value.length !== 0"
             class="partial-edit-sgpolicy-ip-fieldgroup" fxLayout="row">
          <div class="partial-edit-sgpolicy-ip-label partial-edit-sgpolicy-bold-subtext">
            IP Addresses
          </div>
          <div class="partial-edit-sgpolicy-ip-value">
            {{ displayArrayField(data, 'from-ip-addresses') }}
          </div>
        </div>
      </div>
      <div class="partial-edit-sgpolicy-fieldgroup" fxLayout="row" fxLayoutAlign="start start">
        <div class="partial-edit-sgpolicy-fieldgroup-label-to partial-edit-sgpolicy-bold">
          TO
        </div>
        <div *ngIf="data.rule.$formGroup.get('to-security-groups').value.length !== 0"
             fxFlex="auto" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="25px">
          <div fxFlex="auto" class="partial-edit-sgpolicy-bold-subtext">Security Groups</div>
          <div fxFlex="auto">{{ displayArrayField(data, 'to-security-groups') }}</div>
        </div>
        <div *ngIf="data.rule.$formGroup.get('to-ip-addresses').value.length !== 0"
             class="partial-edit-sgpolicy-ip-fieldgroup" fxLayout="row">
          <div class="partial-edit-sgpolicy-ip-label partial-edit-sgpolicy-bold-subtext">
            IP Addresses
          </div>
          <div class="partial-edit-sgpolicy-ip-value">
            {{ displayArrayField(data, 'to-ip-addresses') }}
          </div>
        </div>
      </div>
    </div>

    <div fxFlex="none" fxLayout="row" fxLayoutAlign="start end">
      <div fxFlex="15px"></div>
      <div fxFlex="none" fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="19px">
        <div *ngIf="data.selectedProtoAppOption === APPS_OPTION"
             fxFlex="auto" class="partial-edit-sgpolicy-bold">APPS</div>
        <div *ngIf="data.selectedProtoAppOption === APPS_OPTION" fxFlex="auto"
             [innerHTML]="displayArrayField(data, 'apps')"></div>
        <div *ngIf="data.selectedProtoAppOption !== APPS_OPTION"
             fxFlex="auto" class="partial-edit-sgpolicy-bold">PROTO-PORTS</div>
        <div *ngIf="data.selectedProtoAppOption !== APPS_OPTION" fxFlex="auto"
             [innerHTML]="displayArrayField(data, 'proto-ports')"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #protoandportsTemplate let-data="data" let-ruleIndex="index">
  <div fxFlex="nogrow" fxLayout="column" fxLayoutAlign="start center" [@slideInOut]
       *ngFor="let target of controlAsFormArray(data.rule.$formGroup.get('proto-ports')).controls ; let index = index ; let first = first"
       [formGroup]="target">
    <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start center"
         style="margin-bottom: 15px; padding-top: 5px;">
      <div fxFlex="15px"></div>
      <div fxFlex="none" fxLayout="row">
        <span [style.width]="'200px'"
              [ngClass]="{'requiredField': isFieldEmpty(target.get(['protocol']))}">
          <input class="partial-edit-sgpolicy-name-box" fxFlex="nogrow" spellcheck="false"
                 pInputText formControlName="protocol" appFloatLabel="Protocol">
        </span>
      </div>
      <div fxFlex="30px"></div>
      <div fxFlex="none" fxLayout="row">
        <span [style.width]="'200px'" [ngClass]="{'requiredField': isPortRequired(target)}">
          <input class="partial-edit-sgpolicy-name-box" fxFlex="nogrow" spellcheck="false"
                 pInputText formControlName="ports" appFloatLabel="Ports">
        </span>
      </div>
      <div fxFlex="20px"></div>
      <div fxFlex="nogrow" fxLayout="row">
        <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start start">
          <div fxFlex="55px" fxLayout="row" fxLayoutAlign="start end"
               class="partial-edit-sgpolicy-fieldtitle global-add-button">
            <span fxFlex="nogrow" (click)="addProtoTarget(ruleIndex)">+ ADD</span>
            <mat-icon fxFlex="nogrow" class="global-trash-button"
                      *ngIf="controlAsFormArray(data.rule.$formGroup.get('proto-ports')).controls.length > 1 && !first"
                      (click)="removeProtoTarget(ruleIndex, index)">delete</mat-icon>
          </div>
        </div>
      </div>
      <div fxFlex="10px"></div>

    </div>
  </div>
</ng-template>

<ng-template #appsTemplate let-data="data" let-index="index">
  <div fxFlex="none" fxLayout="row">
    <div fxFlex="15px"></div>
    <span [ngClass]="{
      'partial-edit-sgpolicy-appContainer': true,
      'requiredField': isFieldEmpty(data.rule.$formGroup.get(['apps']))
    }">
      <p-multiSelect class="partial-edit-sgpolicy-multiselect" fxFlex="300px" appendTo="body"
                     [filter]="false" [showHeader]="false" [showToggleAll]="false"
                     defaultLabel="Select Apps..."
                     [options]="securityAppOptions"
                     [formControl]="data.rule.$formGroup.get('apps')">
      </p-multiSelect>
    </span>
  </div>
</ng-template>
