<div fxFlex="auto" fxLayout="row" [formGroup]="syslogServerForm">
  <div fxFlex="nogrow" fxLayout="column">
    <div fxFlex="auto" class="syslog-syslog" fxLayout="column" formArrayName="targets"
         [ngStyle]="syslogFieldsetWidth?{'width': '530px'} : {'width': ''}">
      <!-- Buffer, creating as a div so there are no hiccups in the animation-->
      <fieldset *ngIf="!showSyslogOptions" class="syslog-export-config">
        <legend>EXPORT CONFIGURATION</legend>
        <ng-container *ngTemplateOutlet="syslogOptions"></ng-container>
      </fieldset>
      <fieldset *ngIf="showSyslogOptions" class="syslog-export-config">
        <legend>SYSLOG EXPORT CONFIGURATION</legend>
        <ng-container *ngTemplateOutlet="syslogOptions"></ng-container>
      </fieldset>
      <div fxFlex="10px"></div>
      <fieldset class="syslog-target">
        <legend>TARGET:</legend>
        <div fxFlex="nogrow" fxLayout="column" [@slideInOut]
             *ngFor="let target of targets; let index = index; let first = first ;let last=last"
             [formGroupName]="index">
          <div fxFlex="nogrow" fxLayout="row wrap" fxLayoutGap="10px">
            <ng-container *ngTemplateOutlet="syslogTargets; context:{index:index}"></ng-container>
            <!-- Commenting out as it is not currently implemented in the backend -->
            <!-- <ng-container *ngTemplateOutlet="syslogCredentials; context:{index:index}"></ng-container> -->
            <div fxFlex="nogrow" fxLayout="row">
              <div fxFlex="nogrow" fxLayout="column" class="syslog-add-delete-container">
                <div fxFlex="none" fxLayout="row"
                     class="syslog-fieldtitle syslog-and">
                  <mat-icon fxFlex="nogrow" class="syslog-delete" [style.color]="'#767676'"
                            *ngIf="controlAsFormArray(syslogServerForm.get(['targets'])).length > 1"
                            (click)="removeTarget(index)">
                    delete</mat-icon>
                  <span fxFlex="nogrow" *ngIf="last && targets.length < 2" class="syslog-add"
                        (click)="addTarget()">+
                    ADD</span>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="none"></div>
          <!-- Buffer, creating as a div so there are no hiccups in the animation-->
        </div>
      </fieldset>
    </div>
  </div>

  <ng-template #syslogOptions>
    <div fxFlex="nogrow" fxLayout="row wrap" [formGroup]="syslogServerForm">
      <ng-container *ngIf="showSyslogOptions" formGroupName="config">
        <div fxFlex="nogrow" fxLayout="column">
          <div fxFlex="30px" fxLayout="row" class="syslog-value">
            <p-dropdown fxFlex="nogrow" appFloatLabel="Facility Override" class="syslog-override"
                        appErrorTooltip
                        formControlName="facility-override" styleClass="syslog-font"
                        [options]="syslogOverrideOptions"></p-dropdown>
          </div>
        </div>

        <div fxFlex="nogrow" fxLayout="column" class="syslog-fieldtitle-prefix-value">
          <div fxFlex="30px" fxLayout="row" class="syslog-value">
            <input appErrorTooltip formControlName="prefix" appFloatLabel="Prefix" fxFlex="nogrow"
                   class="syslog-input syslog-prefix"
                   spellcheck="false" type="text" pInputText>
          </div>
        </div>
      </ng-container>
      <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start center">
        <div class="syslog-fieldtitle syslog-format-container" fxFlex="nogrow" fxLayout="column"
             fxLayoutAlign="start start">
          <span class="syslog-format-title">Format</span>
        </div>
        <mat-radio-group fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start center"
                         fxLayoutGap="10px" class="syslog-format" appErrorTooltip
                         formControlName="format">
          <mat-radio-button fxFlex="nogrow" color="primary" [disableRipple]="true" class=""
                            *ngFor="let option of formatOptions"
                            [value]="option.value">
            {{option.label}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </ng-template>

  <ng-template #syslogTargets let-index="index">
    <div fxFlex="10vh" fxFlex="nogrow" fxLayout="row"
         [formGroup]="syslogServerForm.get(['targets', index])">
      <div fxFlex="nogrow" fxLayout="row">
        <div fxFlex="none" fxLayout="row" class="syslog-value">
          <span *ngIf="syslogRequiredOption" [ngClass]="{
                          'requiredField': isFieldEmptySysLog(syslogServerForm.get(['targets', index]).value['destination'])
                        }">
            <input formControlName="destination" appErrorTooltip fxFlex="nogrow"
                   class="syslog-input syslog-destination"
                   spellcheck="false" type="text" pInputText appFloatLabel="Destination">
          </span>
          <span *ngIf="!syslogRequiredOption">
            <input formControlName="destination" appErrorTooltip fxFlex="nogrow"
                   class="syslog-input syslog-destination"
                   spellcheck="false" type="text" pInputText appFloatLabel="Destination">
          </span>
        </div>
        <div fxFlex="none" fxLayout="row" class="syslog-value">
          <span *ngIf="syslogRequiredOption" [ngClass]="{
                      'requiredField': isFieldEmptySysLog(syslogServerForm.get(['targets', index]).value['transport'])
                    }">
            <input formControlName="transport" appErrorTooltip fxFlex="nogrow"
                   class="syslog-input syslog-transport"
                   spellcheck="false" type="text" pInputText appFloatLabel="Transport">
          </span>
          <span *ngIf="!syslogRequiredOption">
            <input formControlName="transport" appErrorTooltip fxFlex="nogrow"
                   class="syslog-input syslog-transport"
                   spellcheck="false" type="text" pInputText appFloatLabel="Transport">
          </span>
        </div>

      </div>
    </div>
  </ng-template>

  <ng-template #syslogCredentials let-index="index">
    <div fxFlex="nogrow" fxLayout="column" class="syslog-group"
         [formGroup]="syslogServerForm.get(['targets', index, 'credentials'])">
      <!-- Credentials -->
      <div fxFlex="30px" class="syslog-fieldtitle">CREDENTIALS</div>
      <div fxFlex="auto" fxLayout="row">

        <mat-radio-group fxFlex="nogrow" fxLayout="column" fxLayoutGap="5px"
                         class="syslog-fieldtitle syslog-credential-radio" appErrorTooltip
                         formControlName="auth-type">
          <mat-radio-button fxFlex="none" color="primary" [disableRipple]="true" class=""
                            *ngFor="let option of syslogCredentialOptions"
                            [value]="option.value">
            {{option.label}}
          </mat-radio-button>
        </mat-radio-group>

        <!-- we use getSelectedCredentialMethod(syslog) to control switch on displaying auth-type UI -->
        <div fxFlex="auto" fxLayout="row" [ngSwitch]="getSelectedCredentialMethod(index)">
          <ng-container *ngSwitchCase="'AUTHTYPE_USERNAMEPASSWORD'">
            <!-- Field Title -->
            <div fxFlex="nogrow" fxLayout="column">

              <div class="syslog-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <span>Username:</span>
              </div>

              <div class="syslog-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <span>Password:</span>
              </div>
            </div>
            <!-- Field Values -->
            <div fxFlex="nogrow" fxLayout="column">
              <div fxFlex="30px" fxLayout="row" class="syslog-value">
                <input appErrorTooltip formControlName="username" fxFlex="nogrow"
                       class="syslog-input"
                       spellcheck="false" type="text" pInputText
                       placeholder="">
              </div>
              <div fxFlex="30px" fxLayout="row" class="syslog-value">
                <input appErrorTooltip formControlName="password" fxFlex="nogrow"
                       class="syslog-input"
                       spellcheck="false" type="password" pInputText
                       placeholder="">
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'AUTHTYPE_TOKEN'">
            <!-- Field Title -->
            <div fxFlex="nogrow" fxLayout="column">

              <div class="syslog-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <span>Token:</span>
              </div>

            </div>
            <!-- Field Values -->
            <div fxFlex="nogrow" fxLayout="column">
              <div fxFlex="30px" fxLayout="row" class="syslog-value">
                <input appErrorTooltip formControlName="bearer-token" fxFlex="nogrow"
                       class="syslog-input" spellcheck="false" type="text" pInputText
                       placeholder="">
              </div>
            </div>
          </ng-container>
          <ng-container *ngSwitchCase="'AUTHTYPE_CERTS'">
            <!-- Field Title -->
            <div fxFlex="nogrow" fxLayout="column">

              <div class="syslog-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <span>Client Cert:</span>
              </div>

            </div>
            <!-- Field Values -->
            <div fxFlex="nogrow" fxLayout="column">
              <div fxFlex="120px" fxLayout="row" class="syslog-value">
                <textarea appErrorTooltip formControlName="cert-data" fxFlex="nogrow"
                          class="syslog-input" spellcheck="false" type="text"
                          pInputTextarea placeholder=""></textarea>
              </div>
            </div>

            <!-- Field Title -->
            <div fxFlex="nogrow" fxLayout="column">

              <div class="syslog-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <span>Key Data:</span>
              </div>

            </div>
            <!-- Field Values -->
            <div fxFlex="nogrow" fxLayout="column">
              <div fxFlex="120px" fxLayout="row" class="syslog-value">
                <textarea appErrorTooltip formControlName="key-data" fxFlex="nogrow"
                          class="syslog-input" spellcheck="false" type="text" pInputTextarea
                          placeholder=""></textarea>
              </div>
            </div>

            <!-- Field Title -->
            <div fxFlex="nogrow" fxLayout="column">

              <div class="syslog-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <span>Server Cert:</span>
              </div>

            </div>
            <!-- Field Values -->
            <div fxFlex="nogrow" fxLayout="column">
              <div fxFlex="120px" fxLayout="row" class="syslog-value">
                <textarea appErrorTooltip formControlName="ca-data" fxFlex="nogrow"
                          class="syslog-input" spellcheck="false" type="text" pInputTextarea
                          placeholder=""></textarea>
              </div>
            </div>
          </ng-container>
        </div>

      </div>

    </div>
  </ng-template>
