@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;
$dary-grey: #a9a9a9;

.syslog-syslog,
.syslog-font {
  @include primary-font();
}

.syslog-format {
  position: relative;
  right: 32px;
  margin-top: 9px;
  @include global-mat-radio(12px);
}

.syslog-credential-radio {
  @include global-mat-radio(12px);
}

.syslog-override {
  width: 182px;
}

.syslog-name,
.syslog-description {
  margin: $vertical-gutter;
  height: 30px !important;
}

.syslog-input {
  width: 182px;
  height: 30px;
}

.syslog-value {
  margin: $vertical-gutter $horizontal-gutter;
  align-items: center;
}

.syslog-testconnectionbutton {
  margin: $vertical-gutter $horizontal-gutter;
  line-height: 30px;
  display: grid;
}

.syslog-fieldtitle {
  margin: 0px 8px;
}

.syslog-and {
  white-space: nowrap;
  color: #6ba0e5;
  display: inline-block;
  margin-top: 15px;

  >span:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  >mat-icon:hover {
    cursor: pointer;
  }
}

.syslog-group {
  margin-top: 2*$vertical-gutter;
}

.syslog-divider {
  border-bottom: 1px solid #dddddd;
}

fieldset {
  border: 1px solid $dary-grey;
  padding: 5px;

  legend {
    padding: 0 2px;
    font-size: 14px;
    color: #676763;
  }
}

.syslog-target {
  padding: 0px 10px 10px;

  legend {
    padding-left: 5px;
    width: 55px;
    height: 20px;
  }
}

.syslog-export-config {
  padding: 0px 10px 10px;

  legend {
    padding-left: 5px;
    width: auto;
    height: 20px;
  }
}

.syslog-format-container {
  position: relative;
  bottom: 20px;
  left: 12px;

  .syslog-format-title {
    font-size: 12px;
    color: #898989;
  }
}

.syslog-add-delete-container {
  justify-content: flex-end;

  .syslog-add {
    margin-top: 5px;
  }
}
