<div fxFlex="auto" fxLayout="column">
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="center start"
       class="newflowexportpolicy-container">
    <!-- Limiting the size of the creation form - If it is inline, we have more room to fit in the save/cancel buttons -->
    <div fxFlex fxLayout="row" [style.max-width]="isInline ? '1400px' : '1300px'"
         fxLayoutAlign="start stretch"
         class="newflowexportpolicy-content">
      <div fxFlex fxLayout="column">
        <div fxFlex="nogrow" fxLayout="row" [formGroup]="newObject.$formGroup.get(['meta'])">
          <input fxFlex="300px" formControlName="name" class="newflowexportpolicy-name"
                 appErrorTooltip
                 spellcheck="false" type="text" pInputText placeholder="Unique Policy Name...">
        </div>
        <div fxFlex="15px"></div>
        <!-- Buffer -->
        <div fxFlex="noshrink" fxLayout="row" [formGroup]="newObject.$formGroup.get(['spec'])">
          <!-- Commented out because VRF is not exposed in the UI for now. -->
          <!-- <div fxFlex="nogrow" fxLayout="column">
            <div class="newflowexportpolicy-fieldtitle" fxFlex="30px" fxLayout="row"
                 fxLayoutAlign="start center">
              <span>VRF Name:</span>
            </div>
          </div>
          <div fxFlex="nogrow" fxLayout="column">
            <div fxFlex="30px" fxLayout="row" class="newflowexportpolicy-value">
              <input fxFlex="nogrow" appErrorTooltip formControlName="vrf-name"
                     class="newflowexportpolicy-input"
                     spellcheck="false" type="text" pInputText
                     placeholder="">
            </div>
          </div> -->
          <div fxFlex="nogrow" fxLayout="column">
            <div class="newflowexportpolicy-fieldtitle" fxFlex="30px" fxLayout="row"
                 fxLayoutAlign="start center">
              <span>Interval:</span>
            </div>
          </div>
          <div fxFlex="nogrow" fxLayout="column">
            <div fxFlex="30px" fxLayout="row" class="newflowexportpolicy-value">
              <input fxFlex="nogrow" appErrorTooltip formControlName="interval"
                     class="newflowexportpolicy-input"
                     spellcheck="false" type="text" pInputText placeholder="0h0m10s">
            </div>
          </div>

          <div fxFlex="nogrow" fxLayout="column">
            <div class="newflowexportpolicy-fieldtitle" fxFlex="30px" fxLayout="row"
                 fxLayoutAlign="start center">
              <span>Template Refresh Rate:</span>
            </div>
          </div>
          <div fxFlex="nogrow" fxLayout="column">
            <div fxFlex="30px" fxLayout="row" class="newflowexportpolicy-value">
              <input fxFlex="nogrow" appErrorTooltip formControlName="template-interval"
                     class="newflowexportpolicy-input" spellcheck="false" type="text" pInputText
                     placeholder="0h0m10s">
            </div>
          </div>

        </div>
        <div fxFlex="15px"></div>
        <!-- Buffer, creating as a div so there are no hiccups in the animation-->
        <div fxFlex="noshrink" fxLayout="row">
          <div fxFlex="nogrow" class="newflowexportpolicy-text">EXPORT PACKET IF:</div>
          <app-matchrule #matchRules
                         [rules]="newObject.$formGroup.get(['spec', 'match-rules']).value">
          </app-matchrule>
        </div>

        <div fxFlex="noshrink" fxLayout="row">
          <app-syslog #syslogComponent [syslogExport]="syslogConfig" [formatOptions]="formatOptions"
                      targetTransport="UDP/<port>" [showSyslogOptions]="false"
                      [maxTargets]="maxTargets" fxFlex="nogrow"
                      fxLayout="column"></app-syslog>
        </div>
      </div>
      <div *ngIf="isInline" class="newflowexportpolicy-buttoncontainer" fxFlex="nogrow"
           fxLayout="row wrap"
           fxLayoutAlign="start start">
        <div fxFlex="nogrow">
          <button [disabled]="!isFormValid()" (click)="saveObject()"
                  class="global-button-primary newflowexportpolicy-save">SAVE</button>
          <div fxFlex="nogrow">
            <button (click)="cancelObject()"
                    class="global-button-neutral newflowexportpolicy-cancel">CANCEL</button>
          </div>
        </div>
      </div>
    </div>
  </div>
