@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.newflowexportpolicy-container {
  background: white;

  &:hover {
    background: white;
  }
}

.newflowexportpolicy-name {
  margin: $vertical-gutter $horizontal-gutter;
  height: 30px !important;
}

.newflowexportpolicy-value {
  margin: $vertical-gutter $horizontal-gutter;
}

.newflowexportpolicy-fieldtitle {
  margin: $vertical-gutter $horizontal-gutter;
}

.newflowexportpolicy-input {
  width: 155px;
}

.newflowexportpolicy-content {
  background: white;
  min-height: 180px;
  margin-top: 4* $vertical-gutter;
  @include primary-font();
}

.newflowexportpolicy-text {
  margin-top: 15px;
  margin-left: $horizontal-gutter;
  margin-right: $horizontal-gutter;
  height: 30px;
  @include primary-font();
}

.newflowexportpolicy-divider {
  border-bottom: 1px solid #dddddd;
}

.newflowexportpolicy-filter {
  margin: $vertical-gutter $horizontal-gutter;
  height: 30px !important;
}

.newflowexportpolicy-save,
.newflowexportpolicy-cancel {
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  line-height: 25px;
  margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.newflowexportpolicy-buttoncontainer {
  margin-top: 1.5 * $vertical-gutter;
}
