@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.matchrule-syslog {
  @include primary-font();
}

.matchrule-format {
  margin-left: 5px;
  margin-top: 9px;
  @include global-mat-radio(12px);
}

.matchrule-credential-radio {
  @include global-mat-radio(12px);
}

.matchrule-name,
.matchrule-description {
  margin: $vertical-gutter $horizontal-gutter;
  height: 30px !important;
}

.matchrule-input {
  width: 155px;
}

.matchrule-value {
  margin: $vertical-gutter $horizontal-gutter;
}

.matchrule-testconnectionbutton {
  margin: $vertical-gutter $horizontal-gutter;
  line-height: 30px;
  display: grid;
}

.matchrule-fieldtitle {
  margin: $vertical-gutter $horizontal-gutter;
}

.matchrule-and {
  white-space: nowrap;
  margin-top: 2*$vertical-gutter;
  color: #6ba0e5;
  display: inline-block;

  >span:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  >mat-icon:hover {
    cursor: pointer;
  }
}

.matchrule-group {
  margin-top: 2*$vertical-gutter;
}

.matchrule-divider {
  border-bottom: 1px solid #dddddd;
}
