.ui-breadcrumb {
  border: 0px;
}

.toolbar-buffer {
  width: 100%;
}

.toolbar-button {
  margin-left: 12px;
  margin-right: 12px;
  cursor: pointer;
  border-radius: 2px;
}

.toolbarcomponent-toolbar {
  height: 50px;
  width: 100%;
}

.ui-menuitem-text {
  font-family: 'Fira Sans Condensed';
  font-size: 18px;
}

.ui-breadcrumb-chevron {
  // font-family: material;
  font-size: 10px;
}