@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;
$dary-grey: #a9a9a9;

.newmirrorsession-container {
  margin: 10px;

  .newmirrorsession-editform-inline {
    margin-top: 35px;
  }

  .newmirrorsession-row {
    min-width: 625px;
    margin: 0px auto;
  }

  .newmirrorsession-select-panel {
    display: none;
  }

  .newmirrorsession-radio-text {
    @include primary-font(16px);
  }

  .newmirrorsession-general-inputbox,
  .newmirrorsession-calendar-inputbox,
  .newmirrorsession-collector-inputbox {
    height: 30px;

    input {
      height: 30px;
      font-size: 14px;
    }
  }

  .newmirrorsession-general-box,
  .newmirrorsession-collector-box {
    :first-child {
      height: 30px;
      font-size: 14px;
      width: 100%;
    }

    .ui-calendar-button {
      position: relative;

      .pi-calendar:before {
        position: relative;
        left: -5px;
      }
    }

    .ui-calendar-inputbox {
      input {
        width: calc(100% - 28px) !important;
      }
    }

    .ui-multiselect-label-container {
      height: 25px;
    }
  }

  .newmirrorsession-general-box {
    width: 250px;
  }

  .newmirrorsession-collector-box {
    width: 137px;
  }

  .newmirrorsession-stripvlan-label {
    color: #898989;
    font-size: 12px;
    position: relative;
    top: -10px;
    width: 55px;
  }

  .newmirrorsession-stripvlan-toggle {
    position: relative;
    left: -55px;
    top: 8px;
  }

  .newmirrorsession-add-collector,
  .newmirrorsession-add-rule {
    cursor: pointer;
    width: 100px;
  }

  .newmirrorsession-add-collector,
  .newmirrorsession-add-rule {
    @include primary-font(16px, #6ba0e5, 400);
    margin-top: 5px;
  }

  .newmirrorsession-collectors {
    width: 590px;

    legend {
      width: 170px;
    }
  }

  .newmirrorsession-selectors {
    width: 590px;

    legend {
      width: 265px;
    }

    .newmirrorsession-interface-direction-box {
      margin-left: 10px;
      margin-bottom: 20px;

      p-dropdown {
        width: 170px;
      }
    }

    .newmirrorsession-section-workloadlabels-div {
      margin-bottom: 10px;

      .newmirrorsession-interface-box {
        width: 170px;
      }

      .newmirrorsession-interface-box.requiredField :first-child {
        width: 100% !important;
      }

      .newmirrorsession-interface-operator-box {
        width: 100px;
      }

      .newmirrorsession-interface-selectbox {
        height: 30px;
        font-size: 14px;
        width: 100%;
      }

      .newmirrorsession-interface-and {
        &:hover {
          cursor: pointer;
          color: black;
        }
      }

      p-multiselect.ng-invalid .ui-multiselect {
        border-color: rgb(214, 214, 214) !important;
      }

      p-multiselect.ng-invalid .ui-multiselect-open {
        border: solid 1px #6ba0e5 !important;
        box-shadow: inset 5px 0 0 0 #6ba0e5 !important;
      }

      p-multiselect.ng-invalid .ui-multiselect-open .ui-multiselect-label {
        box-shadow: inset 5px 0 0 0 #6ba0e5 !important;
      }
    }

    .newmirrorsession-label-match-count {
      margin: 0px 0px 10px 10px;

      .newmirrorsession-label-match-tooltip {
        text-decoration: underline;
      }
    }
  }

  app-orderedlist {
    width: 95%;
    min-width: 650px;
    max-width: 750px;
  }
}

fieldset {
  border: 1px solid $dary-grey;
  padding: 5px;

  legend {
    padding: 0 2px;
    font-size: 14px;
    color: #676763
  }
}

.newmirrorsession-rule-app,
.newmirrorsession-rule-source,
.newmirrorsession-rule-target {
  padding: 0px 10px 10px;

  legend {
    padding-left: 5px;
    width: 50px;
    height: 16px;
  }
}

.newmirrorsession-rule-app legend {
  width: 60px;
}

.newmirrorsession-rule-template {
  margin-left: 5px;
  cursor: pointer;

  .newmirrorsession-edit-hoverbuttons {
    display: none;
  }

  &:hover {
    .newmirrorsession-edit-hoverbuttons {
      display: inherit;
    }
  }
}

.newmirrorsession-rule-content {
  color: #767676;
  font-size: 14px;
  font-weight: 400;
}

.newmirrorsession-bold {
  @include primary-font(16px, #383838, 500);
}

.newmirrorsession-bold-subtext-ipmac {
  @include primary-font(14px, #383838, 200);
  width: 40px;
}

.newmirrorsession-bold-subtext-proto {
  @include primary-font(14px, #383838, 200);
  width: 80px;
}

.newmirrorsession-proto-boxes,
.newmirrorsession-rule-boxes {
  ul {
    width: 240px;
    white-space: nowrap;
    overflow: hidden !important;
    font-size: 14px !important;
    height: 30px !important;
  }
}

.newmirrorsession-attach-radio {
  margin-left: 5px;
  margin-top: 6px;
  @include global-mat-radio(16px);

  .mat-radio-label-content {
    @include primary-font(14px);
    padding-top: 2px;
  }
}

.newmirrorsession-rule-label {
  font-size: 14px;
  font-weight: 400;
  color: #676763;
}

.newmirrorsession-subtext {
  margin-top: 2px;
  @include primary-font(12px, #b2b3b4, 300);
}

.newmirrorsession-toolbar-button {
  padding-left: 10px;
  padding-right: 10px;
}

.newmirrorsession-packet-error-tooltip {
  background: white;
  outline: #e57553 solid 1px;
  font-size: 12px;
  color: #676767;
  margin-top: 10px;
  min-width: 240px;

  .ui-tooltip-arrow {
    border-bottom-color: white;
  }

  .ui-tooltip-text {
    background-color: white;
    white-space: pre-line;
    color: #676767;
  }

  .ui-shadow {
    box-shadow: none;
  }
}

.newmirrorsession-fieldtitle {
  margin: $vertical-gutter $horizontal-gutter;
}

.newmirrorsession-delete {
  margin-top: 10px;
}
