<app-tableviewedit fxLayout="column" class="flowexportpolicy-widget"
                   [creatingMode]="creatingMode"
                   [showRowExpand]="showRowExpand"
                   [data]="dataObjects"
                   [cols]="cols"
                   [expandedRowData]="expandedRowData"
                   [captionTemplate]="captionTemplate"
                   [bodyTemplate]="bodyTemplate"
                   [actionTemplate]="actionTemplate"
                   [expandTemplate]="expandTemplate"
                   [createTemplate]="createTemplate"
                   (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
</app-tableviewedit>


<ng-template #createTemplate>
  <app-newflowexportpolicy (formClose)="creationFormClose()" [maxTargets]="maxNewTargets"
                           [existingObjects]='dataObjects'
                           fxFlex="none">
  </app-newflowexportpolicy>
</ng-template>

<!-- TABLE HEADER -->
<ng-template #captionTemplate let-count="count">
  <app-tableheader title="Flow Export Policies" [total]="count" [icon]="headerIcon" fxFlex="auto"
                   fxLayout="row" [tableMenuItems]="tableMenuItems"
                   [enableColumnSelect]="true" [cols]="cols"
                   (columnSelectChange)="onColumnSelectChange($event)">
  </app-tableheader>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'spec.match-rules'">
      <ng-container *ngFor="let rule of formatMatchRules(rowData.spec['match-rules'])">
        <span style="display: block">{{rule}}</span>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
      {{displayColumn(rowData, col)}}
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>

  <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">

    <mat-icon *roleGuard="'monitoringflowexportpolicy_update'" matTooltip="Edit policy"
              class="global-table-action-icon flowexportpolicy-table-action-icon-edit"
              (click)="expandRowRequest($event, rowData)">edit</mat-icon>
    <mat-icon *roleGuard="'monitoringflowexportpolicy_delete'" matTooltip="Delete policy"
              class="global-table-action-icon flowexportpolicy-table-action-icon-delete"
              (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData let-columns="columns">
  <app-newflowexportpolicy [objectData]="rowData" [isInline]="true" [maxTargets]="maxNewTargets"
                           (formClose)="closeRowExpand()">
  </app-newflowexportpolicy>
</ng-template>
