# Ethernet RX Descriptor Object Template
meta:
    id      : DESCR_ETH_RX
    size    : 16
    package : factory.objects.eth
    module  : descriptor
    objname : EthRxDescriptorObject

addr        : None
len         : None
rsvd0       : const/0x0
