# SPDX-License-Identifier: GPL-2.0
# Copyright(c) 2017 - 2019 Pensando Systems, Inc
#
# Pensando device configuration
#

config IONIC
	tristate "Pensando Ethernet NIC Support"
	depends on PCI && X86_64
	---help---
	  This enables the support for the Pensando Ethernet NIC.
