meta:
    id: IPFIX_RECORD_IPV4

headers:
    - header:
        id      : base
        template: ref://store/headers/id=IPFIX_RECORD
        fields:
            set_id  : 257

    - header:
        id      : data
        template: ref://store/headers/id=IPFIX_RECORD_IPV4_DATA
        fields:
