# Crypto Key Object Template File.
meta:
    id: CRYPTO_KEY

id                    : None # Crypto Key local Id 
idx                   : 0
type                  : 0
keySize               : 0
key                   : 0
