# Crypto Key Object Template File.
meta:
    id: CRYPTO_KEY_AES128

type                  : hal::types::CRYPTO_KEY_TYPE_AES128
keySize               : 16
key                   : 00 00 00 00 00 00 00 00
                        00 00 00 00 00 00 00 00
