# Enic Config Object Template
meta:
    id      : ENIC
    package : config.objects
    module  : enic
    feature_set:
        - iris

id      : None  # Name of the object
txqos   :
    cos : None
    dscp: None
rxqos   :
    cos : None
    dscp: None

macaddr: None
