# App Redir Proxy Redirect CB Object Template File.
meta:
    id: PROXYRCBQ
    feature_set:
        - iris

id                    : None
pi                    : 0
ci                    : 0
count                 : 0
