# Tenant Object Template File.
meta:
    id      : TENANT
    package : config.objects
    module  : tenant

id          : None # Tenant Local ID
spec        : None # (REF) Tenant Spec from Base Config.
qos_enable  : None


