# TLS CB Object Template File.
meta:
    id: TLSCB

id                    : None # TLS CB Local ID
spec                  : None # (REF) TLS CB Spec from Base Config.
nic_dec_head          : None
nic_dec_tail          : None
tcpcb                 : None
serq                  : None
bsq                   : None
serq_pi               : 0
serq_ci               : 0
bsq_pi                : 0
bsq_ci                : 0
crypto_obj            : None
debug_dol             : 0
