# TLS CB Object Template File.
meta:
    id: TLSCB

id          : None # TLS CB Local ID
spec        : None # (REF) TLS CB Spec from Base Config.
nic_dec_head     : None
nic_dec_tail     : None
tcpcb       : None


