# Uplink Config Object Template
meta:
    id      : UPLINKPC
    package : config.objects
    module  : uplinkpc
    feature_set:
        - iris

id      : None # Name of the object
port    : None # Port Number of the object
type    : UPLINK
mode    : TRUNK
status  : UP
sriov   : False
lif     : None # Object Reference ref://store/object/id=LIFxxx
members : None # Member uplinks
txqos   :
    cos : None
    dscp: None
rxqos   :
    cos : None
    dscp: None
