@import 'global-mixins';

.pagebody-container {
    height:100%;
    margin: 0px 10px 10px 10px;
    border: solid 1px;
    /** For chrome rounding errors with flex layout,
     *  the bottom border doesn't appear sometimes.
     *  This shadow hides that issue.
     *  This was observed on the troubleshooting page.
     */
    box-shadow: 0 1px #bdbdbd;
}

.pagebody-header {
    height: 48px;
    
}

.pagebody-headercontent {
    @include primary-font(26px);
    text-align: left;
    margin: auto;
}

.pagebody-icon {
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
}
