@import 'src/global-mixins';

.pagebody-container {
  height: 100%;
  margin: 0px 10px 10px 10px;
  border: solid 1px;
  /** For chrome rounding errors with flex layout,
     *  the bottom border doesn't appear sometimes.
     *  This shadow hides that issue.
     *  This was observed on the troubleshooting page.
     */
  box-shadow: 0 1px #bdbdbd;
  overflow-x: hidden;
}

.pagebody-header {
  height: 48px;
  border-bottom: solid 1px;
}

.pagebody-headercontent {
  @include primary-font(26px);
  text-align: left;
  margin: auto;
}

.pagebody-icon {
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
}

/* In case we use mat-icon by name (not svgIcon), we have to adjust padding a little bit. */
.pagebody-icon-byname {
  width: 30px;
  height: 30px;
  font-size: 30px;
  opacity: 0.3;
}

/* avoid UI issue of having uncessary space gap */
.pagebody-content {
  height: 100%;
  width: 100%;
  position: relative;
}

.pagebody-content-container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
