<div class="pagebody-container" fxLayout="column">
    <div *ngIf="title" fxFlex="nogrow" fxLayout="row" class="pagebody-header">
        <div fxFlex="48px" class="pagebody-iconcontainer">
            <div [ngStyle]="_iconStyles" class="pagebody-icon"></div>
        </div>
        <div fxFlex class="pagebody-headercontent">
            {{title}}
        </div>
        <div fxFlex class="pagebody-optionsicon" >
            <ng-content select="[pagebody-options]"></ng-content>
        </div>
    </div>
    <div fxFlex fxLayout="column" class="pagebody-content-container">
        <div fxFlex fxLayout="column" class="pagebody-content">
            <ng-content></ng-content>
        </div>
    </div>
</div>