<div class="pagebody-container">
    <div fxLayoutAlign="row" class="pagebody-header">
        <div fxFlex="48px" class="pagebody-iconcontainer">
            <div [ngStyle]="_iconStyles" class="pagebody-icon"></div>
        </div>
        <div fxFlex class="pagebody-headercontent">
            {{title}}
        </div>
        <div fxFlex class="pagebody-optionsicon" >
            <ng-content select="[pagebody-options]"></ng-content>
        </div>
    </div>
    <ng-content></ng-content>
</div>
