<div fxFlex="auto" fxLayout="column" class="psm-form new-network-container">
  <app-inlinebuttons class="new-network" *ngIf="isInline"
                     [saveButtonClass]="computeFormSubmitButtonClass()"
                     [saveTooltip]="getSubmitButtonToolTip()"
                     (saveFunc)="editSaveObject()" (cancelFunc)="editCancelObject()">
  </app-inlinebuttons>
  <div fxFlex="noshrink" fxLayout="column" fxLayoutAlign="start center"
       [class]="isInline? 'new-network-editform-inline' : ''">
    <div fxFlex="none" fxLayout="row" fxLayoutAlign="center" class="new-network-content">
      <ng-container *ngTemplateOutlet="singleMode"></ng-container>
    </div>
  </div>
</div>

<ng-template #singleMode>
  <div fxFlex fxLayout="column" [formGroup]="newObject.$formGroup">
    <div fxFlex="nogrow" fxLayout="column" class="new-network-input-container">
      <span formGroupName="meta"
            [ngClass]="{requiredField: isFieldEmpty(newObject.$formGroup.get(['meta', 'name']))}">
        <input fxFlex="nogrow" formControlName="name" class="new-network-input" appErrorTooltip
               spellcheck="false" type="text"
               pInputText appFloatLabel="Name">
      </span>
      <div fxFlex="15px"></div>
      <span formGroupName="spec"
            [ngClass]="{requiredField: isFieldEmpty(newObject.$formGroup.get(['spec', 'vlan-id']))}">
        <input fxFlex="nogrow" formControlName="vlan-id" class="new-network-input" appErrorTooltip
               spellcheck="false" type="number" min="0" max="4096"
               pInputText appFloatLabel="VLAN">
      </span>
    </div>
    <div fxFlex="15px"></div>
    <app-fieldcontainer fieldTitle="Orchestrators" class="new-network-orchestrators-container">
      <app-listcontainer
                         [formGroup]="newObject.$formGroup.get(['spec', 'orchestrators'])"
                         [itemTemplate]="vcenterRowTemplate" addText="ORCHESTRATOR"
                         (addItem)="addOrchestrator()" (deleteItem)="removeOrchestrator($event)">
      </app-listcontainer>
    </app-fieldcontainer>
  </div>
</ng-template>

<ng-template #vcenterRowTemplate let-orchestrator="item" let-index="index">
  <div fxFlex="780px" fxLayout="row" [formGroup]="orchestrator" fxLayoutAlign="start start">
    <span fxFlex="none" fxLayout="row" class="new-network-orchestrator-selectbox">
      <p-dropdown appFloatLabel="vCenter Name" appendTo="body" class="new-network-select"
                  (onChange)="onVcenterChange(orchestrator)"
                  [options]="vcenterOptions" formControlName="orchestrator-name">
        <ng-template let-item pTemplate="item">
          <span *ngIf="item.value">{{item.label}}</span>
        </ng-template>
      </p-dropdown>
    </span>
    <div fxFlex="15px"></div>
    <mat-radio-group class="new-network-radio-format" formControlName="datacenterChoice"
                     [ngClass]="{'new-network-radio-hidden': !showDatacenterChoices(orchestrator)}"
                     fxLayout="column" fxLayoutAlign="start bottom"
                     (change)="onDatacenterChoiceChange($event, orchestrator)">
      <mat-radio-button fxFlex="nogrow" color="primary" [disableRipple]="true"
                        *ngFor="let option of chooseOptions" [value]="option.value">
        {{option.label}}
      </mat-radio-button>
    </mat-radio-group>
    <div fxFlex="15px"></div>
    <span *ngIf="showDatacenterNames(orchestrator)"
          fxFlex="none" fxLayout="row" [ngClass]="{
        'new-network-orchestrator-selectbox': true,
        'requiredField': !isFieldEmpty(orchestrator.get(['orchestrator-name'])) &&
                      isFieldEmpty(orchestrator.get(['namespace']))
    }">
      <p-multiSelect appFloatLabel="datacenter Names" appendTo="body"
                     formControlName="namespace" class="new-network-select"
                     [appErrorTooltip]="'Datacenter in the orchestrator in which this network should be created in. Type \'ALL\' for all datacenters.'"
                     [options]="orchestrator.datacenterOptions || []"
                     [filter]="false" [showHeader]="false" [showToggleAll]="false">
      </p-multiSelect>
    </span>
  </div>
</ng-template>
