@import "src/global-mixins";

$horizontal-gutter: 10px;
$vertical-gutter: 5px;
$dary-grey: #a9a9a9;

.new-network-container {
  background: white;

  .new-network-content {
    margin-top: 4* $vertical-gutter;
    @include primary-font();
    width: 600px;
    margin-bottom: 20px;

    .new-network-input-container {
      width: 300px;
    }

    .new-network-autocomplete,
    .new-network-input,
    .new-network-select {
      width: 100%;
      height: 30px;
    }

    .new-network-select {
      input {
        height: 28px;
      }
    }

    p-multiselect.ng-invalid .ui-multiselect {
      border-color: rgb(214, 214, 214) !important;
    }

    p-multiselect.ng-invalid .ui-multiselect-open {
      border: solid 1px #6ba0e5 !important;
      box-shadow: inset 5px 0 0 0 #6ba0e5 !important;
    }

    p-multiselect.ng-invalid .ui-multiselect-open .ui-multiselect-label {
      box-shadow: inset 5px 0 0 0 #6ba0e5 !important;
    }

    fieldset {
      width: 100%;
      border: 1px solid $dary-grey;
      padding: 5px;

      legend {
        padding: 0 5px;
        @include primary-font(15px);
        color: #676763;
        margin-bottom: 0px;
        width: 92px;
      }
    }

    .new-network-orchestrator-selectbox,
    .new-network-orchestrator-inputbox {
      width: 265px;
    }

    .new-network-orchestrator-selectbox.requiredField p-autocomplete:first-of-type {
      width: calc(100% - 2px) !important;

      input {
        width: 229px !important;
      }
    }

    .new-network-add-orchestrator {
      cursor: pointer;
      width: 100px;
      margin-left: 10px;
    }

    .new-network-orchestrator-delete-icon {
      margin-left: 5px;
    }
  }
}
