@import "src/global-mixins";

$horizontal-gutter: 10px;
$vertical-gutter: 5px;
$dary-grey: #a9a9a9;

.new-network-container {
  background: white;

  .new-network-content {
    margin-top: 4* $vertical-gutter;
    @include primary-font();
    width: 600px;
    margin-bottom: 20px;

    .new-network-input-container {
      width: 300px;
    }

    .new-network-autocomplete,
    .new-network-input,
    .new-network-select {
      width: 100%;
      height: 30px;
    }

    .new-network-select {
      input {
        height: 28px;
      }
    }

    .new-network-autocomplete {
      span {
        width: 100% !important;

        input {
          border-radius: 0px;
          width: 239px;
          height: 30px;
          border-right: 0px !important;
        }

        input.ui-inputtext:hover+button,
        input.ui-inputtext:focus+button {
          background: #fff;
          border: solid 1px #6ba0e5;
        }

        button {
          width: 26px;
          height: 30px;
          position: relative;
          top: -1px;
          border-radius: 0px;
          background: #f7f7f7;
          border: 1px solid #d6d6d6;
          border-left: 0px !important;

          .ui-button-icon-left {
            margin-left: -1em;
            color: #555;
            font-size: 16px;
          }
        }

        button:enabled:hover,
        button:enabled:focus {
          background: #f7f7f7;
          border: 1px solid #d6d6d6;
        }
      }
    }

    fieldset {
      width: 100%;
      border: 1px solid $dary-grey;
      padding: 5px;

      legend {
        padding: 0 5px;
        @include primary-font(15px);
        color: #676763;
        margin-bottom: 0px;
        width: 92px;
      }
    }

    .new-network-orchestrator-selectbox,
    .new-network-orchestrator-inputbox {
      width: 265px;
    }

    .new-network-orchestrator-selectbox.requiredField p-autocomplete:first-of-type {
      width: calc(100% - 2px) !important;

      input {
        width: 229px !important;
      }
    }

    .new-network-add-orchestrator {
      cursor: pointer;
      width: 100px;
      margin-left: 10px;
    }

    .new-network-orchestrator-delete-icon {
      margin-left: 5px;
    }
  }

  .new-network-button-container {
    margin-top: 1.5 * $vertical-gutter;

    .button-container {
      position: relative;
      max-height: 0px;
    }

    .new-network-save,
    .new-network-cancel {
      cursor: pointer;
      font-size: 16px;
      display: inline-block;
      padding: 4px 10px;
      line-height: 25px;
      margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;

      &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
      }
    }
  }
}

.new-network-save-tooltip {
  position: relative;
  top: 30px;
  font-size: 10px;
}
