<app-pagebody [icon]="bodyicon" header="DSC Profiles Overview" class="dscprofiles">
  <div fxFlex class="dscprofiles-table-container">
    <ng-container *ngTemplateOutlet="DataTable"></ng-container>
  </div>
</app-pagebody>
<ng-template #DataTable>
  <app-tableviewedit fxLayout="column" style="height: 100%;" [creatingMode]="creatingMode"
                     [showRowExpand]="showRowExpand" [data]="dataObjects" [cols]="cols"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate" [bodyTemplate]="bodyTemplate"
                     [actionTemplate]="actionTemplate"
                     [expandTemplate]="expandTemplate" [createTemplate]="createTemplate"
                     [enableCheckbox]="true"
                     [tableLoading]="tableLoading" (rowClick)="selectDSCProfile($event)"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
  </app-tableviewedit>
</ng-template>

<ng-template #actionButtonsTemplate>
  <div fxFlex="none" fxLayoutAlign="start center">
    <!-- TABLE FUNCTION ICONS HERE -->
    <mat-icon class="global-multi-records-delete-icon" *ngIf="areSelectedRowsDeletable()"
              [matTooltip]="'Delete selected dscprofiles'" (click)="onDeleteSelectedRows($event)">
      delete</mat-icon>
  </div>

</ng-template>

<!-- TABLE HEADER -->
<ng-template #captionTemplate let-count="count">
  <div fxFlex fxLayout="column">
    <div *ngIf="selectedDSCProfile && !isRowExpanded() && !creatingMode " fxFlex="auto"
         fxLayout="row"
         class="dscprofiles-detail-container">
      <ng-container *ngTemplateOutlet="selectedDSCProfileDetail;"></ng-container>
    </div>
    <div fxLayout="row">
      <app-tableheader fxFlex="auto" fxLayout="row" [tableMenuItems]="tableMenuItems"
                       title="DSC Profiles"
                       [total]="dataObjects.length" [icon]="headerIcon" [enableColumnSelect]="true"
                       [cols]="cols"
                       (columnSelectChange)="onColumnSelectChange($event)">
        <ng-container *ngTemplateOutlet="actionButtonsTemplate"></ng-container>
      </app-tableheader>
    </div>
  </div>

</ng-template>

<ng-template #createTemplate>
  <app-newdscprofile (formClose)="creationFormClose()" fxFlex="grow" [options]="options"
                     [existingObjects]='dataObjects'>
  </app-newdscprofile>
</ng-template>

<!-- TABLE BODY -->
<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.mod-time'">
      {{rowData.meta['mod-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'meta.creation-time'">
      {{rowData.meta['creation-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'DSCs'">
      <div *ngFor="let w of rowData._ui.associatedDSCS let i=index" class="dscprofile-dsc-div">
        <ng-container *roleGuard="'clusterDistributedservicecard_read'">
          <a *ngIf="i < maxDSCsPerRow" routerLink="/cluster/dscs/{{w.meta.name}}"
             [matTooltip]="'This DSC is admitted in PSM and assigned this profile. Click to go to DSC detail page'">{{w?.spec.id}}</a>
          <a *ngIf="i === maxDSCsPerRow" routerLink="/cluster/dscs"
             [matTooltip]="buildMoreDSCsTooltip(rowData)">
            ... {{rowData._ui.associatedDSCS.length - maxDSCsPerRow}} more</a>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'status.propagation-status.pending-dscs'">
      <div *ngFor="let w of rowData._ui.pendingDSCNames let i=index" class="dscprofile-dsc-div">
        <ng-container *roleGuard="'clusterDistributedservicecard_read'">
          <a *ngIf="i < maxDSCsPerRow" routerLink="/cluster/dscs/{{w.mac}}"
             [matTooltip]="'Profile is not propagated to this DSC. Click to go to DSC detail page'">{{w.name}}</a>
          <a *ngIf="i === maxDSCsPerRow" routerLink="/cluster/dscs"
             [matTooltip]="buildMorePendingDSCsTooltip(rowData)">
            ... {{rowData._ui.pendingDSCNames.length - maxDSCsPerRow}} more</a>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'Propagation'">
      <div class="dscprofiles-summary-panel-content-value dscprofiles-summary-panel-content-value-warning"
           *ngIf="rowData?.status['propagation-status']['generation-id'] != rowData?.meta['generation-id']">
        DSC profile not propagated</div>
      <div
           class="dscprofiles-summary-panel-content-value  dscprofiles-summary-panel-content-value-warning dscprofiles-summary-panel-content-value-link"
           *ngIf="rowData?.status['propagation-status']['generation-id'] == rowData?.meta['generation-id'] && rowData?.status['propagation-status'].pending>0 "
           (click)="viewPendingNaplesList()"
           [matTooltip]="viewPendingNaples && rowData.meta.name === selectedDSCProfile.meta.name ? 'Click to hide list of pending DSCs' : 'Click to view list of pending DSCs'">
        {{rowData.status['propagation-status'].pending}} Out Of
        {{rowData.status['propagation-status'].pending + rowData.status['propagation-status'].updated }}
        Pending
      </div>
      <div class="dscprofiles-summary-panel-content-value"
           *ngIf="!(rowData?.status['propagation-status'].updated==0 && rowData?.status['propagation-status'].pending==0 ) &&rowData?.status['propagation-status']['generation-id'] == rowData?.meta['generation-id'] && rowData?.status['propagation-status'].pending==0">
        Complete
      </div>
      <div class="dscprofiles-summary-panel-content-value"
           [matTooltip]="'No DSC is using this profile'"
           *ngIf="rowData?.status['propagation-status'].updated==0 && rowData?.status['propagation-status'].pending==0 && rowData?.status['propagation-status']['generation-id'] == rowData?.meta['generation-id'] && rowData?.status['propagation-status'].pending==0">
        N/A
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'utilization'">
      <div class="dscprofile-dsc-div-utilization"
           [matTooltip]="'Assigned to ' + ((rowData._ui.associatedDSCS && rowData._ui.associatedDSCS.length) ? rowData._ui.associatedDSCS.length : 0 ) + ' DSCs'">
        {{rowData._ui['associatedDSCSPercentile'] |  percent:'1.2-3'}} </div>
    </ng-container>
    <!-- comment it out per decision make 2020-04-27. showing feature-set instead of feature combination
    <ng-container *ngSwitchCase="'spec.feature-set'">
      <div *ngFor="let k of getObjectKeys(rowData.spec['feature-set']) let i=index"
           class="dscprofile-dsc-div">
        <ng-container>
          <div>{{k}}
            <mat-icon *ngIf="rowData.spec['feature-set'][k]" fxFlex="nogrow"
                      [inline]="true" class="global-alert-warning-icon dscprofiles-row-icon">
              check_circle</mat-icon>
            <mat-icon *ngIf="!(rowData.spec['feature-set'][k])" fxFlex="nogrow"
                      class="global-alert-info-icon dscprofiles-row-icon">hightlight_off</mat-icon>
          </div>
        </ng-container>
      </div>
    </ng-container> -->
    <ng-container *ngSwitchCase="'Feature'">
      <div class="dscprofile-dsc-div-featureset" [matTooltip]="rowData._ui.description">
        {{rowData._ui.featureset}} </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
      {{displayColumn(rowData, col)}}
    </ng-container>
  </ng-container>
</ng-template>

<!-- TABLE ACTION -->
<ng-template #actionTemplate let-rowData>

  <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">
    <button mat-icon-button>
      <mat-icon matTooltip="Edit DSC profile" *roleGuard="'clusterdscprofile_update'"
                class="global-table-action-icon"
                (click)="expandRowRequest($event, rowData)">edit
      </mat-icon>
    </button>
    <button mat-icon-button *ngIf="showDeleteButton(rowData)">
      <mat-icon matTooltip="Delete DSC profile" *roleGuard="'clusterdscprofile_delete'"
                class="global-table-action-icon"
                (click)="onDeleteRecord($event, rowData)">delete
      </mat-icon>
    </button>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData let-columns="columns">
  <app-newdscprofile [style.width]="'100%'" [objectData]="rowData" [isInline]="true"
                     (formClose)="closeRowExpand()"
                     [options]="options" fxFlex="none"></app-newdscprofile>
</ng-template>

<ng-template #selectedDSCProfileDetail>
  <div fxFlex>
    <div fxFlex fxLayout="column">
      <div class="dscprofiles-detail-header" fxFlex fxLayout="row">
        <a fxFlex fxLayoutAlign="start center">DSC Profile Details</a>
        <mat-icon class="dscprofiles-detail-close" (click)="closeDetails()">close
        </mat-icon>
      </div>
      <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column">
          <div fxLayout="row">
            <a fxFlex fxLayoutAlign="start center" class="dscprofiles-detail-key">Name:</a>
            <a fxFlex fxLayoutAlign="start center"
               class="dscprofiles-detail-value">{{this.selectedDSCProfile.meta.name}}</a>
          </div>
        </div>
        <div fxFlex fxLayout="column">
          <div fxLayout="row">
            <a fxFlex fxLayoutAlign="start center" class="dscprofiles-detail-key">Associated DSC
              Count:</a>
            <a fxFlex fxLayoutAlign="start center"
               class="dscprofiles-detail-value">{{this.selectedDSCProfile._ui.associatedDSCS.length}}</a>
          </div>
        </div>
      </div>

      <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column">
          <div fxLayout="row">
            <a fxFlex fxLayoutAlign="start center" class="dscprofiles-detail-key">Modification
              Time:</a>
            <a fxFlex fxLayoutAlign="start center" class="dscprofiles-detail-value">
              {{ $any(this.selectedDSCProfile.meta['mod-time']) | PrettyDate }}
            </a>
          </div>
        </div>
        <div fxFlex fxLayout="column">
          <div fxLayout="row">
            <a fxFlex fxLayoutAlign="start center" class="dscprofiles-detail-key">Creation Time:</a>
            <a fxFlex fxLayoutAlign="start center" class="dscprofiles-detail-value">
              {{ $any(this.selectedDSCProfile.meta['mod-time']) | PrettyDate }}
            </a>
          </div>
        </div>
      </div>
      <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column">
          <div fxLayout="row">
            <a fxFlex fxLayoutAlign="start center" class="dscprofiles-detail-key">Feature set:</a>
            <a fxFlex fxLayoutAlign="start center" class="dscprofiles-detail-value">
              {{ this.selectedDSCProfile._ui.featureset}}
            </a>
          </div>
        </div>
        <div fxFlex fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start start">
            <a fxFlex fxLayoutAlign="start center" class="dscprofiles-detail-key">Description:</a>
            <a fxFlex fxLayoutAlign="start start" class="dscprofiles-detail-value">
              {{ this.selectedDSCProfile._ui.description}}
            </a>
          </div>
        </div>
      </div>
      <!--  The following is feature combination. comment it out 2020-04-27 -->
      <!--  <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column">
          <div fxLayout="row">
            <a fxFlex fxLayoutAlign="start Start" class="dscprofiles-detail-key">FeatureSet:</a>
            <div fxFlex fxLayoutAlign="start start" fxLayout="column">
              <div *ngFor="let k of getObjectKeys(this.selectedDSCProfile.spec['feature-set']) let i=index"
                   class="dscprofile-dsc-div">
                <ng-container>
                  <div>
                    {{k}}
                    <mat-icon *ngIf="this.selectedDSCProfile.spec['feature-set'][k]" fxFlex="nogrow"
                              [inline]="true"
                              class="global-alert-warning-icon dscprofiles-row-icon">check_circle
                    </mat-icon>
                    <mat-icon *ngIf="!(this.selectedDSCProfile.spec['feature-set'][k])"
                              fxFlex="nogrow" [inline]="true"
                              class="global-alert-info-icon dscprofiles-row-icon">hightlight_off
                    </mat-icon>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div fxFlex fxLayout="column">
          leave it empty purposely 
        </div>
      </div> -->



      <div class="dscprofiles-detail-header" fxFlex fxLayout="row">
        <br /> <a fxFlex fxLayoutAlign="start center">Status</a>
      </div>
      <div fxFlex fxLayout="row">
        <div fxFlex fxLayout="column">
          <div fxLayout="row">
            <a fxFlex fxLayoutAlign="start center" class="dscprofiles-detail-key">Propagation:</a>
            <a fxFlex fxLayoutAlign="start center" class="dscprofiles-detail-value">
              <div class="dscprofiles-summary-panel-content-value dscprofiles-summary-panel-content-value-warning"
                   *ngIf="selectedDSCProfile?.status['propagation-status']['generation-id'] != selectedDSCProfile?.meta['generation-id']">
                DSC profile not propagated</div>
              <div
                   class="dscprofiles-summary-panel-content-value  dscprofiles-summary-panel-content-value-warning dscprofiles-summary-panel-content-value-link"
                   *ngIf="selectedDSCProfile?.status['propagation-status']['generation-id'] == selectedDSCProfile?.meta['generation-id'] && selectedDSCProfile?.status['propagation-status'].pending>0"
                   (click)="viewPendingNaplesList()"
                   [matTooltip]="viewPendingNaples ? 'Click to hide pending DSCs' : 'Click to view pending DSCs'">
                {{selectedDSCProfile.status['propagation-status'].pending}} Out Of
                {{selectedDSCProfile.status['propagation-status'].pending + selectedDSCProfile.status['propagation-status'].updated }}
                Pending
              </div>
              <div class="dscprofiles-summary-panel-content-value"
                   *ngIf="!(selectedDSCProfile?.status['propagation-status'].updated==0 && selectedDSCProfile?.status['propagation-status'].pending==0 ) &&selectedDSCProfile?.status['propagation-status']['generation-id'] == selectedDSCProfile?.meta['generation-id'] && selectedDSCProfile?.status['propagation-status'].pending==0">
                Complete
              </div>
              <div class="dscprofiles-summary-panel-content-value"
                   [matTooltip]="'No DSC is using this profile'"
                   *ngIf="selectedDSCProfile?.status['propagation-status'].updated==0 && selectedDSCProfile?.status['propagation-status'].pending==0 && selectedDSCProfile?.status['propagation-status']['generation-id'] == selectedDSCProfile?.meta['generation-id'] && selectedDSCProfile?.status['propagation-status'].pending==0">
                N/A
              </div>

            </a>
          </div>
        </div>
        <div fxFlex fxLayout="column">
          <div fxLayout="row">
            <div [@slideInOut] class="dscprofiles-summary-panel-content-pendingNaples"
                 *ngIf="selectedDSCProfile?.status['propagation-status']['pending-dscs'].length>0 && viewPendingNaples">
              <div class="dscprofiles-summary-panel-content-pendingNaples-grid">
                <div
                     *ngFor="let nicMac of selectedDSCProfile?.status['propagation-status']['pending-dscs']">
                  <a routerLink="/cluster/dscs/{{nicMac}}"
                     class="dscprofiles-summary-panel-content-nic-div-link">{{getNaplesName(nicMac)}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>
