@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.dscprofiles {
  @include primary-font();
}

.dscprofiles-button {
  padding-left: $horizontal-gutter;
  padding-right: $horizontal-gutter;
}

.dscprofiles-dsc-div-utilization {
  color: #007bff;
}

.dscprofiles-detail-container {
  border-bottom: 1px solid #e7e7e3;
  padding-bottom: 5px;
  @include primary-font(14px, #676763);
}

.dscprofiles-detail-key {
  @include primary-font(14px, #676763, bold);
}

.dscprofiles-detail-value {
  @include primary-font();
  text-align: left;
}

.dscprofiles-detail-close {
  cursor: pointer;
}

.dscprofiles-detail-header {
  @include primary-font(18px, #676763, bold);
}

.dscprofiles-summary-panel-content-nic-div-link {
  color: #007bff !important;
}

.dscprofiles-summary-panel-content-value-warning {
  color: #dd3b09 !important;
  cursor: pointer;
}

.dscprofiles-row-icon {
  color: #98a2b3 !important;
}

.dscprofiles-selected-row {
  background-color: #f2eeea !important;
}
