@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.dscprofiles {
  @include primary-font();
}

.dscprofiles-button {
  padding-left: $horizontal-gutter;
  padding-right: $horizontal-gutter;
}

.dscprofile-dsc-div-utilization {
  color: #007bff;
}
