@import 'src/global-mixins';

.dsbdpolicyhealth-stat-arrow {
  font-size: 16px;
  height: 16px;
  width: 16px;
}

.dsbdpolicyhealth-stat-value {
  font-size: 34px;
}

.dsbdpolicyhealth-stat-description {
  white-space: nowrap;
  @include primary-font(14px);
  color: #676763;
  margin-top: 17px;
  margin-left: 22px;
}

.dsbdpolicyhealth-pie-value {
  font-size: 30px;
}

.dsbdpolicyhealth-pie-description {
  white-space: nowrap;
  @include primary-font(14px);
  color: #676763;
}

.dsbdpolicyhealth-stats {
  margin-bottom: 25px;
  margin-left: 25px;
}

.dsbdpolicyhealth-stat-left {
  margin-left: 20px;
}

.dsbdpolicyhealth-card-right {
  position: relative;
}

.dsbdpolicyhealth-label-canvas {
  width: 224px;
  height: 173px;
  @include primary-font(14px);
}

.dsbdpolicyhealth-percent {
  @include primary-font(32px);
}

.dsbdpolicyhealth-card {
  position: relative;
  margin: 10px;
  width: 450px;
  height: 240px;
}

.dsbdpolicyhealth-card-back {
  margin-bottom: 5px;
}