<mat-tab-group [disableRipple]="true" [(selectedIndex)]="selectedIndex" class="penuitabs-group">
  <mat-tab *ngFor="let tab of tabItems; let i = index" [disabled]="editMode && selectedIndex != i">
    <ng-template  mat-tab-label>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex>{{tab.title}}</div>
        <div fxFlex="30px"></div>
        <span fxFlex='nogrow' class="badge">{{tab.count}}</span>
      </div>
    </ng-template>
    <div>
      <ng-container *ngTemplateOutlet="tab.template"></ng-container>
    </div>
  </mat-tab>
</mat-tab-group>