@import 'src/global-mixins';

.securityapps {
  @include primary-font();
}


.securityapps-detail-div {
  padding: 10px;
  width: 100%;
  max-height: 250px;
  overflow: auto;
}

.securityapps-rowexpand-tr {
  height: 0px !important;
  // text-top interferes with the animation
  vertical-align: top !important;

  >td {
    width: 100%;
    padding: 0px !important; // Padding interferes with animation on the rowexpands exit
  }
}

.security-new-app {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}


.securityapps-rowhighlight {
  >td {
    z-index: 20; // Needs to be higher than .evenalertpolicies-overlay z-index
    position: relative; // needed for z-index to take effect
    background-color: rgb(234, 241, 249) !important;
  }
}

.securityapps-widget {
  @include primary-font();
  height: 100%;
}

.pointer {
  cursor: pointer;
}

.securityapps-detail-container {
  border-bottom: 1px solid #676763;
  padding-bottom: 5px;
  @include primary-font(14px, #676763);
}

.securityapps-detail-key {
  @include primary-font(14px, #676763, bold);
}

.securityapps-detail-value {
  @include primary-font();
}

.securityapps-detail-close {
  cursor: pointer;
}

.securityapps-detail-header {
  @include primary-font(18px, #676763, bold);
}
