<app-pagebody [icon]="bodyIcon" header="Apps Overview">
  <app-tableviewedit fxLayout="column" class="securityapps-widget"
                     [creatingMode]="creatingMode"
                     [showRowExpand]="showRowExpand"
                     [data]="dataObjects"
                     [cols]="cols"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [actionTemplate]="actionTemplate"
                     [expandTemplate]="expandTemplate"
                     [createTemplate]="createTemplate"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
  </app-tableviewedit>
</app-pagebody>

<ng-template #captionTemplate let-count="count">
  <app-tableheader title="Apps" [total]="count" [icon]="headerIcon" fxFlex="auto" fxLayout="row"
                   [tableMenuItems]="tableMenuItems" [enableColumnSelect]="true"
                   [cols]="cols" (columnSelectChange)="onColumnSelectChange($event)">
  </app-tableheader>
</ng-template>

<ng-template #createTemplate>
  <app-newsecurityapp [@slideInOut] (formClose)="creationFormClose()"
                      fxFlex="none" [existingApps]="dataObjects">
  </app-newsecurityapp>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container>
    {{displayColumn(rowData, col)}}
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">
    <mat-icon matTooltip="Edit App" *roleGuard="'securityapp_update'"
              class="global-table-action-icon securityapp-table-action-icon-edit pointer"
              (click)="expandRowRequest($event, rowData)">edit</mat-icon>
    <mat-icon matTooltip="Delete App" *roleGuard="'securityapp_delete'"
              class="global-table-action-icon securityapp-table-action-icon-edit pointer"
              (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData let-columns="columns">
  <app-newsecurityapp [style.width]="'100%'" [@slideInOut] (formClose)="closeRowExpand()"
                      [objectData]="rowData" [existingApps]="dataObjects" [isInline]="true"
                      fxFlex="none"></app-newsecurityapp>
</ng-template>
