@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.newfwlogpolicy-container {
  background: white;

  &:hover {
    background: white;
  }
}

.newfwlogpolicy-name {
  margin: $vertical-gutter $horizontal-gutter;
  height: 30px !important;
}

.newfwlogpolicy-input {
  width: 155px;
}

.newfwlogpolicy-content {
  background: white;
  min-height: 180px;
  margin-top: 4* $vertical-gutter;
  @include primary-font();
}

.newfwlogpolicy-text {
  margin-top: 2*$vertical-gutter;
  margin-left: $horizontal-gutter;
  height: 30px;
  @include primary-font();
}

.newfwlogpolicy-fieldtitle {
  margin: $vertical-gutter $horizontal-gutter;
}

.newfwlogpolicy-value {
  margin: $vertical-gutter $horizontal-gutter;
}

.newfwlogpolicy-font {
  @include primary-font();
}

.newfwlogpolicy-divider {
  border-bottom: 1px solid #dddddd;
}

.newfwlogpolicy-filter {
  margin: $vertical-gutter $horizontal-gutter;
  height: 30px !important;
}

.newfwlogpolicy-save,
.newfwlogpolicy-cancel {
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  line-height: 25px;
  margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;
}

.newfwlogpolicy-buttoncontainer {
  margin-top: 1.5 * $vertical-gutter;
}

.newfwlogpolicy-container .syslog-fieldtitle-prefix-label,
.newfwlogpolicy-container .syslog-fieldtitle-prefix-value {
  display: none !important;
}
