@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.newfwlogpolicy-container {
  background: white;
  padding: 10px;

  &:hover {
    background: white;
  }
}

.newfwlogpolicy-name {
  height: 30px !important;
}

.newfwlogpolicy-input {
  width: 155px;
}

.newfwlogpolicy-content {
  background: white;
  min-height: 180px;
  margin-top: 4* $vertical-gutter;
  @include primary-font();
}

.newfwlogpolicy-text {
  margin-top: 2*$vertical-gutter;
  margin-left: $horizontal-gutter;
  height: 30px;
  @include primary-font();
}

.newfwlogpolicy-fieldtitle {
  margin: $vertical-gutter $horizontal-gutter;
}

.newfwlogpolicy-value {
  margin: $vertical-gutter $horizontal-gutter;
}

.newfwlogpolicy-font {
  @include primary-font();
}

.newfwlogpolicy-divider {
  border-bottom: 1px solid #dddddd;
}

.newfwlogpolicy-filter {
  margin: 4px 3px 4px 0px;
  height: 30px !important;
  width: 255px;
}

.newfwlogpolicy-buttoncontainer {

  .button-container {
    position: relative;
    top: 10px;
    max-height: 0px;
  }

  .newfwlogpolicy-save,
  .newfwlogpolicy-cancel {
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    line-height: 25px;
    margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;
  }
}

.newfwlogpolicy-container .syslog-fieldtitle-prefix-label,
.newfwlogpolicy-container .syslog-fieldtitle-prefix-value {
  display: none !important;
}

.newfwlogpolicy-row {
  .newfwlogpolicy-name {
    width: 250px;
  }
}

.newfwlog-general-box {
  :first-child {
    height: 30px;
    font-size: 14px;
    width: 100%;
  }

  .ui-multiselect-label-container {
    height: 25px;
  }
}

.newfwlog-general-box {
  width: 255px;
}

.newfwlog-export-box {
  margin-top: 14px;
  margin-left: 20px
}

.newfwlogpolicy-toggle-text {
  margin-left: 15px;
  word-wrap: break-all;
}

.newfwlogpolicy-toggle-div {
  margin-top: 10px;
}

.newfwlogpolicy-input-slidetoggle {
  @include global-mat-toggle(rgb(209, 209, 208), rgb(103, 103, 99), rgb(211, 226, 246), rgb(101, 169, 227));
}
