<div style="height:100%">
  <!-- Since we are resizing lazy rendered tables manually, it needs to be called
        when tabs change so it knows to resize itself -->
  <mat-tab-group fxFlex [disableRipple]="true" 
                  (selectedIndexChange)="selectedIndexChangeEvent($event)"
                  >
    <mat-tab label="ALERTS">
      <ng-container *ngTemplateOutlet="AlertsTableTemplate"></ng-container>
    </mat-tab>
    <mat-tab label="EVENTS">
      <ng-container *ngTemplateOutlet="EventsTableTemplate"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #EventsTableTemplate>
  <div fxFlex class="alertsevents-events-table">
    <app-lazyrender [data]="filteredEvents" [rows]="28" [virtualRowHeight]="36">
      <p-table #eventTable class="global-primeng-table-lazyload" [columns]="eventCols" 
                dataKey="meta.name" [responsive]="true" 
                [loading]="eventsLoading" [resizableColumns]="true">
        <!-- Table Caption -->
        <ng-template pTemplate="caption">
          <app-tableheader title="Events" [count]="filteredEvents.length" [total]="events.length" [icon]="eventsIcon" width="250px">
            <div fxFlex></div>
            <!-- All events are currently informational, so we do not display severity filters or search filter -->
            <!-- <div class="alertsevents-search" fxFlex="fxFlex" fxLayoutAlign="start center" > -->
              <!-- Find Event by:  -->
              <!-- <mat-form-field fxFlex="nogrow" floatLabel="never"> -->
                <!-- Max length is picked to be the same as Elastic search limit -->
                <!-- <input matInput [formControl]="eventSearchFormControl" placeholder="Leader, Service, ... " maxlength="256" autocomplete="off"> -->
              <!-- </mat-form-field> -->
            <!-- </div> -->
            <div *ngIf="sourceNode" class="alertsevents-filter-sourcenode">
              Filtering by {{sourceNode}}
            </div>
            <div class="global-button global-alert-neutral alertsevents-main-menu-number " 
                  (click)="onEventNumberClick($event, null)"
                  *ngIf="currentEventSeverityFilter != null">All</div>
            <div class="global-button global-alert-critical alertsevents-main-menu-number " 
                  (click)="onEventNumberClick($event, 'CRITICAL')"
                  *ngIf="eventNumbers.CRITICAL>0 && eventNumbers.CRITICAL !== events.length"
                  >{{ eventNumbers.CRITICAL }}</div>
            <div class="global-button global-alert-warning alertsevents-main-menu-number " 
                  (click)="onEventNumberClick($event, 'WARNING')"
                  *ngIf="eventNumbers.WARNING>0 && eventNumbers.WARNING !== events.length"
                  >{{ eventNumbers.WARNING }}</div>
            <div class="global-button global-alert-info alertsevents-main-menu-number " 
                  (click)="onEventNumberClick($event, 'INFO')" 
                  *ngIf="eventNumbers.INFO>0 && eventNumbers.INFO !== events.length"
                  >{{ eventNumbers.INFO }}</div>
          </app-tableheader>
        </ng-template>
      <!-- Table Header -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of eventCols" [pSortableColumn]="col.sortable? col.field : ''" [class]="col.class">
             {{col.header}}
             <p-sortIcon *ngIf="col.sortable" style="float: right;" [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <!-- Table Body -->
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td *ngFor="let col of eventCols" [ngSwitch]="col.field" [class]="col.class">
            <div *ngSwitchCase="'meta.mod-time'">
              {{rowData.meta['mod-time'] | PrettyDate }}
            </div>
            <div *ngSwitchCase="'meta.creation-time'">
              {{rowData.meta['creation-time'] | PrettyDate }}
            </div>
            <ng-container *ngSwitchCase="'severity'" >
                <mat-icon *ngIf="rowData.severity === 'CRITICAL'" class="alertsevents-icon global-alert-critical-icon">error</mat-icon>
                <mat-icon *ngIf="rowData.severity === 'WARNING'" class="alertsevents-icon global-alert-warning-icon">error</mat-icon>
                <mat-icon *ngIf="rowData.severity === 'INFO'" class="alertsevents-icon global-alert-info-icon">notifications</mat-icon>
                <div style="display: inline; margin-left: 25px"> {{ severityEnum[rowData.severity] }} </div>
            </ng-container>
            <ng-container *ngSwitchCase="'source'" >
              <span *ngIf="rowData.source != null" style="display: block"> {{ rowData.source['node-name'] }}  :  {{ rowData.source.component }} </span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{displayColumn(rowData, col)}}
            </ng-container>
         </td>
        </tr>
      </ng-template>

      </p-table>
    </app-lazyrender>
  </div>
</ng-template>

<ng-template #AlertsTableTemplate>
    <div fxFlex class="alertsevents-events-table">
      <app-lazyrender [data]="filteredAlerts" [rows]="28" [virtualRowHeight]="36" [runDoCheck]="true">
        <p-table #eventTable class="global-primeng-table-lazyload" [columns]="alertCols" 
                  [rowTrackBy]='alertTrackBy'
                  dataKey="meta.name" [responsive]="true" 
                  [loading]="alertsLoading" [resizableColumns]="true">
          <!-- Table Caption -->
          <ng-template pTemplate="caption">
            <app-tableheader title="Alerts" [count]="filteredAlerts.length" [total]="alerts.length" [icon]="alertsIcon" width="250px">
              <div fxFlex></div>
              <div *ngIf="sourceNode" class="alertsevents-filter-sourcenode">
                Filtering by {{sourceNode}}
              </div>
              <!-- Checkboxes for Open, Ack, Resolved states -->
              <div fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                <ng-container *ngFor="let state of possibleFilterStates">
                  <p-checkbox name="stateFilter"
                        styleClass="alertsevents-checkbox" 
                        labelStyleClass="alertsevents-checkbox-label" 
                        [value]="state"
                        [label]="state"
                        [disabled]="selectedStateFilters.length === 1 && selectedStateFilters[0] === state"
                        [(ngModel)]="selectedStateFilters"
                        (onChange)="filterAlerts()"
                        ></p-checkbox>
                </ng-container>
              </div>
              <div class="global-button global-alert-neutral alertsevents-main-menu-number " 
                    (click)="onAlertNumberClick(null)"
                    *ngIf="currentAlertSeverityFilter != null">All</div>
              <div class="global-button global-alert-critical alertsevents-main-menu-number " 
                    (click)="onAlertNumberClick('CRITICAL')"
                    *ngIf="alertNumbers.CRITICAL>0 && alertNumbers.CRITICAL !== alerts.length"
                    >{{ alertNumbers.CRITICAL }}</div>
              <div class="global-button global-alert-warning alertsevents-main-menu-number " 
                    (click)="onAlertNumberClick('WARNING')"
                    *ngIf="alertNumbers.WARNING>0 && alertNumbers.WARNING !== alerts.length"
                    >{{ alertNumbers.WARNING }}</div>
              <div class="global-button global-alert-info alertsevents-main-menu-number " 
                    (click)="onAlertNumberClick('INFO')" 
                    *ngIf="alertNumbers.INFO>0 && alertNumbers.INFO !== alerts.length"
                    >{{ alertNumbers.INFO }}</div>
            </app-tableheader>
          </ng-template>
        <!-- Table Header -->
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of alertCols" [pSortableColumn]="col.sortable? col.field : ''" [class]="col.class" [colSpan]=" col.isLast ? 2 : 1">
               {{col.header}}
               <p-sortIcon *ngIf="col.sortable" style="float: right;" [field]="col.field"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <!-- Table Body -->
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td *ngFor="let col of alertCols" [ngSwitch]="col.field" [class]="col.class">
              <div *ngSwitchCase="'meta.mod-time'" class="alertseventsrecord-date-row">
                {{rowData.meta['mod-time'] | PrettyDate }}
              </div>
              <div *ngSwitchCase="'meta.creation-time'" class="alertseventsrecord-date-row">
                {{rowData.meta['creation-time'] | PrettyDate }}
              </div>
              <ng-container *ngSwitchCase="'status.severity'" >
                  <mat-icon *ngIf="rowData.status.severity === 'CRITICAL'" class="alertsevents-icon global-alert-critical-icon">error</mat-icon>
                  <mat-icon *ngIf="rowData.status.severity === 'WARNING'" class="alertsevents-icon global-alert-warning-icon">error</mat-icon>
                  <mat-icon *ngIf="rowData.status.severity === 'INFO'" class="alertsevents-icon global-alert-info-icon">notifications</mat-icon>
                  <div style="display: inline; margin-left: 25px"> {{ severityEnum[rowData.status.severity] }} </div>
              </ng-container>
              <div *ngSwitchCase="'status.source'">
                <div *ngIf="rowData.status.source != null" style="display: inline"> {{ rowData.status.source['node-name'] }}  :  {{ rowData.status.source.component }} </div>
              </div>
              <ng-container *ngSwitchDefault>
                {{displayColumn(rowData, col)}}
              </ng-container>
           </td>
           <td class="global-column-action">
              <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">
                  <mat-icon *ngIf="rowData.spec.state !== 'RESOLVED'" 
                            matTooltip="Resolve Alert" 
                            class="global-table-action-icon" 
                            (click)="resolveAlert(rowData)">
                    done
                  </mat-icon>
                  <mat-icon *ngIf="rowData.spec.state !== 'ACKNOWLEDGED'" 
                            matTooltip="Acknowledge Alert" 
                            class="global-table-action-icon alertsevents-acknowledge-icon" 
                            (click)="acknowledgeAlert(rowData)">
                    archive
                  </mat-icon>
                  <mat-icon *ngIf="rowData.spec.state !== 'OPEN'" 
                            matTooltip="Mark Alert as Open" 
                            class="global-table-action-icon alertsevents-open-icon" 
                            (click)="openAlert(rowData)">
                    priority_high
                  </mat-icon>
              </div>
            </td>
          </tr>
        </ng-template>
        </p-table>
      </app-lazyrender>
    </div>
  </ng-template>