<div style="height:100%">
  <!-- Since we are resizing lazy rendered tables manually, it needs to be called
        when tabs change so it knows to resize itself -->
  <mat-tab-group fxFlex [disableRipple]="true"
                 (selectedIndexChange)="selectedIndexChangeEvent($event)">
    <mat-tab *roleGuard="'monitoringAlert_read'" label="ALERTS">
      <ng-container *ngTemplateOutlet="AlertsTableTemplate"></ng-container>
    </mat-tab>
    <mat-tab *roleGuard="'eventsevent_read'" label="EVENTS">
      <ng-container *ngTemplateOutlet="EventsTableTemplate"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #EventsTableTemplate>
  <div class="alertsevents-events-table">
    <app-eventstable style="height: 100%" [selector]="selector"
                     [pollingServiceKey]="pollingServiceKey"></app-eventstable>
  </div>
</ng-template>

<ng-template #AlertsTableTemplate>
  <app-alertstable style="height: 100%" [selector]="selector"></app-alertstable>
</ng-template>
