<div style="height:100%">
  <!-- Since we are resizing lazy rendered tables manually, it needs to be called
        when tabs change so it knows to resize itself -->
  <mat-tab-group *ngIf="!hideAlerts; else EventsTableTemplate" [disableRipple]="true" (selectedIndexChange)="lazyRenderWrapper?.resizeTable()" fxFlex>
    <mat-tab label="ALERTS">
      <ng-container *ngTemplateOutlet="AlertTable; context:{tab:'alerts'}"></ng-container>
    </mat-tab>
    <mat-tab label="EVENTS">
      <ng-container *ngTemplateOutlet="EventsTableTemplate"></ng-container>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #EventsTableTemplate>
  <div fxFlex class="alertsevents-events-table">
    <app-lazyrender [data]="filteredEvents" [rows]="28" [virtualRowHeight]="36">
      <p-table #eventTable class="global-primeng-table" [columns]="eventCols" 
                dataKey="meta.name" [responsive]="true" 
                [loading]="eventsLoading" [resizableColumns]="true">
        <!-- Table Caption -->
        <ng-template pTemplate="caption">
          <app-tableheader title="Events" [count]="filteredEvents.length" [total]="events.length" [icon]="eventsIcon" width="250px">
            <!-- All events are currently informational, so we do not display severity filters or search filter -->
            <!-- <div class="alertsevents-search" fxFlex="fxFlex" fxLayoutAlign="start center" > -->
              <!-- Find Event by:  -->
              <!-- <mat-form-field fxFlex="nogrow" floatLabel="never"> -->
                <!-- Max length is picked to be the same as Elastic search limit -->
                <!-- <input matInput [formControl]="eventSearchFormControl" placeholder="Leader, Service, ... " maxlength="256" autocomplete="off"> -->
              <!-- </mat-form-field> -->
            <!-- </div> -->
            <!-- <div class="global-button global-alert-neutral alertsevents-main-menu-number " 
                  (click)="onEventNumberClick($event, 'total')">All</div>
            <div class="global-button global-alert-critical alertsevents-main-menu-number " 
                  (click)="onEventNumberClick($event, 'CRITICAL')"
                  *ngIf="eventNumbers.CRITICAL>0">{{ eventNumbers.CRITICAL }}</div>
            <div class="global-button global-alert-warning alertsevents-main-menu-number " 
                  (click)="onEventNumberClick($event, 'WARNING')"
                  *ngIf="eventNumbers.WARNING>0">{{ eventNumbers.WARNING }}</div>
            <div class="global-button global-alert-info alertsevents-main-menu-number " 
                  (click)="onEventNumberClick($event, 'INFO')" 
                  *ngIf="eventNumbers.INFO>0">{{ eventNumbers.INFO }}</div> -->
          </app-tableheader>
        </ng-template>
      <!-- Table Header -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of eventCols" [pSortableColumn]="col.sortable? col.field : ''" [class]="col.class">
             {{col.header}}
             <p-sortIcon *ngIf="col.sortable" style="float: right;" [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <!-- Table Body -->
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td *ngFor="let col of eventCols" [ngSwitch]="col.field" [class]="col.class">
            <div *ngSwitchCase="'meta.mod-time'" class="alertseventsrecord-date-row">
              {{rowData.meta['mod-time'] | PrettyDate }}
            </div>
            <div *ngSwitchCase="'meta.creation-time'" class="alertseventsrecord-date-row">
              {{rowData.meta['creation-time'] | PrettyDate }}
            </div>
            <ng-container *ngSwitchCase="'severity'" >
                <mat-icon *ngIf="rowData.severity === 'CRITICAL'" fxFlex="nogrow" class="alertsevents-icon global-alert-critical-icon">error</mat-icon>
                <mat-icon *ngIf="rowData.severity === 'WARNING'" fxFlex="nogrow" class="alertsevents-icon global-alert-warning-icon">error</mat-icon>
                <mat-icon *ngIf="rowData.severity === 'INFO'" fxFlex="nogrow" class="alertsevents-icon global-alert-info-icon">notifications</mat-icon>
                <div style="display: inline"> {{ severityEnum[rowData.severity] }} </div>
            </ng-container>
            <ng-container *ngSwitchCase="'source'" >
              <span style="display: block"> {{ rowData.source['node-name'] }}  :  {{ rowData.source.component }} </span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{displayColumn(rowData, col)}}
            </ng-container>
         </td>
        </tr>
      </ng-template>

      </p-table>
    </app-lazyrender>
  </div>
</ng-template>

<ng-template #AlertTable>
  <p-table class="global-primeng-table" [columns]="alertCols" [value]="alerts" [(selection)]="selectedAlerts" dataKey="id" [rows]="15" [scrollable]="true" scrollHeight="800px"#alerttable
    [responsive]="true" [loading]="loading" [resizableColumns]="true">
     <!-- Table Caption -->
     <ng-template pTemplate="caption">
       <div class="alertsevents-header-div">
         <div class="alertsevents-main-menu">
           <div class="alertsevents-main-menu-number-front-group-div">
             <mat-icon>notifications </mat-icon>
             <span class="alertsevents-main-menu-label">
               All Alerts ({{alertnumber.total | number}})
             </span>
             <button *ngIf="selectedAlerts.length>0" type="button" class="btn alertseventsrecord-header-button" (click)="onAlerttableDeleteMultiRecords($event)"
               title="Delete">
               <i class="fa fa-trash alertseventsrecord-header-button-icon"></i>Delete
             </button>
             <button *ngIf="selectedAlerts.length>0" type="button" class="btn alertseventsrecord-header-button" (click)="onAlerttableArchiveMultiRecords($event)"
               title="Archive">
               <i class="fa fa-archive alertseventsrecord-header-button-icon"></i>Archive
             </button>
           </div>
           <div class="alertsevents-main-menu-number-back-group-div">
             <span class="alertsevents-main-menu-number alertsevents-main-menu-number-total" (click)="onAlertNumberClick($event, 'total')">All</span>
             <span class="alertsevents-main-menu-number alertsevents-main-menu-number-critical" (click)="onAlertNumberClick($event, 'critical')"
               *ngIf="alertnumber.critical>0">{{alertnumber.critical}}</span>
             <span class="alertsevents-main-menu-number alertsevents-main-menu-number-warning" (click)="onAlertNumberClick($event, 'warning')"
               *ngIf="alertnumber.warning>0">{{alertnumber.warning}}</span>
             <span class="alertsevents-main-menu-number alertsevents-main-menu-number-info" (click)="onAlertNumberClick($event, 'info')" *ngIf="alertnumber.warning>0">{{alertnumber.info}}</span>
           </div>
         </div>
       </div>
     </ng-template>
     <!-- Table Header -->
     <ng-template pTemplate="header" let-columns>
       <tr>
         <th style="width: 2.25em">
           <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
         </th>
         <th *ngFor="let col of alertCols" [pSortableColumn]="col.sortable? col.field : ''" [class]="col.class">
            {{col.header}}
            <p-sortIcon *ngIf="col.sortable" style="float: right;" [field]="col.field"></p-sortIcon>
        </th>
         <th class="alertsevents-column-action">
           Actions
         </th>
       </tr>
     </ng-template>
     <!-- Table Body -->
     <ng-template pTemplate="body" let-rowData let-alert>
       <tr [pSelectableRow]="rowData">
         <td style="width: 2.25em">
           <p-tableCheckbox [value]="alert"></p-tableCheckbox>
         </td>
         <td *ngFor="let col of alertCols" [ngSwitch]="col.field" [class]="col.class">
           <button *ngSwitchCase="'date'" type="button" class="btn btn-link alertseventsrecord-date-row" (click)="onAlertClick($event,alert)">
             {{alert.date | date:'MM-dd-yyyy HH:mm a'}}
           </button>
           <ng-container *ngSwitchCase="'severity'" >
            <span class="alertseventsrecord-icon" [ngClass]="getAlertItemIconClass(alert)">&nbsp;</span> {{alert.severity}}
           </ng-container>
           <ng-container *ngSwitchDefault>
            {{rowData[col.field]}}
           </ng-container>
        </td>
         <td class="alertsevents-column-action">
           <div class="alertseventsrecord-column-action-div">
             <button type="button" class="btn btn-link alertseventsrecord-column-action-icon" (click)="onAlerttableArchiveRecord($event, alert)"
               title="Archive">
               <mat-icon>folder_open</mat-icon>
             </button>
             <button type="button" class="btn btn-link alertseventsrecord-column-action-icon" (click)="onAlerttableDeleteRecord($event, alert)"
               title="Delete">
               <mat-icon>delete</mat-icon>
             </button>
           </div>
         </td>
       </tr>
     </ng-template>
   </p-table>
</ng-template>