@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.imageupload {
  @include primary-font();

}

.imageupload-fileupload-info-div {
  margin-left: 10px;
  font-size: 20px;
}
