@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.imageupload {
  @include primary-font();

}

.imageupload-fileupload-info-div {
  margin: 10px;
  font-size: 20px;
}

.imageupload-table {
  margin-top: 10px;
}

.imageupload-panel-table {
  margin-top: 10px;
}

.imageupload-panel-table .mat-expansion-panel-content,
.imageupload-panel-table .mat-expansion-panel-content .mat-expansion-panel-body {
  height: 100%;
}

.imageupload-fileupload-progress-span {
  color: #8cafda;
  margin-left: 30px;
}
