<div fxFlex="nogrow" fxLayout="row" class="authpolicy-group authpolicy-group-hover">
  <div fxFlex fxLayout="column" fxLayoutAlign="center start">
    <div fxFlex="nogrow" fxLayout="row">
      <div class="local-group-title  authpolicy-config-title">
        Local
      </div>
    </div>
  </div>

  <div fxFlex="nogrow" fxLayout="column">
    <ng-container *roleGuard="'authauthenticationpolicy_update'">
      <div fxFlex="24px" fxLayout="row" fxLayoutAlign="end stretch" class="authpolicy-arrow-up">
        <mat-icon [matTooltip]="'Move Local Order Up'" *ngIf="canRaiseAuthRank()"
                  (click)="raiseAuthRank()" fxFlex="nogrow">
          arrow_upward
        </mat-icon>
      </div>
    </ng-container>
    <div fxFlex="noshrink" fxLayout="row" fxLayoutAlign="end center">
      <div *ngIf="currentRank != null" fxFlex="nogrow" class="authpolicy-rank"> {{currentRank + 1}}
      </div>
    </div>
    <ng-container *roleGuard="'authauthenticationpolicy_update'">
      <div fxFlex="24px" fxLayout="row" fxLayoutAlign="end stretch" class="authpolicy-arrow-down">
        <mat-icon [matTooltip]="'Move Local Order Down'" fxFlex="nogrow" *ngIf="canLowerAuthRank()"
                  (click)="lowerAuthRank()">
          arrow_downward
        </mat-icon>
      </div>
    </ng-container>
  </div>

</div>
