<app-pagebody [icon]="bodyicon" header="Hosts Overview">
  <div fxFlex class="hosts-table-container">
    <ng-container *ngTemplateOutlet="DataTable"></ng-container>
  </div>
</app-pagebody>
<ng-template #DataTable>
  <app-tableviewedit fxLayout="column" style="height: 100%;"
                     [creatingMode]="creatingMode"
                     [showRowExpand]="showRowExpand"
                     [data]="dataObjects"
                     [cols]="cols"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [actionTemplate]="actionTemplate"
                     [expandTemplate]="expandTemplate"
                     [createTemplate]="createTemplate"
                     [enableCheckbox]="true"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
  </app-tableviewedit>
</ng-template>

<ng-template #actionButtonsTemplate>
  <div fxFlex="none" fxLayoutAlign="start center">
    <!-- TABLE FUNCTION ICONS HERE -->
    <mat-icon class="global-multi-records-delete-icon"
              *ngIf="hasSelectedRows()"
              [matTooltip]="'Delete selected hosts'"
              (click)="onDeleteSelectedRows($event)">delete</mat-icon>
  </div>

</ng-template>

<!-- TABLE HEADER -->
<ng-template #captionTemplate let-count="count">
  <app-tableheader fxFlex="auto" fxLayout="row" [tableMenuItems]="tableMenuItems" title="Hosts"
                   [total]="dataObjects.length" [icon]="headerIcon"
                   [enableColumnSelect]="true"
                   [cols]="cols" (columnSelectChange)="onColumnSelectChange($event)">
    <ng-container *ngTemplateOutlet="actionButtonsTemplate"></ng-container>
  </app-tableheader>
</ng-template>

<ng-template #createTemplate>
  <div fxFlex>
    <app-newhost (formClose)="creationFormClose()"
                 fxFlex="grow" [existingObjects]='dataObjects' [notAdmittedCount]="notAdmittedCount"
                 [dataObjects]="naplesWithoutHosts">
    </app-newhost>
  </div>
</ng-template>

<!-- TABLE BODY -->
<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.mod-time'">
      {{rowData.meta['mod-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'meta.creation-time'">
      {{rowData.meta['creation-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'spec.dscs'">
      <div *ngFor="let v of rowData['processedSmartNics']">
        <ng-container *roleGuard="'clusterDistributedservicecard_read'">
          <a *ngIf="v.mac != ''" routerLink="/cluster/naples/{{v.mac}}">{{v.text}}</a>
          <a *ngIf="v.mac == ''">{{v.text}}</a>
        </ng-container>
        <ng-container
                      *roleGuard="{req: 'clusterDistributedservicecard_read', checkUnauthorized: true }">
          <a>{{v.text}}</a>
        </ng-container>
        <mat-icon class="not_admitted_icon" [inline]="true" *ngIf="!v.admitted"
                  [matTooltip]="'Not Admitted'">announcement</mat-icon>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'workloads'">
      <div *ngFor="let w of rowData['processedWorkloads'] let i=index" class="hosts-workloads-div">
        <ng-container *roleGuard="'workloadworkload_read'">
          <a *ngIf="i < maxWorkloadsPerRow" routerLink="/workload"
             [matTooltip]="'Jump to workloads page'">{{w?.meta.name}}</a>
          <a *ngIf="i === maxWorkloadsPerRow" routerLink="/workload"
             [matTooltip]="buildMoreWorkloadTooltip(rowData)"> ... more </a>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      {{displayColumn(rowData, col)}}
    </ng-container>
  </ng-container>
</ng-template>

<!-- TABLE ACTION -->
<ng-template #actionTemplate let-rowData>

  <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">

    <mat-icon matTooltip="Edit host" *roleGuard="'clusterhost_update'"
              class="global-table-action-icon"
              (click)="expandRowRequest($event, rowData)">edit
    </mat-icon>
    <mat-icon matTooltip="Delete host" *roleGuard="'clusterhost_delete'"
              class="global-table-action-icon"
              (click)="onDeleteRecord($event, rowData)">delete
    </mat-icon>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData let-columns="columns">
  <app-newhost [style.width]="'100%'" [objectData]="rowData" [isInline]="true"
               (formClose)="closeRowExpand()" fxFlex="none"></app-newhost>
</ng-template>
