<app-pagebody [icon]="bodyicon" header="Hosts Overview">
  <div fxFlex class="hosts-table-container">
    <ng-container *ngTemplateOutlet="DataTable"></ng-container>
  </div>
</app-pagebody>
<ng-template #DataTable>
  <app-tableviewedit fxLayout="column" style="height: 100%;"
                     [creatingMode]="creatingMode"
                     [showRowExpand]="showRowExpand"
                     [data]="dataObjects"
                     [cols]="cols"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [actionTemplate]="actionTemplate"
                     [expandTemplate]="expandTemplate"
                     [createTemplate]="createTemplate"
                     [enableCheckbox]="true"
                     [tableLoading]="tableLoading"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
  </app-tableviewedit>
</ng-template>

<ng-template #actionButtonsTemplate>
  <div fxFlex="none" fxLayoutAlign="start center">
    <!-- TABLE FUNCTION ICONS HERE -->
    <mat-icon class="global-multi-records-delete-icon"
              *ngIf="areSelectedRowsDeletable()"
              [matTooltip]="'Delete selected hosts'"
              (click)="onDeleteSelectedRows($event)">delete</mat-icon>
  </div>

</ng-template>

<!-- TABLE HEADER -->
<ng-template #captionTemplate let-count="count">
  <div fxFlex fxLayout="column">
    <div fxLayout="row" style="border-bottom: 1px solid #d9d9d9;">
      <app-tableheader fxFlex="auto" fxLayout="row" [tableMenuItems]="tableMenuItems" title="Hosts"
                       [total]="dataObjects.length" [icon]="headerIcon"
                       [enableColumnSelect]="true"
                       [cols]="cols" (columnSelectChange)="onColumnSelectChange($event)">
        <ng-container *ngTemplateOutlet="actionButtonsTemplate"></ng-container>
      </app-tableheader>
    </div>

    <div fxLayout="row">
      <app-advanced-search #advancedSearchComponent [formArray]="fieldFormArray"
                           [cols]="advSearchCols"
                           (cancelEmitter)="onCancelSearch($event)"
                           (searchEmitter)="onSearchHosts()" kind="Host" fxFlex="grow">
      </app-advanced-search>
    </div>
  </div>

</ng-template>

<ng-template #createTemplate>
  <app-newhost (formClose)="creationFormClose()"
               fxFlex="grow" [existingObjects]='dataObjects' [notAdmittedCount]="notAdmittedCount"
               [dataObjects]="naplesWithoutHosts">
  </app-newhost>
</ng-template>

<!-- TABLE BODY -->
<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.name'">
      <div class="ellipsisText">
        <span [title]="rowData.meta.name">{{rowData.meta.name}}</span>
        <span [title]="rowData.meta.labels['io.pensando.vcenter.display-name']"
              *ngIf="rowData.meta.labels && rowData.meta.labels['io.pensando.vcenter.display-name']">
          ({{rowData.meta.labels['io.pensando.vcenter.display-name']}})
        </span>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'meta.mod-time'">
      {{rowData.meta['mod-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'meta.creation-time'">
      {{rowData.meta['creation-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'spec.dscs'">
      <div *ngFor="let v of rowData._ui['processedSmartNics']">
        <ng-container *roleGuard="'clusterDistributedservicecard_read'">
          <a *ngIf="v.mac != ''" routerLink="/cluster/dscs/{{v.mac}}">{{v.text}}</a>
          <a *ngIf="v.mac == ''">{{v.text}}</a>
        </ng-container>
        <ng-container
                      *roleGuard="{req: 'clusterDistributedservicecard_read', checkUnauthorized: true }">
          <a>{{v.text}}</a>
        </ng-container>
        <mat-icon class="not_admitted_icon" [inline]="true" *ngIf="!v.admitted"
                  [matTooltip]="'Not Admitted'">announcement</mat-icon>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'workloads'">
      <div *ngFor="let w of rowData._ui['processedWorkloads'] let i=index"
           class="hosts-workloads-div">
        <ng-container *roleGuard="'workloadworkload_read'">
          <a *ngIf="i < maxWorkloadsPerRow"
             [matTooltip]="'View in workloads page'"
             [queryParams]="{ filter: w?.meta.name || rowData.meta.name }"
             routerLink="/workload">
            {{w?.meta.name}}
          </a>
          <a *ngIf="i === maxWorkloadsPerRow"
             [matTooltip]="buildMoreWorkloadTooltip(rowData)"
             [queryParams]="{ filter: rowData.meta.name }"
             routerLink="/workload">
            ...
            {{rowData._ui['processedWorkloads'].length - maxWorkloadsPerRow}} more
          </a>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      {{displayColumn(rowData, col)}}
    </ng-container>
  </ng-container>
</ng-template>

<!-- TABLE ACTION -->
<ng-template #actionTemplate let-rowData>

  <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px"
       *ngIf="!(rowData._ui['processedWorkloads'] && rowData._ui['processedWorkloads'].length > 0)">
    <!-- 2020-01-08 backend does not support host edit. Enable it 202004-08  -->
    <mat-icon matTooltip="Edit host" *roleGuard="'clusterhost_update'"
              class="global-table-action-icon"
              (click)="expandRowRequest($event, rowData)">edit
    </mat-icon>

    <mat-icon matTooltip="Delete host" *roleGuard="'clusterhost_delete'"
              class="global-table-action-icon"
              (click)="onDeleteRecord($event, rowData)">delete
    </mat-icon>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData let-columns="columns">
  <app-newhost [style.width]="'100%'" [objectData]="rowData" [isInline]="true"
               (formClose)="closeRowExpand()" fxFlex="none"></app-newhost>
</ng-template>
