/*
Package {{.GoPkg.Name}} is a auto generated package.

Input file: {{.Name}}

The following Messages are defined. 
  {{ range .Messages}}
  {{.Name}}{{end}}

The following Services and Methods are defined.
{{range .Services}} 
 Service: {{.Name}}
   {{range .Methods}}{{.Name}}
   {{end}}{{end}}
*/
package {{.GoPkg.Name}}
