@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;
$dary-grey: #a9a9a9;

.newVcenter-button {
  padding-left: 10px;
  padding-right: 10px;
}


.newVcenter-buttoncontainer {
  .button-container {
    margin-top: 5px;
  }

  // when screen is big enough, move buttons down
  @media only screen and (min-width: 950px) {
    .button-container {
      position: relative;
      max-height: 0px;
    }
  }

  .newVcenter-save,
  .newVcenter-cancel {
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    line-height: 25px;
    margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;
    border-width: 0px;

    &:disabled {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}

.newVcenter-save-tooltip {
  position: relative;
  top: 0px;
  font-size: 10px;
}

// when screen is big enough
@media only screen and (min-width: 950px) {
  .newVcenter-save-tooltip {
    position: relative;
    top: 30px;
  }
}


.newVcenter-buttoncontainer,
.newVcenter-container {
  background: white;

  &:hover {
    background: white;
  }
}

.newVcenter-input {
  width: 100%;
  height: 30px;
}

.newVcenter-textarea {
  width: 100%;
  height: 60px;
}

.newVcenter-content {
  background: white;
  margin-top: 4* $vertical-gutter;
  @include primary-font();
  width: 400px;
  margin-bottom: 10px;

  .newVcenter-radio-format {
    margin-left: 5px;
    margin-top: 9px;
    @include global-mat-radio(12px);
  }

  .newVcenter-dcnames-boxes {
    ul {
      width: 400px;
      white-space: nowrap;
      overflow: hidden !important;
      font-size: 16px !important;
      height: 30px !important;
    }
  }

  fieldset {
    width: 100%;
    border: 1px solid $dary-grey;
    padding: 5px;

    legend {
      padding: 0 5px;
      @include primary-font(15px);
      color: #676763;
      margin-bottom: 0px;
      width: 75px;
    }

    .newVcenter-cred-box {
      width: 370px;
      margin: 0px auto;

      .newVenter-attach-radio {
        .mat-radio-button {
          padding-right: 5px;

          .mat-radio-label-content {
            font-family: "Fira Sans Condensed";
            @include primary-font(14px);
            font-weight: 400;
            color: #676763;
            padding-top: 2px;
            text-transform: capitalize;
          }
        }
      }

      textarea.ui-inputtext {
        padding: 5px 10px;
      }

      .textarea.ui-float-label>label {
        top: 15px;
      }

      .ui-float-label textarea:focus~label,
      .ui-float-label textarea.ui-state-filled~label {
        top: -10px;
      }
    }
  }
}
