<app-pagebody [icon]="bodyIcon" header="Firewall Log Export Policies">
  <app-tableviewedit fxLayout="column" class="fwlogpolicies-widget"
                     [creatingMode]="creatingMode"
                     [showRowExpand]="showRowExpand"
                     [data]="dataObjects"
                     [cols]="cols"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [actionTemplate]="actionTemplate"
                     [expandTemplate]="expandTemplate"
                     [createTemplate]="createTemplate"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
  </app-tableviewedit>
</app-pagebody>

<!-- TABLE HEADER -->
<ng-template #captionTemplate let-count="count">
  <app-tableheader title="Firewall Log Export Policies" [total]="count" [icon]="headerIcon"
                   fxFlex="auto"
                   fxLayout="row" [tableMenuItems]="tableMenuItems"
                   [enableColumnSelect]="true" [cols]="cols"
                   (columnSelectChange)="onColumnSelectChange($event)">
  </app-tableheader>
</ng-template>

<ng-template #createTemplate>
  <app-newfwlogpolicy (formClose)="creationFormClose()" [maxTargets]="maxNewTargets"
                      fxFlex="none">
  </app-newfwlogpolicy>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container>
    {{displayColumn(rowData, col)}}
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">
    <mat-icon *roleGuard="'monitoringfwlogpolicy_update'" matTooltip="Edit policy"
              class="global-table-action-icon fwlogpolicies-table-action-icon-edit"
              (click)="expandRowRequest($event, rowData)">edit</mat-icon>
    <mat-icon *roleGuard="'monitoringfwlogpolicy_delete'" matTooltip="Delete policy"
              class="global-table-action-icon fwlogpolicies-table-action-icon-delete"
              (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData let-columns="columns">
  <app-newfwlogpolicy [style.width]="'100%'" [objectData]="rowData" [isInline]="true"
                      (formClose)="closeRowExpand()" fxFlex="none"></app-newfwlogpolicy>
</ng-template>
