@import 'styles';

.systemCapacity-container {
  @include primary-font();
}

.systemCapacity-nodecount {
  @include primary-font(14px, #b592e3);
  text-align: center;
  font-size: 100px;
}

.systemCapacity-left {
  background-repeat: no-repeat;
  background-position: center;
  background-size: fit;
}

.systemCapacity-right{
  padding-top:20px;
  overflow: hidden;
  height:250px;
  width:335px;
}