.systemCapacity-container {
  font-family: "Fira Sans condensed"
}

.systemCapacity-nodecount {
  text-align: center;
  font-family: 'Fira Sans Condensed';
  font-size: 100px;
  font-stretch: condensed;
  color: #b592e3;
}

.systemCapacity-left {
  // opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: fit;
}

.systemCapacity-right{
  padding-top:20px;
  overflow: hidden;
  height:250px;
  width:335px;
}