@import 'src/global-mixins';

.snapshots {
  @include primary-font();
}

.snapshots-widget {
  height: 100%;

}

.snapshots-toolbar-button {
  @include primary-font(16px, #ffffff);
  height: 30px;
  font-weight: 500;
  text-align: center;
  display: block;
  padding: 0px 10px;
  min-width: 80px;
}

.snapshots-save-panel-header {
  color: #484848;
  font-family: "Fira Sans Condensed";
  font-size: 20px;
  font-weight: normal;
  padding: 12px 24px;
}

.snapshots-save-content {
  padding: 12px 24px 24px;
}

.snapshots-save-label {
  width: 40px;
}

.snapshots-save-label-invalid {
  color: #cd0a0a;
}

.snapshots-save-name-input {
  height: 30px;
  min-width: 300px;
}

.snapshot-table-row-action-restore {
  opacity: 1 !important; // per agreement with Cuong, display retore icon all the time

}
