<div>
  <div class="timerange-button" (click)="timeRangePanel.toggle($event)">
    {{ displayString }}
  </div>
</div>

<p-overlayPanel #timeRangePanel appendTo="body" styleClass="timerange-overlay-panel"
                [autoZIndex]="false">
  <div fxFlex="noshrink" fxLayout="column" class="timerange-overlay">
    <div fxFlex="nogrow" fxLayout="row" fxLayoutGap="15px"
         [formGroup]="timeFormGroup">
      <div fxFlex="auto" fxLayout="column" class="timerange-value">
        <div class="timerange-time-text">START:</div>
        <div fxFlex="auto" fxLayout="row">
          <input appErrorTooltip [errorMessage]="groupErrorMessage"
                 [ngClass]="groupErrorMessage.length != 0 ? 'error' : ''" fxFlex
                 class="timerange-input" spellcheck="false" type="text"
                 formControlName="startTime" pInputText placeholder="">
          <p-calendar [(ngModel)]="startTimeCalendar"
                      [ngModelOptions]="{standalone: true}"
                      showIcon="true"
                      [showTime]="true"
                      styleClass="timerange-calendar"
                      hourFormat="24"
                      inputStyleClass="timerange-calendar-input"
                      [minDate]="minStartSelectDateValue"
                      [maxDate]="maxStartSelectDateValue"
                      (onSelect)="calendarStartSelect($event)"></p-calendar>
        </div>
      </div>

      <div fxFlex="auto" fxLayout="column" class="timerange-value">
        <div class="timerange-time-text">END:</div>
        <div fxFlex="auto" fxLayout="row">
          <input appErrorTooltip [errorMessage]="groupErrorMessage"
                 [ngClass]="groupErrorMessage.length != 0 ? 'error' : ''" fxFlex
                 class="timerange-input" spellcheck="false" type="text"
                 formControlName="endTime" pInputText placeholder="">
          <p-calendar [(ngModel)]="endTimeCalendar"
                      [ngModelOptions]="{standalone: true}"
                      showIcon="true"
                      [showTime]="true"
                      styleClass="timerange-calendar"
                      hourFormat="24"
                      inputStyleClass="timerange-calendar-input"
                      [minDate]="minEndSelectDateValue"
                      [maxDate]="maxEndSelectDateValue"
                      (onSelect)="calendarEndSelect($event)"></p-calendar>
        </div>
      </div>
    </div>
    <div fxFlex="10px"></div>
    <div fxFlex="auto" fxLayout="row wrap" fxLayoutAlign="start center">
      <div *ngFor="let opt of timeRangeOptions" class="timerange-timeoption"
           (click)="setTimeRange(opt)" fxFlex="166px">
        {{ opt.text }}
      </div>
    </div>

  </div>
</p-overlayPanel>
