@import 'src/global-mixins';

.naplesdetail-card-container {
  margin-right: 10px;
}

.naplesdetail-detailsTable-container {
  margin-right: 10px;
  min-width: 315px;
}

.naplesdetail-alertsevents-container {
  min-height: 600px;
}

.naplesdetail-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

.naplesdetail-overlay-content {
  z-index: 20;
}

.naplesdetail-deleted-node {
  background: url("/assets/images/icons/cluster/naples/icon-naples-deleted.svg") center center no-repeat;
  background-size: contain;
}

.naplesdetail-missing-node {
  background: url("/assets/images/icons/cluster/naples/icon-naples-missing.svg") center center no-repeat;
  background-size: contain;
}

.naplesdetail-overlay-text {
  @include primary-font(45px, #676763, 600);
  text-align: center;
}

.naplesdetail-overlay-button {
  font-size: 16px;
  padding: 6px 20px;
}

.naplesdetail-node-table-container {
  margin: 10px;
  padding: 5px 20px;
  min-width: 450px;
  border: solid 2px #dddddd;
  background-image: $backgroundGradient;
}

.naplesdetail-node-fieldtitle {
  @include primary-font(16px, #676763, 500);
}

.naplesdetail-workloads-container,
.naplesdetail-node-fieldtitle-labels {
  margin-top: 4px;
}

.naplesdetail-node-value {
  @include primary-font(16px);
  margin-left: 5px;

  p-table {
    tr {
      background-color: transparent !important;
      border-collapse: collapse;
      height: 28px;
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    th,
    td {
      width: 100%;
      font-family: Roboto;
      font-weight: normal;
      font-stretch: condensed;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #353532 !important;
      border-left: 1px solid transparent !important;
      border-right: 1px solid transparent !important;
      border-top: 1px solid transparent !important;
    }

    th {
      background-color: #e7e7e3 !important;
      font-size: 14px !important;
      border-right: 1px solid #fff !important;
      border-top: 1px solid #D5D5D5 !important;
    }

    th:last-of-type {
      border-right: 0px solid transparent !important;
      ;
    }

    td {
      font-size: 12px !important;
    }
  }
}


.naplesdetail-details {
  margin-top: 10px;
  padding-top: 10px;
}

.naplesdetail-details-title {
  @include primary-font(20px);
}

.naplesdetail-alertsevents-container {
  min-height: 600px;
}

.naplesdetail-phase-icon {
  margin-left: 10px;
}

.naplesdetail-labels-edit-container {
  top: 50% !important;
  left: 50% !important;
  margin-top: -50px !important;
  margin-left: -100px !important;
}

.naplesdetail-details-toggle-expand {
  cursor: pointer;
}

.naples-bad-indicator-icon {
  margin-left: 5px
}

.naplesdetail-chart-item {
  max-width: calc(33% - 20px);
  min-width: 450px;
  margin-right: 20px;
}

.naplesdetail-interface-charts-container {
  margin: 0px 10px;

  .naplesdetail-interface-container,
  .naplesdetail-interface-table-container {
    height: 345px;
    background-image: $backgroundGradient;

    .topbar {
      height: 1px;
      background-image: $topbarGradient;
    }
  }

  .naplesdetail-interface-container {
    width: 510px;
    padding-top: 20px;

    .topbar {
      position: relative;
      top: -20px;
      width: 510px;
    }
  }

  .naplesdetail-interface-table-container {
    min-width: 1030px;
    margin-bottom: 10px;

    .topbar {
      min-width: 1030px;
      width: 100%;
    }
  }

  .naplesdetail-charts-container-spacer {
    display: none;
  }

  .lastupdateTime {
    padding: 5px 0 0px 5px;
    font-family: "Fira Sans Condensed";
    font-size: 12px;
    font-weight: normal;
    color: #cccccc;
  }
}

@media only screen and (min-width: 1850px) {
  .naplesdetail-interface-charts-container {
    flex-flow: row !important;
  }

  .naplesdetail-interface-charts-container .naplesdetail-charts-container-spacer {
    display: block;
  }
}
