<app-pagebody [icon]="bodyicon" [header]="selectedObj?.spec.id">
  <div fxFlex="none" fxLayout="column">
    <ng-container *ngTemplateOutlet="detailsTable"></ng-container>
    <ng-container *ngTemplateOutlet="interface"></ng-container>
    <ng-container *ngTemplateOutlet="interfaceTable"></ng-container>
  </div>
  <div *roleGuard="{opt: ['monitoringAlert_read', 'eventsevent_read']}" fxFlex
       class="naplesdetail-alertsevents-container">
    <!-- If selectedObj does not exist, we don't want fetch alerts/events -->
    <app-shared-alertsevents [selector]="alertseventsSelector" *ngIf="selectedObj">
    </app-shared-alertsevents>
  </div>
  <!-- Deletion screen overlay displays when the policy we are viewing is deleted -->
  <!-- Missing screen overlay displays when the policy does not exist-->
  <div #overlay *ngIf="showDeletionScreen || showMissingScreen" fxLayout="row"
       fxLayoutAlign="center stretch"
       class="naplesdetail-overlay">
    <div fxFlex="50%" fxLayout="column" class="naplesdetail-overlay-content">
      <div fxFlex='20%'></div>
      <div *ngIf="showDeletionScreen" fxFlex='15%' class="naplesdetail-deleted-node"></div>
      <div *ngIf="showMissingScreen" fxFlex='15%' class="naplesdetail-missing-node"></div>
      <div *ngIf="showDeletionScreen" fxFlex="none" class="naplesdetail-overlay-text">
        {{ selectedId }} has been deleted
      </div>
      <div *ngIf="showMissingScreen" fxFlex="none" class="naplesdetail-overlay-text">
        {{ selectedId }} does not exist
      </div>
      <div fxFlex="5%"></div>
      <div fxFlex="none" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="40px">
        <button fxFlex="none" class="global-button-primary naplesdetail-overlay-button"
                routerLink="../">NAPLES
          OVERVIEW</button>
        <button fxFlex="none" class="global-button-primary naplesdetail-overlay-button"
                (click)="routeToHomepage()">HOMEPAGE</button>
      </div>
    </div>
  </div>
</app-pagebody>

<ng-template #detailsTable>
  <div fxFlex="nogrow" fxLayout="column" class="naplesdetail-node-table-container">
    <div fxFlex="nogrow" fxLayout="column" class="naplesdetail-details">
      <!-- <div fxFlex="none" class="cluster-details-title"> Distributed Services Card Detail </div> -->
      <div fxFlex="none" fxLayout="row wrap" fxLayoutAlign="start start">
        <div fxFlex="none" fxLayout="column" class="naplesdetail-detailsTable-container">
          <div fxFlex="none" fxLayout="row">
            <!-- Field titles -->
            <div fxFlex="none" fxLayout="column">
              <div fxFlex="none" fxLayout="column">
                <div class="naplesdetail-node-fieldtitle" fxFlex="30px" fxLayout="row"
                     fxLayoutAlign="start center">
                  <div>MAC Address:</div>
                </div>
                <div class="naplesdetail-node-fieldtitle" fxFlex="30px" fxLayout="row"
                     fxLayoutAlign="start center">
                  <div>IP Address:</div>
                </div>
                <div class="naplesdetail-node-fieldtitle" fxFlex="30px" fxLayout="row"
                     fxLayoutAlign="start center">
                  <div>ID:</div>
                </div>
                <div class="naplesdetail-node-fieldtitle" fxFlex="30px" fxLayout="row"
                     fxLayoutAlign="start center">
                  <div>Phase:</div>
                </div>
                <div class="naplesdetail-node-fieldtitle" fxFlex="30px" fxLayout="row"
                     fxLayoutAlign="start center">
                  <div>Condition:</div>
                </div>
                <div class="naplesdetail-node-fieldtitle" fxFlex="30px" fxLayout="row"
                     fxLayoutAlign="start center">
                  <div>Version:</div>
                </div>
                <div class="naplesdetail-node-fieldtitle" fxFlex="30px" fxLayout="row"
                     fxLayoutAlign="start center">
                  <div>Host:</div>
                </div>
              </div>
            </div>
            <div fxFlex="40px"></div>
            <!-- Values -->
            <div fxFlex="none" fxLayout="column">
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="naplesdetail-node-value">
                <div class="naplesdetail-details-panel-virtual-ip">
                  {{ selectedObj?.status['primary-mac'] }}</div>
              </div>
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="naplesdetail-node-value">
                <div class="naplesdetail-details-panel-virtual-ip">
                  {{ selectedObj?.status['ip-config'] ? selectedObj?.status['ip-config']["ip-address"] : '' }}
                </div>
              </div>
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="naplesdetail-node-value">
                <div class="naplesdetail-details-panel-ntp-servers">
                  {{ selectedObj?.spec.id }}
                </div>
              </div>
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="naplesdetail-node-value">
                <div *ngIf="selectedObj"
                     class="naplesdetail-details-panel-last-leader-transition-time"
                     [matTooltip]="selectedObj.status['admission-phase'] === 'rejected' || selectedObj.status['admission-phase'] === 'pending' ? selectedObj.status['adm-phase-reason'] : ''">
                  {{ selectedObj ? admissionPhaseEnum[selectedObj.status['admission-phase']] : '' }}
                  <mat-icon *ngIf="selectedObj.status['admission-phase'] === 'rejected'"
                            fxFlex="nogrow" [inline]="true"
                            class="global-alert-warning-icon naplesdetail-phase-icon">error
                  </mat-icon>
                  <mat-icon *ngIf="selectedObj.status['admission-phase'] === 'pending'"
                            fxFlex="nogrow" [inline]="true"
                            class="global-alert-info-icon naplesdetail-phase-icon">notifications
                  </mat-icon>
                </div>
              </div>
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="naplesdetail-node-value">
                <div class="naplesdetail-details-panel-ntp-servers"
                     [matTooltip]="!isNICHealthy(selectedObj) && !isNICNotAdmitted(selectedObj) ? helpDisplayReasons(selectedObj) : ''">
                  {{helpDisplayCondition(selectedObj)}}
                  <mat-icon *ngIf=" !isNICHealthy(selectedObj) && !isNICNotAdmitted(selectedObj)"
                            fxFlex="nogrow"
                            [inline]="true"
                            class="global-alert-critical-icon naples-bad-indicator-icon">error
                  </mat-icon>
                </div>
              </div>
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="naplesdetail-node-value">
                <div class="naplesdetail-panel-version">
                  {{ selectedObj?.status.DSCVersion }}
                </div>
              </div>
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="naplesdetail-node-value">
                <div class="naplesdetail-panel-version">
                  <a routerLink="/cluster/hosts"> {{ selectedObj?.status.host }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div fxFlex="none" fxLayout="column" class="naplesdetail-detailsTable-container"
             [@slideInOutHorizontal]>
          <div fxFlex="none" fxLayout="row">
            <!-- Field titles -->
            <div fxFlex="none" fxLayout="column">
              <div class="naplesdetail-node-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <div>Serial Number:</div>
              </div>
              <div class="naplesdetail-node-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <div>Sku:</div>
              </div>
              <div class="naplesdetail-node-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <div>OS Type:</div>
              </div>
              <div class="naplesdetail-node-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <div>Kernel Release:</div>
              </div>
              <div class="naplesdetail-node-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <div>Processor:</div>
              </div>
              <div class="naplesdetail-node-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <div>DSC Profile:</div>
                <mat-icon matTooltip="Edit DSC Profile" class="global-table-action-icon"
                          (click)="assignDSCProfile()"
                          *roleGuard="'clusterdscprofile_update'">edit
                </mat-icon>
                <app-dscprofilesetter [inEditMode]="inProfileAssigningMode"
                                      [selections]="dscprofileOptions"
                                      (saveEmitter)="handleSetDSCProfileSave($event)"
                                      (cancelEmitter)="handleSetDSCProfileCancel($event)">
                </app-dscprofilesetter>
              </div>
            </div>
            <div fxFlex="40px"></div>
            <!-- Values -->
            <div fxFlex="none" fxLayout="column">
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="naplesdetail-node-value">
                <div class="naplesdetail-panel-auto-admit-nics">
                  {{ selectedObj?.status['serial-num'] }}
                </div>
              </div>
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="naplesdetail-node-value">
                <div class="naplesdetail-details-panel-virtual-ip">
                  {{ selectedObj?.status.DSCSku}}
                </div>
              </div>
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="naplesdetail-node-value">
                <div class="naplesdetail-details-panel-ntp-servers">
                  {{ selectedObj?.status['system-info']['os-info']['type'] }}
                </div>
              </div>
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="naplesdetail-node-value">
                <div class="naplesdetail-details-panel-ntp-servers">
                  {{ selectedObj?.status['system-info']['os-info']['kernel-release'] }}
                </div>
              </div>
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="naplesdetail-node-value">
                <div class="naplesdetail-panel-auto-admit-nics">
                  {{ selectedObj?.status['system-info']['os-info']['processor'] }}
                </div>
              </div>
              <div fxFlex="30px" fxLayout="row" fxLayoutAlign="start center"
                   class="naplesdetail-node-value">
                <div class="naplesdetail-panel-auto-admit-nics">
                  <a [routerLink]="['/cluster/dscprofiles']"
                     [queryParams]="{ dscprofile: selectedObj?.spec.dscprofile  }">{{ selectedObj?.spec.dscprofile }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div fxFlex fxFlex="none" fxLayout="column" class="naplesdetail-detailsTable-container">
          <!-- hide the expand and collapse icon now
          <div fxFlex="none" fxLayout="row">
            <div class="naplesdetail-details-toggle-expand" [@slideInOutHorizontal] fxFlex="10"
                 (click)="toggleDetailsCard()">
              <mat-icon fxFlex="none" matTooltip="More Details" *ngIf="!showExpandedDetailsCard">
                chevron_right</mat-icon>
              <mat-icon fxFlex="none" matTooltip="Less Details" *ngIf="showExpandedDetailsCard">
                chevron_left</mat-icon>
            </div>
          </div>
          -->
          <div fxFlex="none" fxLayout="row">
            <!-- Field titles -->
            <div fxFlex="none" fxLayout="column" fxLayoutAlign="start start">
              <div class="naplesdetail-node-fieldtitle" fxFlex="30px" fxLayout="row"
                   fxLayoutAlign="start center">
                <div>Workloads:</div>
              </div>
            </div>
            <div fxFlex="40px"></div>
            <!-- Values -->
            <div class="naplesdetail-workloads-container" fxFlex="200px" *ngIf="selectedObj">
              <div *ngFor="let w of selectedObj['associatedWorkloads'] let i=index"
                   class="naplesdetail-workloads-div">
                <ng-container *roleGuard="'workloadworkload_read'">
                  <a routerLink="/workload" class="naplesdetail-panel-auto-admit-nics"
                     [matTooltip]="'Jump to workloads page'">{{w?.meta.name}}</a>
                </ng-container>
              </div>
            </div>
          </div>
        </div>

        <div fxFlex="" fxLayout="row" fxLayoutAlign="start start"
             class="naplesdetail-detailsTable-container">
          <!-- Field titles -->
          <div class="naplesdetail-node-fieldtitle naplesdetail-node-fieldtitle-labels">
            <div>
              Labels:
            </div>
            <mat-icon matTooltip="Edit Label" class="global-table-action-icon"
                      (click)="editLabels($event)"
                      *roleGuard="'clusterdistributedservicecard_update'">edit
            </mat-icon>
          </div>
          <div fxFlex="10px"></div>
          <!-- Values -->
          <div class="naplesdetail-node-value" fxFlex="">
            <p-table [value]="genKeys()" *ngIf="ifLabelExists()" [autoLayout]="true"
                     [scrollable]="true"
                     scrollHeight="150px" [resizableColumns]="true">
              <ng-template pTemplate="header">
                <tr>
                  <th>Key</th>
                  <th>Value</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-key>
                <tr>
                  <td style="word-break: break-all;">{{key}}</td>
                  <td style="word-break: break-all;">{{this.selectedObj.meta.labels[key]}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
          <app-labeleditor [objects]="[selectedObj]" [metadata]="labelEditorMetaData"
                           (saveEmitter)="handleEditSave($event)"
                           (cancelEmitter)="handleEditCancel($event)"
                           [inLabelEditMode]="inLabelEditMode"></app-labeleditor>

        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #interface>
  <div fxFlex="grow" fxLayout="row wrap" class="naplesdetail-interface-charts-container"
       *ngIf="!showInterfaceTable">
    <div fxFlex="none" fxLayout="column" class="naplesdetail-interface-container">
      <div fxFlex="1px" class="topbar"></div>
      <div fxFlex="nogrow" fxLayout="row">
        <app-naplesdetail-iftopology *ngIf="networkInterfaces && networkInterfaces.length > 0"
                                     fxFlex="none" fxLayout="row"
                                     class="naplesdetail-interface-topology"
                                     (mouseOverInterfaceEmit)="onMouseOverInterface($event)"
                                     [interfaceTopos]="interfaceTopos"
                                     [interfaceStatsUpdateTime]="interfaceStatsUpdateTime"
                                     [mouseOverInterface]="mouseOverInterface">
        </app-naplesdetail-iftopology>
        <app-naplesdetail-ifstats *ngIf="networkInterfaces && networkInterfaces.length > 0"
                                  fxFlex="nogrow" fxLayout="row"
                                  [interfaceStats]="interfaceStats"
                                  [mouseOverInterface]="mouseOverInterface"
                                  (collapseExpandClickEmit)="onCollapseExpandClick($event)"
                                  class="naplesdetail-interface-detail-container">
        </app-naplesdetail-ifstats>
      </div>
    </div>
    <div fxFlex="10px"></div>
    <app-naplesdetail-stats fxFlex="" fxLayout="row" class="naplesdetail-stats-container"
                            *ngIf="detailLoaded" [heroCards]="heroCards"
                            [lastUpdateTime]="lastUpdateTime">
    </app-naplesdetail-stats>
    <div fxFlex="10px" class="naplesdetail-charts-container-spacer"></div>
    <app-naplesdetail-charts fxFlex="nogrow" fxLayout="row" class="naplesdetail-charts-container"
                             *ngIf="detailLoaded" [selectedId]="selectedId">
    </app-naplesdetail-charts>
  </div>
</ng-template>

<ng-template #interfaceTable>
  <div fxFlex="grow" fxLayout="row wrap" class="naplesdetail-interface-charts-container"
       *ngIf="showInterfaceTable">
    <div fxFlex="grow" fxLayout="column" class="naplesdetail-interface-table-container">
      <div fxFlex="1px" class="topbar"></div>
      <div fxFlex="nogrow" fxLayout="row">
        <app-naplesdetail-iftopology *ngIf="networkInterfaces && networkInterfaces.length > 0"
                                     fxFlex="none" fxLayout="row"
                                     class="naplesdetail-interface-topology"
                                     (mouseOverInterfaceEmit)="onMouseOverInterface($event)"
                                     [interfaceStatsUpdateTime]="interfaceStatsUpdateTime"
                                     [interfaceTopos]="interfaceTopos"
                                     [mouseOverInterface]="mouseOverInterface">
        </app-naplesdetail-iftopology>
        <app-naplesdetail-iftable *ngIf="networkInterfaces && networkInterfaces.length > 0"
                                  fxFlex="glow" fxLayout="column"
                                  [interfaceStats]="interfaceStats"
                                  [mouseOverInterface]="mouseOverInterface"
                                  (collapseExpandClickEmit)="onCollapseExpandClick($event)"
                                  class="naplesdetail-interface-table">
        </app-naplesdetail-iftable>
      </div>
    </div>
    <div fxFlex="10px"></div>
    <app-naplesdetail-charts fxFlex="nogrow" fxLayout="row" class="naplesdetail-charts-container"
                             *ngIf="detailLoaded" [selectedId]="selectedId">
    </app-naplesdetail-charts>
  </div>
</ng-template>
