@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;


.newsgpolicy-appContainer {
  padding-top: 10px;
  margin-bottom: 15px;
}

.newsgpolicy-name-box,
.newsgpolicy-general-box {
  height: 30px;
  font-size: 14px;
  width: 200px;
}

.newsgpolicy-action-input {
  width: 200px;
}

.newsgpolicy-attach-radio {
  margin-left: 5px;
  margin-top: 6px;
  @include global-mat-radio(12px);

  .mat-radio-label-content {
    @include primary-font(14px);
  }
}

.newsgpolicy-save,
.newsgpolicy-cancel {
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  line-height: 25px;
  margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;
}

.newsgpolicy-container {
  padding: 20px 15px;
  @include primary-font();
}

.newsgpolicy-multiselect {
  height: 30px !important;
}

.newsgpolicy-subtext {
  margin-top: 2px;
  @include primary-font(12px, #b2b3b4, 300);
}

.newsgpolicy-bold {
  @include primary-font(16px, #383838, 500);
}

.newsgpolicy-bold-subtext {
  @include primary-font(16px, #383838);
  width: 165px;
}

.newsgpolicy-number {
  @include primary-font(18px, #97b8df);
  height: 30px
}

.newsgpolicy-number-edit {
  @include primary-font(18px);
  height: 30px
}

.newsgpolicy-rule-template {
  margin-left: 15px;
}

.newsgpolicy-add-rule {
  @include primary-font(16px, #6ba0e5, 500);
  width: 100px;
  cursor: pointer;
}

.newsgpolicy-chip {
  ul {
    width: 200px;
    white-space: nowrap;
    overflow: hidden !important;
    font-size: 14px !important;
    height: 30px !important;
  }
}

.newsgpolicy-input {
  width: 155px;
  height: 30px;
}

.newsgpolicy-divider {
  border-top: #dddddd 1px solid;
}

.newsgpolicy-fieldtitle {
  margin: $vertical-gutter $horizontal-gutter;
}

.newsgpolicy-protocol-app-container {
  width: 525px;
}

.newsgpolicy-rule-template {
  cursor: pointer;

  .newsgpolicy-edit-hoverbuttons {
    display: none;
  }

  &:hover {
    .newsgpolicy-edit-hoverbuttons {
      display: inherit;
    }
  }
}

.newsgpolicy-rule-template.newsgpolicy-hide-primeng-panel .newsgpolicy-select-panel {
  display: none;
}
