<div fxLayout="column" fxLayoutAlign="start center" class="newsgpolicy-container">
  <div fxLayout="column" fxLayoutAlign="start">
    <div fxFlex="auto" fxLayout="row">
      <ng-container *ngTemplateOutlet="meta"></ng-container>
      <div fxFlex></div>
      <div *ngIf="isInline" class="neweventpolicy-buttoncontainer" fxFlex="nogrow"
           fxLayout="row wrap"
           fxLayoutAlign="start start">
        <div fxFlex="nogrow">
          <span (click)="saveObject()"
                class="global-button-primary global-button-padding newsgpolicy-save"
                [ngClass]="computeInlineButtonClass()">SAVE</span>
        </div>
        <div fxFlex="nogrow">
          <span (click)="cancelObject()"
                class="global-button-neutral global-button-padding newsgpolicy-save">CANCEL</span>
        </div>
      </div>
    </div>
    <!-- for release A only tenant is allowed by default, hide attachFrom 
    <div *ngIf="!isInline" fxFlex="30px"></div>
    <ng-container *ngTemplateOutlet="attachForm"></ng-container>
    -->
    <div *ngIf="!isInline" fxFlex="30px"></div>
    <ng-container *ngTemplateOutlet="rulesSection"></ng-container>
  </div>
</div>

<ng-template #meta>
  <div fxFlex="none" [formGroup]="newObject.$formGroup">
    <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start center" formGroupName="meta">
      <span [ngClass]="{
         'requiredField': isFieldEmpty(newObject.$formGroup.get(['meta', 'name']))
       }">
        <input formControlName="name" class="newsgpolicy-name-box" appFloatLabel="Unique Name"
               appErrorTooltip spellcheck="false" type="text" pInputText>
      </span>
    </div>
  </div>
</ng-template>

<ng-template #attachForm>
  <div fxFlex="none" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <div fxFlex="nogrow">ATTACH TO:</div>
    <mat-radio-group fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px"
                     class="newsgpolicy-attach-radio" [(ngModel)]="selectedAttachOption">
      <mat-radio-button fxFlex="nogrow" fxLayoutAlign="start center" color="primary"
                        [disableRipple]="true" class=""
                        *ngFor="let option of attachOptions" [value]="option.value">
        {{option.label}}
      </mat-radio-button>
    </mat-radio-group>
    <div [@fastSlideInOut] *ngIf="selectedAttachOption === 'securityGroups'" fxFlex="noshrink"
         fxLayout="row"
         fxLayoutAlign="start center" fxLayoutGap="10px">
      <div fxFlex="90px"></div>
      <div fxFlex="nogrow" class="newsgpolicy-text">GROUPS:</div>
      <p-multiSelect class="newsgpolicy-multiselect" fxFlex="300px" appendTo="body"
                     styleClass="newsgpolicy-font"
                     [filter]="false" [showToggleAll]="false" [showHeader]="false"
                     defaultLabel="Select Groups..."
                     [options]="securityGroupOptions"
                     [formControl]="newObject.$formGroup.get(['spec', 'attach-groups'])">
      </p-multiSelect>
    </div>
  </div>
</ng-template>

<ng-template #rulesSection>
  <div fxFlex="none" fxLayout="column">
    <div fxFlex="none" fxLayout="row">
      <div fxFlex="none">RULES:</div>
      <div fxFlex="5px"></div>
      <div fxFlex="none" class="newsgpolicy-subtext">(specify one or more)</div>
    </div>
    <app-orderedlist [dataArray]="rules" [template]="ruleTemplate"
                     (itemClick)="orderedListClick($event)"></app-orderedlist>
    <div fxFlex="none" (click)="addRule()" class="newsgpolicy-add-rule">+ RULE</div>
  </div>
</ng-template>

<ng-template #ruleTemplate let-data="data" let-index="index" let-inEdit="inEdit">
  <div [@.disabled]="!repeaterAnimationEnabled || indexToSkipAnimation === index" fxFlex="auto"
       fxLayout="column">
    <div *ngIf="!inEdit" [@slideInOut] fxFlex="auto" fxLayout="column">
      <ng-container
                    *ngTemplateOutlet="ruleTemplateView; context:{data: data, index: index, inEdit: inEdit}">
      </ng-container>
    </div>

    <div *ngIf="inEdit" [@slideInOut] fxFlex="auto" fxLayout="column">
      <ng-container
                    *ngTemplateOutlet="ruleTemplateEdit; context:{data: data, index: index, inEdit: inEdit}">
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #ruleTemplateEdit let-data="data" let-index="index" let-inEdit="inEdit">
  <div fxFlex="auto" fxLayout="column" fxLayoutAlign="center none" class="newsgpolicy-rule-template"
       [ngClass]="{'newsgpolicy-hide-primeng-panel': !rules[index].inEdit}">
    <ng-container [formGroup]="data.rule.$formGroup">
      <div fxFlex="none" fxLayout="column" fxLayoutAlign="start start">
        <div fxFlex="none">ACTION</div>
        <div fxFlex="none" fxLayout="row">
          <div fxFlex="15px"></div>
          <div fxFlex="none" fxLayout="column">
            <div fxFlex="10px"></div>
            <p-dropdown class="newsgpolicy-action-input"
                        formControlName="action"
                        styleClass="newsgpolicy-font" [options]="actionOptions">
            </p-dropdown>
          </div>
        </div>
      </div>
      <div fxFlex="20px"></div>
      <div fxFlex="none" fxLayout="column" fxLayoutAlign="start start">
        <div fxFlex="none">FROM</div>
        <div fxFlex="none" fxLayout="row">
          <div fxFlex="15px"></div>
          <div fxFlex="none" fxLayout="column" fxLayoutGap="10px">
            <div fxFlex="5px"></div>
            <span
                  [ngClass]="{'app-formchips-requiredField': isFieldEmpty(data.rule.$formGroup.get(['from-ip-addresses']))}">
              <app-formchips fxFlex="none" [chipsLabel]="IPS_LABEL"
                             [formControl]="data.rule.$formGroup.get(['from-ip-addresses'])"
                             boxStyleClass="newsgpolicy-chip" [itemValidator]="isValidIP"
                             [itemErrorMsg]="IPS_ERRORMSG" [toolTip]="IPS_TOOLTIP">
              </app-formchips>
            </span>
          </div>
          <!-- Release-A Constraints -->
          <!-- <div fxFlex="none" fxLayout="column" fxLayoutGap="10px">            
            <div fxFlex="none" fxLayout="row">
              <div fxFlex="none">Security Groups:</div>
              <div fxFlex="5px"></div>
              <div fxFlex="none" class="newsgpolicy-subtext">(specify one or more)</div>
            </div>
            <div fxFlex="30px">
              <p-multiSelect class="newsgpolicy-from-sg" fxFlex="300px"
                             formControlName="from-security-groups"
                             appErrorTooltip appendTo="body" styleClass="newsgpolicy-font"
                             [filter]="false" [showToggleAll]="false"
                             [showHeader]="false" [options]="securityGroupOptions"></p-multiSelect>
            </div>
          </div> -->
        </div>
      </div>

      <div fxFlex="20px"></div>

      <div fxFlex="none" fxLayout="column" fxLayoutAlign="start start">
        <div fxFlex="none">TO</div>
        <div fxFlex="none" fxLayout="row">
          <div fxFlex="15px"></div>
          <div fxFlex="none" fxLayout="column" fxLayoutGap="10px">
            <div fxFlex="5px"></div>
            <span
                  [ngClass]="{'app-formchips-requiredField': isFieldEmpty(data.rule.$formGroup.get(['to-ip-addresses']))}">
              <app-formchips fxFlex="none" [chipsLabel]="IPS_LABEL"
                             [formControl]="data.rule.$formGroup.get(['to-ip-addresses'])"
                             boxStyleClass="newsgpolicy-chip" [itemValidator]="isValidIP"
                             [itemErrorMsg]="IPS_ERRORMSG" [toolTip]="IPS_TOOLTIP">
              </app-formchips>
            </span>
          </div>
          <!-- Release-A Constraints -->
          <!-- <div fxFlex="none" fxLayout="column" fxLayoutGap="10px">
            <div fxFlex="none" fxLayout="row">
              <div fxFlex="none">Security Groups:</div>
              <div fxFlex="5px"></div>
              <div fxFlex="none" class="newsgpolicy-subtext">(specify one or more)</div>
            </div>
            <div fxFlex="30px">
              <p-multiSelect class="newsgpolicy-from-sg" fxFlex="300px"
                             formControlName="to-security-groups"
                             appErrorTooltip appendTo="body" styleClass="newsgpolicy-font"
                             [filter]="false" [showToggleAll]="false"
                             [showHeader]="false" [options]="securityGroupOptions"></p-multiSelect>
            </div>
          </div> -->
        </div>
      </div>
      <div fxFlex="20px"></div>
    </ng-container>

    <mat-radio-group fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="25px"
                     [(ngModel)]="data.selectedProtoAppOption">
      <mat-radio-button fxFlex="nogrow" fxLayoutAlign="start center" color="primary"
                        [disableRipple]="true"
                        *ngFor="let option of protoAppOptions" [value]="option.value">
        {{option.label}}
      </mat-radio-button>
    </mat-radio-group>

    <div *ngIf="data.selectedProtoAppOption === PROTO_PORTS_OPTION"
         fxFlex="grow" fxLayout="column" fxLayoutAlign="start start">
      <ng-container *ngTemplateOutlet="protoandportsTemplate; context:{data: data, index: index}">
      </ng-container>
    </div>
    <div *ngIf="data.selectedProtoAppOption === APPS_OPTION"
         fxFlex="grow" fxLayout="column" fxLayoutAlign="start start">
      <ng-container *ngTemplateOutlet="appsTemplate; context:{data: data, index: index}">
      </ng-container>
    </div>
  </div>
</ng-template>


<ng-template #ruleTemplateView let-data="data" let-index="index" let-inEdit="inEdit">
  <div fxFlex="auto" fxLayout="column" fxLayoutAlign="start none" class="newsgpolicy-rule-template"
       [ngClass]="{'newsgpolicy-hide-primeng-panel': !rules[index].inEdit}">
    <div class="newsgpolicy-order-header" fxFlex="none" fxLayout="row" fxLayoutAlign="start end">
      <div fxFlex="none" fxLayout="row" fxLayoutAlign="start end" fxLayoutGap="25px">
        <div fxFlex="auto" class="newsgpolicy-bold">ACTION</div>
        <div fxFlex="auto">{{ displayArrayField(data, 'action') }}</div>
      </div>
      <div fxFlex="auto" fxLayoutAlign="end center">
        <div>
          <mat-icon class="newsgpolicy-edit-buttons newsgpolicy-edit-hoverbuttons"
                    *ngIf="!rules[index].inEdit"
                    [matTooltip]="'Edit'" (click)="editRule(index)" fxFlex="nogrow">edit
          </mat-icon>
          <mat-icon class="newsgpolicy-edit-buttons newsgpolicy-edit-hoverbuttons"
                    [matTooltip]="'Delete'"
                    (click)="deleteRule(index)" fxFlex="nogrow">delete
          </mat-icon>
        </div>
      </div>
    </div>

    <div fxFlex="auto" fxLayout="row" fxLayoutAlign="start start">
      <div fxFlex="37px"></div>
      <div fxFlex="80%" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="none" fxLayout="column" fxLayouAlign="start start">
          <div fxFlex="none" class="newsgpolicy-bold">FROM</div>
          <div *ngIf="data.rule.$formGroup.get('from-security-groups').value.length !== 0"
               fxFlex="auto"
               fxLayout="row"
               fxLayoutAlign="start end">
            <div fxFlex="15px"></div>
            <div fxFlex="none" class="newsgpolicy-bold-subtext">Security Groups</div>
            <div fxFlex="30px"></div>
            <div>{{ displayArrayField(data, 'from-security-groups') }}</div>
          </div>
          <div *ngIf="data.rule.$formGroup.get('from-ip-addresses').value.length !== 0"
               fxFlex="auto"
               fxLayout="row"
               fxLayoutAlign="start end">
            <div fxFlex="15px"></div>
            <div fxFlex="none" class="newsgpolicy-bold-subtext">IP Addresses</div>
            <div fxFlex="50px"></div>
            <div>{{ displayArrayField(data, 'from-ip-addresses') }}</div>
          </div>
        </div>

        <div fxFlex="none" fxLayout="column" fxLayouAlign="start start">
          <div fxFlex="none" class="newsgpolicy-bold">TO</div>
          <div *ngIf="data.rule.$formGroup.get('to-security-groups').value.length !== 0"
               fxFlex="auto"
               fxLayout="row"
               fxLayoutAlign="start end">
            <div fxFlex="15px"></div>
            <div fxFlex="none" class="newsgpolicy-bold-subtext">Security Groups</div>
            <div fxFlex="30px"></div>
            <div>{{ displayArrayField(data, 'to-security-groups') }}</div>
          </div>
          <div *ngIf="data.rule.$formGroup.get('to-ip-addresses').value.length !== 0" fxFlex="auto"
               fxLayout="row"
               fxLayoutAlign="start end">
            <div fxFlex="15px"></div>
            <div fxFlex="none" class="newsgpolicy-bold-subtext">IP Addresses</div>
            <div fxFlex="50px"></div>
            <div>{{ displayArrayField(data, 'to-ip-addresses') }}</div>
          </div>
        </div>

        <div fxFlex="none" fxLayout="column" fxLayouAlign="start start" fxLayoutAlign="start end">
          <div fxFlex="none" class="newsgpolicy-bold">PROTO-PORTS/APPS</div>
          <div *ngIf="data.selectedProtoAppOption === APPS_OPTION"
               fxFlex="auto" fxLayout="row" fxLayout="start stretch">
            <div fxFlex="15px"></div>
            <div fxFlex="none" class="newsgpolicy-bold-subtext">Applications:</div>
            <div fxFlex="50px"></div>
            <div>{{ displayArrayField(data, 'apps') }}</div>
          </div>
          <div *ngIf="data.selectedProtoAppOption === PROTO_PORTS_OPTION"
               fxFlex="auto" fxLayout="row" fxLayout="start stretch">
            <div fxFlex="15px"></div>
            <div fxFlex="none" class="newsgpolicy-bold-subtext">Proto-Ports:</div>
            <div fxFlex="50px"></div>
            <div>{{ displayArrayField(data, 'proto-ports') }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #protoandportsTemplate let-data="data" let-ruleIndex="index">
  <div fxFlex="nogrow" fxLayout="column" fxLayoutAlign="start center" [@slideInOut]
       *ngFor="let target of controlAsFormArray(data.rule.$formGroup.get('proto-ports')).controls ; let index = index ; let first = first"
       [formGroup]="target">
    <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start center"
         style="margin-bottom: 15px; padding-top: 5px;">
      <div fxFlex="15px"></div>
      <div fxFlex="none" fxLayout="row">
        <span [style.width]="'200px'"
              [ngClass]="{'requiredField': isFieldEmpty(target.get(['protocol']))}">
          <input class="newsgpolicy-name-box" fxFlex="nogrow" spellcheck="false"
                 pInputText formControlName="protocol" appFloatLabel="Protocol">
        </span>
      </div>
      <div fxFlex="30px"></div>
      <div fxFlex="none" fxLayout="row">
        <span [style.width]="'200px'" [ngClass]="{'requiredField': isPortRequired(target)}">
          <input class="newsgpolicy-name-box" fxFlex="nogrow" spellcheck="false"
                 pInputText formControlName="ports" appFloatLabel="Ports">
        </span>
      </div>
      <div fxFlex="20px"></div>
      <div fxFlex="nogrow" fxLayout="row">
        <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start start">
          <div fxFlex="55px" fxLayout="row" fxLayoutAlign="start end"
               class="newsgpolicy-fieldtitle global-add-button">
            <span fxFlex="nogrow" (click)="addProtoTarget(ruleIndex)">+ ADD</span>
            <mat-icon fxFlex="nogrow" class="global-trash-button"
                      *ngIf="controlAsFormArray(data.rule.$formGroup.get('proto-ports')).controls.length > 1 && !first"
                      (click)="removeProtoTarget(ruleIndex, index)">delete</mat-icon>
          </div>
        </div>
      </div>
      <div fxFlex="10px"></div>
    </div>
  </div>
</ng-template>

<ng-template #appsTemplate let-data="data" let-index="index">
  <div fxFlex="none" fxLayout="row">
    <div fxFlex="15px"></div>
    <span [ngClass]="{
      'newsgpolicy-appContainer': true,
      'requiredField': isFieldEmpty(data.rule.$formGroup.get(['apps']))
    }">
      <p-multiSelect class="newsgpolicy-multiselect" fxFlex="300px" appendTo="body"
                     styleClass="newsgpolicy-font"
                     [filter]="false" [showHeader]="false" [showToggleAll]="false"
                     [defaultLabel]="!securityAppOptions || securityAppOptions.length < 1 ? 'No Apps Available' : 'Select Apps...'"
                     [disabled]="!securityAppOptions || securityAppOptions.length < 1"
                     [options]="securityAppOptions"
                     [formControl]="data.rule.$formGroup.get('apps')">
      </p-multiSelect>
    </span>
  </div>
</ng-template>
