meta:
    id      : ARP
    scapy   : ARP
    size    : 28
fields:
    hwtype  : const/1
    ptype   : const/0x0800
    hwlen   : const/6
    plen    : const/4
    op      : const/0x1
    hwsrc   : None
    psrc    : None
    hwdst   : None
    pdst    : None
