<div fxFlex="auto" fxLayout="column" class="new-workload-container">
  <ng-container *ngTemplateOutlet="inlineButtons"></ng-container>
  <div fxFlex="noshrink" fxLayout="column" fxLayoutAlign="start center">
    <ng-container *ngTemplateOutlet="metaHostname"></ng-container>
    <ng-container *ngTemplateOutlet="match_rules"></ng-container>
  </div>
</div>

<ng-template #metaHostname>
  <div fxFlex="row" class="new-workload-groups">
    <div fxFlex="none" [formGroup]="newObject.$formGroup">
      <div fxFlex="none" formGroupName="meta" class="new-workload-group-name">
        <span [ngClass]="{
          'requiredField': isFieldEmpty(newObject.$formGroup.get(['meta', 'name']))
        }">
          <input formControlName="name" appErrorTooltip spellcheck="false" type="text"
                 class="new-workload-input new-workload-name" pInputText
                 appFloatLabel="Unique Workload Name" fxFlex="235px">
        </span>
      </div>
    </div>
    <div fxFlex="none" fxLayoutAlign="start center" [formGroup]="newObject.$formGroup.get('spec')">
      <span [ngClass]="{
        'requiredField': isFieldEmpty(newObject.$formGroup.get(['spec', 'host-name']))
      }">
        <p-dropdown class="new-workload-input new-workload-host" formControlName="host-name"
                    appFloatLabel="Host name"
                    [options]="hostOptions" fxFlex="235px"></p-dropdown>
      </span>
    </div>
  </div>
</ng-template>

<ng-template #inlineButtons>
  <div *ngIf="isInline" class="new-workload-button-container">
    <div fxFlex="nogrow" class="button-container">
      <span (click)="editSaveObject()" [matTooltip]="getTooltip()"
            class="global-button-primary global-button-padding new-workload-save"
            [ngClass]="computeInlineButtonClass()">SAVE</span>
    </div>
    <div fxFlex="nogrow" class="button-container">
      <span (click)="editCancelObject()"
            class="global-button-neutral global-button-padding new-workload-cancel">CANCEL</span>
    </div>
  </div>
</ng-template>

<ng-template #match_rules>
  <div fxFlex="none" fxLayout="column">
    <fieldset class="new-workload-interfaces">
      <legend>
        <span [ngClass]="{'requiredLabel': !oneInterfaceIsValid()}">Interfaces: </span>
        <span class="new-workload-subtext">(specify one or more)</span>
      </legend>
      <div fxFlex="none" fxLayout="column" fxLayoutGap="15px"
           [formGroup]="newObject.$formGroup.get(['spec', 'interfaces'])">
        <div fxFlex="nogrow" [formGroupName]="index" [@fastSlideInOut]
             *ngFor="let inf of controlAsFormArray(newObject.$formGroup.get(['spec','interfaces'])).controls; index as index;">
          <div fxFlex="none" fxLayout="row">
            <div fxFlex="5px"></div>
            <span fxFlex="none" fxLayout="row" [ngClass]="{
              'new-workload-interface-box-address': true,
              'requiredField': isFieldEmpty(inf.get(['mac-address']))
            }">
              <input fxFlex="nogrow" appFloatLabel="MAC Address"
                     appErrorTooltip class="new-workload-mac-address" spellcheck="false"
                     type="text" pInputText formControlName="mac-address">
            </span>
            <div fxFlex="10px"></div>
            <span fxFlex="none" fxLayout="row" class="new-workload-interface-ip">
              <app-formchips fxFlex="none" [chipsLabel]="IPS_LABEL"
                             [formControl]="inf.get(['ip-addresses'])" [toolTip]="IPS_TOOLTIP"
                             boxStyleClass="new-workload-interface-ipbox"
                             [itemValidator]="isValidIP" [itemErrorMsg]="IPS_ERRORMSG">
              </app-formchips>
            </span>
            <div fxFlex="10px"></div>
            <span fxFlex="none" fxLayout="row" [ngClass]="{
              'new-workload-interface-box-vlan': true,
              'requiredField': isFieldEmpty(inf.get(['external-vlan']))
            }">
              <input fxFlex="nogrow" appFloatLabel="External VLAN" appErrorTooltip
                     formControlName="external-vlan" spellcheck="false" type="number"
                     class="new-workload-external-vlan" pInputText min="0" max="4095">
            </span>
            <div fxFlex="10px"></div>
            <span fxFlex="none" fxLayout="row" [ngClass]="{
              'new-workload-interface-box-vlan': true,
              'requiredField': isFieldEmpty(inf.get(['micro-seg-vlan']))
            }">
              <input fxFlex="nogrow" appFloatLabel="Micro-seg VLAN" appErrorTooltip
                     formControlName="micro-seg-vlan" spellcheck="false" type="number"
                     class="new-workload-micro-seg-vlan" pInputText min="1" max="4095">
            </span>
            <div fxFlex="5px"></div>
            <mat-icon fxFlex="nogrow" class="global-trash-button new-workload-delete-interface"
                      *ngIf="controlAsFormArray(newObject.$formGroup.get(['spec','interfaces'])).length > 1"
                      (click)="removeInterface(index)">delete</mat-icon>
          </div>
        </div>
      </div>
      <div fxFlex="15px"></div>
      <div fxFlex="none" (click)="addInterface()"
           class="new-workload-add-interface">+ INTERFACE</div>
    </fieldset>
  </div>
</ng-template>
