meta:
    id: PACKET

testcase    : None  # Testcase object that this packet belongs to
clone       : None
payloadsize : None  # Int
template    : None  # Packet Factory Template Object
spec        : None  # Packet Specification (subsection of TestSpec)
headers     : None  # List of Headers
spktobj     : None  # Scapy packet object
hdrsorder   : None  # List of headers by name
encaps      : None
size        : None
pktspec     : None
