@import 'src/global-mixins';

.tableviewedit-overlay {
  position: absolute;
  pointer-events: none; // VS-905
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

.tableviewedit-resizer {
  width: .5em;
  cursor: col-resize;
  border: solid 1px transparent;
}

.tableviewedit-tablecontainer {
  position: relative;
  height: 100%;
  background: white;
}

.tableviewedit-widget {
  @include primary-font();
}

.tableviewedit-actiontd {
  overflow: visible !important;
}

.tableviewedit-rowexpand {
  overflow: hidden;
  z-index: 20; // Needs to be higher than .tableviewedit-overlay z-index
  position: relative; // needed for z-index to take effect
}

.tableviewedit-rowexpand-tr {
  height: 0px !important;
  // text-top interferes with the animation
  vertical-align: top !important;

  >td {
    padding: 0px !important; // Padding interferes with animation on the rowexpands exit
  }
}

.tableviewedit-rowhighlight {
  >td {
    z-index: 20; // Needs to be higher than .tableviewedit-overlay z-index
    position: relative; // needed for z-index to take effect
    background-color: rgb(234, 241, 249) !important;
  }
}

.tableviewedit-creation-border {
  background: #6ba0e5;
  height: 6px;
}


.tableviewedit-widget .ui-multiselect {
  height: 28px;
  min-width: 150px;
}

.tableviewedit-widget .ui-multiselect .ui-multiselect-label {
  padding: 3px 0px 0px 0px;
  float: left;
}

/** Make table row hyperlink text not turn white when the row is selected */
.tableviewedit-widget .tableviewedit-tr.ui-state-highlight td a {
  color: #007bff;
}

.tableviewedit-widget .ui-table-virtual-table {
  top: 0 !important;
}
