<div fxFlex="auto" fxLayout="column" class="tableviewedit-widget">
  <div [@slideInOut] *ngIf="creatingMode" fxFlex="none" fxLayout="column">
    <ng-container *ngTemplateOutlet="createTemplate"></ng-container>
    <div fxFlex="none" class="tableviewedit-creation-border"></div>
  </div>
  <div fxFlex="auto" class="tableviewedit-tablecontainer">
    <ng-container #table *ngTemplateOutlet="TableTemplate"></ng-container>
    <div *ngIf="creatingMode || (showRowExpand && disableTableWhenRowExpanded)"
         class="tableviewedit-overlay"></div>
  </div>
</div>


<ng-template #TableTemplate>
  <app-lazyrender fxFlex [data]="data" [rows]="28" [runDoCheck]="runDoCheck"
                  [virtualRowHeight]="virtualRowHeight"
                  [isToFetchDataOnSort]="isToFetchDataOnSort"
                  (dataUpdate)='dataUpdated()'
                  (lazyLoadEvent)="lazyLoadEvent.emit($event)">
    <p-table [columns]="selectedcolumns" [sortField]="sortField" [dataKey]="dataKey"
             [reorderableColumns]="true"
             [sortOrder]="sortOrder"
             [compareSelectionBy]="compareSelectionBy"
             #primengTable
             class="global-primeng-table-lazyload" [responsive]="true"
             [(selection)]="selectedDataObjects"
             [loading]="tableLoading" [resizableColumns]="false" rowExpandMode="single">

      <ng-template pTemplate="caption" *ngIf="captionTemplate != null">
        <div fxLayout="row">
          <ng-container *ngTemplateOutlet="captionTemplate; context {count: displayedItemCount}">
          </ng-container>
        </div>

      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr fxLayout="row" #headerRow>
          <th [style.width]="checkboxWidth + 'px'"
              *ngIf="enableCheckbox && selectedcolumns.length > 0">
            <p-tableHeaderCheckbox matTooltip="Select/Deselect All Records In Current Page">
            </p-tableHeaderCheckbox>
          </th>
          <ng-container
                        *ngFor="let col of selectedcolumns; let index = index; let first = first; let last = last">
            <ng-container *roleGuard="col.roleGuard ? col.roleGuard : '' ">
              <th
                  [ngStyle]="{ 'padding-left': (first?'0.5em':'0'), 'padding-right' : (last?'0.5em':'0'), 'pointer-events': (pressed?'none':'inherit') }"
                  pReorderableColumn [pReorderableColumnDisabled]="col.notReorderable? true: false"
                  [pSortableColumn]="col.sortable? col.field : ''"
                  [class]="col.class ? col.class : ''"
                  [fxFlex]="col.width"
                  [colSpan]="last && actionTemplate != null ? 2 : 1">
                <div fxFlex="grow" fxLayout="row">
                  <div *ngIf="!first" class="tableviewedit-resizer"
                       (mousedown)="onMouseDown($event, index-1)"
                       (click)="$event.stopPropagation()">
                  </div>
                  <app-sorticon [isSortable]="col.sortable" [field]="col.field">{{col.header}}
                  </app-sorticon>
                  <div fxFlex></div>
                  <div *ngIf="!last" class="tableviewedit-resizer"
                       (mousedown)="onMouseDown($event, index)" (click)="$event.stopPropagation()">
                  </div>
                </div>
              </th>
            </ng-container>
          </ng-container>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowData>
        <tr (mouseover)="rowHover(rowData)" (mouseleave)="resetHover(rowData)"
            [ngClass]="expandedRowData ?checkIfSelected(rowData) : ''" [pSelectableRow]="rowData"
            class="tableviewedit-tr tableviewedit-tr_{{rowData?.meta?.name}}"
            [style.min-height]="virtualRowHeight + 'px'"
            fxLayout="row"
            (click)="rowClick.emit({event: $event, rowData: rowData})">
          <td *ngIf="enableCheckbox  && selectedcolumns.length > 0">
            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
          </td>
          <td *ngFor="let col of selectedcolumns; let last = last" [ngSwitch]="col.field"
              [class]="col.class ? col.class : ''" [style.min-width]="col.width + '%'"
              [fxFlex]="last && actionTemplate != null ? col.width - actionWidth : col.width">
            <ng-container
                          *ngTemplateOutlet="bodyTemplate; context: {col: col, hovered: hoveredRowID === getRowID(rowData), $implicit: rowData}">
            </ng-container>
          </td>
          <!--
            To assist E2E-UI test, we use rawData to make up td class. 
          -->
          <td *ngIf="actionTemplate != null" [style.width]="actionWidth + '%'"
              class="tableviewedit-actiontd tableviewedit-action-icon-{{rowData?.meta?.name}}">
            <ng-container *ngTemplateOutlet="actionTemplate; context: {$implicit: rowData}">
            </ng-container>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr class="global-rowexpand tableviewedit-rowexpand-tr">
          <td [attr.colspan]="actionTemplate != null ? columns.length + 1 : columns.length">
            <div [@slideInOut] (@slideInOut.done)="rowExpandAnimationComplete.emit($event)"
                 *ngIf="showRowExpand" class="tableviewedit-rowexpand" fxLayout="column">
              <ng-container
                            *ngTemplateOutlet="expandTemplate; context: {$implicit: rowData, columns: columns}">
              </ng-container>
              <div fxFlex="0px" class="tableviewedit-creation-border"></div>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </app-lazyrender>
</ng-template>
