<app-pagebody [icon]="bodyIcon" header="Event Policies">
  <app-tableviewedit fxLayout="column" class="eventpolicy-widget"
                     [creatingMode]="creatingMode"
                     [showRowExpand]="showRowExpand"
                     [data]="dataObjects"
                     [cols]="cols"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [actionTemplate]="actionTemplate"
                     [expandTemplate]="expandTemplate"
                     [createTemplate]="createTemplate"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
  </app-tableviewedit>
</app-pagebody>

<ng-template #createTemplate>
  <app-neweventpolicy (formClose)="creationFormClose()" [existingObjects]='dataObjects'
                      fxFlex="none"></app-neweventpolicy>
</ng-template>

<!-- TABLE HEADER -->
<ng-template #captionTemplate let-count="count">
  <app-tableheader title="Policies" [total]="count" [icon]="headerIcon" [enableColumnSelect]="true"
                   fxFlex="auto" fxLayout="row" [tableMenuItems]="tableMenuItems"
                   [cols]="cols" (columnSelectChange)="onColumnSelectChange($event)">
  </app-tableheader>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'spec.selector'">
      <ng-container *ngFor="let req of formatRequirements(rowData.spec.selector.requirements)">
        <span style="display: block">{{req}}</span>
      </ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
      {{displayColumn(rowData, col)}}
    </ng-container>
    <ng-container *ngSwitchCase="'spec.targets'">
      <ng-container *ngFor="let target of formatTargets(rowData.spec['targets'])">
        <span style="display: block">{{target}}</span>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">
    <mat-icon *roleGuard="'monitoringeventpolicy_update'" matTooltip="Edit policy"
              class="global-table-action-icon"
              (click)="expandRowRequest($event, rowData)">edit</mat-icon>
    <mat-icon *roleGuard="'monitoringeventpolicy_delete'" matTooltip="Delete policy"
              class="global-table-action-icon"
              (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData let-columns="columns">
  <app-neweventpolicy [objectData]="rowData" [isInline]="true" (formClose)="closeRowExpand()"
                      [maxTargets]="maxNewTargets">
  </app-neweventpolicy>
</ng-template>
