@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.newtechsupport-container {
  background: white;

  &:hover {
    background: white;
  }
}

.newtechsupport-content {
  background: white;
  min-height: 180px;
  margin-top: 4* $vertical-gutter;
  @include primary-font();
}

.newtechsupport-font {
  @include primary-font();
}

.newtechsupport-row {
  margin: 0px $horizontal-gutter;
}


.newtechsupport-name,
.newtechsupport-verbosity,
.newtechsupport-nodes {
  margin: $vertical-gutter $horizontal-gutter;
  height: 30px !important;
}



.newtechsupport-value {
  margin: $vertical-gutter $horizontal-gutter;
}

.newtechsupport-buttoncontainer {
  margin-top: 1.5 * $vertical-gutter;

}

.newtechsupport-testconnectionbutton {
  margin: $vertical-gutter $horizontal-gutter;
  line-height: 30px;
  display: grid;
}

.newtechsupport-text {
  margin-top: 2*$vertical-gutter;
  height: 30px;
  width: 120px;
}

.newtechsupport-divider {
  border-bottom: 1px solid #dddddd;
}

.newtechsupport-fieldtitle {
  margin: $vertical-gutter $horizontal-gutter;
}



.newtechsupport-group {
  margin-top: 2*$vertical-gutter;
}

.newtechsupport-row .newtechsupport-plist-div {
  margin-left: 2 * $horizontal-gutter;
}

.newtechsupport-plist-div .ui-picklist-filter-icon {
  margin-top: -0.5em !important;
}

.newtechsupport-plist-div .ui-picklist .ui-picklist-filter-container .ui-picklist-filter {
  text-indent: 0.25em !important;
  padding: .125em .2em;
}

.newtechsupport-naple-description {
  font-size: 10px;
  color: grey;
}

.newtechsupport-plist-item {
  margin-left: $horizontal-gutter;
}

.newtechsupport-plist-div .ui-picklist .ui-picklist-caption {
  padding: .125em .2em;
}

.newtechsupport-plist-div .ui-picklist .ui-picklist-filter-container {
  padding: .25em .25em;
}

.newtechsupport-plist-div .ui-listbox {
  min-width: 12em;
}

.newtechsupport-plist-div .ui-picklist .ui-picklist-buttons .ui-button.ui-button-icon-only {
  min-width: 30px;
}
