<div fxLayout="row" fxLayoutAlign="start center" class="tableheader-container">
  <div fxFlex="noshrink" [style.width]="width" class="tableheader-title-container" fxLayout="row"
       fxLayoutAlign="start center">
    <mat-icon fxFlex="30px" [ngStyle]="_iconStyles" *ngIf="icon.svgIcon" [svgIcon]="icon.svgIcon"
              class="tableheader-icon">
    </mat-icon>
    <mat-icon fxFlex="30px" [ngStyle]="_iconStyles" *ngIf="icon.matIcon"
              class="tableheader-icon tableheader-icon-byname">
      {{icon.matIcon}}
    </mat-icon>
    <div *ngIf="count == null && total == null" fxFlex="nogrow" class="tableheader-title">
      {{title}}
    </div>
    <div *ngIf="(count != null && count === total) || (count == null && total != null)"
         fxFlex="nogrow"
         class="tableheader-title">
      <ng-container *ngIf="!showTotalHits && max != null && total >= max">
        {{title}} (Past {{max | number}})
      </ng-container>
      <ng-container *ngIf="showTotalHits || max == null || total < max">
        {{title}} ({{total | number}})
      </ng-container>
    </div>


  </div>
  <div class="tableheader-content" fxFlex="auto" fxLayoutAlign="start center">
    <ng-content></ng-content>
    <div fxFlex></div>
    <div *ngIf="enableColumnSelect" class="tableheader-enableColumnSelect-div">
      <p-multiSelect fxFlex="none" fxLayoutAlign="end center" appendTo="body" [options]="cols"
                     [(ngModel)]="selectedcolumns" optionLabel="header" displaySelectedLabel="false"
                     maxSelectedLabels="0"
                     (onChange)="onColumnSelectChange($event)" selectedItemsLabel="{0} Columns"
                     styleClass="tableviewedit-table-columns-selector"
                     defaultLabel="Choose Columns">
      </p-multiSelect>

    </div>
  </div>
  <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
    <ng-container *ngIf="lastUpdateTime != null || lastUpdateTime == ''">
      <div class="tableheader-lastupdate" fxFlex="noshrink" fxLayout="column"
           fxLayoutAlign="center end">
        <div fxFlex="nogrow">
          Last Updated: {{ lastUpdateTime | PrettyDate }}
        </div>
      </div>
      <mat-icon class="global-table-action-icon tableheader-icon-button" *ngIf="showRefreshIcon"
                (click)="refreshIconClick.emit($event)" fxFlex="36px">refresh</mat-icon>
    </ng-container>

    <!-- Buffer -->
    <div fxFlex="5px"></div>

    <ng-container *ngIf="tableMenuItems.length > 0">
      <mat-icon class="global-table-action-icon tableheader-icon-button" fxFlex="36px"
                [matMenuTriggerFor]="menu">settings</mat-icon>
      <mat-menu fxFlex #menu="matMenu">
        <button mat-menu-item *ngFor="let item of tableMenuItems" (click)="item.onClick()"
                [disabled]="item.disabled"
                [disableRipple]="true">
          {{ item.text }}
        </button>
      </mat-menu>

    </ng-container>
  </div>
</div>
