@import 'src/global-mixins';

.tableheader-container {
  @include primary-font();
  background: white;
  height: 60px;
  width: 100%;
}

.tableheader-title {
  @include primary-font(20px, #484848);
  margin-left: 10px;
}

.tableheader-icon {
  width: 30px;
  height: 30px;
  font-size: 30px;
  opacity: 0.3;
}

/* In case we use mat-icon by name (not svgIcon), we have to adjust padding a little bit. */
.tableheader-icon-byname {
  width: 30px;
  height: 30px;
  font-size: 30px;
  opacity: 0.3;
}

.tableheader-icon-button {
  padding: 5px !important;
}

.tableheader-lastupdate {
  height: 30px;
}

.tableheader-enableColumnSelect-div {
  margin: 0px 5px;
}
