@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.naples-add-label-button {
  cursor: pointer;
  color: #676763;
}

.naples-card-container {
  margin-right: 10px;
}

.naples-chart-container {
  margin: 10px 20px;
  width: 680px;
}

.naples-card-workloads-container {
  border: 1px solid black;
  margin: 20px;
  min-width: 450px;
  box-shadow: rgb(181, 146, 227) 0px 0px 3px 0px;
  border: 1px solid rgb(206, 197, 189);

  .naples-card-workloads-title {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    font-weight: 500;
  }

  .naples-card-workloads-table {
    margin: 10px;
    max-height: 640px;
    overflow: auto;

    td {
      vertical-align: top;

      .naples-workloads-cell {
        font-size: 12px;
        width: 100%;
      }
    }
  }

}

.naples-table-container {
  min-height: 600px;
}

.naples-table-container .ui-table-scrollable-body {
  overflow-x: hidden;
}

.naples-row-icon {
  margin-left: 10px;
}

.naples-bad-indicator-icon {
  margin-left: 5px;
}

.naples-table-advsearch {
  text-align: left;
}


.naples-workloads-div {
  display: inline-block;
  margin: 0px 5px;
}

.naples-action-icon-container {
  right: 10px !important;

  .naples-action-icon {
    padding-top: 0px !important;
    position: relative;
    top: -5px;

    svg {
      position: relative;
      left: -2px;
    }
  }
}

.naples-status-icon {
  font-size: 20px !important;
  margin-right: 5px;
}

.naples-status-green-icon {
  color: #77a746;
}

.naples-plist .ui-listbox {
  min-width: 20em;
}

.naples-plist input.ui-inputtext:not(.ui-dropdown-filter) {
  padding: 2px;
  text-indent: 18px;
}

.naples-plist .ui-listbox .ui-listbox-item>span {
  display: flex;
  margin-left: 5px;

}

.naples-plist .ui-listbox-header.ui-listbox-header-w-checkbox .ui-listbox-filter-container {
  width: calc(100% - 0.1em);
}

.naples-plist-label-editor-button {
  margin: 5px;
}

.naples-plist-label-editor-save {
  color: #6ba0e5;
  margin: 10px 0px 10px 5px;
  display: inline-block;
}

.naples-plist-label-editor-delete {
  margin-left: 5px;
  margin-top: 6px;
  cursor: pointer;
  display: inline-block;
}
