.naples-add-label-button {
  cursor: pointer;
  color: #676763;
}

.naples-column-date {
  width: 10%;
}

.naples-column-id-name {
  width: 10%;
}

.naples-column-mgmt-cidr {
  width: 15%;
}

.naples-column-phase {
  width: 10%;
}

.naples-column-version {
  width: 5%;
}

.naples-column-host {
  width: 10%;
}

.naples-column-workloads {
  width: 10%
}

.naples-card-container {
  margin-right: 10px;
}

.naples-table-container {
  min-height: 600px;
}


.naples-column-condition {
  width: 10%;
}

.naples-row-icon {
  margin-left: 10px;
}

.naples-bad-indicator-icon {
  margin-left: 5px;
}

.naples-table-advsearch {
  text-align: left;
}


.naples-workloads-div {
  display: inline-block;
  margin: 0px 5px;
}
