<app-pagebody [icon]="bodyicon" header="Naples Overview">
  <div fxFlex="none" fxLayout="row">
    <div fxFlex="nogrow" fxLayout="row wrap" class="naples-card-container">
      <ng-container *ngFor="let cardData of heroCards">
        <app-herocard fxFlex="nogrow"
                      [title]="cardData.title" 
                      [firstStat]="cardData.firstStat" 
                      [secondStat]="cardData.secondStat" 
                      [thirdStat]="cardData.thirdStat" 
                      [backgroundIcon]="cardData.backgroundIcon"
                      [themeColor]="cardData.themeColor"
                      [icon]="cardData.icon"
                      [data]="cardData.data"
                      [arrowDirection]="cardData.arrowDirection"
                      [timeRange]="'Past 24 hours'"
                      [cardState]="cardData.cardState"
                      >
        </app-herocard>
      </ng-container>
    </div>
  </div>
  <div fxFlex class="naples-table-container">
    <ng-container *ngTemplateOutlet="DataTable" ></ng-container>
  </div>
</app-pagebody>

<ng-template #DataTable>
  <p-table #naplesTable [value]="naples" class="global-primeng-table" [columns]="cols" sortField="meta.mod-time" [sortOrder]='-1'
    dataKey="meta.name" [responsive]="true" [resizableColumns]="true">
    <!-- Table Caption -->
    <ng-template pTemplate="caption">
      <app-tableheader title="Naples" [total]="naples.length" [icon]="naplesIcon" width="250px">
      </app-tableheader>
    </ng-template>
    <!-- Table Header -->
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols" [pSortableColumn]="col.sortable? col.field : ''" [class]="col.class">
            <app-sorticon *ngIf="col.sortable" [field]="col.field">{{col.header}}</app-sorticon>
        </th>
      </tr>
    </ng-template>
    <!-- Table Body -->
    <ng-template pTemplate="body" let-rowData>
      <tr>
        <td *ngFor="let col of cols" [ngSwitch]="col.field" [class]="col.class">
          <div *ngSwitchCase="'meta.name'">
            <a routerLink="./{{rowData.meta.name}}">{{rowData.meta.name}}</a>
          </div>
          <div *ngSwitchCase="'meta.mod-time'">
            {{rowData.meta['mod-time'] | PrettyDate }}
          </div>
          <div *ngSwitchCase="'meta.creation-time'">
            {{rowData.meta['creation-time'] | PrettyDate }}
          </div>
          <ng-container *ngSwitchDefault>
            {{displayColumn(rowData, col)}}
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-template>