.naples-column-date {
  width: 15%;
}

.naples-column-host-name {
  width: 20%;
}

.naples-column-mgmt-cidr {
  width: 20%;
}

.naples-column-phase {
  width: 15%;
}

.naples-card-container {
  margin-right: 10px;
}

.naples-table-container {
  min-height: 600px;
}