<app-pagebody [icon]="bodyicon" header="Distributed Services Cards Overview">
  <div fxFlex="none" fxLayout="row">
    <div fxFlex="nogrow" fxLayout="row wrap" class="naples-card-container" *ngIf="hasDSC">
      <ng-container *ngFor="let cardData of heroCards">
        <app-herocard fxFlex="nogrow"
                      [title]="cardData.title"
                      [firstStat]="cardData.firstStat"
                      [secondStat]="cardData.secondStat"
                      [thirdStat]="cardData.thirdStat"
                      [backgroundIcon]="cardData.backgroundIcon"
                      [themeColor]="cardData.themeColor"
                      [icon]="cardData.icon"
                      [lineData]="cardData.lineData"
                      [arrowDirection]="cardData.arrowDirection"
                      [lastUpdateTime]="lastUpdateTime"
                      [cardState]="cardData.cardState">
        </app-herocard>
      </ng-container>
    </div>
  </div>

  <app-tableviewedit fxFlex="auto" fxLayout="column" class="naples-table-container"
                     style="height: 100%;"
                     [data]="dataObjects" [cols]="cols"
                     [virtualRowHeight]="36" [sortField]="'meta.mod-time'"
                     [runDoCheck]="true"
                     [dataKey]="'meta.name'"
                     [sortOrder]="-1"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [actionTemplate]="actionTemplate"
                     [tableLoading]="tableLoading"
                     [enableCheckbox]="true">
  </app-tableviewedit>
</app-pagebody>

<ng-template #captionTemplate let-count="count">
  <div fxFlex fxLayout="column">
    <div fxLayout="row" style="border-bottom: 1px solid #d9d9d9;">
      <app-tableheader fxFlex="auto" fxLayout="row" title="Distributed Services Cards"
                       [total]="count"
                       [tableMenuItems]="tableMenuItems"
                       [icon]="naplesIcon" [enableColumnSelect]="true"
                       [cols]="cols" (columnSelectChange)="onColumnSelectChange($event)">
        <div fxFlex="none" fxLayoutAlign="start center">
          <!-- LABEL EDITOR-->
          <mat-icon class="naples-add-label-button"
                    *ngIf="this.tableContainer.selectedDataObjects.length>0"
                    [matTooltip]="'Add labels to selected DSC'"
                    (click)="editLabels()">label</mat-icon>
          <app-labeleditor
                           [metadata]="labelEditorMetaData"
                           [inLabelEditMode]="inLabelEditMode"
                           (saveEmitter)="handleEditSave($event)"
                           (cancelEmitter)="handleEditCancel($event)"
                           [objects]="this.tableContainer.selectedDataObjects"
                           [nameKey]="'spec.id'">
          </app-labeleditor>
        </div>
      </app-tableheader>
    </div>
    <div fxLayout="row">
      <app-advanced-search #advancedSearchComponent
                           [formArray]="fieldFormArray" [cols]="advSearchCols"
                           [customQueryOptions]="customQueryOptions"
                           (cancelEmitter)="onCancelSearch($event)"
                           (searchEmitter)="onSearchDSCs()"
                           kind="DistributedServiceCard"
                           fxFlex="grow">
      </app-advanced-search>
    </div>
  </div>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container>
    <ng-container [ngSwitch]="col.field">
      <ng-container *ngSwitchCase="'spec.id'">
        <div class="ellipsisText" title="{{rowData.spec.id}}">
          <a routerLink="./{{rowData.meta.name}}">{{rowData.spec.id}}</a>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'meta.mod-time'">
        {{rowData.meta['mod-time'] | PrettyDate }}
      </ng-container>
      <ng-container *ngSwitchCase="'meta.creation-time'">
        {{rowData.meta['creation-time'] | PrettyDate }}
      </ng-container>
      <ng-container *ngSwitchCase="'status.host'">
        <div class="ellipsisText" title="{{ rowData.status.host }}">
          <a routerLink="/cluster/hosts">{{rowData.status.host}}</a>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'status.admission-phase'">
        <div
             [matTooltip]="rowData.status['admission-phase'] === 'REJECTED' || rowData.status['admission-phase'] === 'PENDING' ?  rowData.status['adm-phase-reason'] : ''">
          {{displayColumn(rowData, col)}}
        </div>
        <mat-icon *ngIf="rowData.status['admission-phase'] === 'REJECTED'" fxFlex="nogrow"
                  [inline]="true"
                  class="global-alert-warning-icon naples-row-icon">error</mat-icon>
        <mat-icon *ngIf="rowData.status['admission-phase'] === 'PENDING'" fxFlex="nogrow"
                  [inline]="true"
                  class="global-alert-info-icon naples-row-icon">notifications</mat-icon>
      </ng-container>
      <ng-container *ngSwitchCase="'meta.labels'">
        {{formatLabels(rowData.meta.labels)}}
      </ng-container>
      <ng-container *ngSwitchCase="'status.conditions'">
        <div>
          <mat-icon *ngIf="isNICHealthy(rowData)" fxFlex="nogrow"
                    class="naples-status-icon naples-status-green-icon" [inline]="true"
                    matTooltip="Healthy">verified_user</mat-icon>
          <mat-icon *ngIf="isNICUnhealthy(rowData)" fxFlex="nogrow" [inline]="true"
                    class="naples-status-icon global-alert-critical-icon"
                    [matTooltip]="'Health: Unhealthy. ' + displayReasons(rowData)">error</mat-icon>
          <mat-icon *ngIf="isNICHealthUnknown(rowData)" fxFlex="nogrow"
                    class="naples-status-icon global-alert-warning-icon" [inline]="true"
                    [matTooltip]="'Health: Unknown. ' + displayReasons(rowData)">battery_unknown
          </mat-icon>
          <mat-icon *ngIf="isNicNeedReboot(rowData)" fxFlex="nogrow" class="naples-status-icon"
                    [inline]="true"
                    matTooltip="Reboot Needed">settings_power</mat-icon>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'workloads'">
        <div *ngFor="let w of rowData['associatedWorkloads'] let i=index"
             class="naples-workloads-div">
          <ng-container *roleGuard="'workloadworkload_read'">
            <a *ngIf="i < maxWorkloadsPerRow" routerLink="/workload"
               [matTooltip]="'Jump to workloads page'">{{w?.meta.name}}</a>
            <a *ngIf="i === maxWorkloadsPerRow" routerLink="/workload"
               [matTooltip]="buildMoreWorkloadTooltip(rowData)"> ... more </a>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="ellipsisText" title="{{displayColumn(rowData, col)}}">
          {{displayColumn(rowData, col)}}
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <div *roleGuard="'clusterdistributedservicecard_update'"
       class="global-column-action-icon-container naples-action-icon-container" fxLayout="row"
       fxLayoutGap="5px">
    <button mat-icon-button *ngIf="showAdmissionButton(rowData)">
      <mat-icon matTooltip="Admit Card" svgIcon="card_admit"
                class="global-table-action-icon naples-action-icon"
                (click)="onAdmitCard($event, rowData)"></mat-icon>
    </button>
    <button mat-icon-button *ngIf="showDecommissionButton(rowData)">
      <mat-icon matTooltip="Decommision Card" svgIcon="card_decommision"
                class="global-table-action-icon naples-action-icon"
                (click)="onDecommissionCard($event, rowData)">
      </mat-icon>
    </button>
  </div>
</ng-template>
