<app-pagebody [icon]="bodyicon" header="Distributed Services Cards Overview">
  <div fxFlex="none" fxLayout="row">
    <div fxFlex="nogrow" fxLayout="row wrap" class="naples-card-container">
      <ng-container *ngFor="let cardData of heroCards">
        <app-herocard fxFlex="nogrow"
                      [title]="cardData.title"
                      [firstStat]="cardData.firstStat"
                      [secondStat]="cardData.secondStat"
                      [thirdStat]="cardData.thirdStat"
                      [backgroundIcon]="cardData.backgroundIcon"
                      [themeColor]="cardData.themeColor"
                      [icon]="cardData.icon"
                      [lineData]="cardData.lineData"
                      [arrowDirection]="cardData.arrowDirection"
                      [lastUpdateTime]="lastUpdateTime"
                      [cardState]="cardData.cardState">
        </app-herocard>
      </ng-container>
    </div>
  </div>

  <app-tableviewedit fxFlex="auto" fxLayout="column" class="naples-table-container"
                     [data]="dataObjects" [cols]="cols"
                     [virtualRowHeight]="36" [sortField]="'meta.mod-time'"
                     [runDoCheck]="true"
                     [dataKey]="'meta.name'"
                     [sortOrder]="-1"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [enableCheckbox]="true">
  </app-tableviewedit>
</app-pagebody>

<ng-template #captionTemplate let-count="count">
  <div fxFlex fxLayout="column">
    <div fxLayout="row" style="border-bottom: 1px solid #d9d9d9;">
      <app-tableheader fxFlex="auto" fxLayout="row" title="Distributed Services Cards"
                       [total]="count"
                       [tableMenuItems]="tableMenuItems"
                       [icon]="naplesIcon" [enableColumnSelect]="true"
                       [cols]="cols" (columnSelectChange)="onColumnSelectChange($event)">
        <div fxFlex="none" fxLayoutAlign="start center">
          <!-- LABEL EDITOR-->
          <mat-icon class="naples-add-label-button"
                    *ngIf="this.tableContainer.selectedDataObjects.length>0"
                    [matTooltip]="'Add labels to selected DSC'"
                    (click)="editLabels()">label</mat-icon>
          <app-labeleditor
                           [metadata]="labelEditorMetaData"
                           [inLabelEditMode]="inLabelEditMode"
                           (saveEmitter)="handleEditSave($event)"
                           (cancelEmitter)="handleEditCancel($event)"
                           [objects]="this.tableContainer.selectedDataObjects"
                           [nameKey]="'spec.id'">
          </app-labeleditor>
        </div>
      </app-tableheader>
    </div>
    <div fxLayout="row">
      <app-advanced-search #advancedSearchComponent
                           [formArray]="fieldFormArray" [cols]="advSearchCols"
                           [customQueryOptions]="customQueryOptions"
                           (cancelEmitter)="onCancelSearch($event)"
                           (searchEmitter)="getDistributedServiceCards()"
                           kind="DistributedServiceCard"
                           fxFlex="grow">
      </app-advanced-search>
    </div>
  </div>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container>
    <ng-container [ngSwitch]="col.field">
      <ng-container *ngSwitchCase="'spec.id'">
        <a routerLink="./{{rowData.meta.name}}">{{rowData.spec.id}}</a>
      </ng-container>
      <ng-container *ngSwitchCase="'meta.mod-time'">
        {{rowData.meta['mod-time'] | PrettyDate }}
      </ng-container>
      <ng-container *ngSwitchCase="'meta.creation-time'">
        {{rowData.meta['creation-time'] | PrettyDate }}
      </ng-container>
      <ng-container *ngSwitchCase="'status.DSCVersion'">
        {{rowData.status["DSCVersion"]}}
      </ng-container>
      <ng-container *ngSwitchCase="'status.host'">
        <a routerLink="/cluster/hosts"> {{rowData.status["host"]}}</a>
      </ng-container>
      <ng-container *ngSwitchCase="'status.admission-phase'">
        <div
             [matTooltip]="rowData.status['admission-phase'] === 'REJECTED' || rowData.status['admission-phase'] === 'PENDING' ?  rowData.status['adm-phase-reason'] : ''">
          {{displayColumn(rowData, col)}}
        </div>
        <mat-icon *ngIf="rowData.status['admission-phase'] === 'REJECTED'" fxFlex="nogrow"
                  [inline]="true"
                  class="global-alert-warning-icon naples-row-icon">error</mat-icon>
        <mat-icon *ngIf="rowData.status['admission-phase'] === 'PENDING'" fxFlex="nogrow"
                  [inline]="true"
                  class="global-alert-info-icon naples-row-icon">notifications</mat-icon>
      </ng-container>
      <ng-container *ngSwitchCase="'meta.labels'">
        {{formatLabels(rowData.meta.labels)}}
      </ng-container>
      <ng-container *ngSwitchCase="'status.conditions'">
        <div
             [matTooltip]="!isNICHealthy(rowData) && !isNICNotAdmitted(rowData) ? displayReasons(rowData) : ''">
          {{displayCondition(rowData)}}
          <mat-icon *ngIf="!isNICHealthy(rowData) && !isNICNotAdmitted(rowData)" fxFlex="nogrow"
                    [inline]="true"
                    class="global-alert-critical-icon naples-bad-indicator-icon ">error
          </mat-icon>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'workloads'">
        <div *ngFor="let w of rowData['associatedWorkloads'] let i=index"
             class="naples-workloads-div">
          <ng-container *roleGuard="'workloadworkload_read'">
            <a *ngIf="i < maxWorkloadsPerRow" routerLink="/workload"
               [matTooltip]="'Jump to workloads page'">{{w?.meta.name}}</a>
            <a *ngIf="i === maxWorkloadsPerRow" routerLink="/workload"
               [matTooltip]="buildMoreWorkloadTooltip(rowData)"> ... more </a>
          </ng-container>
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        {{displayColumn(rowData, col)}}
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>
