.naples-column-date {
  width: 15%;
}

.naples-column-host-name {
  width: 15%;
}

.naples-column-mgmt-cidr {
  width: 15%;
}

.naples-column-phase {
  width: 10%;
}

.naples-column-version {
  width: 5%;
}

.naples-card-container {
  margin-right: 10px;
}

.naples-table-container {
  min-height: 600px;
}


.naples-column-condition {
  width: 10%;
}

.naples-row-icon {
  margin-left: 10px;
}

.naples-bad-indicator-icon {
  margin-left: 5px;
}
