@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.fwlogs {
  @include primary-font();
}

.fwlogs-lastupdate {
  margin-right: 5px;
}

.fwlogs-widget {
  height: 100%;
}

.fwlogs-singleselect {
  @include primary-font();
  text-align: left !important;
}

.fwlogs-search {
  border-bottom: 1px solid #dddddd;
}

.fwlogs-button {
  font-size: 16px;
  padding: 4px 10px;
  line-height: 25px;
  margin: 0px 10px
}

.fwlogs-button-search {
  font-size: 16px;
  padding: 4px 10px;
  line-height: 25px;
  margin: 3px 10px
}

.fwlogs-singleselect,
.fwlogs-input {
  width: 155px;
  @include primary-font();
}

.fwlogs-inputport {
  width: 100px;
  @include primary-font();
}

.fwlogs-value {
  margin: $vertical-gutter $horizontal-gutter;
  @include primary-font();
}

.fwlogs-fieldtitle {
  margin: $vertical-gutter $horizontal-gutter;
  @include primary-font();
}

.fwlogs-ruletext {
  @include primary-font();
}

.fwlogs-sgpolicyredirect {
  cursor: pointer;
}
