<app-pagebody class="fwlogs" header="Firewall Logs" [icon]="bodyIcon">
  <app-tableviewedit fxLayout="column" class="fwlogs-widget"
                     [showRowExpand]="showRowExpand"
                     [data]="dataObjects"
                     [cols]="cols"
                     [dataKey]="null"
                     [sortField]="startingSortField"
                     [sortOrder]="startingSortOrder"
                     compareSelectionBy="equals"
                     [tableLoading]="loading"
                     [runDoCheck]="false"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [actionTemplate]="actionTemplate"
                     [isToFetchDataOnSort]="true"
                     (lazyLoadEvent)="onTableSort($event)"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
  </app-tableviewedit>
</app-pagebody>

<!-- TABLE HEADER -->
<ng-template #captionTemplate let-count="count">
  <div fxFlex="auto" fxLayout="column">
    <div xFlex="auto" fxLayout="column" class="fwlogs-search">
      <ng-container *ngTemplateOutlet="search"></ng-container>
    </div>
    <div fxFlex="auto" fxLayout="row">
      <app-tableheader fxFlex="auto" title="Firewall Logs" [max]="maxRecords"
                       [total]="dataObjects.length" [icon]="headerIcon"
                       [tableMenuItems]="tableMenuItems" [enableColumnSelect]="true" [cols]="cols"
                       (columnSelectChange)="onColumnSelectChange($event)"
                       [lastUpdateTime]="lastUpdateTime" [showRefreshIcon]="true"
                       (refreshIconClick)="getFwlogs()" class="fwlogs-table-header"
                       [showTotalHits]="true">
        <ng-container *ngTemplateOutlet="actionButtonsTemplate"></ng-container>
        <div fxFlex></div>
        <app-timerange fxFlex="nogrow"
                       [selectedTimeRange]="selectedTimeRange"
                       [timeRangeOptions]="timeRangeOptions"
                       [maxTimePeriod]="maxTimePeriod"
                       (timeRange)="setTimeRange($event)"></app-timerange>
      </app-tableheader>
    </div>
  </div>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.mod-time'">
      {{ rowData.meta["mod-time"] | PrettyDate:"ns" }}
    </ng-container>
    <ng-container *ngSwitchCase="'reporter-id'">
      <a
         routerLink="/cluster/dscs/{{ rowData['reporter-id'] }}">{{ getNaplesNameFromReporterID(rowData) }}</a>
    </ng-container>
    <ng-container *ngSwitchCase="'rule-id'">
      <div *ngIf="displayPolicyName(rowData)" class="fwlogs-sgpolicyredirect">
        <a
           routerLink="/security/sgpolicies/{{displayPolicyName(rowData)}}">{{displayPolicyName(rowData)}}</a>
      </div>
      <span *ngIf="!displayPolicyName(rowData)">No Policy Found</span>
    </ng-container>
    <ng-container *ngSwitchCase="'protocol'">
      <div *ngIf="rowData.protocol == 'ICMP'" class="fwlogs-icmp">
        <div>{{displayColumn(rowData, col)}}</div>
        <div @fastSlideInOut class="fwlogs-icmp-content">
          <span fxLayout="row wrap">icmp-type: {{rowData['icmp-type']}}</span>
          <span fxLayout="row wrap">icmp-code: {{rowData['icmp-code']}}</span>
          <span fxLayout="row wrap">icmp-id: {{rowData['icmp-id']}}</span>
        </div>
      </div>
      <div *ngIf="rowData.protocol !== 'ICMP'">
        {{displayColumn(rowData,col)}}
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      <ng-container *roleGuard="col.roleGuard">
        {{displayColumn(rowData, col)}}
      </ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <div *roleGuard="'securitynetworksecuritypolicy_read'" class="global-column-action-icon-container"
       fxLayout="row" fxLayoutGap="5px">
    <mat-icon *ngIf="displayPolicyName(rowData)" svgIcon="security-policy"
              class="global-table-action-svg-icon"
              (mouseenter)="ruleDetailsOverlay.toggle($event); handleHover(rowData);"
              (mouseleave)="rowLeave()" (click)="handleRuleClick()" fxLayoutAlign="center center">
    </mat-icon>
  </div>
</ng-template>

<p-overlayPanel #ruleDetailsOverlay [dismissable]="true" appendTo='body'
                [showTransitionOptions]="'0ms'"
                [hideTransitionOptions]="'200ms'">
  <div fxLayout="column" class="fwlogs-ruletext"
       (mouseenter)="handleOverlayEnter($event);" (mouseleave)="handleOverlayLeave($event);">
    <div fxLayout="row wrap" *ngIf="policyName">
      <b>Policy Name :</b>
      <div>&nbsp;</div>
      <div class="fwlogs-sgpolicyredirect" (click)="handleRuleClick()">{{policyName}}</div>
    </div>
    <div fxLayout="row wrap">
      <b>Rule Hash :</b>
      <div>&nbsp;</div>
      <div>{{currentRule}}</div>
    </div>
    <ng-container
                  *ngIf="currentRuleObject && currentRuleObject['proto-ports'] && currentRuleObject['proto-ports'].length>0">
      <div fxLayout="row wrap">
        <b>Proto/Ports :</b>
        <div>&nbsp;</div>
        <div>
          {{currentRuleObject["proto-ports"][0]['protocol']}}/{{currentRuleObject["proto-ports"][0]['ports']}}
        </div>
      </div>
    </ng-container>
    <ng-container
                  *ngIf="currentRuleObject && currentRuleObject['proto-ports'] && currentRuleObject['from-ip-addresses'].length>0">
      <div fxLayout="row wrap">
        <b>From I/Ps :</b>
        <div>&nbsp;</div>
        <div>{{currentRuleObject["from-ip-addresses"].join(', ')}}</div>
      </div>
    </ng-container>
    <ng-container
                  *ngIf="currentRuleObject && currentRuleObject['proto-ports'] && currentRuleObject['to-ip-addresses'].length>0">
      <div fxLayout="row wrap"><b>To I/Ps:</b>
        &nbsp;
        <div>{{currentRuleObject["to-ip-addresses"].join(", ")}}</div>
      </div>
    </ng-container>
  </div>
</p-overlayPanel>

<ng-template #search>
  <div fxFlex="10px"></div>
  <div fxFlex="noshrink" fxLayout="row wrap"
       [formGroup]="query.$formGroup"
       fxLayoutAlign="center stretch">
    <div fxFlex="nogrow" fxLayout="column">
      <div fxFlex="10px"></div>
      <div class="fwlogs-fieldtitle" fxFlex="30px" fxLayout="row" fxLayoutAlign="start center">
        <span>GET LOGS BY:</span>
      </div>
    </div>
    <div fxFlex="nogrow" fxLayout="column">
      <div fxFlex="10px"></div>
      <div class="fwlogs-fieldtitle" fxFlex="30px" fxLayout="row" fxLayoutAlign="start center">
        <span>Source:</span>
      </div>
      <div class="fwlogs-fieldtitle" fxFlex="30px" fxLayout="row" fxLayoutAlign="start center">
        <span>Dest:</span>
      </div>
    </div>
    <div fxFlex="nogrow" fxLayout="column">
      <div fxFlex="10px"></div>
      <div fxFlex="30px" fxLayout="row" class="fwlogs-value">
        <input matTooltip="Should be a valid v4 or v6 IP address. Ex: 10.1.1.2, ff02::5"
               fxFlex="nogrow" class="fwlogs-input" spellcheck="false" type="text"
               formControlName="source-ips" pInputText
               (keyup)="keyUpInput($event)"
               placeholder="10.1.1.1">
      </div>
      <div fxFlex="30px" fxLayout="row" class="fwlogs-value">
        <input matTooltip="Should be a valid v4 or v6 IP address. Ex: 10.1.1.2, ff02::5"
               fxFlex="nogrow" class="fwlogs-input" spellcheck="false" type="text"
               formControlName="destination-ips" pInputText
               (keyup)="keyUpInput($event)"
               placeholder="10.1.1.2">
      </div>
    </div>
    <div fxFlex="nogrow" fxLayout="column">
      <div fxFlex="10px"></div>
      <div fxFlex="30px" fxLayout="row" class="fwlogs-value">
        <!-- <input matTooltip="Ports are comma separated. Ex 8000, 8001" fxFlex="nogrow" -->
        <input matTooltip="Port should be number in range [0, 65536]. Ex 8000" fxFlex="nogrow"
               class="fwlogs-inputport" spellcheck="false"
               formControlName="source-ports" type="text" pInputText
               (keyup)="keyUpInput($event)"
               placeholder="Port">
      </div>
      <div fxFlex="30px" fxLayout="row" class="fwlogs-value">
        <!-- <input matTooltip="Ports are comma separated. Ex 8000, 8001" fxFlex="nogrow" -->
        <input matTooltip="Port should be number in range [0, 65536]. Ex 8000" fxFlex="nogrow"
               class="fwlogs-inputport" spellcheck="false"
               formControlName="destination-ports" type="text" pInputText
               (keyup)="keyUpInput($event)"
               placeholder="Port">
      </div>
    </div>

    <div fxFlex="nogrow" fxLayout="column">
      <div fxFlex="10px"></div>
      <div class="fwlogs-fieldtitle" fxFlex="30px" fxLayout="row" fxLayoutAlign="start center">
        <span>Protocol:</span>
      </div>
      <div class="fwlogs-fieldtitle" fxFlex="30px" fxLayout="row" fxLayoutAlign="start center">
        <span>Action:</span>
      </div>
    </div>
    <div fxFlex="nogrow" fxLayout="column">
      <div fxFlex="10px"></div>
      <div fxFlex="30px" fxLayout="row" class="fwlogs-value">
        <input fxFlex="nogrow" class="fwlogs-input" spellcheck="false" type="text"
               formControlName="protocols" pInputText
               (keyup)="keyUpInput($event)"
               placeholder="TCP">
      </div>
      <div fxFlex="30px" fxLayout="row" class="fwlogs-value">
        <!-- <p-multiSelect #logOptions class="fwlogs-multiselect"
                       formControlName="actions" appendTo="body" styleClass="fwlogs-font"
                       [filter]="false"
                       [showToggleAll]="false"
                       [showHeader]="false"
                       defaultLabel="All"
                       [options]="actionOptions"
                       (onChange)="onActionChange($event)">
        </p-multiSelect> -->
        <p-dropdown class="fwlogs-singleselect" formControlName="actions" appendTo="body"
                    styleClass="fwlogs-font" [options]="actionOptions"></p-dropdown>
      </div>
    </div>
    <div fxFlex="40px"></div>
    <div fxFlex="nogrow" fxLayout="column">
      <div fxFlex="10px"></div>
      <span fxFlex="nogrow" (click)="getFwlogs()" tabindex="0"
            (keydown)="($event.which ==13)? getFwlogs() : ''"
            class="global-button-primary fwlogs-button-search">SEARCH</span>
      <span fxFlex="nogrow" (click)="clearSearch()" tabindex="0"
            (keydown)="($event.which ==13)? clearSearch() : ''"
            class="global-button-neutral fwlogs-button-search">CLEAR</span>
    </div>
  </div>
  <div fxFlex="20px"></div>
</ng-template>

<ng-template #actionButtonsTemplate>
  <div matTooltip="Total firewall logs" class="fwlogs-table-header-title">
    | System has ({{veniceRecords | number}}) logs
  </div>
</ng-template>
