<app-pagebody class="techsupportrequests" header="Tech Support" [icon]="bodyicon">
  <app-tableviewedit fxLayout="column" class="techsupportrequests-widget"
                     [creatingMode]="creatingMode"
                     [showRowExpand]="showRowExpand"
                     [data]="dataObjects"
                     [cols]="cols"
                     [virtualRowHeight]="48"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [actionTemplate]="actionTemplate"
                     [createTemplate]="createTemplate"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
  </app-tableviewedit>

</app-pagebody>

<ng-template #createTemplate>
  <app-newtechsupport (formClose)="creationFormClose()" fxFlex="none"
                      [existingTechSupportRequest]='dataObjects'
  ></app-newtechsupport>
</ng-template>

<ng-template #captionTemplate let-count="count">
  <app-tableheader title="Tech Supports" [total]="count" width="250px">
  </app-tableheader>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.mod-time'">
      {{rowData.meta['mod-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'status.status'">
      <div *ngIf="!isTechsupportCompleted(rowData, col)" [innerHTML]="displayColumn(rowData, col)"></div>
      <div *ngIf="isTechsupportCompleted(rowData, col)" >
          <div *ngFor="let v of rowData['techsupportdownload']['nicNodes']">
              <a class="techsupportrequests-button-category-kind-entry-link"
                     href = "{{v.url}}" [matTooltip]="'Download NIC file ' + v.name " >{{v.name}}</a>
          </div>
          <div *ngFor="let v of rowData['techsupportdownload']['controlnodes']">
              <a class="techsupportrequests-button-category-kind-entry-link"
                     href = "{{v.url}}" [matTooltip]="'Download Controller file ' + v.name "  >{{v.name}}</a>
          </div>
      </div>            
    </ng-container>
    <ng-container *ngSwitchDefault>
      <div [innerHTML]="displayColumn(rowData, col)">
      </div>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <div class="global-column-action-icon-container  global-column-action-icon-container-techsupport_{{rowData.meta.name}}"
       fxLayout="row" fxLayoutGap="5px">
    <mat-icon *roleGuard="'monitoringtechsupportrequest_delete'" matTooltip="Delete tech-support" class="global-table-action-icon"
              (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
  </div>
</ng-template>
