@import 'src/global-mixins';

.techsupportrequests {
  @include primary-font();
}

.techsupportrequests-widget {
  height: 100%;

  .global-primeng-table .ui-table .ui-table-tbody>tr,
  .global-primeng-table-lazyload .ui-table .ui-table-tbody>tr {
    // Fixing row height to be 48 instead of the standard 36
    // VS-719 when number of selected-nodes is large we tweak this number and [virtualRowHeight]="80" in html template
    height: 80px;
  }
}

.techsupportrequests-toolbar-button {
  @include primary-font(16px, #ffffff);
  height: 30px;
  font-weight: 500;
  text-align: center;
  display: block;
  padding: 0px 10px;
  min-width: 80px;
}

.techsupportrequests-download-file-link {
  margin: 2px;
}

.techsupport-bad-icon {
  margin-left: 5px;
}

.techsupportrequests-selected-nodes {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
