# Crypto Key Object Template File.
meta:
    id: CRYPTO_KEY
    feature_set:
        - iris

id                    : None # Crypto Key local Id 
keyindex              : 0
key_type              : 0
key_size              : 0
key                   : 0
