# App Redir Proxy Chain CB Object Template File.
meta:
    id: PROXYCCBQ
    feature_set:
        - iris

id                    : None
pi                    : 0
ci                    : 0
count                 : 0
