# App Redir Raw Chain CB Object Template File.
meta:
    id: RAWCCBQ
    feature_set:
        - iris

id                    : None
pi                    : 0
ci                    : 0
count                 : 0
