# Ring Object Base Template
meta:
    id: RING
    feature_set:
        - iris

pi          : 0
ci          : 0
base_addr   : None # Filled by Configure()
size        : None # Filled by ConfigSpec
doorbell    : 

descriptors:
    - descriptor:
