# TLS Proxy Parameters for a Session
meta:
    id: TLS_PROXY_SESS_PROFILE_RSA
    feature_set:
        - iris

id              : 0
cert_file       : file://../nic/conf/openssl/certs/rsa/client.crt
key_file        : file://../nic/conf/openssl/certs/rsa/client.key 
