@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.updateclustertlsCert-border {
  margin-top: 1 * $vertical-gutter;
  border-bottom: 6px solid #6ba0e5;
  z-index: 100;
}

.updateclustertlsCert-content {
  background: white;
  min-height: 140px;
  margin-top: 2* $vertical-gutter;
  @include primary-font();
}

.updateclustertlsCert-divider {
  margin-top: 1 * $vertical-gutter;
  margin-bottom: 1 * $vertical-gutter;
  border-bottom: 1px solid #dddddd;
}

.updateclustertlsCert-toolbar-button {
  @include primary-font(16px, #ffffff);
  height: 30px;
  text-align: center;
  width: 120px;
  display: block;
  padding: 0px 10px;
}
