@import 'global-mixins';

.dsbdworkloads {
  @include primary-font();
  height: 100%;
  width: 100%;
}

.dsbdworkload-left {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.dsbdworkload-right {
  padding-top: 30px;
}

.dsbdworkload-nodecount {
  text-align: center;
  font-stretch: condensed;
  width: 200px;
  height: 64px;
  font-size: 54px;
  font-weight: normal;
  font-style: normal;
  font-stretch: condensed;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #97b8df;
}

.dsbdworkload-new_nodecount {
  font-size: 50px;
  text-align: right;
  color: #97b8df;
}

.dsbdworkload-content-div{
    margin-top: -35px;
}

.dsbdworkload-count-label{
    text-align: right;
    color: #676763;
}
  