# SPDX-License-Identifier: GPL-2.0 OR Linux-OpenIB
config INFINIBAND_IONIC_RDMA
	tristate "Pensando DSC RoCE/RDMA Driver"
	depends on NETDEVICES && ETHERNET && PCI && INET && CONFIG_64BIT
	---help---
	  This is a RoCE/RDMA driver for the Pensando Distributed Services
	  Card (DSC).

	  To learn more, visit our website at <https://pensando.io>.
