config INFINIBAND_IONIC_RDMA
	tristate "Pensando RDMA Driver"
	depends on NETDEVICES && ETHERNET && PCI && INET && CONFIG_64BIT
	---help---
	  This driver provides low-level InfiniBand support for
	  Pensando PCI Express host channel adapters (HCAs).
