@import 'global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.ldap-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index:10;
}

.ldap-create {
  z-index: 20; // Needs to be higher than ldap-overlay, but less
               // than authpolicy overlay
}

.ldap-toggle {
  margin: 20px;
  @include global-mat-toggle(rgb(209, 209, 208), rgb(103, 103, 99), rgb(211, 226, 246), rgb(101, 169, 227));
}

.ldap-title {
  margin: 20px;
  @include primary-font(18px, #676763, 500);
}

.ldap-input-group {
  margin-top: 2*$vertical-gutter;
}

.ldap-arrow {
  color: #598cde;
  margin: 20px;
}

.ldap-fieldtitle,
.ldap-value {
  margin: $vertical-gutter $horizontal-gutter;
}

.ldap-input {
  width: 155px;
}

.ldap-server-certs {
  margin: 0px 2*$horizontal-gutter;
}

.ldap-bind-connection-button {
  margin-left:5px;
  padding: 3px 10px;
  line-height: 25px;
}

.ldap-test-connection-button {
  margin: 4*$vertical-gutter 2*$horizontal-gutter;
  padding: 4px 10px;
  line-height: 25px;
}

.ldap-server-certs,
.ldap-test-connection-button {
  margin-right: 4*$horizontal-gutter;
}


.ldap-servergroup {
  margin: 0px 50px;
  border-top: solid 1px #dddddd;
  margin-bottom: 5px;
}

.ldap-and {
  white-space: nowrap;
    // margin-top: 2*$vertical-gutter;
    color: #6ba0e5;
    display: inline-block;
    > span:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    > mat-icon:hover {
        cursor: pointer;
    }
}

.ldap-test-error-icon {
  cursor: pointer;
  margin-left: 10px;
}