@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;
$dary-grey: #a9a9a9;

.newhost-container {
  background: white;

  &:hover {
    background: white;
  }
}

.newhost-name {
  height: 30px !important;
}

.newhost-NAPLES-name,
.newhost-mac-address {
  height: 30px !important;
  width: 225px;
}

.newhost-input {
  width: 155px;
}

.lazyrender-container {
  min-height: 450px;
  max-height: 800px;
}

.newhost-content {
  background: white;
  min-height: 130px;
  margin-top: 4* $vertical-gutter;
  @include primary-font();
}

.newhost-text,
.newhost-NAPLE-name-text,
.newhost-Macaddress-text {
  margin-top: 2*$vertical-gutter;
  margin-left: $horizontal-gutter;
  height: 30px;
  @include primary-font();
}

.newhost-fieldtitle {
  margin: $vertical-gutter $horizontal-gutter;
}

.newhost-value {
  margin: $vertical-gutter $horizontal-gutter;
}

.newhost-font {
  @include primary-font();
}

.newhost-divider {
  border-bottom: 1px solid #dddddd;
}

.newhost-filter {
  margin: $vertical-gutter $horizontal-gutter;
  height: 30px !important;
}

.newhost-save,
.newhost-cancel {
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  line-height: 25px;
  margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;
}

.newhost-buttoncontainer {
  .button-container {
    position: relative;
    max-height: 0px;
  }

  .newhost-save,
  .newhost-cancel {
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    line-height: 25px;
    margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;
  }
}


.newhost-NAPLESName-text,
.newhost-Macaddress-text {
  margin-top: 2*$vertical-gutter;
  margin-left: 7*$horizontal-gutter;
  height: 30px;
  width: 85px;
  @include primary-font();
}

.newhost-radio-button-row {
  margin: $vertical-gutter $horizontal-gutter;
  @include global-mat-radio(12px);
  margin-left: 6px;
}

.newhost-save,
.newhost-cancel {
  font-size: 16px;
  display: inline-block;
  padding: 4px 10px;
  line-height: 25px;
  margin: 0px $horizontal-gutter $vertical-gutter $horizontal-gutter;
  border-width: 0px;

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
}

.newhost-buttoncontainer {
  margin-top: 1.5 * $vertical-gutter;
}

.newhost-batchadd-table {
  height: 100%
}

fieldset {
  border: 1px solid $dary-grey;
  padding: 5px;
  margin-bottom: 10px;

  legend {
    padding: 0 2px;
    @include primary-font(15px);
    color: #676763;
    margin-bottom: 0px;
  }
}

.newhost-content {
  .newhost-name {
    width: 250px;
  }
}

.newhost-dsc-container {
  margin-left: 10px;
}

.newhost-attach-radio {
  position: relative;
  bottom: 7px;

  .mat-radio-label-content {
    font-family: "Fira Sans Condensed";
    @include primary-font(14px);
    font-weight: 400;
    color: #676763;
    padding-top: 2px;
  }
}

.newhost-input-row {
  margin-bottom: 14px;
  height: 25px
}

.newhost-rule-app legend {
  width: 85px;
}

.newhost-radio-container {
  height: 5px;
  margin-top: 14px;
}

.newhost-general-box {
  :first-child {
    height: 30px;
    font-size: 14px;
    width: 100%;
  }

  .ui-multiselect-label-container {
    height: 25px;
  }
}

.newhost-sub-container {
  min-width: 250px;
  margin-top: 6px
}

.newhost-general-box {
  width: 250px;
}
