<app-pagebody [icon]="bodyicon" title="Security Policy">
  <!-- Since we are manually calculating table dimensions, whenever this panel changes
        state we need to recalculate the table -->
  <mat-expansion-panel fxFlex="none" class="global-mat-expansion-panel" [expanded]="true"
        (closed)="resizeTable(500)" (opened)="resizeTable(500)">
    <mat-expansion-panel-header class="sgpolicy-expansionpanel-header">
      <mat-panel-title class="sgpolicy-summary-panel-header">
        Security Policy Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sgpolicy-summary-panel-content">
      <div fxLayout="row">
        <div fxFlex="50">
          <div class="sgpolicy-summary-panel-content-label">Policy Name:</div>
          <div class="sgpolicy-summary-panel-content-value">{{selectedPolicy?.meta.name}} </div>
        </div>
        <div fxFlex="50">
            <div class="sgpolicy-summary-panel-content-label2">Created on:</div>
            <div class="sgpolicy-summary-panel-content-value">{{selectedPolicy?.meta["creation-time"] | date:'MM-dd-yyyy HH:mm a'}}</div>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="50">
            <div class="sgpolicy-summary-panel-content-label"> Created By: </div>
            <div class="sgpolicy-summary-panel-content-value">{{creator}}</div>
        </div>
        <div fxFlex="50">
            <div class="sgpolicy-summary-panel-content-label2">Last Modified: </div>
            <div class="sgpolicy-summary-panel-content-value">{{selectedPolicy?.meta["mod-time"]  | date:'MM-dd-yyyy HH:mm a'}}</div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <ng-container *ngTemplateOutlet="DataTable" ></ng-container>
</app-pagebody>

<ng-template #DataTable>
  <div fxFlex class="sgpolicy-widget">
    <p-table [columns]="cols" sortField="order" [value]="sgPolicyRulesLazy" dataKey="order" 
            [rows]="28" [scrollable]="true" [virtualScroll]="true" scrollHeight="100%" #sgpolicyTable
            class="global-primeng-table sgpolicy-table"  [responsive]="true" [loading]="loading" [resizableColumns]="true"
            [lazy]="true" [totalRecords]="sgPolicyRulesChunkUtility.length"  (onLazyLoad)="tableScroll($event)"
            [virtualRowHeight]="36" [virtualScrollDelay]="0" (sortFunction)="customSort($event)" [customSort]="true">
      <!-- Table Caption -->
      <ng-template pTemplate="caption">
        <app-tableheader title="Policy Rules" [count]="sgpolicyTurboTable != null &&  sgpolicyTurboTable.hasFilter() ? sgpolicyTurboTable?.filteredValue?.length || 0 : null" [total]="sgPolicyRulesChunkUtility.length" [icon]="policyIcon">
          <div class="sgpolicy-search-ip" fxFlex="fxFlex" fxLayoutAlign="start center" >
            Find Rule by: 
            <mat-form-field fxFlex="nogrow" floatLabel="never">
              <input matInput [formControl]="ipFormControl" placeholder="IP / IP Range" (input)="filterPolicyRules($event)">
            </mat-form-field>
            <mat-form-field fxFlex="nogrow" floatLabel="never" (input)="filterPolicyRules($event)">
              <input matInput [formControl]="portFormControl" placeholder="Protocol / Port">
            </mat-form-field>
            <div fxFlex></div>
            <mat-slide-toggle (change)="toggle($event)" fxFlex='nogrow' class="sgpolicy-table-toggle">Show Entire List</mat-slide-toggle>
          </div>
        </app-tableheader>
          <div *ngIf="hasUpdate" class="sgpolicy-table-refresh">
            <button mat-raised-button [disableRipple]="true" (click)="resetTableView()">
              New Data
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
      </ng-template>
      <!-- Table Header -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <!-- Holds the order number of the rule -->
          <th style="width: 2.25em">
          </th>
          <th> Source IPs</th>
          <th> Destination IPs</th>
          <th> Action</th>
          <th >Protocol / Ports</th>
        </tr>
      </ng-template>
      <!-- Table Body -->
      <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr [ngClass] = "computeClass(rowData)" [pSelectableRow]="rowData">
          <td class = "sgpolicy-rule-number" style="width: 2.25em">
            {{ rowData.order }}
          </td>
          <td> 
            {{  rowData.rule['from-ip-addresses'].join(', ') }}
          </td>
          <td> 
            {{  rowData.rule['to-ip-addresses'].join(', ') }}
          </td>
          <td> {{rowData.rule.action}}</td>
          <td> 
            {{  rowData.rule['apps'].join(', ') }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</ng-template>