@import 'styles';

.sgpolicy-widget {
  @include primary-font;
}

.sgpolicyrecord-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
  line-height: initial;
  vertical-align: middle;
}

.sgpolicyrecord-action-column-div {
  display: inline-flex;
}

.sgpolicyrecord-action-column-icon {
  margin: auto 5px;
  padding: 0px;
  color: #676763;
}

.sgpolicy-rule-number {
  text-align: center;
}

.sgpolicy-table .ui-widget-header {
  border: none;
}

.ui-state-highlight .sgpolicyrecord-action-column-icon {
  color: #fff;
}

.sgpolicy-match {
  background-color: rgb(234, 241, 249) !important;
}

.sgpolicy-miss {
  opacity: 0.3;
}

/* Toggle CSS */
.sgpolicy-table-toggle {
  margin: 20px 5px 15px 5px;
  @include global-mat-toggle(rgb(209, 209, 208), rgb(103, 103, 99), rgb(211, 226, 246), rgb(101, 169, 227));
}


.sgpolicy-summary-panel-content-label {
  font-weight: bold;
  display: inline-block;
  width: 90px;
  margin-top: 10px;
}

.sgpolicy-summary-panel-content-label2 {
  font-weight: bold;
  display: inline-block;
  width: 100px;
  margin-top: 10px;
}

.sgpolicy-summary-panel-content-value {
  display: inline-block;
  margin-left: 13px;
}

/*====== sgpolicy table =====*/

.sgpolicy-search-ip {

  @include primary-font(16px, #484848);
  margin-left: 15px;

  mat-form-field {
    @include global-mat-form-field;
  }
}

.sgpolicy-header-div {
  width: 100%;
  background-color: transparent;
  color: #676763;
}

.sgpolicy-table-icon {
  display: inline-block;
}

.sgpolicy-main-menu {
  display: inherit;
  vertical-align: middle;
  padding: 10px 5px;
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
}

.sgpolicy-main-menu-label {
  @include primary-font(20px, #484848);
  display: inline-block;
  font-weight: 500;
}

.sgpolicy-main-menu-number-front-group-div {
  float: left;
  display: inline-flex;
}

/*----- sgpolicy table -----*/

.sgpolicy-toolbar-refresh-button {
  @include primary-font(16px, #ffffff);
  background-color: #97b8df;
  height: 30px;
  font-weight: 500;
  text-align: center;
  width: 80px;
  display: block;
  padding: 0px 10px;
}

  
  