{{range .Services}}{{$svcname := .Name}}{{if (hasExtension "venice.naplesRestService" .)}}{{$params := (getRestSvcOptions .)}}{{range $params}}{{$x := (genNimbusManifest  "../generated/nimbus/manifest" .CrudObject $svcname .Version)}}{{range $key, $value := $x}}
{{$value.Object}} {{$value.Service}} {{$value.Version}} {{end}}{{end}}{{end}}{{end}}
