@import 'src/global-mixins';

.alertdetail-key {
  @include primary-font(14px, #676763, bold);
}

.alertdetail-value {
  @include primary-font();
}

.alertdetail-close {
  cursor: pointer;
}

.alertdetail-header {
  @include primary-font(18px, #676763, bold);
}

.alertdetail-container {
  border-bottom: 1px solid #676763;
  padding-bottom: 5px;
  @include primary-font(14px, #676763);
}

.alertdetail-link {
  color: #007bff !important;
}
