@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.sgpolicy-widget {
  @include primary-font();
  height: 100%;
}

.sgpolicyrecord-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
  line-height: initial;
  vertical-align: middle;
}

.sgpolicyrecord-action-column-div {
  display: inline-flex;
}

.sgpolicyrecord-action-column-icon {
  margin: auto 5px;
  padding: 0px;
  color: #676763;
}

.sgpolicy-rule-number {
  text-align: center;
}

.sgpolicy-table .ui-widget-header {
  border: none;
}

.ui-state-highlight .sgpolicyrecord-action-column-icon {
  color: #fff;
}

.sgpolicy-match {
  background-color: rgb(234, 241, 249) !important;
}

.sgpolicy-miss {
  opacity: 0.3;
}

/* Toggle CSS */
.sgpolicy-table-toggle {
  margin: 20px 5px 15px 5px;
  @include global-mat-toggle(rgb(209, 209, 208), rgb(103, 103, 99), rgb(211, 226, 246), rgb(101, 169, 227));
}


.sgpolicy-summary-panel-content-label {
  display: inline-block;
  width: 90px;
  margin-top: 10px;
}

.sgpolicy-summary-panel-content-value-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sgpolicy-summary-panel-content-pendingNaples {
  margin-top: 10px;
}

.sgpolicy-summary-panel-content-pendingNaples-grid {
  display: flex;
  flex-wrap: wrap;
}

.sgpolicy-summary-panel-content-nic-div-link {
  margin-top: 5px;
  margin-right: 60px;
}

.sgpolicy-summary-panel-content-label2 {
  display: inline-block;
  width: 100px;
  margin-top: 10px;
}

.sgpolicy-summary-panel-content-value {
  display: inline-block;
  margin-left: 13px;
}

.sgpolicy-summary-panel-content-value-warning {
  color: #dd3b09 !important;
}

/*====== sgpolicy table =====*/

.sgpolicy-search-ip {

  @include primary-font(16px, #484848);
  margin-left: 15px;

  mat-form-field {
    @include global-mat-form-field;
  }
}

.sgpolicy-search-button {
  color: #676767;
  cursor: pointer;
  margin-left: 10px;
}

.sgpolicy-search-clear-button {
  color: #676767;
  cursor: pointer;
  margin-left: 10px;
}

.sgpolicy-search-error {
  color: #e57553;
  margin-left: 40px;

  div {
    margin-left: 10px;
  }
}

.sgpolicy-header-div {
  width: 100%;
  background-color: transparent;
  color: #676763;
}

.sgpolicy-table-icon {
  display: inline-block;
}

.sgpolicy-main-menu {
  display: inherit;
  vertical-align: middle;
  padding: 10px 5px;
  font-size: 12px;
  font-style: normal;
  font-stretch: condensed;
}

.sgpolicy-main-menu-label {
  @include primary-font(20px, #484848);
  display: inline-block;
}

.sgpolicy-main-menu-number-front-group-div {
  float: left;
  display: inline-flex;
}

.sgpolicy-table-refresh {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 115px;
  margin: auto;

  button {
    color: #676763 !important;
    background-color: white !important;
    border: solid lightgray 1px;
    border-radius: 30px;

    &:hover {
      background: rgba(244, 249, 255, 1) !important;
    }
  }

  mat-icon {
    color: #77a746
  }
}

/*----- sgpolicy table -----*/

.sgpolicy-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

.sgpolicy-overlay-content {
  z-index: 20;
}

.sgpolicy-deleted-policy {
  background: url("/assets/images/icons/security/icon-security-policy-deleted.svg") center center no-repeat;
  background-size: contain;
}

.sgpolicy-missing-policy {
  background: url("/assets/images/icons/security/icon-security-policy-missing.svg") center center no-repeat;
  background-size: contain;
}

.sgpolicy-overlay-text {
  @include primary-font(45px, #676763, 600);
  text-align: center;
}

.sgpolicy-overlay-button {
  font-size: 16px;
  padding: 6px 20px;
}

.sgpolicydetail-inputip {
  width: 200px;
  height: 30px;
  @include primary-font();
}

.sgpolicydetail-value {
  margin: $vertical-gutter $horizontal-gutter;
  @include primary-font();
}

.sgpolicy-row {
  min-height: 36px;
}


.sgpolicy-rule-overlay {
  @include primary-font();
  width: 120px;
}

.sgpolicy-tooltip {
  white-space: pre;
  @include primary-font(18px);
  font-size: 14px !important;
}

.sgpolicy-edit-delete {
  text-decoration: line-through;
}

.sgpolicy-icons-button {
  cursor: pointer;
  color: #676763;
}
