<app-pagebody [icon]="bodyicon" header="Security Policy">
  <!-- Since we are manually calculating table dimensions, whenever this panel changes
        state we need to recalculate the table -->
  <mat-expansion-panel fxFlex="none" class="global-mat-expansion-panel" [expanded]="true"
        (closed)="lazyRenderWrapper?.resizeTable(501)" (opened)="lazyRenderWrapper?.resizeTable(501)">
    <mat-expansion-panel-header class="sgpolicy-expansionpanel-header">
      <mat-panel-title class="sgpolicy-summary-panel-header">
        Security Policy Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sgpolicy-summary-panel-content">
      <div fxLayout="row">
        <div fxFlex="50">
          <div class="sgpolicy-summary-panel-content-label">Policy Name:</div>
          <div class="sgpolicy-summary-panel-content-value">{{selectedPolicy?.meta.name}} </div>
        </div>
        <div fxFlex="50">
            <div class="sgpolicy-summary-panel-content-label2">Created on:</div>
            <div class="sgpolicy-summary-panel-content-value">{{selectedPolicy?.meta["creation-time"] | PrettyDate }}</div>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="50">
          <!-- Commented out as creator is not available currently -->
            <!-- <div class="sgpolicy-summary-panel-content-label"> Created By: </div>
            <div class="sgpolicy-summary-panel-content-value">{{creator}}</div> -->
        </div>
        <div fxFlex="50">
            <div class="sgpolicy-summary-panel-content-label2">Last Modified: </div>
            <div class="sgpolicy-summary-panel-content-value">{{selectedPolicy?.meta["mod-time"]  | PrettyDate }}</div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <ng-container *ngTemplateOutlet="DataTable" ></ng-container>
  <!-- Deletion screen overlay displays when the policy we are viewing is deleted -->
  <!-- Missing screen overlay displays when the policy does not exist-->
  <div #overlay *ngIf="showDeletionScreen || showMissingScreen" fxLayout="row" fxLayoutAlign="center stretch" class="sgpolicy-overlay">
    <div fxFlex="50%" fxLayout="column" class="sgpolicy-overlay-content">
        <div fxFlex='20%'></div>
        <div *ngIf="showDeletionScreen" fxFlex='15%' class="sgpolicy-deleted-policy"></div>
        <div *ngIf="showMissingScreen" fxFlex='15%' class="sgpolicy-missing-policy"></div>
        <div *ngIf="showDeletionScreen" fxFlex="none" class="sgpolicy-overlay-text">
          {{selectedPolicyId}} has been deleted
        </div>
        <div *ngIf="showMissingScreen" fxFlex="none" class="sgpolicy-overlay-text">
          {{selectedPolicyId}} does not exist
        </div>
        <div fxFlex="5%"></div>
        <div fxFlex="none" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="40px">
          <button  fxFlex="none" class="global-button-primary sgpolicy-overlay-button" routerLink="../">SG POLICIES</button>
          <button  fxFlex="none" class="global-button-primary sgpolicy-overlay-button" (click)="routeToHomepage()">HOMEPAGE</button>
        </div>
    </div>
  </div>
</app-pagebody>

<ng-template #DataTable>
  <div fxFlex class="sgpolicy-widget">
    <app-lazyrender [data]="sgPolicyRules" [rows]="28" [virtualRowHeight]="36" (dataUpdate)='dataUpdated()'>
      <p-table [columns]="cols" sortField="order" dataKey="order"
              #sgpolicyTable
              class="global-primeng-table sgpolicy-table"  [responsive]="true" 
              [loading]="loading" [resizableColumns]="true"
              (sortFunction)="customSort($event)" [customSort]="true">
        <!-- Table Caption -->
        <ng-template pTemplate="caption">
          <app-tableheader title="Policy Rules" [total]="sgPolicyRules.length" [icon]="policyIcon">
            <div class="sgpolicy-search-ip" fxFlex="fxFlex" fxLayoutAlign="start center" >
              Find Rule by: 
              <mat-form-field fxFlex="nogrow" floatLabel="never">
                <input matInput (keyup)="keyUpInput($event)" [formControl]="sourceIpFormControl" placeholder="Source IP" maxlength="15" autocomplete="off">
              </mat-form-field>
              <mat-form-field fxFlex="nogrow" floatLabel="never">
                <input matInput (keyup)="keyUpInput($event)"  [formControl]="destIpFormControl" placeholder="Destination IP" maxlength="15" autocomplete="off">
              </mat-form-field>
              <mat-form-field fxFlex="nogrow" floatLabel="never">
                <input matInput (keyup)="keyUpInput($event)"  [formControl]="portFormControl" placeholder="Protocol / Port" maxlength="15" autocomplete="off">
              </mat-form-field>
              <mat-icon fxFlex="none" class="sgpolicy-search-button"
                        (click)="invokePolicySearch()" (keydown)="($event.which ==13)? invokePolicySearch() : return " tabindex="0"
                        *ngIf="showSearchButton()" >
                search
              </mat-icon>
              <mat-icon fxFlex="none" class="sgpolicy-search-clear-button"
                        (click)="clearSearch()"   (keydown)="($event.which ==13)? clearSearch() : return " tabindex="0"
                        *ngIf="showSearchButton()"  tabindex="0" >
               close 
              </mat-icon>
              <div class="sgpolicy-search-error" fxFlex="none" fxLayoutAlign="start center" *ngIf="searchErrorMessage !== null && searchErrorMessage !== ''">
                <mat-icon fxFlex="none">error</mat-icon>
                <div fxFlex="none">
                  {{searchErrorMessage}}
                </div>
              </div>
              <div fxFlex></div>
            </div>
          </app-tableheader>
        </ng-template>
        <!-- Table Header -->
        <ng-template pTemplate="header" let-columns>
          <tr>
            <!-- Holds the order number of the rule -->
            <th style="width: 2.25em">
            </th>
            <th> Source IPs</th>
            <th> Destination IPs</th>
            <th> Action</th>
            <th >Protocol / Ports</th>
          </tr>
        </ng-template>
        <!-- Table Body -->
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
          <tr [class]="rowData.order===selectedRuleIndex ? 'sgpolicy-match' : ''">
            <td class="sgpolicy-rule-number" style="width: 2.25em">
              {{ rowData.order + 1}}
            </td>
            <td> 
              {{  rowData.rule['from-ip-addresses'].join(', ') }}
            </td>
            <td> 
              {{  rowData.rule['to-ip-addresses'].join(', ') }}
            </td>
            <td> {{rowData.rule.action}}</td>
            <td> 
              {{ formatApp(rowData.rule) }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </app-lazyrender>
  </div>
</ng-template>