<app-pagebody [icon]="bodyicon" header="Security Policy">
  <!-- Since we are manually calculating table dimensions, whenever this panel changes
        state we need to recalculate the table -->
  <mat-expansion-panel fxFlex="none" class="global-mat-expansion-panel" [expanded]="true"
                       (closed)="tableViewComponent?.lazyRenderWrapper?.resizeTable(501)"
                       (opened)="tableViewComponent?.lazyRenderWrapper?.resizeTable(501)">
    <mat-expansion-panel-header class="sgpolicy-expansionpanel-header">
      <mat-panel-title class="sgpolicy-summary-panel-header">
        Security Policy Details
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="sgpolicy-summary-panel-content">
      <div fxLayout="row">
        <div fxFlex="50">
          <div class="sgpolicy-summary-panel-content-label">Policy Name:</div>
          <div class="sgpolicy-summary-panel-content-value">{{selectedPolicy?.meta.name}} </div>
        </div>
        <div fxFlex="50">
          <div class="sgpolicy-summary-panel-content-label2">Created on:</div>
          <div class="sgpolicy-summary-panel-content-value">
            {{selectedPolicy?.meta["creation-time"] | PrettyDate }}</div>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="50">
          <!-- Commented out as creator is not available currently -->
          <!-- <div class="sgpolicy-summary-panel-content-label"> Created By: </div>
            <div class="sgpolicy-summary-panel-content-value">{{creator}}</div> -->
          <!--VS-126 add sgPolicy-vs-DSC statistics  -->
          <div class="sgpolicy-summary-panel-content-label"> Propagation: </div>
          <div class="sgpolicy-summary-panel-content-value sgpolicy-summary-panel-content-value-warning"
               *ngIf="selectedPolicy?.status['propagation-status']['generation-id'] != selectedPolicy?.meta['generation-id']">
            Policy not propagated</div>
          <div class="sgpolicy-summary-panel-content-value  sgpolicy-summary-panel-content-value-warning sgpolicy-summary-panel-content-value-link"
               *ngIf="selectedPolicy?.status['propagation-status']['generation-id'] == selectedPolicy?.meta['generation-id'] && selectedPolicy?.status['propagation-status'].pending>0"
               (click)="viewPendingNaplesList()"
               [matTooltip]="viewPendingNaples ? 'Click to hide Pending Distributed Services Card List' : 'Click to view Pending Distributed Services Cards List'">
            {{selectedPolicy.status['propagation-status'].pending}} Out Of
            {{selectedPolicy.status['propagation-status'].pending + selectedPolicy.status['propagation-status'].updated }}
            Pending
          </div>
          <div class="sgpolicy-summary-panel-content-value"
               *ngIf="selectedPolicy?.status['propagation-status']['generation-id'] == selectedPolicy?.meta['generation-id'] && selectedPolicy?.status['propagation-status'].pending==0">
            Complete</div>
        </div>
        <div fxFlex="50">
          <div class="sgpolicy-summary-panel-content-label2">Last Modified: </div>
          <div class="sgpolicy-summary-panel-content-value">
            {{selectedPolicy?.meta["mod-time"] | PrettyDate }}</div>
        </div>
      </div>
      <!-- Displays pending naples on which the policy couldn't be propagated -->
      <div [@slideInOut] class="sgpolicy-summary-panel-content-pendingNaples"
           *ngIf="selectedPolicy?.status['propagation-status']['pending-dscs'].length>0 && viewPendingNaples">
        <div class="sgpolicy-summary-panel-content-pendingNaples-grid">
          <div
               *ngFor="let nicMac of selectedPolicy?.status['propagation-status']['pending-dscs']">
            <a routerLink="/cluster/dscs/{{nicMac}}"
               class="sgpolicy-summary-panel-content-nic-div-link">{{getNaplesName(nicMac)}}</a>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
  <div fxFlex="auto">
    <ng-container *ngTemplateOutlet="DataTable"></ng-container>
  </div>
  <!-- Deletion screen overlay displays when the policy we are viewing is deleted -->
  <!-- Missing screen overlay displays when the policy does not exist-->
  <div #overlay *ngIf="showDeletionScreen || showMissingScreen" fxLayout="row"
       fxLayoutAlign="center stretch" class="sgpolicy-overlay">
    <div fxFlex="50%" fxLayout="column" class="sgpolicy-overlay-content">
      <div fxFlex='20%'></div>
      <div *ngIf="showDeletionScreen" fxFlex='15%' class="sgpolicy-deleted-policy"></div>
      <div *ngIf="showMissingScreen" fxFlex='15%' class="sgpolicy-missing-policy"></div>
      <div *ngIf="showDeletionScreen" fxFlex="none" class="sgpolicy-overlay-text">
        {{selectedPolicyId}} has been deleted
      </div>
      <div *ngIf="showMissingScreen" fxFlex="none" class="sgpolicy-overlay-text">
        {{selectedPolicyId}} does not exist
      </div>
      <div fxFlex="5%"></div>
      <div fxFlex="none" fxLayout="row" fxLayoutAlign="center stretch" fxLayoutGap="40px">
        <button fxFlex="none" class="global-button-primary sgpolicy-overlay-button"
                routerLink="../">POLICIES</button>
        <button fxFlex="none" class="global-button-primary sgpolicy-overlay-button"
                (click)="routeToHomepage()">HOMEPAGE</button>
      </div>
    </div>
  </div>
</app-pagebody>

<ng-template #DataTable>
  <app-tableviewedit #tableEditComponent fxLayout="column" class="sgpolicy-widget"
                     [showRowExpand]="showRowExpand"
                     [data]="dataObjects"
                     [cols]="cols"
                     [tableLoading]="loading"
                     [disableTableWhenRowExpanded]="disableTableWhenRowExpanded"
                     [runDoCheck]="false"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate"
                     [actionTemplate]="actionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)"
                     [enableCheckbox]="true"
                     [dataKey]="'order'"
                     (rowSelectedEmitter)="checkboxClicked($event)"
                     (rowUnselectedEmitter)="checkboxClicked($event)">
  </app-tableviewedit>
</ng-template>

<!-- TABLE HEADER -->
<ng-template #captionTemplate let-count="count">
  <div fxFlex fxLayout="row">
    <div fxFlex fxLayout="column">
      <div fxFlex fxLayout="row">
        <app-tableheader fxFlex title="Policy Rules" [total]="count" [icon]="policyIcon"
                         [enableColumnSelect]="true"
                         [icon]="tableIcon" [cols]="cols" [tableMenuItems]="tableMenuItems"
                         (columnSelectChange)="onColumnSelectChange($event)">
          <div class="sgpolicy-search-ip" fxFlex="fxFlex" fxLayoutAlign="start center">
            Search:
            <div fxflex="nogrow" fxlayout="row" class="sgpolicydetail-value">
              <input fxflex="nogrow" class="sgpolicydetail-inputip" spellcheck="false"
                     [formControl]="sourceIpFormControl" type="text" pInputText
                     (keyup)="keyUpInput($event)" appErrorTooltip
                     placeholder="Source IP" maxlength="15" autocomplete="off">
            </div>
            <div fxflex="nogrow" fxlayout="row" class="sgpolicydetail-value">
              <input fxflex="nogrow" class="sgpolicydetail-inputip" spellcheck="false"
                     [formControl]="destIpFormControl" type="text" pInputText
                     (keyup)="keyUpInput($event)" appErrorTooltip
                     placeholder="Destination IP" maxlength="15" autocomplete="off">
            </div>
            <div fxflex="nogrow" fxlayout="row" class="sgpolicydetail-value">
              <input fxflex="nogrow" class="sgpolicydetail-inputip" spellcheck="false"
                     [formControl]="portFormControl" type="text" pInputText
                     (keyup)="keyUpInput($event)" appErrorTooltip
                     placeholder="<Protocol>/<Port> or App" maxlength="100" autocomplete="off">
            </div>
            <mat-icon fxFlex="none" class="sgpolicy-search-button"
                      (click)="invokePolicySearch()"
                      (keydown)="($event.which ==13)? invokePolicySearch() : '' " tabindex="0"
                      *ngIf="showSearchButton()">
              search
            </mat-icon>
            <mat-icon fxFlex="none" class="sgpolicy-search-clear-button"
                      (click)="clearSearch()" (keydown)="($event.which ==13)? clearSearch() : '' "
                      tabindex="0"
                      *ngIf="showSearchButton()" tabindex="0">
              close
            </mat-icon>
            <div class="sgpolicy-search-error" fxFlex="none" fxLayoutAlign="start center"
                 *ngIf="searchErrorMessage !== null && searchErrorMessage !== ''">
              <mat-icon fxFlex="none">error</mat-icon>
              <div fxFlex="none">
                {{searchErrorMessage}}
              </div>
            </div>
            <div fxFlex></div>
          </div>
        </app-tableheader>
      </div>
      <div *ngIf="delCount>0 || isAnythingSelected()" fxFlex fxLayout="row"
           fxLayoutAlign="center center" [@fastSlideInOut]>
        <mat-icon [matTooltip]="'Save and Upate Policy'" *ngIf="delCount>0"
                  class="sgpolicy-icons-button" (click)="onSave(null)"
                  fxFlex="none">
          save</mat-icon>
        <mat-icon [matTooltip]="'Edit Selected Rules'" *ngIf="isAnythingSelected()"
                  class="sgpolicy-icons-button" (click)="showDialog()"
                  fxFlex="none">edit</mat-icon>
        <mat-icon [matTooltip]="'Mark For Deletion'" *ngIf="isAnythingSelected()"
                  class="sgpolicy-icons-button"
                  (click)="deleteSelectedRows()"
                  fxFlex="none">delete</mat-icon>
        <mat-icon [matTooltip]="'Reset All Selection'" *ngIf="delCount>0 || isAnythingSelected()"
                  class="sgpolicy-icons-button"
                  (click)="resetMapsAndSelection()"
                  fxFlex="none">cancel</mat-icon>
      </div>

      <ng-container *ngIf="display">
        <ng-container *ngTemplateOutlet="policyEditor"></ng-container>
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #policyEditor>
  <p-dialog header="Policy Editing" [(visible)]="display" [appendTo]="'body'" [maximizable]="true"
            [modal]="true" [styleClass]="'popup'">
    <app-partial-edit-sgpolicy [style.width]="'100%'" [objectData]="this.editObject"
                               [isInline]="true"
                               fxFlex="none" (saveEmitter)="onSave($event)"
                               (closeEmitter)="closeDialog()">
    </app-partial-edit-sgpolicy>
  </p-dialog>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container>
    <ng-container>
      <div [ngClass]="this.ruleDeleteMap[rowData.order]?'sgpolicy-edit-delete':''"
           [matTooltip]=" col.field === 'TotalHits' ? ruleMetricsTooltip[rowData.ruleHash]: ''"
           [matTooltipShowDelay]="100"
           [matTooltipClass]="'global-info-tooltip sgpolicy-tooltip'">
        {{displayColumn(rowData, col)}}
      </div>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <div *ngIf="!this.ruleDeleteMap[rowData.order]"
       class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">
    <mat-icon [matTooltip]="'Mark For Deletion'" matTooltip="Delete image"
              class="sgpolicy-icons-button global-table-action-icon"
              (click)="rowDeleteClicked(rowData)">
      delete</mat-icon>
  </div>
  <div *ngIf="this.ruleDeleteMap[rowData.order]"
       class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">
    <mat-icon [matTooltip]="'Unmark Rule for Deletion'" matTooltip="Delete image"
              class="sgpolicy-icons-button global-table-action-icon"
              (click)="rowResetClicked(rowData)">
      refresh</mat-icon>
  </div>
</ng-template>
