# startup options
# Enabling batching seems to be very slow. So disabling it for now
#startup --batch --host_jvm_args=-XX:-UseParallelGC


#startup --output_user_root=bazel-cache


# Do not show warnings from 
#   - external dependencies 
#   - nic/asic/capri
#build --output_filter="^//" --output_filter="^nic/asic/capri"
build --output_filter="^//"

# colored output
build --color=yes
build --cxxopt="-fdiagnostics-color=always"
build --cxxopt="--std=c++11"
build --cxxopt="-Wuninitialized"
build --cxxopt="-g"
build --copt="-g"
build --strip=never

# Make warnings as errors
build --cxxopt="-Werror"

# show timestamps
build --show_timestamps --keep_going
#build --show_timestamps --keep_going --jobs 600
