<app-pagebody [icon]="bodyicon" header="Security Groups Overview">
  <div fxFlex class="securitygroups-table-container">
    <ng-container *ngTemplateOutlet="DataTable"></ng-container>
  </div>
</app-pagebody>
<ng-template #DataTable>
  <app-tableviewedit fxLayout="column" style="height: 100%;"
                     [creatingMode]="creatingMode"
                     [showRowExpand]="showRowExpand"
                     [data]="dataObjects"
                     [cols]="cols"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [actionTemplate]="actionTemplate"
                     [expandTemplate]="expandTemplate"
                     [createTemplate]="createTemplate"
                     [enableCheckbox]="true"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
  </app-tableviewedit>
</ng-template>


<!-- TABLE HEADER -->
<ng-template #captionTemplate let-count="count">
  <app-tableheader title="Security Groups" [total]="dataObjects.length" [enableColumnSelect]="true"
                   fxFlex="auto"
                   fxLayout="row"
                   [icon]="headerIcon" [cols]="cols" [tableMenuItems]="tableMenuItems"
                   (columnSelectChange)="onColumnSelectChange($event)">
  </app-tableheader>
  <div fxFlex="none" fxLayoutAlign="start center">
    <!-- TABLE FUNCTION ICONS HERE -->
    <mat-icon class="global-multi-records-delete-icon"
              *ngIf="hasSelectedRows()"
              [matTooltip]="'Delete selected security groups'"
              (click)="onDeleteSelectedRows($event)">delete</mat-icon>
  </div>
</ng-template>

<ng-template #createTemplate>
  <app-newsecuritygroup (formClose)="creationFormClose()" [workloads]="workloads"
                        fxFlex="none" [existingObjects]='dataObjects'>
  </app-newsecuritygroup>
</ng-template>

<!-- TABLE BODY -->
<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.mod-time'">
      {{rowData.meta['mod-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'meta.creation-time'">
      {{rowData.meta['creation-time'] | PrettyDate }}
    </ng-container>
    <ng-container *ngSwitchCase="'workloads'">
      <div *ngFor="let w of rowData['securityworkloads'] let i=index"
           class="securitygroups-workloads-div">
        <ng-container *roleGuard="'workloadworkload_read'">
          <a *ngIf="i < maxWorkloadsPerRow" routerLink="/workload"
             [matTooltip]="'Jump to workloads page'">{{w?.meta.name}}</a>
          <a *ngIf="i === maxWorkloadsPerRow" routerLink="/workload"
             [matTooltip]="buildMoreWorkloadTooltip(rowData)"> ... more </a>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      {{displayColumn(rowData, col)}}
    </ng-container>
  </ng-container>
</ng-template>

<!-- TABLE ACTION -->
<ng-template #actionTemplate let-rowData>

  <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">

    <mat-icon matTooltip="Edit security group" *roleGuard="'securitysecuritygroup_update'"
              class="global-table-action-icon"
              (click)="expandRowRequest($event, rowData)">edit
    </mat-icon>
    <mat-icon matTooltip="Delete security group" *roleGuard="'securitysecuritygroup_delete'"
              class="global-table-action-icon"
              (click)="onDeleteRecord($event, rowData)">delete
    </mat-icon>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData let-columns="columns">
  <app-newsecuritygroup [style.width]="'100%'" [objectData]="rowData" [isInline]="true"
                        [workloads]="workloads"
                        (formClose)="closeRowExpand()" fxFlex="none"></app-newsecuritygroup>
</ng-template>
