@import 'src/global-mixins';

$horizontal-gutter: 10px;
$vertical-gutter: 5px;

.securitygroups-button {
  margin: $vertical-gutter $horizontal-gutter;
  padding: 0px $horizontal-gutter;
}

.securitygroups-workloads-div {
  display: inline-block;
  margin: 0px 5px;
}
