<app-pagebody>
  <mat-tab-group [disableRipple]="true" fxFlex>
    <mat-tab *ngIf="!hideAlerts" label="ALERTS">
      <ng-container *ngTemplateOutlet="AlertTable; context:{tab:'alerts'}"></ng-container>
    </mat-tab>
    <mat-tab label="EVENTS">
      <ng-container *ngTemplateOutlet="AlertTable; context:{tab:'alerts'}"></ng-container>
    </mat-tab>
  </mat-tab-group>
</app-pagebody>

<ng-template #AlertTable>
  <p-table class="global-primeng-table" [columns]="cols" [value]="alerts" [(selection)]="selectedAlerts" dataKey="id" [rows]="15" [scrollable]="true" scrollHeight="800px"#alerttable
    [responsive]="true" [loading]="loading" [resizableColumns]="true">
     <!-- Table Caption -->
     <ng-template pTemplate="caption">
       <div class="alertsevents-header-div">
         <div class="alertsevents-main-menu">
           <div class="alertsevents-main-menu-number-front-group-div">
             <mat-icon>notifications </mat-icon>
             <span class="alertsevents-main-menu-label">
               All Alerts ({{alertnumber.total | number}})
             </span>
             <button *ngIf="selectedAlerts.length>0" type="button" class="btn alertseventsrecord-header-button" (click)="onAlerttableDeleteMultiRecords($event)"
               title="Delete">
               <i class="fa fa-trash alertseventsrecord-header-button-icon"></i>Delete
             </button>
             <button *ngIf="selectedAlerts.length>0" type="button" class="btn alertseventsrecord-header-button" (click)="onAlerttableArchiveMultiRecords($event)"
               title="Archive">
               <i class="fa fa-archive alertseventsrecord-header-button-icon"></i>Archive
             </button>
           </div>
           <div class="alertsevents-main-menu-number-back-group-div">
             <span class="alertsevents-main-menu-number alertsevents-main-menu-number-total" (click)="onAlertNumberClick($event, 'total')">All</span>
             <span class="alertsevents-main-menu-number alertsevents-main-menu-number-critical" (click)="onAlertNumberClick($event, 'critical')"
               *ngIf="alertnumber.critical>0">{{alertnumber.critical}}</span>
             <span class="alertsevents-main-menu-number alertsevents-main-menu-number-warning" (click)="onAlertNumberClick($event, 'warning')"
               *ngIf="alertnumber.warning>0">{{alertnumber.warning}}</span>
             <span class="alertsevents-main-menu-number alertsevents-main-menu-number-info" (click)="onAlertNumberClick($event, 'info')" *ngIf="alertnumber.warning>0">{{alertnumber.info}}</span>
           </div>
         </div>
       </div>
     </ng-template>
     <!-- Table Header -->
     <ng-template pTemplate="header" let-columns>
       <tr>
         <th style="width: 2.25em">
           <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
         </th>
         <th *ngFor="let col of cols" [pSortableColumn]="col.sortable? col.field : ''" [class]="col.class">
            {{col.header}}
            <p-sortIcon *ngIf="col.sortable" style="float: right;" [field]="col.field"></p-sortIcon>
        </th>
         <th class="alertsevents-column-action">
           Actions
         </th>
       </tr>
     </ng-template>
     <!-- Table Body -->
     <ng-template pTemplate="body" let-rowData let-alert>
       <tr [pSelectableRow]="rowData">
         <td style="width: 2.25em">
           <p-tableCheckbox [value]="alert"></p-tableCheckbox>
         </td>
         <td *ngFor="let col of cols" [ngSwitch]="col.field" [class]="col.class">
           <button *ngSwitchCase="'date'" type="button" class="btn btn-link alertseventsrecord-date-row" (click)="onAlertClick($event,alert)">
             {{alert.date | date:'MM-dd-yyyy HH:mm a'}}
           </button>
           <ng-container *ngSwitchCase="'severity'" >
            <span class="alertseventsrecord-icon" [ngClass]="getAlertItemIconClass(alert)">&nbsp;</span> {{alert.severity}}
           </ng-container>
           <ng-container *ngSwitchDefault>
            {{rowData[col.field]}}
           </ng-container>
        </td>
         <td class="alertsevents-column-action">
           <div class="alertseventsrecord-column-action-div">
             <button type="button" class="btn btn-link alertseventsrecord-column-action-icon" (click)="onAlerttableArchiveRecord($event, alert)"
               title="Archive">
               <mat-icon>folder_open</mat-icon>
             </button>
             <button type="button" class="btn btn-link alertseventsrecord-column-action-icon" (click)="onAlerttableDeleteRecord($event, alert)"
               title="Delete">
               <mat-icon>delete</mat-icon>
             </button>
           </div>
         </td>
       </tr>
     </ng-template>
   </p-table>
</ng-template>