.container {
  margin-top: 20px;
}

h1 {
  margin: 0 0 20px 0;
  text-transform: uppercase;
}

.row.penui-setting-theme-div {
  width: 50%;
  margin-bottom: 10px;
}

.mat-input-port {
  width: 50%;
}

.mat-input-url {
  width: 100%;
}