[Unit]
Description=Kubernetes Scheduler

[Service]
User=root
Type=simple
EnvironmentFile=-/etc/pensando/kube.conf
ExecStart=/import/src/k8s.io/kubernetes/_output/local/bin/linux/amd64/kube-scheduler \
			$KUBE_MASTER \
Restart=always
RestartSec=10s
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target