@import 'src/global-mixins';

.fwlogpolicies-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  z-index:10;
}

.fwlogpolicies-tablecontainer {
  position: relative;
}

.fwlogpolicies-widget {
  @include primary-font();
}

.fwlogpolicies-button {
    padding-left: 10px;
    padding-right: 10px;
}

.fwlogpolicies-icon {
  position: absolute;
  top: 8px;
  font-size: 18px;
}

.fwlogpolicies-column-action-div {
  display: inline-flex;
}

.fwlogpolicies-column-action {
  width: 100px !important;
}

.fwlogpolicies-column-name {
  width: 20%;
}

.fwlogpolicies-column-targets {
  width: 300px;
}

// This column also includes the action items so we add an extra 100 px
th.fwlogpolicies-column-targets {
  width: 400px !important;
}

.fwlogpolicies-rowexpand {
  overflow: hidden;
  z-index: 20; // Needs to be higher than .evenalertpolicies-overlay z-index
  position: relative; // needed for z-index to take effect
}

.fwlogpolicies-rowexpand-tr {
  height: 0px !important;
  // text-top interferes with the animation
  vertical-align: top !important;
  > td {
    padding: 0px !important; // Padding interferes with animation on the rowexpands exit
  }
}

.fwlogpolicies-rowhighlight {
  > td {
    z-index: 20; // Needs to be higher than .evenalertpolicies-overlay z-index
    position: relative; // needed for z-index to take effect
    background-color: rgb(234, 241, 249) !important;
  }
}
