<div fxLayout="column" class="fwlogpolicies-widget">
    <app-newfwlogpolicy [@slideInOut] (formClose)="creationFormClose()" fxFlex="none" *ngIf="creatingMode"></app-newfwlogpolicy>
    <div fxFlex class="fwlogpolicies-tablecontainer">
      <ng-container *ngTemplateOutlet="Header"></ng-container>
      <ng-container *ngTemplateOutlet="Table"></ng-container>
      <div *ngIf="creatingMode || showEditingForm" class="fwlogpolicies-overlay"></div>
    </div>
</div>

<!-- TABLE HEADER -->
<ng-template #Header>
  <app-tableheader title="Firewall Log Policies" [total]="policies.length" [icon]="headerIcon" width="250px">
  </app-tableheader>
</ng-template>

<ng-template #Table>
    <p-table class="global-primeng-table" [columns]="cols" [value]="displayedPolicies" 
             dataKey="meta.name" [rows]="15" 
             [scrollable]="true" #policiesTable
             [responsive]="true" [loading]="loading" [resizableColumns]="true"  rowExpandMode="single">
       <!-- Table Header -->
       <ng-template pTemplate="header" let-columns>
         <tr>
           <th *ngFor="let col of cols; " [pSortableColumn]="col.sortable? col.field : ''" [class]="col.class" [colSpan]=" col.isLast ? 2 : 1">
              <app-sorticon [isSortable]="col.sortable" [field]="col.field">{{col.header}}</app-sorticon>
          </th>
         </tr>
       </ng-template>
       <!-- Table Body -->
       <ng-template pTemplate="body" let-rowData>
         <tr [ngClass]="expandedRowData?.meta.name === rowData.meta.name ? 'fwlogpolicies-rowhighlight': ''" [pSelectableRow]="rowData">
           
           <td *ngFor="let col of cols" [ngSwitch]="col.field" [class]="col.class">
            <ng-container *ngSwitchDefault>
            {{displayColumn(rowData, col)}}
            </ng-container>
          </td>
          <td class="global-column-action">
            <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">
              <mat-icon matTooltip="Edit policy" class="global-table-action-icon" (click)="onUpdateRecord($event, rowData)">edit</mat-icon>
              <mat-icon matTooltip="Delete policy" class="global-table-action-icon" (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
            </div>
          </td>
         </tr>
       </ng-template>
       <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
         <tr class="fwlogpolicies-rowexpand-tr">
              <td [attr.colspan]="columns.length + 1">
                <div [@slideInOut] (@slideInOut.done)="rowExpandAnimationComplete($event)" *ngIf="showEditingForm" class="fwlogpolicies-rowexpand">
                  <app-newfwlogpolicy [policyData]="rowData" [isInline]="true" (formClose)="onUpdateRecord($event, rowData)"></app-newfwlogpolicy>
                </div>
              </td>
         </tr>
      </ng-template>
     </p-table>
  </ng-template>