.naplesdetail-interface-charts-container .naplesdetail-interface-table-container .naplesdetail-interface-table {

  .naplesdetail-interface-table-collapseicon {
    width: 23px;
    height: 13px;
    background: url("/assets/images/icons/icon-collapse-menu.svg") center center no-repeat;
    background-size: contain;
    opacity: 0.6;
    cursor: pointer;
  }

  .naplesdetail-interface-table-button-counter {
    font-size: 14px;
    font-weight: 400;
    color: #676763 !important;
    background-color: #f4f4f4 !important;
    border: 1px solid #ddd !important;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15) !important;
    cursor: pointer;
    height: 25px;
    padding: 0 10px;
  }

  p-table {
    margin: 5px;

    tbody {
      height: 290px;
      display: block;
      overflow: auto;
    }

    tr {
      background-color: transparent !important;
      border-collapse: collapse;
      height: 28px;
      display: table;
      width: 100%;
      table-layout: fixed;
    }

    tr.selected {
      background-color: rgb(238, 231, 224) !important;
    }

    th,
    td {
      width: 100%;
      font-family: Roboto;
      font-weight: normal;
      font-stretch: condensed;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #353532;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      border-top: 1px solid transparent;
    }

    tr.naplesdetail-interface-row-notopborder th {
      border-top: 0px solid transparent;
    }

    th.naplesdetail-interface-cell-noborder,
    td.naplesdetail-interface-cell-noborder {
      border-bottom: 1px solid transparent;
    }

    th {
      background-color: #e7e7e3;
      font-size: 12px;
      border-right: 1px solid #fff;
      border-top: 1px solid #D5D5D5;
      vertical-align: middle;
    }

    th.naplesdetail-interface-col-textmiddle {
      text-align: center;
    }

    th:last-of-type {
      border-right: 0px solid transparent;
    }

    th.naplesdetail-interface-col-doublefixwidth {
      width: 142px !important;
    }

    td.naplesdetail-interface-col-fixwidth,
    th.naplesdetail-interface-col-fixwidth {
      width: 70px !important;
    }

    td.naplesdetail-interface-col-bytes,
    th.naplesdetail-interface-col-bytes {
      width: 70% !important;
    }

    td {
      font-size: 12px;
    }
  }
}
