@import 'src/global-mixins';

.naplesdetail-charts-container {
  width: 100%;
  height: 345px;
  margin-bottom: 10px;

  .naplesdetail-charts-content {
    width: 100%;

    .mat-tab-body-wrapper {
      height: 100%;

      .naplesdetail-charts-chart-item {
        width: 100% !important;
        height: 100% !important;

        &>div {
          position: relative;
          top: -10px;

          .telemetrychartview-card {
            width: calc(100% - 10px) !important;
            height: 280px !important;
            margin: 0px !important;

            .basecard-container {
              box-shadow: none !important;
              border: none !important;
              background: none !important;
            }
          }
        }
      }
    }
  }
}
