<div fxFlex="100%" fxLayout="column" fxLayoutAlign="start flex-end">
  <div class="naplesdetail-interface-detail-openicon" title="expand"
       (click)="expandInterfaceTable()"></div>
  <div fxLayout="column" class="naplesdetail-interface-detail" *ngIf="getStats() as ifs">
    <div class="naplesdetail-interface-detail-titlebar"></div>
    <div class="naplesdetail-interface-detail-portName">{{ ifs.shortname }}</div>
    <div class="naplesdetail-interface-detail-titlebar"></div>
    <div fxFlex="20px"></div>
    <div fxLayout="row" class="naplesdetail-interface-detail-statsrow">
      <div class="naplesdetail-interface-detail-statsrow-label">Status</div>
      <div fxFlex="1 1 auto" class="naplesdetail-interface-detail-statsrow-value">
        {{ ifs.stats.status }}</div>
    </div>
    <div fxFlex="20px"></div>
    <div fxLayout="row" class="naplesdetail-interface-detail-statsrow">
      <div class="naplesdetail-interface-detail-statsrow-label">RX</div>
      <div fxFlex="1 1 auto" class="naplesdetail-interface-detail-statsrow-value">
        {{ displayStatsNumber(ifs.stats.rx) }}
      </div>
    </div>
    <div fxFlex="20px"></div>
    <div fxLayout="row" class="naplesdetail-interface-detail-statsrow">
      <div class="naplesdetail-interface-detail-statsrow-label">TX</div>
      <div fxFlex="1 1 auto" class="naplesdetail-interface-detail-statsrow-value">
        {{ displayStatsNumber(ifs.stats.tx) }}
      </div>
    </div>
    <div fxFlex="20px"></div>
    <div fxLayout="row" class="naplesdetail-interface-detail-statsrow">
      <div class="naplesdetail-interface-detail-statsrow-label">RX Drop</div>
      <div fxFlex="1 1 auto" class="naplesdetail-interface-detail-statsrow-value">
        {{ displayStatsNumber(ifs.stats.rxDrop) }}</div>
    </div>
    <div fxFlex="20px"></div>
    <div fxLayout="row" class="naplesdetail-interface-detail-statsrow">
      <div class="naplesdetail-interface-detail-statsrow-label">TX Drop</div>
      <div fxFlex="1 1 auto" class="naplesdetail-interface-detail-statsrow-value">
        {{ displayStatsNumber(ifs.stats.txDrop) }}</div>
    </div>
  </div>
</div>
