<div fxFlex="none" class="naplesdetail-interface-table" fxLayout="column"
     fxLayoutAlign="start flex-end">
  <div class="detail-card-header-actions">
    <div class="naplesdetail-interface-table-collapseicon" title="collapse"
         (click)="collapseInterfaceTable()"></div>
  </div>
  <p-table [value]="interfaceStats">
    <ng-template pTemplate="header">
      <tr>
        <th class="naplesdetail-interface-col-doublefixwidth" colspan="2"></th>
        <th colspan="2">TX</th>
        <th colspan="2">RX</th>
        <th colspan="2">TX Drop</th>
        <th colspan="2">RX Drop</th>
      </tr>
      <tr>
        <th class="naplesdetail-interface-col-fixwidth">Interface</th>
        <th class="naplesdetail-interface-col-fixwidth">Status</th>
        <th class="naplesdetail-interface-col-bytes">Bytes</th>
        <th>Packets</th>
        <th class="naplesdetail-interface-col-bytes">Bytes</th>
        <th>Packets</th>
        <th class="naplesdetail-interface-col-bytes">Bytes</th>
        <th>Packets</th>
        <th class="naplesdetail-interface-col-bytes">Bytes</th>
        <th>Packets</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-itf>
      <tr [ngClass]="{'selected': itf.ifname === mouseOverInterface}">
        <td class="naplesdetail-interface-col-fixwidth">
          <div class="ellipsisText">{{itf.shortname}}</div>
        </td>
        <td class="naplesdetail-interface-col-fixwidth">
          <div class="ellipsisText">{{itf.stats.status}}</div>
        </td>
        <td class="naplesdetail-interface-col-bytes">
          <div class="ellipsisText" [title]="showStatsNumber(itf.stats.tx)">
            {{showStatsBytes(itf.stats.tx)}}
          </div>
        </td>
        <td>
          <div class="ellipsisText" [title]="showStatsNumber(itf.stats.tx2)">
            {{showStatsNumber(itf.stats.tx2)}}
          </div>
        </td>
        <td class="naplesdetail-interface-col-bytes">
          <div class="ellipsisText" [title]="showStatsNumber(itf.stats.rx)">
            {{showStatsBytes(itf.stats.rx)}}
          </div>
        </td>
        <td>
          <div class="ellipsisText" [title]="showStatsNumber(itf.stats.rx2)">
            {{showStatsNumber(itf.stats.rx2)}}
          </div>
        </td>

        <td class="naplesdetail-interface-col-bytes">
          <div class="ellipsisText" [title]="showStatsNumber(itf.stats.txDrop)">
            {{showStatsBytes(itf.stats.txDrop)}}
          </div>
        </td>
        <td>
          <div class="ellipsisText" [title]="showStatsNumber(itf.stats.txDrop2)">
            {{showStatsNumber(itf.stats.txDrop2)}}
          </div>
        </td>
        <td class="naplesdetail-interface-col-bytes">
          <div class="ellipsisText" [title]="showStatsNumber(itf.stats.rxDrop)">
            {{showStatsBytes(itf.stats.rxDrop)}}
          </div>
        </td>
        <td>
          <div class="ellipsisText" [title]="showStatsNumber(itf.stats.rxDrop2)">
            {{showStatsNumber(itf.stats.rxDrop2)}}
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
