# RDMA Completion QueueState Template
meta:
    id: QSTATE_RDMA_CQ
    feature_set:
        - iris

eqid        : None # (ATTR)
color       : None #
arm         : None #

ring_cq     : None # (OBJ) template/config/objects/rdma/ID=ring_cq
