# RDMA Recv Queue Ring Template
meta:
    id  : RING_RDMA_RQ
    base: ref://store/templates/id=RING 
    feature_set:
        - iris
        - gft

#template: template/config/objects/rdma/ID=RDMA_SQ_DESCRIPTOR
