<div class="repeater" fxLayout="column">
  <div fxFlex="nogrow" fxLayout="column" [@fastSlideInOut] *ngFor="let repeater of repeaterList; let first = first; let last = last;" [formGroup]="repeater.formGroup">
    <div fxFlex="nogrow" fxLayout="row" fxLayoutAlign="start center" class="repeater-group" >
      <!-- Key -->
      <div fxFlex="nogrow" class="repeater-selector repeater-key">
          <p-dropdown [styleClass]="styleClass" *ngIf="!isToUseInputField(repeater)" 
                      (onChange)="keyDropdownChange(repeater)" 
                      [panelStyleClass]="panelStyleClass"
                      [formControlName]="keyFormName" 
                      [options]="keyOptions"
                      [filter]="keyDropdownFilter"
                      appendTo="body"
                      [appFloatLabel]="getKeyLabel(repeater)">
          </p-dropdown>
          <input class="repeater-input repeater-input-key" *ngIf="isToUseInputField(repeater)"
                                        (input)="emitValues()" 
                                        spellcheck="false" 
                                        type="text"  
                                        pInputText  
                                        [placeholder]="placeholderForKey(repeater, keyFormName)"
                                        (blur)="keyOnBlur($event, repeater)"
                                        (keydown)="keyOnKeydown($event, repeater)"
                                        [formControlName]="keytextFormName"
                                        [appFloatLabel]="getKeyLabel(repeater)">
      </div>
      <!-- Operator -->
      <div fxFlex="nogrow" class="repeater-selector repeater-operator">
          <p-dropdown [styleClass]="styleClass"
                      [panelStyleClass]="panelStyleClass"
                      (onChange)="emitValues()" 
                      [formControlName]="operatorFormName" 
                      [options]="keyToOperator[repeater.formGroup.value[keyFormName]]"
                      appendTo="body"
                      appFloatLabel="Operator">
          </p-dropdown>
      </div>
      <!-- Value -->
      <div fxFlex="nogrow" class="repeater-selector repeater-value">
          <p-dropdown *ngIf="keyToValueType[repeater.formGroup.value[keyFormName]] == 'singleSelect'"  
                      [styleClass]="styleClass" 
                      [panelStyleClass]="panelStyleClass"
                      (onChange)="emitValues()" 
                      [formControlName]="valueFormName" 
                      [options]="keyToValues[repeater.formGroup.value[keyFormName]]"
                      appendTo="body"
                      [appFloatLabel]="getValueLabel(repeater)">
          </p-dropdown>
          <p-multiSelect *ngIf="keyToValueType[repeater.formGroup.value[keyFormName]] =='multiSelect'"
                          [styleClass]="styleClass" 
                          [panelStyleClass]="panelStyleClass"
                          (onChange)="emitValues()" 
                          [maxSelectedLabels]="1" 
                          [showToggleAll]="enableMultiSelectAll" 
                          [filter]="enableMultiSelectFilter" 
                          [formControlName]="valueFormName" 
                          [options]="keyToValues[repeater.formGroup.value[keyFormName]]"
                          appendTo="body"
                          [appFloatLabel]="getValueLabel(repeater)">
          </p-multiSelect>
          <input class="repeater-input repeater-input-value" *ngIf="keyToValueType[repeater.formGroup.value[keyFormName]] == 'inputField'"
                                        (input)="emitValues()" 
                                        spellcheck="false" 
                                        type="text"  
                                        pInputText  
                                        [placeholder]="placeholderForValue(repeater, keyFormName)" 
                                        [formControlName]="valueFormName"
                                        (blur)="valueOnBlur($event, repeater)"
                                        (keydown)="valueOnKeydown($event, repeater)"
                                        [appFloatLabel]="getValueLabel(repeater)">
      </div>
      <!-- Add and delete buttons -->
      <!-- Only show and if its the last row -->
      <div fxFlex="nogrow" *ngIf="last" class="repeater-and">
        <span (click)="addRepeater()" tabindex="0" (keydown)="onAddRepeaterKeydown($event)">+ AND</span>
      </div> 
      <!-- Only show if its not the only repeater left -->
      <div fxFlex="nogrow" *ngIf="repeaterList.length != 1" class="repeater-trash-icon">
        <mat-icon (click)="removeRepeater(repeater.id)"  tabindex="0" (keydown)="onRomveRepeaterKeydown($event, repeater.id)">delete</mat-icon>
      </div>
    </div>
  </div>
</div>
