meta:
    id      : BTH
    scapy   : BTH
    size    : 12

fields:
    opcode  : const/0x0
    se      : const/0x0
    m       : const/0x0
    padcnt  : const/0x0
    tver    : const/0x0
    p_key   : const/0xffff
    f_r     : const/0x0
    b_r     : const/0x0
    rsvd    : const/0x0
    destqp  : const/0x0
    a       : const/0x0
    rsvd2   : const/0x0
    psn     : const/0x0
