<app-pagebody [icon]="bodyicon" header="Workloads">
  <div fxFlex fxLayout="row" fxLayoutAlign="center center" pagebody-options>
    <div fxFlex></div>
    <mat-icon *ngIf="!hideWorkloadWidgets" (click)="toggleHeroStats()">expand_more</mat-icon>
  </div>
  <div *ngIf="!hideWorkloadWidgets" fxLayout="row wrap" fxLayoutAlign="start"
       class="workload-widgetcontainer">
    <div *ngFor="let widget of widgets">
      <app-workloadwidget [id]="widget" [selected]="selectedWorkloadWidget"
                          [collapsedView]="!heroStatsToggled">
      </app-workloadwidget>
    </div>
  </div>
  <app-pentable #workloadTable
                [actionTemplate]="actionTemplate"
                [bodyTemplate]="bodyTemplate"
                [captionTemplate]="captionTemplate"
                [columns]="cols"
                [createTemplate]="createTemplate"
                [data]="dataObjects"
                [enableCheckbox]="true"
                [expandTemplate]="expandTemplate"
                [exportFilename]="exportFilename"
                [exportMap]="exportMap"
                [loading]="tableLoading"
                [rowHeight]="95">
  </app-pentable>
</app-pagebody>

<ng-template #captionTemplate let-count="count">
  <div class="workload-table-caption">
    <div style="border-bottom: 1px solid #d9d9d9;">
      <app-tableheader title="Workloads" [total]="count" [icon]="tableIcon"
                       [enableColumnSelect]="true" fxFlex="auto"
                       fxLayout="row" [cols]="cols"
                       (columnSelectChange)="onColumnSelectChange($event)"
                       [tableMenuItems]="workloadTable.tableMenuItems">
        <ng-container *ngTemplateOutlet="actionButtonsTemplate"></ng-container>
      </app-tableheader>
    </div>
    <div>
      <app-advanced-search #advancedSearchComponent [formArray]="fieldFormArray"
                           [cols]="advSearchCols"
                           (cancelEmitter)="onCancelSearch($event)"
                           (searchEmitter)="onSearchWorkloads()" kind="Workload" fxFlex="grow">
      </app-advanced-search>
    </div>
  </div>
</ng-template>

<ng-template #createTemplate>
  <app-newworkload (formClose)="creationFormClose()" fxFlex="none" [hostOptions]="hostOptions"
                   [existingObjects]='dataObjects'>
  </app-newworkload>
</ng-template>

<ng-template #expandTemplate let-rowData let-columns="columns">
  <app-newworkload [objectData]="rowData" [isInline]="true" (formClose)="editFormClose(rowData)"
                   [hostOptions]="hostOptions"
                   fxFlex="none">
  </app-newworkload>
</ng-template>


<ng-template #bodyTemplate let-rowData let-col="col" let-hovered="hovered">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.name'">
      <div class="ellipsisText" [title]="rowData.meta.name">{{rowData.meta.name}}</div>
      <div class="ellipsisText" [title]="rowData.meta.labels['io.pensando.vcenter.display-name']"
           *ngIf="rowData.meta.labels && rowData.meta.labels['io.pensando.vcenter.display-name']">
        ({{rowData.meta.labels['io.pensando.vcenter.display-name']}})
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'meta.mod-time'">
      <div>
        {{rowData.meta['mod-time'] | PrettyDate }}
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'meta.creation-time'">
      <div>
        {{rowData.meta['creation-time'] | PrettyDate }}
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'spec.host-name'">
      <div>
        <a routerLink="/cluster/hosts" [matTooltip]="'Host machine'">
          {{rowData.spec["host-name"]}}</a>
      </div>
      <div *ngIf="rowData.dscs && rowData.dscs.length>0"> DSCS:
        <ng-container *ngFor="let dsc of rowData.dscs">
          <a [matTooltip]="'Disctributed Services Card'"
             routerLink="/cluster/dscs/{{dsc.meta.name}}">{{dsc.spec.id}}</a>
        </ng-container>
      </div>
      <div *ngIf="rowData.linkedsecuritygroups && rowData.linkedsecuritygroups.length>0"> SECURITY
        GROUPS:
        <ng-container *ngFor="let securitygroup of rowData.linkedsecuritygroups">
          <a [matTooltip]="'Security Groups'"
             routerLink="/security/securitygroups/">{{securitygroup.meta.name}}</a>
        </ng-container>
      </div>
    </ng-container>
    <div *ngSwitchCase="'spec.interfaces'" class="workload-column-interfaces-data">
      <ng-container *ngFor="let index of getKeys(rowData.spec.interfaces)">
        <ng-container
                      *ngIf="rowData.status != null && rowData.status.interfaces != null && rowData.status.interfaces[index] != null && rowData.status.interfaces[index]['ip-addresses'] != null">
          <ng-container *ngTemplateOutlet="ipmacTemplate; context:{rowData:rowData, index:index}">
          </ng-container>
        </ng-container>
        <ng-container
                      *ngIf="rowData.status == null || rowData.status.interfaces == null || rowData.status.interfaces[index] == null || rowData.status.interfaces[index]['ip-addresses'] == null">
          <ng-container *ngTemplateOutlet="ipmacTemplate; context:{rowData:rowData, index:index}">
          </ng-container>
        </ng-container>
        <div @fastSlideInOut *ngIf="hovered" class="workload-column-values">
          Micro-seg vlan: {{rowData.spec.interfaces[index]['micro-seg-vlan']}}
          <ng-container
                        *ngIf="!isWorkloadSystemGenerated(rowData)">
            External vlan: {{rowData.spec.interfaces[index]['external-vlan']}}
          </ng-container>
          <ng-container
                        *ngIf="isWorkloadSystemGenerated(rowData)">
            Network: {{rowData.spec.interfaces[index]['network']}}
          </ng-container>
        </div>
      </ng-container>
    </div>
    <ng-container *ngSwitchDefault>
      {{displayColumn(rowData, col)}}
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">
    <ng-container *ngIf="!isWorkloadSystemGenerated(rowData)">
      <mat-icon *roleGuard="'workloadworkload_update'" matTooltip="Edit Workload"
                class="global-table-action-icon workload-table-action-icon-edit"
                (click)="expandRowRequest($event, rowData)">
        edit</mat-icon>
      <mat-icon *roleGuard="'workloadworkload_delete'" matTooltip="Delete Workload"
                class="global-table-action-icon"
                (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
    </ng-container>
    <ng-container *ngIf="isWorkloadSystemGenerated(rowData)">
      <mat-icon *roleGuard="'adminrole'" matTooltip="Delete Workload"
                class="global-table-action-icon"
                (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
    </ng-container>
  </div>
</ng-template>

<ng-template #ipmacTemplate let-rowData="rowData" let-index="index">
  <div *ngIf="rowData.spec.interfaces[index]['ip-addresses'] &&
    rowData.spec.interfaces[index]['ip-addresses'].length > 0">
    {{rowData.spec.interfaces[index]["mac-address"]}} -
    {{rowData.spec.interfaces[index]["ip-addresses"].join(', ')}}
  </div>
  <div *ngIf="!rowData.spec.interfaces[index]['ip-addresses'] ||
  rowData.spec.interfaces[index]['ip-addresses'].length === 0">
    {{rowData.spec.interfaces[index]["mac-address"]}}
  </div>
</ng-template>

<ng-template #actionButtonsTemplate>
  <div fxFlex="none" fxLayoutAlign="start center" *roleGuard="'workloadworkload_update'">
    <mat-icon [ngClass]="{
                'global-multi-records-label-button': true,
                'multi-delete-icon-disabled': !hasSelectedRows()
              }"
              (click)="editLabels()"
              [matTooltip]="hasSelectedRows() ? 'Edit labels of selected workloads' : 'Select workloads to edit labels'">
      label
    </mat-icon>
    <app-labeleditor [metadata]="labelEditorMetaData" [inLabelEditMode]="inLabelEditMode"
                     (saveEmitter)="handleEditSave($event)"
                     (cancelEmitter)="handleEditCancel($event)"
                     [objects]="getSelectedDataObjects()" [nameKey]="'meta.name'">
    </app-labeleditor>
    <mat-icon [ngClass]="{
                'global-multi-records-delete-icon': true,
                'multi-delete-icon-disabled': disableMultiDelIcons() || !hasSelectedRows()
              }"
              (click)="onDeleteSelectedWorkloads($event)"
              [matTooltip]="!hasSelectedRows() ? 'Select workloads to delete' : disableMultiDelIcons() ? 'At least one workload can not be deleted' : 'Delete selected workloads'">
      delete
    </mat-icon>
  </div>


</ng-template>
