<app-pagebody [icon]="bodyicon" header="Workloads">
    <div fxFlex fxLayout="row" fxLayoutAlign="center center" pagebody-options>
      <div fxFlex></div>
      <mat-icon *ngIf="!hideWorkloadWidgets" (click)="toggleHeroStats()">expand_more</mat-icon>
    </div>
    <div *ngIf="!hideWorkloadWidgets" fxLayout="row wrap" fxLayoutAlign="start" class="workload-widgetcontainer">
        <div *ngFor="let widget of widgets">
          <app-workloadwidget
                              [id]="widget"
                              [selected]="selectedWorkloadWidget"
                              [collapsedView]="!heroStatsToggled"
                              > 
          </app-workloadwidget>
        </div>
    </div>
    <ng-container *ngTemplateOutlet="DataTable" ></ng-container>
</app-pagebody>

<ng-template #DataTable>
  <div fxFlex class="workload-table">
    <app-lazyrender [data]="workloads" [rows]="28" [virtualRowHeight]="36" [runDoCheck]="true">
    <p-table #workloadTable class="global-primeng-table-lazyload" [columns]="cols"
              sortField="meta.mod-time" [sortOrder]='-1' 
              dataKey="meta.name" [responsive]="true"
              [loading]="tableLoading" [resizableColumns]="true">
        <!-- Table Caption -->
        <ng-template pTemplate="caption">
          <app-tableheader title="Workloads" [count]="workloads.length" [total]="workloads.length" [icon]="tableIcon" width="250px">
          </app-tableheader>
        </ng-template>
      <!-- Table Header -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of cols" [pSortableColumn]="col.sortable? col.field : ''" [class]="col.class">
              <app-sorticon [isSortable]="col.sortable" [field]="col.field">{{col.header}}</app-sorticon>
          </th>
        </tr>
      </ng-template>
      <!-- Table Body -->
      <ng-template pTemplate="body" let-rowData>
        <tr (mouseover)="rowHover(rowData)" (mouseleave)="resetHover(rowData)">
          <td *ngFor="let col of cols" [ngSwitch]="col.field" [class]="col.class">
            <div *ngSwitchCase="'meta.mod-time'">
              {{rowData.meta['mod-time'] | PrettyDate }}
            </div>
            <div *ngSwitchCase="'meta.creation-time'">
              {{rowData.meta['creation-time'] | PrettyDate }}
            </div>
            <div *ngSwitchCase="'spec.interfaces'" class="workload-column-interfaces-data">
              <ng-container *ngFor="let mac of getKeys(rowData.spec.interfaces)">
                <ng-container *ngIf="rowData.status != null && rowData.status.interfaces != null && rowData.status.interfaces[mac] != null && rowData.status.interfaces[mac]['ip-addresses'] != null">
                  <div>{{mac}}  -  {{rowData.status.interfaces[mac]["ip-addresses"].join(', ')}}</div>
                </ng-container>
                <ng-container *ngIf="rowData.status == null || rowData.status.interfaces == null || rowData.status.interfaces[mac] == null || rowData.status.interfaces[mac]['ip-addresses'] == null">
                 <div>{{mac}}</div>
                </ng-container>
                <div @fastSlideInOut *ngIf="rowHoverName === rowData.meta.name" class="workload-column-values">Micro-seg vlan: {{rowData.spec.interfaces[mac]["micro-seg-vlan"]}}        External vlan: {{rowData.spec.interfaces[mac]["external-vlan"]}}</div>
              </ng-container>
            </div>
            <ng-container *ngSwitchDefault>
              {{displayColumn(rowData, col)}}
            </ng-container>
          </td>
        </tr>
      </ng-template>
    </p-table>
    </app-lazyrender>
  </div>
</ng-template>