<app-pagebody [icon]="bodyIcon" title="Security Group Policies">
  <div fxFlex class="sgpolicies-table">
    <app-lazyrender [data]="filteredSGPolicies" [rows]="28" [virtualRowHeight]="36" [runDoCheck]="true">
      <p-table #sgpoliciesTable class="global-primeng-table-lazyload" [columns]="cols" 
                dataKey="meta.name" [responsive]="true" 
                [loading]="loading" [resizableColumns]="true">
        <!-- Table Caption -->
        <ng-template pTemplate="caption">
          <app-tableheader title="SG Policies" [count]="filteredSGPolicies.length" [total]="sgPolicies.length" [icon]="tableIcon" width="250px">
          </app-tableheader>
        </ng-template>
      <!-- Table Header -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of cols" [pSortableColumn]="col.sortable? col.field : ''" [class]="col.class">
              {{col.header}}
              <p-sortIcon *ngIf="col.sortable" style="float: right;" [field]="col.field"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <!-- Table Body -->
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td *ngFor="let col of cols" [ngSwitch]="col.field" [class]="col.class">
            <div *ngSwitchCase="'meta.name'">
                <a routerLink="./{{rowData.meta.name}}">{{rowData.meta.name}}</a>
            </div>
            <div *ngSwitchCase="'meta.mod-time'">
              {{rowData.meta['mod-time'] | PrettyDate }}
            </div>
            <div *ngSwitchCase="'meta.creation-time'">
              {{rowData.meta['creation-time'] | PrettyDate }}
            </div>
            <ng-container *ngSwitchDefault>
              {{displayColumn(rowData, col)}}
            </ng-container>
          </td>
        </tr>
      </ng-template>

      </p-table>
    </app-lazyrender>
  </div>
</app-pagebody>