<app-pagebody [icon]="bodyIcon" header="Network Security Policies">
  <app-tableviewedit fxLayout="column" class="fwlogpolicies-widget" style="height: 100%;"
                     [creatingMode]="creatingMode"
                     [showRowExpand]="showRowExpand"
                     [data]="dataObjects"
                     [cols]="cols"
                     [expandedRowData]="expandedRowData"
                     [captionTemplate]="captionTemplate"
                     [bodyTemplate]="bodyTemplate"
                     [actionTemplate]="actionTemplate"
                     [expandTemplate]="expandTemplate"
                     [createTemplate]="createTemplate"
                     (rowExpandAnimationComplete)="rowExpandAnimationComplete($event)">
  </app-tableviewedit>
</app-pagebody>

<ng-template #captionTemplate let-count="count">
  <app-tableheader title="Network Security Policies" [total]="count" [enableColumnSelect]="true"
                   [icon]="tableIcon" [cols]="cols" fxFlex="auto"
                   fxLayout="row" [tableMenuItems]="tableMenuItems"
                   (columnSelectChange)="onColumnSelectChange($event)">
  </app-tableheader>
</ng-template>

<ng-template #createTemplate>
  <app-newsgpolicy (formClose)="creationFormClose()" fxFlex="none">
  </app-newsgpolicy>
</ng-template>

<ng-template #bodyTemplate let-rowData let-col="col">
  <ng-container [ngSwitch]="col.field">
    <ng-container *ngSwitchCase="'meta.name'">
      <div>
        <a routerLink="./{{rowData.meta.name}}">{{rowData.meta.name}}</a>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'meta.mod-time'">
      <div>
        {{rowData.meta['mod-time'] | PrettyDate }}
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="'meta.creation-time'">
      <div>
        {{rowData.meta['creation-time'] | PrettyDate }}
      </div>
    </ng-container>
    <ng-container *ngSwitchDefault>
      {{displayColumn(rowData, col)}}
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #actionTemplate let-rowData>
  <div class="global-column-action-icon-container" fxLayout="row" fxLayoutGap="5px">
    <mat-icon [matTooltip]="editTooltip(rowData)" *roleGuard="'monitoringfwlogpolicy_update'"
              matTooltip="Edit policy"
              class="global-table-action-icon fwlogpolicies-table-action-icon-edit"
              (click)="expandRowRequest($event, rowData)">edit</mat-icon>
    <mat-icon *roleGuard="'monitoringfwlogpolicy_delete'" matTooltip="Delete policy"
              class="global-table-action-icon"
              (click)="onDeleteRecord($event, rowData)">delete</mat-icon>
  </div>
</ng-template>

<ng-template #expandTemplate let-rowData let-columns="columns">
  <ng-container *ngIf="attemptInlineEdit(rowData)">
    <app-newsgpolicy [style.width]="'100%'" [objectData]="rowData" [isInline]="true"
                     (formClose)="closeRowExpand()" fxFlex="none">
    </app-newsgpolicy>
  </ng-container>
</ng-template>
