.modalitem-icon {
    margin-right: 14px;
    font-size: 19px;
    height: 19px;
    width: 19px;
    background-color: white;
    border-radius: 100%;
    border: 1px solid;

}

.modalitem-container {
    margin: 0px 0px 10px 0px;
    position: relative;
}

.modalitem-maticon {
    font-size: 13px;
    width: 13px;
    height: 13px;
}