# Framework UT Descriptor Template
meta:
    id      : DOLUT_RX_DESCRIPTOR
    package : factory.objects.dolut
    module  : descriptor
    objname : DolUtRxDescriptorObject


vlan    : None # Vlan of the Recvd Packet
count   : None # Count of Buffers
buffers :
    - buffer:
        address : None  # Address of the Buffer
        len     : None  # Length of data
