# Framework UT Descriptor Template
meta:
    id      : DOLUT_TX_DESCRIPTOR
    package : factory.objects.dolut
    module  : descriptor
    objname : DolUtTxDescriptorObject

num_buffs   : None
b0_address  : None
b0_len      : None
b1_address  : None
b1_len      : None
