@import 'styles';

.wlWidget {
  height: 140px;
  width: 234px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #cec5bd;
  margin: 10px 10px 10px 10px;
  opacity: 0.6;
  position: relative;
  -webkit-transition: 100ms linear;
  -moz-transition: 100ms linear;
  -o-transition: 100ms linear;
  transition: 100ms linear;
}

.wlWidgetDsbd {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  position: relative;
  -webkit-transition: 100ms linear;
  -moz-transition: 100ms linear;
  -o-transition: 100ms linear;
  transition: 100ms linear;
}

.wlWidgetDsbd-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.wlWidgetDsbd-background-icon {
  height: 60%;
  width: 60%;
  opacity: 0.2;
  margin: 15% 20%;

}

.wlWidgetDsbd-content {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  font-size: 64px;
  z-index: 1;
}

.wlWidget:hover {
  opacity: 1;
}

.wlWidget-selected {
  opacity: 1;
}

.wlWidget-north {
  position: relative;
}

.wlWidget-title {
  @include primary-font(18px, #000000);
  padding: 10px 0px 2px 10px;
  text-align: left;
}

.wlWidget-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  opacity: 0.3;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.wlWidget-label {
  @include primary-font(48px);
  padding-left: 7px;
  text-align: left;
}

.wlWidget-positive {
  color: #7db1ea;
}

.wlWidget-negative {
  color: #e57553;
}

.wlWidget-mat-icon-container {
  background-color: rgba(205, 196, 189, 0.5);
  position: relative;
  z-index: 3;
  overflow-x: hidden;
  overflow-y: hidden;
}

.wlWidget-mat-icon {
  font-size: 30px;
  height: 30px;
  width: 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.mat-icon-rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.wlWidget-mat-icon-pin {
  cursor: pointer;
  overflow-x: hidden;
  overflow-y: hidden;
}

.wlWidget-south {
  border-radius: 2px;
  background-color: rgba(206, 197, 189, 0.15);
  overflow: hidden;
}

.wlWidget-chart {
  margin: auto;
  margin-top: 7px;
  margin-bottom: 9.5px;
  overflow: hidden;
}

.wlWidget-pinText {
  margin-top: 10px;
  margin-left: 5px;
  overflow: hidden;
}

.ico-workloads {
  fill: blue;
}

.wlWidget-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.wlWidget-collapsed {
  @include primary-font(18px);
	text-align: left;
  width: 234px;
  height: 24px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 10px;
  &:hover {
    color: #6ba0e5;
  }
}

.wlWidget-collapsed-container.ng-leave.ng-leave-active{
  height: 0px;
}

.wlWidget-collapsed-selected {
  color: #6ba0e5;
}